[2017-01-15 12:02] mueller-ma opened #1 "Empty repo?"
Hi,
Why has the app been moved to duckduckgo/android-search-and-stories? Does this mean that there will be a new app?

[2017-02-18 06:47] vishwakulkarni opened #3 "Feature to hide advertisement."
Hi all,
Can I implement an additional feature, which can allow user to use product with hiding all advertisment.

Cause -
- I always get some additional pop-ups when open few website.

Result-
- Will remove all those additional pop-ups which are not from those site.

[2017-02-18 06:53] vishwakulkarni commented on #3
Closing this issue, Because it will be created on android-search-and-stories repository.

[2017-02-18 06:53] #3 closed

[2017-03-19 21:54] flatcap-monty opened #4 "Feature request: Title bar in browser"
A lot of full-fledged browsers have the title bar hide itself when you start to scroll in the webpage. It would be cool if the same happened with the browser here!

[2017-03-24 22:12] PureSin commented on #1
yeah looks like the app is moved to https://github.com/duckduckgo/android-search-and-stories

[2017-03-25 09:27] #1 closed

[2017-05-04 10:45] ZeRoZeRoRaZ opened #5 "Feature request: Open search results in external browser"
Now there are two options in Use External Browser:
Never - results and sites are opened directly in app
Always - results are redirected to default browser

Please add something between:
Just sites - search results are displayed in app, but sites are opened in default browser.

This solution works perfectly with "flying" browsers line flyperlink, because you can open many results one by one, and th

[2017-05-07 18:51] M1kE007 opened #6 "Feature request"
Multi tab.

[2017-05-07 19:03] M1kE007 opened #7 "Feature request: Menu bar"
When​ever I make a search on duckduckgo app, I see that there is no menu bar for 'image', 'web',  'news' and 'maps' like the one that Google and other search engines offers including duckduckgo.com (in any other browser). Kindly consider adding more options and also advanced search tools.

[2017-05-08 04:11] uncertainquark commented on #5
Yeah, this makes total sense. That's what a search app is for ideally.

[2017-05-17 06:36] uncertainquark opened #8 "Make search results open in internal browser but external links in external browser by default"
Please give an option to open all DuckDuckGo results in Internal browser, but external links in external browser. This is how every search app (Google/Bing/others) does it.

Right now you can either choose internal browser or external. Internal opens everything inside the app and external opens everything (including the searches!) outside the app.

Both options are inconvenient in some way or the

[2017-05-19 12:39] #7 closed

[2017-05-25 11:41] subsymbolic commented on #4
Thanks for your feedback. This repo is for a new prototype app that we're building, I wonder if you meant to log this against our existing app at https://github.com/duckduckgo/android-search-and-stories? The good news is that the design for this app does include auto-hiding.

[2017-05-25 11:41] #4 closed

[2017-05-25 11:50] subsymbolic commented on #6
Thanks for logging this, tabs are a popular request and we have listened. Our currently live app is at https://github.com/duckduckgo/android-search-and-stories, this repo is for a new prototype that we're building which will include tabs. It won't be publicly available for a while but stay tuned.

[2017-05-25 11:50] #6 closed

[2017-06-09 09:43] ildar opened #14 "Voice assist"
I wonder: if the app can replace Google search, could it replace also Google Voice assist?
AFAIK free ASR are available
why not?

[2017-06-12 15:24] tagawa opened #15 "Latest version not available on F-Droid"
It looks like F-Droid is still picking up v3.0.14 which doesn't seem to be the latest version (v3.1.0).
Link: https://f-droid.org/repository/browse/?fdfilter=duckduckgo&fdid=com.duckduckgo.mobile.android

[2017-06-12 15:28] tagawa opened #16 "APK direct download out of date"
The APK directly downloadable from https://duckduckgo.com/app is an older version (v.3.0.11) and apparently not installable on some devices.

[2017-06-21 12:06] Null-Senpai commented on #5
Also hope this gets implemented. Literally the only reason I am using firefox (it has a search activity) rather then DDG's own app.

[2017-06-23 12:13] S2606 opened #22 "No README.md?"
It seems as if this repo is lacking a basic readme.md where a basic description of the App followed by 2-3 snapshots of the app's UI would be beneficial.If yes,I would love to contribute on this one.

[2017-06-24 14:02] the-dagger opened #24 "bug : empty title for a new tab"
The new tab page shows empty title for new tabs opened.

Screenshot :
![screenshot_20170624-192911](https://user-images.githubusercontent.com/6565270/27509133-aa1fe776-5913-11e7-8940-cfc7ccba224a.png)

It should show "New Tab" or 'Welcome" text instead.
I have fixed this locally, and waiting for the confirmation to send a PR for this if needed.

[2017-07-13 01:28] ikocevski commented on #22
Just do it :D

[2017-07-16 08:34] gvklive commented on #8
I would like to work on this.

[2017-07-16 11:58] ZJaume opened #31 "It doesn't detect Tor"
Tor is running on my device and Duckgo app says that "Orbot doesn't appear to be running".
I'm using Android 7.1.2

[2017-07-16 12:26] abhaymaniyar commented on #22
Hey @S2606 ! Have you prepared any template for README of this repo? If you have not started working on it yet, I would like to contribute to this project.

[2017-07-16 12:53] abhaymaniyar commented on #5
Is anyone working on this? I am willing to work on this. Please comment if I can start working on it.

[2017-07-16 13:27] S2606 commented on #22
Hey @abhaymaniyar Sure go Ahead!

[2017-07-16 15:48] abhaymaniyar commented on #22
Awesome! Thanks @S2606  :smile:  Apart from this I also want to contribute something else to this project and going through the code base for the same. :smile:

[2017-07-16 15:51] S2606 commented on #22
You'r welcome @abhaymaniyar and all the best!!

[2017-07-16 16:11] abhaymaniyar opened #32 "Add"

[2017-07-16 16:13] abhaymaniyar opened #33 "Add swipe down 'Refresh' functionality."
I think the app should have a refresh functionality like Google Chrome Android app. It is very comfortable to refresh webpages that way or there should be a refresh button at the bottom bar.

Please let me know if I should start working on this.

[2017-07-16 16:13] #32 closed

[2017-07-16 16:14] abhaymaniyar commented on #32
I clicked add by mistake :sweat_smile:

[2017-07-16 16:16] abhaymaniyar opened #34 "A toast for Bookmark save."
I noticed when I bookmarked few webpages the app bookmarked it but didn't give me any notification about it.
I think there should be a small toast to notify users about a successful bookmarking.
Please let me know if I can implement this feature.

[2017-07-16 16:25] abhaymaniyar opened #35 "Fix "bookmark_name_text_view"."
When a user bookmarks website with a long title, the bookmarks name overlaps the rearrange button as the image is showing:

I would like to fix this and please let me know if I can start working on this.

![screenshot_2017-07-16-21-47-42-500_com duckduckgo app](https://user-images.githubusercontent.com/17759582/28249332-79ba976a-6a71-11e7-809d-7a5aa1f1054e.png)

[2017-07-16 19:27] abhaymaniyar commented on #22
I have written a README.md for this repo. Should I create a PR for the same?

[2017-07-17 02:48] S2606 commented on #22
@abhaymaniyar yes

[2017-07-17 03:49] uncertainquark commented on #5
It is open source, so you can create a parallel branch by forking it and work on the feature. Then you can submit a pull request.

[2017-07-17 05:58] gvklive commented on #5
I would start working on it now.  @abhaymaniyar ,get in touch, will work together.

[2017-07-17 07:02] gvklive commented on #5
Hey guys, I compiled & ran the DDG app, it shows version 0.1.0. while the latest version on play store is a different one. Also the app is almost different from the the play store version. Did I make any mistake or something?

[2017-07-17 07:16] abhaymaniyar commented on #5
Yeah Sure @gvklive :)
About your question, The present version of the app on the Play Store is a released version and the version that you compiled is from 'develop' branch. The changes in develop branch are yet to be implemented to the release version of the app.

[2017-07-17 07:18] gvklive commented on #5
I figured it out
the version on play store is ddg search & stories app,
which development is currently on hold

[2017-07-17 07:20] abhaymaniyar commented on #35
I am working on this issue.

[2017-07-17 07:21] abhaymaniyar commented on #34
I am working on this one too.

[2017-07-17 14:47] gvklive commented on #5
Quick question: Should there be a preference with open search result in external browser or it should be default behaviour?

[2017-07-17 16:11] gvklive commented on #5
Done, Check the PR & update me.

[2017-07-18 03:45] uncertainquark commented on #5
IMO, its should be the default. This is how all search apps work: Google app/Bing/Firefox Search activity, etc.

[2017-07-18 05:08] gvklive commented on #5
Okay, will change it in next commit, let this PR get closed first.

[2017-07-19 11:45] EvertonMelo opened #40 "{suggestion} change Images internals PNG to SVG"
The images PNG is Big Size and Obscure.
But The SVG is small Size and equal quality, The file use resources of memory the SmartPhone no CPU ond Part Server.

more information in:
https://www.w3.org/TR/SVG/svgdtd.html
and:
https://en.wikipedia.org/wiki/Scalable_Vector_Graphics

[2017-07-19 17:24] gvklive commented on #40
I can look into that, Can you help with the conversion?

[2017-07-19 17:24] gvklive commented on #33
Have you implemented it?

[2017-07-19 18:00] abhaymaniyar commented on #33
Yes Sir! Will submit a PR soon.

[2017-07-19 18:59] subsymbolic commented on #40
Great suggestion. This is an early prototype and is currently using temporary assets as the design has not been developed yet. Rest assured our designer will create svg assets for us.

[2017-07-19 18:59] #40 closed

[2017-07-19 19:22] subsymbolic commented on #22
Great suggestion @S2606 and thanks for the PR @abhaymaniyar. We're still in the early prototyping phase for this app so I have added a specific readme to communicate this.

[2017-07-19 19:22] #22 closed

[2017-07-19 19:37] subsymbolic commented on #24
Thanks for logging this! We're still at the prototyping phase at the moment but have a feature scheduled to implement a proper home page for a new tab, one which will not appear in the tabs list.

[2017-07-19 19:37] #24 closed

[2017-07-19 19:55] subsymbolic commented on #8
@uncertainquark is this feedback for the currently live search and stories app? I think it makes a lot of sense there.

This repo is for a new prototype app and our plan is to provide an all-round private search and browsing space. In the new app, links will open internally by default however long pressing will provide an option to open externally. That will hopefully feel a lot smoother. Let me k

[2017-07-19 20:16] subsymbolic commented on #35
Thanks for logging this. We haven't implemented the design for the bookmarks page yet (this is a functional placeholder) so I'll close this issue for now.

[2017-07-19 20:16] #35 closed

[2017-07-19 20:45] subsymbolic commented on #35
I've just noticed your PR for this, thanks for submitting that, I've just merged it. We won't be able to accept any more for a while as the project is still in flux but I really appreciate your work so far. Thanks again!

[2017-07-19 20:47] #8 closed

[2017-07-19 20:48] subsymbolic commented on #8
Closing this now as it's a duplicate of https://github.com/duckduckgo/Android/issues/5

[2017-07-19 21:17] subsymbolic commented on #5
Thanks for logging this - this feature really makes sense for the search and stories app. This repo is for a private search and browsing prototype. Do you think a global option to open links externally makes as much sense  here?

Our plan is to have links open internally by default and let users long press for an option to open externally. Let me know if you think that would work for you.

[2017-07-20 00:17] abhaymaniyar commented on #33
@subsymbolic I have done some work on this also. As you mentioned about not accepting PRs at this point of time, should I create a PR for this or not?

[2017-07-20 00:21] #34 closed

[2017-07-20 01:14] subsymbolic commented on #33
If you've already done the work then feel free but it will likely languish here. We'll be better placed to accept contributions once this app has progressed past the prototype phase. Stay with us!

[2017-07-20 03:10] uncertainquark commented on #8
@subsymbolic Yes, the feedback is for the is for the search and stories app and it would very much appreciated to get it working in the suggested way.

[2017-07-20 03:11] uncertainquark commented on #5
@subsymbolic Yes, the feedback is for the search and stories app and it would be very much appreciated to get it working in the suggested way.

[2017-07-20 03:36] gvklive commented on #5
Actually, most people really like to use a search app to search & transfer them to browser. browsing in the app actually doesn't make sense. Even for private purposes. there are better alternatives for that e.g. firefox & stuff. & the search & stories app development is put on hold (as in description). So, this'll be mainstream app in next days if I'm not wrong

[2017-07-20 08:04] abhaymaniyar commented on #33
Ok then I am not creating any PR for this. Waiting to pass the prototype phase.

[2017-07-21 03:00] tagawa commented on #15
Closing because moved to the Search & Stories repo: https://github.com/duckduckgo/android-search-and-stories/issues/307

[2017-07-21 03:00] #15 closed

[2017-07-21 17:03] subsymbolic commented on #16
Thanks for bringing this to our attention @tagawa. We've updated our website with the latest android app, version 3.1.

[2017-07-21 17:03] #16 closed

[2017-08-07 12:47] ZeRoZeRoRaZ commented on #5
@subsymbolic Yes it would work.
@gvklive can you please provide apk with your changes?

[2017-08-07 14:15] subsymbolic commented on #5
Thanks again for the feedback. As this is really for our other app, I am now closing it. This app will be built for browsing so the UI for opening external links will be really different. Feel free to have a play once we release it and let us know how we can improve.

[2017-08-07 14:15] #5 closed

[2017-09-14 15:31] Bandito11 opened #43 "Recommendation: Having the app gives you result on the apps already install on the device"
I sent you a feedback through the app but found this by accident, while trying to see if you guys are open source or not ;)

Basically aside from the results it gives you on the suggestions also suggest apps already installed on the device.

Evie Launcher already do this if you want to see what I mean.

[2017-09-15 09:17] Efreak opened #44 "Theming/appearance settings"
It's quite nice to see that the theming settings apply, but it would be nice if there was a link in the menu or in settings panel to the settings page in the browser.

Also, the bright orange header is somewhat jarring with the dark themes--if you could make the URL/search bar either use the set themes/appearance settings (hide bar when scrolling, colors, etc) that would be ideal. I'm pretty sure

[2017-09-15 09:33] #44 closed

[2017-12-21 08:18] strooonger opened #79 "shouldOverrideUrlLoading does not work in API level <24"
Hi,

I found that the class [BrowserWebViewClient](https://github.com/duckduckgo/Android/blob/0a3546d03df3f1886c30e34332863d7461b0776d/app/src/main/java/com/duckduckgo/app/browser/BrowserWebViewClient.kt#L44) uses shouldOverrideUrlLoading(view: WebView, request: WebResourceRequest), which is added in API 24 (see this [link](https://developer.android.com/reference/android/webkit/WebViewClient.html)

[2017-12-21 10:08] CDRussell commented on #79
Thanks for reporting this @strooonger . I have created a PR to fix this; pending review from my team.

[2017-12-21 11:10] CDRussell commented on #79
_Merged_

[2017-12-21 11:10] #79 closed

[2017-12-22 22:56] subsymbolic commented on #31
Thanks for logging this. The source for the app you're thinking of lives at https://github.com/duckduckgo/android-search-and-stories and is unfortunately no longer being actively development.

Stay tuned, this new app will replace it in 2018. We hope you like it.

[2017-12-22 22:56] #31 closed

[2017-12-22 22:58] subsymbolic commented on #43
Thanks for the idea, I've passed it on to our design team :)

[2017-12-22 22:58] #43 closed

[2017-12-23 21:02] coffeeplanter opened #86 "Do you need help? )"
Hi, guys!
I think, it's a very useful project.
Do you need some help with it? I'm developing Android apps in Java & Kotlin. But I don't know C/C++.
Maybe you need a translation? I'm a native speaker of the Russian language.

[2017-12-24 19:06] subsymbolic commented on #86
Thanks @coffeeplanter! Opening up the app to the community is one of our 2018 goals. The architecture is still in flux so it may take a few more months before we can start accepting contributions but stay with us, we'd love your help and will update the readme page as soon as we're ready.

[2017-12-24 19:06] #86 closed

[2018-01-10 13:31] hotlittlewhitedog opened #100 "CPU:50%, Memory:100MB"
Hi all,
Please check the performance of the application, my CPU was at 50% and 100MB of memory (without TOR).
It's very high.
++

[2018-01-10 13:52] subsymbolic commented on #100
Hey, thanks for letting us know! Are you referring to the app in the Play Store? This one is still unreleased.

[2018-01-10 14:48] hotlittlewhitedog commented on #100
On F-Droid

Le 10 janv. 2018 14:52, "Mia Alexiou" <notifications@github.com> a écrit :

[2018-01-10 16:28] subsymbolic commented on #100
Ah thanks for clearing that up. That's our legacy app, so we're not updating it at the moment. We'll soon be replacing it with the new app in this repo.

If you want to test out the new app (be warned it's still rough around the edges) you can get the apk from our releases page https://github.com/duckduckgo/Android/releases

[2018-01-10 16:28] #100 closed

[2018-01-10 16:51] hotlittlewhitedog commented on #100
Ok thanks

Le 10 janv. 2018 17:28, "Mia Alexiou" <notifications@github.com> a écrit :

[2018-01-23 13:40] border-radius opened #141 "Add http/socks proxy settings"
If it feasible, it can be a killer feature for DDG browser. Chrome and FF for mobile is not supporting proxy settings, but it necessary in many places in the world where ISP and government is looking into your traffic, censoring specific parts of the internet and injecting obscure code into unprotected html pages.

It's also much easier to explain how to setup proxy to nontech people than how to c

[2018-01-23 18:21] AlEilers opened #142 "Assistant App no longer working"
Hi,

since the last update that app supports no longer to be an assistant app (long press home button to open the search).

It's probably an easy fix. I think it would be enough to just add an intent for [ACTION_ASSIST](https://developer.android.com/reference/android/content/Intent.html).

[2018-01-23 18:54] AlEilers commented on #142
I made a pull request (#143) that shows how i could be solved.

[2018-01-23 22:11] rugk opened #146 "Custom Tabs instead of webview"
I see you still use webview sometimes.

Why not use Chrome/ium, respectively, Firefox Custom Tabs (the two browsers, I know, which support that feature) instead of WebViews?

[2018-01-24 07:51] vanyasem opened #148 "home screen widget is missing"
there is no home screen widget after the last update. it's useful and needs to be added back

[2018-01-24 08:53] haloboy777 commented on #148
The widget is so important for my workflow! Please bring back the widget.

[2018-01-24 09:19] CDRussell commented on #148
Thanks for reporting this. We are actively working on bringing back the widget. It should be with you again in an update very soon.

[2018-01-24 09:36] CDRussell commented on #146
Thanks for the suggestion.

The decision to use `WebView` was made mostly due to existing familiarity with it and that we knew we'd be able to use it and have the full control over it that we need to offer all of the functionality in the app.

It might be possible to achieve everything using custom tabs, but it would have taken longer to explore that route. There are some things offered in custom

[2018-01-24 09:36] #146 closed

[2018-01-24 13:49] CDRussell commented on #142
Fixed by #143

Thanks for the contribution @AlEilers 👏

[2018-01-24 13:49] #142 closed

[2018-01-24 13:50] CDRussell commented on #148
Fixed by #150

[2018-01-24 13:50] #148 closed

[2018-01-24 14:46] haloboy777 commented on #148
Thank you so much

[2018-01-25 12:43] altaf933 opened #157 "Open a new tab"
Usually user want to keep live it's current tab and move to other tab to open new address.
So here we can add features like multiple tab support.

Please correct if I am not wrong.

[2018-01-29 11:19] lboklin opened #165 "F-Droid package"
Would be nice to have this available on F-Droid for those of us who try to live outside of the Google eco-system on Android.

[2018-01-29 12:02] subsymbolic commented on #157
Thanks @altaf933! We have had many requests for tabs and are working on it right now, check out our tabs branch.

[2018-01-29 12:07] subsymbolic commented on #165
That's a good idea. We have put in a request with F-Droid and they have confirmed that it will be up soon. In the meantime you can also get the app directly from our releases page https://github.com/duckduckgo/Android/releases.

[2018-01-29 22:52] michel-slm opened #166 "On Lawnchair launcher with two row dock, DDG search widget is vertically squished"
Using Lawnchair launcher 1.1.0.1742 on Moto x4, Android 8.0.0 OPW27.1.

The search widget for DuckDuckGo is sized the same in 4.1.2 as In 3.1.1 when dragged onto the home screen, but when I enable two row dock (similar to the dock layout on the Pixel launcher) using Lawnchair settings -> Dock -> Two-row dock, the widget in the dock is vertically squished.

I find that if I enlarge the dock (using

[2018-02-01 05:03] satyammittal opened #168 "Address should start with https:// after loading page"
Currently whenever I loads some webpage by entering address ex: https://www.duckduckgo.com

address bar looks like this
![screenshot_20180201-102711](https://user-images.githubusercontent.com/15922592/35661899-20d66a9a-073b-11e8-9cd2-325a52c31768.png)
It should look like this (start with https:// so that we can easily see the webpage domain name)
![screenshot_20180201-102728](https://user-images.g

[2018-02-01 10:37] subsymbolic commented on #168
This is great feedback, thanks for taking the time to share it. I have passed it on to our design team. They have plans to display a different view altogether (with https status) when in non-editing mode, this will hopefully make things clearer.

[2018-02-04 15:00] OpinionatedGeek opened #170 "Usability: Scroll bars"
Summary: The DuckDuckGo browser just doesn't seem to display a vertical scrollbar for any web pages, no matter how long they are. This leads me to lose context of where I am in the page, how long it is, and how much more there is to read or see.

To see what I mean, visit any long page - for example [New York Times](https://nytimes.com) - you can scroll the page, but no scrollbar appears.

It's mu

[2018-02-04 17:56] CDRussell commented on #170
Thanks for reporting this. I agree, this would be a nice improvement.

I'll look into adding this in the coming few days if it's a small fix.

[2018-02-05 12:44] CDRussell commented on #170
Addressed in #171

[2018-02-05 14:09] huuhaa opened #172 "[Feature request] Add Night-Mode option"
Please add Night-Mode option to the menu of DDG Privacy Browser.

[2018-02-05 14:31] huuhaa opened #173 "[Request] Move fire icon to bottom of menu & add tab icon"
Move that fire icon to the bottom of the menu and please replace it with ether trashcan icon or 1-color flame icon, cause current flame icon seems a bit unprofessional.
When doing this, add tab icon ether  to the place where currently is fire icon, or move Privacy Dashboard icon next to menu which would leave tab icon after addressline.

[2018-02-05 14:34] huuhaa opened #174 "[Feature request] Add share option to the menu"
Add share option to the menu to easily share current URL to app of your choice.

[2018-02-05 14:39] huuhaa opened #175 "Long press over image => open menu"
When long press over image, open menu to allow save image to gallery, share image, share image URL to the app of you want to.

[2018-02-05 14:41] subsymbolic commented on #173
Thanks for your feedback @huuhaa I have passed it on to our design team.

[2018-02-05 14:41] #173 closed

[2018-02-05 14:48] subsymbolic commented on #175
Thanks for your request. Saving an image is currently in progress, it will be out soon. We will also add share functionality in the future.

[2018-02-05 14:48] huuhaa opened #176 "[Request] Improve startpage"
Add summary of blocked trackers, blocked adds, https upgrades, average privacy enhanced (ex. from D=>B) & estimated time saved on top of startpage. In my opinion this is quite important thing, cause for Brave browser it has turned out to be great way to have good reputation. Just check at twitter how many images there are about this summary at brave. And not only for good PR but it's information n

[2018-02-05 14:58] huuhaa opened #177 "[Request] Change Duckduckgo search-bar widget"
Change Duckduckgo search-bar widget to the one with rounded corners (at least an option), but more importantly to be actual search-bar instead of shortcut to browser.

At the moment I have 2 shurtcut to Duckduckgo privacy browser, the round one with duck icon and the one which prevents to be search widget, but is actually just shortcut to the Duckduckgo privacy browser.

[2018-02-05 15:22] huuhaa opened #178 "Optimize size of app"
When reading closed issues I got the picture that Duckduckgo privacy browser is based of using webview like Firefox Focus does, is this correect?

If so, could you optimize the size of your app. Currently when checking at Settings => Applications Duckduckgo seems to take 34,75MB space, while Firefox Focus takes 9,36MB space and has more features.

[2018-02-09 16:37] OpinionatedGeek commented on #170
Yay! I have just installed the latest release and I have a scrollbar now!

Many thanks for doing this - and so quickly!

[2018-02-09 16:37] #170 closed

[2018-02-09 16:46] CDRussell commented on #170
No problem; thanks for the suggestion

[2018-02-10 20:01] BrainBlasted opened #185 "[request] Smarter External Browser Settings"
I would like to see smarter options for opening links. Right now the only options are Always and Never. Never forces one to use DDG as a web browser instead if a search engine, while Always just opens DDG in a browser with your search, making the app pointless. I'd like to be able to use it as a replacement for the Google app.

[2018-02-12 19:06] subsymbolic commented on #185
Thanks for your feedback @BrainBlasted. The latest version of our app has changed direction. It works more like a Browser and all links now open within our app. We will soon also add a long press option to "share" links with other apps.

[2018-02-12 19:06] #185 closed

[2018-02-12 19:10] subsymbolic commented on #176
Thanks @huuhaa, I have shared your ideas with our design team!

[2018-02-12 19:10] #176 closed

[2018-02-12 19:12] subsymbolic commented on #172
Thanks @huuhaa, I have shared your ideas with our design team!

[2018-02-12 19:12] #172 closed

[2018-02-15 14:43] oguzersen opened #186 "Version of the DuckDuckGo App at F-Droid"
Hi, I am not sure if it is the official app supported by you or it is maintained by another volunteer, the version of the DuckDuckGo app at F-Droid is 3.1.1. So I downloaded apk file here and I check here regularly to see if there is any update. Is it possible to make it synchronized with here so that following the updates would be easier. Best regards.

[2018-02-15 15:06] subsymbolic commented on #186
@zenithar89, we do officially maintain and support this app. We have a request with F-Droid to update their listing and would love to keep that in sync with our releases page here. We'll keep working with them to do that.

[2018-02-15 15:58] thenktor opened #188 "Make region setting persistent"
Please make region setting persistent also after clearing data. Or make it an option in  app settings so that it is used for autocomplete suggestions, too.

[2018-02-15 17:26] subsymbolic commented on #188
Thanks for reporting this @thenktor, we will try and fix it soon!

Note to staff: we have an existing internal task in Asana at https://app.asana.com/0/414730916066338/560129298337416.

[2018-02-16 18:30] subsymbolic commented on #188
This was fixed by https://github.com/duckduckgo/Android/pull/189 and we will release it early next week.

[2018-02-16 18:30] #188 closed

[2018-02-16 19:16] subsymbolic commented on #165
F-Droid has now uploaded to v4.1.1 of our app. While this is a recent version, it isn't our latest. We will work with them to see if we can keep the app up-to-date, see https://gitlab.com/fdroid/fdroiddata/issues/1105.

Thanks again for reporting this!

[2018-02-16 19:16] #165 closed

[2018-02-17 12:37] Pascal3366 opened #190 "[Feature request] Add tabs"
Hi i would like to use this as my main Browser but im missing tabs to organize my browsing
THX in advance

[2018-02-18 20:10] justadroid opened #191 "Select "save path" for images, Save pages (PDF option), better Cookie control"
Hi Duckduckgo team,

Glad you are working on a browser geared towards more privacy protection , just as the search engine you offer! ( I really hope you won't ever go towards the google model )

After testing your android version I have some suggestions and requests for future development:
I put them all in a single post instead of creating separate issue posts(hope is ok:)

1) Give the option to

[2018-02-21 14:19] anunaym14 commented on #190
Yes, this is much needed. Please add!

[2018-02-21 14:41] CDRussell commented on #190
Thanks for the requests; we are actively working on implementing tabs. Stay tuned!

[2018-02-21 14:44] CDRussell commented on #166
It's happening on other launchers under certain configurations too, so it's definitely something we need to fix.

Thanks for the detailed report - that will help us find the issue.

[2018-02-21 14:46] CDRussell commented on #191
Thanks for the suggestions. I can't make any promises when we'll have time to pick them up, but they would all be good additions.

[2018-02-21 14:48] CDRussell commented on #174
Thanks for the suggestion; we will get this implemented soon.

[2018-02-21 21:45] kenb0t opened #195 "[Feature Request] Orbot Integration"
Would like to have the "Proxy through Tor” option in settings

[2018-02-21 22:23] kenb0t opened #196 "[Feature Request] Configure DDG search from app options"
To set themes, advertising settings, etc for the search page from the app settings

[2018-02-22 15:24] subsymbolic commented on #190
Duplicate https://github.com/duckduckgo/Android/issues/157

[2018-02-22 15:24] #190 closed

[2018-02-22 16:12] leroivi opened #199 "[Feature Request] See Desktop version of websites"
Mobile version of websites are not always desirable, an option to always see Desktop version of website as long as it is enabled would be enjoyable

NB : Chrome already offers this feature

[2018-02-22 16:15] CDRussell commented on #199
Created a PR for this just half an hour ago! Will likely be in the next release (next week)

PR https://github.com/duckduckgo/Android/pull/198

[2018-02-22 16:15] #199 closed

[2018-02-23 04:50] kenb0t commented on #196
It would be nice if this persisted through fire

[2018-02-24 19:57] raven9nine opened #201 "Browser not using https"
Browser does not use https by default. It is connecting to port 80 on sites that provide https.

[2018-02-26 19:20] niksooo7 opened #202 "please add new tab open"

[2018-02-26 20:19] subsymbolic commented on #202
Thanks for your feedback @niksooo7, we have started working on it. Keep an eye on our updates.

[2018-02-26 20:20] subsymbolic commented on #202
Duplicate https://github.com/duckduckgo/Android/issues/157

[2018-02-26 20:20] #202 closed

[2018-02-27 18:24] subsymbolic commented on #196
Thanks, we have now updated the app to persist settings made on our search page even when the Fire button is pressed. This is in beta and will be live in version 4.4.0 soon.

I have also internally shared your suggestion to add options to the in-app Settings page. Thanks for your feedback!

[2018-02-27 18:24] #196 closed

[2018-02-27 18:39] subsymbolic commented on #201
Thanks for your feedback @raven9nine. We maintain a list of sites that can safely be upgraded to https without them breaking. Let us know which sites you feel should be added to the list (either here or by email at android@duckduckgo.com) and we will pass them on to our server-side developers.

[2018-03-01 15:53] BigNickBurgess opened #206 "[Feature request] Incognito mode automatically in Gboard"
Firefox Focus seems to do this automatically and it would be great if duckduck could do it too as an added privacy feature.

Not sure if the same can be done for swiftkey too but Gboard would be a great start.

[2018-03-01 15:54] IOI-655321 opened #207 "Export/Import unprotected sites / allow list"
Allow an easy import/export of allow listed sites, even better would be a shared format with your privacy essentials browser extension.

[2018-03-02 14:11] IOI-655321 opened #209 "Import/Export bookmarks"
You have bookmarks so please add a basic import/export to them.  Would make starting from scratch a lot smoother to be able to import from a file like a standard browser if we choose to.

[2018-03-02 19:18] dar5hak commented on #206
Turns out it's a new generic API, and not specific to Gboard. It's just that Gboard is currently the only one respecting the flag.

More information here: https://www.xda-developers.com/api-apps-keyboard-incognito-mode/

[2018-03-05 09:31] BigNickBurgess commented on #206
Ahh nice info.  A good feature to add for when other keyboards support it though.

[2018-03-10 18:51] Daiky96 opened #218 "Bug: Photo upload buttons are not working properly on the duckduckgo app"
#### Expected behavior
I want to make a post steemit through busy site, but when I try to upload photos it turns out the menu does not work, should be when I press the upload button photo, I immediately confronted into the gallery to select the photo you want to upload. this also happens when i try it through steemit.com site. should after I pressed the photo upload menu, I was immediately confron

[2018-03-13 00:12] ghavaunraaf opened #220 "Ghavaunbrooklyn@gmail.com"
@ghavaunraaf

[2018-03-13 00:13] ghavaunraaf commented on #220
Ghavaunraaf

[2018-03-13 00:17] ghavaunraaf commented on #220
Ghavaunbrooklyn@raafg.com

[2018-03-13 00:18] ghavaunraaf commented on #218
Ghavaunbrooklyn@raafg.com

[2018-03-13 00:18] ghavaunraaf commented on #218
Ghavaunbrooklyn@raafg.com

[2018-03-13 00:19] CDRussell commented on #220
Closing as spam

[2018-03-13 00:19] #220 closed

[2018-03-13 17:59] subsymbolic commented on #157
Thanks again for your feedback. This is now done https://github.com/duckduckgo/Android/pull/219 and ready for our next release.

[2018-03-13 17:59] #157 closed

[2018-03-13 18:01] #201 closed

[2018-03-15 10:58] BigNickBurgess opened #224 "[Feature Request] Add 'Add Page Shortcut' option"
As in Firefox/Firefox focus can we add the ability to save a bookmark to the android home screen please?  I use this in place of apps for things like Amazon direct links etc and its easier than bookmarks.

In Firefox go to the site you want click 3 dots

click Page > Add Page Shortcut

This then lets you add a shortcut (with icon) to the home screen for quick use.

[2018-03-15 11:08] BigNickBurgess commented on #206
Glad to see this added in the latest beta, great work guys.

[2018-03-15 11:43] CDRussell commented on #206
Our pleasure! 👍

[2018-03-15 11:43] #206 closed

[2018-03-22 19:26] hjoshi123 commented on #218
@Daiky96 Can I be assigned to the bug?

[2018-03-22 19:40] CDRussell commented on #218
This was implemented in https://github.com/duckduckgo/Android/pull/227

It will be available in the next release; likely next week.

[2018-03-22 19:40] #218 closed

[2018-03-22 20:38] CDRussell commented on #218
@hjoshi123 feel free to check out the code on `develop` branch and have a play with it before it goes life if you want.

Feedback always welcome.

[2018-03-22 22:35] CDRussell commented on #174
Implemented in https://github.com/duckduckgo/Android/pull/212

[2018-03-22 22:35] #174 closed

[2018-03-23 16:38] ghost opened #230 "Progressive web apps"
Please provide support for progressive webapps.
https://developer.mozilla.org/en-US/Apps/Progressive

Could greatly help in reducing the need to download bulky native apps

Since this will most probably act as a bookmark/add to homescreen, provision to backup and restore would be indispensible.

[2018-03-28 19:07] hjoshi123 commented on #224
@BigNickBurgess Can I work on this? Can you assign me?

[2018-03-29 14:37] BigNickBurgess commented on #224
I'm not part of DuckDuckGo's team just a user with a feature request.

[2018-03-29 15:17] CDRussell commented on #224
@BigNickBurgess Thanks for the feature suggestion; we have this on our radar to get tackled pretty soon.

[2018-03-29 15:18] CDRussell commented on #224
@hjoshi123 Thank you for offering your help. At the moment, we haven't really defined how we'd like the community to get involved with the project, and haven't scoped out well enough our expectations for contributions.

Given that, and that we've already got plans for this feature, it probably doesn't make sense for you jump straight on this. We're hoping to work out the best way for community con

[2018-03-29 15:41] BigNickBurgess commented on #224
As an addendum to this, it would be great if this feature included the Icon of the website too, FF does this but FF focus does not.

[2018-03-31 13:27] justadroid commented on #191
The main one will be to select what cookies are accepted. Is the browser accepting all cookies by default including third parties? This would defeat its privacy purpose! Can you please clarify how this works at the moment.

Thanks!

[2018-04-01 13:05] justadroid opened #233 "Compatibility"
Hi,
I have an android 4.3. Is there any way to run the latest (tab enabled) browser app? On f-droid it asks for android 5 and it gives a parsing error/cannot install message on my device.

Thanks!

[2018-04-03 09:03] BigNickBurgess opened #235 "Issues with some pages"
On the most recent version of DDG (5.0.2 50002) i'm having issues with certain sites.  The best example would be www.reddit.com which badly loads in mobile or when requesting desktop versions.

Other sites seem to load but then menu functions after logging in (which id imagine are Javascript controlled) dont work so you cant navigate the site.

Other sites still work fine in DDG so not sure what t

[2018-04-03 09:28] kj88 commented on #224
👍

[2018-04-03 10:10] subsymbolic commented on #235
Thanks for reporting this @BigNickBurgess. I will investigate. A few questions to help me reproduce this:
• Which device and android version are you on?
• What is broken on reddit? Does the page load? Can you login?
• Does toggling off the privacy protection toggle in the Privacy Dashboard fix the issue? You can get there via the Privacy Grade button next to the search bar.

Thanks again for your

[2018-04-03 13:49] BigNickBurgess commented on #235
Hi @subsymbolic ,

Samsung Galaxy S8 Oreo (CRB7)

Initial load on reddit just shows a visually broken version of their 'go to app'.

![screenshot_20180403-144420_duckduckgo](https://user-images.githubusercontent.com/31211392/38253073-a152d4b4-374d-11e8-9039-d98720bc9302.jpg)

Selecting request desktop site then shows a broken version of the site seemingly with no styling applied.

![screenshot_201

[2018-04-03 14:02] subsymbolic commented on #235
Very useful, thanks @BigNickBurgess. I'll try and reproduce it here and get a patch out soon. My guess is that there is something wrong with the content blocking data persisted on your device. If you want to get going again before the patch is ready, a reinstall is likely to work.

[2018-04-03 14:04] IOI-655321 commented on #235
Yep cleared the Apps data and cache and its working again.  Thanks for looking into it.

[2018-04-03 18:57] subsymbolic commented on #178
Thank you for logging this. I have investigated and the app itself is a light ~8MB, the remaining space is used by content blocking data, user data and caches.

[2018-04-03 18:57] #178 closed

[2018-04-03 19:37] mightyjai opened #237 "Switch Tabs just by Swiping Address Bar"

[2018-04-03 19:38] mightyjai commented on #237
*my = by

[2018-04-06 19:03] subsymbolic commented on #177
Thanks for the feedback @huuhaa. We added rounded corners as part of our redesign in https://github.com/duckduckgo/Android/pull/240. If there is specific search functionality that you would like to see in the widget feel free to raise new issues.

[2018-04-06 19:03] #177 closed

[2018-04-06 19:25] subsymbolic opened #241 "Browser popup menu height is too large"
The popup menu seems to be so large it goes out of bounds on the screen (especially on landscape mode).

The consequence is that the bottom menu item(s) aren't clickable as, even with the scrolling in there, they can never be scrolled up enough to be in view.

[2018-04-06 19:26] subsymbolic commented on #241
Internal Asana Url: https://app.asana.com/0/414730916066338/595568080940526

[2018-04-06 19:29] subsymbolic commented on #168
This issue still persists, we don't have time to look at it right now but will leave it open in case someone in the community has time.

[2018-04-06 19:30] subsymbolic commented on #166
This issue still persists, we don't have time to look at it right now but will leave it open in case someone in the community has time.

[2018-04-06 19:40] subsymbolic opened #242 "Some downloads are failing"
Some downloads are failing with a "Download unsuccessful" message

To reproduce:
• Go to fastmail.com and login (you will need an account)
• Open an email with a pdf attachment
• Download the attachment
• A "Download unsuccessful" notification will appear

[2018-04-06 20:09] CDRussell commented on #166
Great idea; it's a perfect task for community to pick up.

[2018-04-06 21:07] satyammittal commented on #168
I would like to work on this issue.

[2018-04-07 10:26] BDFrostbite opened #243 "Can't open .apk files from notification after downloading"
Steps to reproduce:
 - Go to any download site and download an .apk file. For example apkmirror.com
 - Open notification panel
 - Tap to Download completed notification
 - It will say "Can't open file" instead of opening .apk with Package installer

Side note: You'll need to add Install unknown apps permission to allow installing .apk files from DuckDuckGo for Android 8.0+

[2018-04-07 10:35] BDFrostbite opened #244 "Github release apk's are downloading as .bin"
Steps to reproduce:
 - Go to any repo's release section, for example github.com/DuckDuckGo/Android/releases
 - Select any .apk release, for example duckduckgo-5.1.0-release.apk
 - It'll be downloaded as <randomname>.bin

DuckDuckGo version: 5.1.0

[2018-04-07 14:51] badener95 opened #245 "Back button should close the browser"
When opening a link from another app hitting the back button should close the browser to let users return to the app. At the moment this will bring up the start page of duckduckgo with the search bar. It takes 4 times hitting the back button to actually close duckduckgo and return to the previous app.

[2018-04-10 16:45] subsymbolic commented on #168
That's great @satyammittal. Feel free to send us a PR when you're ready. If you have any questions or are making any architectural changes ping us either here or in the PR to chat through your approach.

[2018-04-17 21:46] AntiGuide opened #252 "No de (German) translation available"
I created a complete translation. Please consider giving me a branch to push it.
[code]

[2018-04-18 00:10] subsymbolic commented on #252
Thanks for getting in touch. We are not in a position to accept translations yet but hope that will change soon. Keep an eye on our contributor guidelines at https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md.

[2018-04-24 19:27] huuhaa commented on #252
Please notify us when community can contribute translations. If there's no one for Finnish I might be intrested. So far only experience is translating Firefox Focus but have liked doing that.

[2018-04-24 21:08] princekelly1 opened #258 "Request for copywriting"
Hi,  I would like to copy write, FAQ, Privacy policy and About Us for this project, if you may permit me. And merge once I pull the request.

[2018-04-26 13:11] RichyHBM commented on #209
Have done a first pass on this, got it exporting a basic CSV style bookmarks list

Is there any particular list type that would be preferred? If something like Json are there any limitations to using a 3rd party library?

[2018-04-26 18:17] subsymbolic commented on #209
Thanks for contributing @RichyHBM. You are welcome to submit a PR however we aren't in a position to accept many community PRs at the moment. This will hopefully change in the future, see https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md.

[2018-05-04 13:52] CDRussell commented on #244
Implemented in https://github.com/duckduckgo/Android/pull/265

[2018-05-04 13:53] #244 closed

[2018-05-04 13:54] CDRussell commented on #242
Implemented in https://github.com/duckduckgo/Android/pull/265

[2018-05-04 13:54] #242 closed

[2018-05-04 13:59] CDRussell commented on #243
Fixed in #265

[2018-05-04 13:59] #243 closed

[2018-05-19 19:02] SmithSte commented on #241
I'v heard once before many time that the reponse of a website/theme/app is a nightmare for any developer. Can you give some details?

[2018-05-19 19:04] SmithSte commented on #14
Well mait, I can do some voices. The acting/actor part. Reproducing sounds, beats.

Nothing more.

Contact me if you need.

Bye

[2018-05-19 19:06] SmithSte commented on #14
If you are wondering, why I'm saying that. It might not replace it/or it can't replace it, but we can try to do something that can. This is my part.

[2018-05-20 10:45] CryptKid opened #272 "Legacy WebView supports insecure SSL ciphers"
The integrated web browser has a not optimal ssl-configuration. It supports broken ciphers like rc4 and is vulnerable to Logjam, FREAK and Poodle. I don't know, if the app uses webview, but I get this results on an Android 5.1 - Device.
You can have a look by opening [this](https://www.ssllabs.com/ssltest/viewMyClient.html) or [this](https://badssl.com/dashboard/) test with the app. This concerns

[2018-05-21 09:04] CDRussell commented on #233
We are only supporting `minSdkVersion 21` meaning Lollipop (Android 5.0) or above.

[2018-05-21 09:04] #233 closed

[2018-05-21 09:09] CDRussell commented on #272
Perhaps you need to update your `WebView` on your device.

If you visit the site you linked, https://www.ssllabs.com/ssltest/viewMyClient.html, what do you see printed next to `User-Agent` ?

When I run this test, I see that the app is **not** vulnerable to `Logjam`, `FREAK` or `POODLE`.

[2018-05-24 13:00] subsymbolic commented on #258
Thank you for your offer @princekelly1, we currently look after these in-house.

[2018-05-24 13:00] #258 closed

[2018-05-29 18:28] CryptKid commented on #272
I think, it's about the webview-version, so I think, it would be necessary to check if webview is new enough to be secure and use another engine like firefox otherwise or kill the app on other devices, to make it secure

[2018-05-30 16:56] HeinPauwelyn opened #278 "Not available for Android KitKat"
I'm using the DuckDuckGo search engine for a wihile in Firefox browser and now I'll try the browser on my smartphone but I can't download it. The reason is because my device is not compatable for DuckDuckGo. I'm using Android version 4.4.2 KitKat. Is it possible to make it compatable for my device?

[2018-06-02 16:11] cdysthe opened #282 "Please offer installed apps in the search widget results."
Many, including me, will want to replace the the Google search widget with the DDG one. The one thing I miss is to get locally installed apps in search results like I do with the the Google widget. I also get contacts with Google but that I can live without. I installed app results could be added, at least as an option.

[2018-06-04 08:13] CDRussell commented on #278
When we kicked off this project, we decided that our minSDK would be 21 (Lollipop) based on how the Android marketshare was looking.

Targeting Lollipop has allowed us to build features faster and reduced time required to test and build compatibility workarounds for KitKat and before.

While I appreciate that does cut some people's devices out, I think we're likely to continue with this approach.

[2018-06-04 08:13] #278 closed

[2018-06-04 08:16] CDRussell commented on #272
Checking the `WebView` version and refusing to run the app (or giving the user the choice) if it's not acceptable is an interesting idea. Thanks for the suggestion.

[2018-06-04 08:19] CDRussell commented on #33
I've looked at this functionality now and again and have never been happy with the UX when I previously added it. There was always something that just didn't feel right about my previous approaches.

That said, if there was a PR that implemented this well and maintained the existing functionality (such as the toolbar scrolling away as the `WebView` is scrolled) then we'd be open to accepting that

[2018-06-04 17:39] ghost opened #284 "Feature requests - Dark/night mode and cookie manager"
Hi there!
The duck would be my default browser if a couple of features were added:
- Dark/night mode
- A Cookie manager (with a whitelist buttom?)
Hope this could be possible in a near future.

[2018-06-04 20:22] SarahTehCat opened #285 "No changelog on F-Droid page"
Why is there no option to see the changelog *before* updating?

[2018-06-05 03:33] tulanevolk commented on #209
I replaced phone and would like to port my duckduckgo bookmarks from old to new. I would appreciate knowing how.

Thank you.

[2018-06-05 12:14] #168 closed

[2018-06-07 07:14] #241 closed

[2018-06-08 01:48] SuperDuperUser opened #288 "Option to open external links in the appropriate app"
Right now, if I search "Uber Google Play" in the DDG app and I click the link to the Play Store, it opens in the internal browser instead of opening in the Google Play app, where I would ideally like to have it open so I can install. Moreover, if I click the "Open in Play Store App" button that the site displays, it causes a net::ERR_UNKNOWN_URL_SCHEME error. Links to YouTube and Amazon also don't

[2018-06-13 21:42] gokhanaliccii commented on #166
Did you assign this bug for anyone ?

[2018-06-13 23:13] subsymbolic commented on #166
No @gokhanaliccii we don't generally assign them. You are most welcome to work on it and send us a PR.

[2018-06-15 10:20] CDRussell commented on #166
Closed by https://github.com/duckduckgo/Android/pull/291

[2018-06-15 10:20] #166 closed

[2018-06-24 02:29] NachiketaVadera opened #295 "Incognito Keyboard throughout the application"
Hello DuckDuckGo, I like your application. I found out that Brave and Chrome support incognito keyboard mode (I use GBoard) throughout their app. DuckDuckGo, while provides this mode while searching from the url bar, dose not apply this to other search bars I visit.

[2018-06-24 13:55] CDRussell commented on #295
This should already be the case.

Are you able to share any details of cases where you are not seeing this happen already? Are there any particular sites causing the issue or does it always happen for you?

[2018-06-24 15:53] NachiketaVadera commented on #295
No. Every site works great. Also, there is no problem with the app. I tried search engines like google, aol, bing, wolfram alpha and even duckduckgo. None of these provide me with the keyboard incognito mode. Additionally, search bars within all websites do not switch on the incognito mode as well. I use a Moto G5s Plus which runs Android 7.1.1.

[2018-06-25 13:40] reno-a opened #296 "Speedtest slower"
Hello,

I notice a difference at speedtest tests with Duckduckgo app,and other WebView browser. Same with Chrome/Chromium and Firefox (nightly and other versions). Duckduckgo is always slower.

For exemple, for other WebView browsers :
- Firefox Klar/Focus Download ~21M  Upload ~ 10M Ping ~155ms
- Duckduckgo (ver. 5.7.0) Download ~7M Upload ~4M Ping ~579ms

[Motorola Moto G 2015 / LineageOS 14.1 (

[2018-07-12 22:29] dstaley opened #305 "Add support for Android Adaptive Icons"
With the release of Android Oreo, support was added for adaptive icons that accommodate various shapes. For example, Pixel devices use a circular mask while Samsung devices use a squircle.

Adding support for adaptive icons to this project would be fairly simple since the icon would basically be Dax over a red background.

I mocked up what this could look like:
![image](https://user-images.githubu

[2018-07-13 08:50] Moxville opened #306 "[Feature Request] AdBlock, Install Chrome Extensions"
Hi,
I would like to know whether the browser has the following features ?
**AdBlock
Blocks pop-ups
3rd party cookie blocking
Https Everywhere**
If not, any future plan to add these features ?

Also I would like to know is it possible to install Chrome Extensions. If not any future plans to add this feature ?
I want to use extensions like uBlock Origin, Cookie AutoDelete, AdGuard AdBlocker, etc.

T

[2018-07-15 07:45] reno-a commented on #296
Test with : http://speedtest.googlefiber.net/

[2018-07-26 20:10] jmue opened #313 "handling of SSL/TLS errors"
DDG does not show any cert chain errors, it simply do not load such sites. This is bad, as the user do not get informed about the reason for that (like a not trusted CA, expired certificate or self signed certificate). It is even worse, as DDG shows a green lock icon with 'Encrypted connection' text beside in the privacy dashboard.
https://badssl.com/ hosts a set of cert chain error tests.

[2018-07-28 15:38] theel0ja opened #315 "Do not send X-Requested-With"
Image tells it all

![image](https://storage.theel0ja.info/imgup2/2018-07-28_18-39-14-cec8fa0e-2945-4668-a221-9ec42632a3e8.png)

Similar to https://github.com/anthonycr/Lightning-Browser/issues/317 and https://github.com/mozilla-mobile/focus-android/issues/1196

[2018-07-30 14:06] CDRussell commented on #315
Sadly, the `X-Requested-With` header originates from inside `WebView` component and there isn't an easy way to prevent the header from appearing.

There is something we could do which would remove it from an initial page load, but there doesn't seem to be a reliable way of stopping the header reappearing for each subsequent fetch of an image, JS, CSS etc...

I have no idea why Android feels adding

[2018-07-30 14:12] CDRussell commented on #295
Sorry for the delay in responding.

The flag which is required for supporting incognito keyboard is only supported on Android Oreo (8.0) and up, and was implemented in this PR https://github.com/duckduckgo/Android/pull/217. It is expected that on OS versions below Oreo the flag will not be honoured.

Are you saying that you **do** see the incognito keyboard from Chrome and Brave on your Nougat dev

[2018-07-30 14:21] CDRussell commented on #296
Thanks for reporting this. I'm going to try look into this shortly to see if there is any obvious reason for you seeing this.

[2018-07-30 15:33] NachiketaVadera commented on #295
Hey. No problem.

Yes, I run Android 7.1.1 and both Brave and Chrome and they **support incognito keyboard**. For the purpose of testing, I used the github.com and moretrackslikethis.com.

In both of these cases, DuckDuckGo does not support incognito keyboard when I try to use the search bar of the aforementioned websites.

[2018-07-30 15:44] CDRussell commented on #295
Interesting. I hadn't looked at pre-Oreo before as the flag indicated that it just wouldn't work prior.

However, you're right, I can see the incognito keyboard on an Android 7 device here in Firefox Focus. In the DDG app, the incognito keyboard is shown when you tap on the URL bar, but not shown when invoked from within the `WebView`, as you observe.

Ok, there's probably more we can do here. Tha

[2018-07-30 15:47] NachiketaVadera commented on #295
No problem. Happy to help

[2018-07-30 15:56] CDRussell commented on #295
Ok, I see the solution.

We only add the flag on > Oreo because `EditorInfo.IME_FLAG_NO_PERSONALIZED_LEARNING` is only defined on Oreo. But we can just the underlying value `0x1000000` from pre-Oreo and it seems to work.

I have some slack to pick this up this week; I'll make this change more properly and test it out and report back if I see any issues.

[2018-07-31 07:32] reno-a commented on #296
Hello CDRussel,
Thank-you for tour answer ans help.
Two sites videos don't play all time (slowly for playing):
https://www.publicsenat.fr/direct
http://lcp.fr/le-direct/tnt
Maybe the same problem (or not)...

[2018-08-01 13:31] CDRussell commented on #295
Fixed in https://github.com/duckduckgo/Android/pull/316

The changes will be included in the next release (next week probably) or feel free to try it out sooner if you can build from the source code.

Thanks again for raising this issue.

[2018-08-01 13:31] #295 closed

[2018-08-02 23:03] reno-a commented on #296
Again slowly with 5.7.5 version (f-droid)

[2018-08-03 15:25] jlHertel commented on #252
I kindly ask to inform me too.
I want to provide a pt_BR translation of the app.

[2018-08-03 15:30] jlHertel opened #320 "Image inside url doesn't allow opening in new Tab"
When I long-press over a image with link, it doesn't open an option to open a new tab.
Let us take the following code as example:
`<a href="example.com"><img src="myimage.png"></a>`

Expected result:
Open a menu with the option to download the image **and** the option to open the link ` example.com ` in another tab.

Current result:
Open a menu with the option to download the image.

This issue is

[2018-08-08 16:08] CDRussell commented on #288
This has been partly implemented in #322

The app will now launch the external app if it is installed for urls with custom schemes, such as the "Open in Play Store App" case highlighted.

It doesn't yet offer a way to open an equivalent native app from an HTTP/HTTPS page when the app which could accept that deep link is installed. ie, this hasn't been implemented yet 👇.

[2018-08-10 15:34] shadowinlife commented on #252
I want to provide a Chinese SImple/tradition translation of APP.

Also for the reason of GFW, I need to merge another feature to support shadowsocks for Mainland Users  of China

Thanks

[2018-08-17 09:06] edentw opened #329 "Missing an important function."
HI,
Lack of whitelist function inside, hope to add him in!

[2018-08-18 08:13] sanderbaas opened #330 "Search bookmarks"
I would really like it if my bookmarks were included in the suggesstions when searching from the address bar.

[2018-08-24 10:37] arunsathiya commented on #296
I tested this as well and I don't see any differences at my end. If anything, Firefox and Google Chrome were slower. I think the speed test is affected by multiple parameters and DuckDuckGo Android app is specifically not causing anything, at least at my end.

[2018-08-24 10:44] arunsathiya commented on #224
I'm looking forward to this feature as well! Any clues on when this release would happen? It'd also be cool if you have a non-Google release channel.

[2018-08-24 10:52] reno-a commented on #296
@arunsathiya Hello,
Thank-you for the tests.
Firefox and Chrome are slower, you're right.
But the difference is with "Firefox Focus" (another privacy browser).

[2018-08-24 11:25] CDRussell commented on #296
We have an upcoming, reasonably big change to the way we upgrade requests to HTTPS if it's possible to do so.

After that change is made, I'm going to do some benchmarking and try and identify any obvious bottlenecks which could be affecting the speed.

As for the download speed testing sites, they initialise a lot of requests that the app downloads, so any bottleneck, no matter how small, is ampl

[2018-08-24 11:28] CDRussell commented on #329
We do allow individual websites to be whitelisted so that the protection isn't applied to them; you can access that from the privacy grade option (to the left of the URL bar).

![screenshot_20180824-122712](https://user-images.githubusercontent.com/1336281/44582339-3a9cf580-a799-11e8-940e-8a0e7c4e35d5.png)

Or is it another type of whitelist you're looking for? If so, please elaborate.

[2018-08-24 11:32] CDRussell commented on #285
Is this more of an issue to raise with F-Droid directly, or is there something we could do to improve this?

FYI, we post all the releases and change logs to https://github.com/duckduckgo/Android/releases if you ever need to check what's new before installing from anywhere, including F-Droid.

[2018-08-24 11:48] CDRussell commented on #224
This is already released; I think it was version 5.8.0

You can use F-Droid or the GitHub releases page if you don't want to go through the Play Store

[2018-08-24 12:07] edentw commented on #329
![d](https://user-images.githubusercontent.com/41664010/44583785-5c1dd180-a7d9-11e8-814a-b2f592dc3bbe.jpg)

[2018-08-24 13:32] CDRussell commented on #330
That's a really good idea! Thanks for raising this. I'll pass this idea on to the rest of the team for consideration.

Internal issue: https://app.asana.com/0/608920331025315/793359964050426

[2018-08-24 19:47] arunsathiya opened #334 "Enhancement: Introduce a "Close all tabs" button that closes without clearing data"
I am not quite sure if this is a good idea, but it would be helpful if there is an option to close all the tabs without clearing data.

## Current scenario

Currently there is an option to close each tab individually, without clearing the data. This can done done by following the steps below:

- Open multiple websites on multiple tabs.
- Login into them.
- Click on the tabs icon at the top right,

[2018-08-25 09:48] sanderbaas opened #335 "Quality of favicons used for home screen shortcuts"
First of all, I am very happy with the new feature to add shortcuts of websites to the home screen (#224). However, the quality of the icons used for the shortcuts is quite low for some sites. Of course not always a high quality icon is available, or it is not marked correctly on the website.

I am not sure what the process is of producing the icon for the shortcut, because the icons are fetched f

[2018-08-26 08:20] jfitie opened #336 "Feature request: Copy URL"
When long pressing on a hyperlink, there should be an option to copy the URL to the clipboard.

[2018-08-26 08:27] jfitie opened #337 "Feature request: Add global Desktop Site setting"
Add global setting to enable Desktop Site automatically for all tabs.

[2018-08-27 16:52] CDRussell commented on #334
This is a good idea, indeed. I'm going to be making a change in this area this week anyway, so I'll add this functionality in too assuming no one in the team objects to the idea.

Thanks for raising this.

[2018-08-28 14:48] CDRussell commented on #334
Implemented in #340. I'll be releasing this to beta today/tomorrow and it'll be in production in the next release.

[2018-08-28 14:48] #334 closed

[2018-08-28 15:46] arunsathiya commented on #334
Excellent news. 🎉

[2018-08-29 14:45] arunsathiya commented on #336
If I am not missing something, this would be a Android feature and not dependent necessarily on DuckDuckGo, right?

I just tried to copy a text from a page, a link from the address bar and everything works.

[2018-08-29 14:46] arunsathiya commented on #336
Oh no, my bad. Sorry about the last comment. You were specifically mentioning an option to copy a link upon long pressing it. 👍🏽

[2018-08-29 14:51] arunsathiya commented on #224
@CDRussell Thanks for the heads up! I just tried it, but the `Add to home` button does not seem to be doing anything at my end.

Is this because I am using `Fastkey launcher`? It seems to be affecting only when I am using this launcher.

I tried `Nova launcher`, `Action launcher` and `OnePlus launcher`. It seems to work as expected with these.

[2018-08-30 07:31] #329 closed

[2018-08-30 07:39] ghost opened #342 "There are some adjustments that need to be made"
1. Add white list mechanism, see attached pictures!
![d](https://user-images.githubusercontent.com/41664010/44836726-51948980-ac6a-11e8-98e9-380fac1c8d2c.jpg)

2.Can AD filter add these three lists?

"Adblock Warning Removal List"
https://adblockplus.org/subscriptions#type_anti-adblock

"ABP Anti-Circumvention Filter List"
https://github.com/abp-filters/abp-filters-anti-cv

"Reek Anti-Adblock Kill

[2018-08-30 08:28] CDRussell commented on #336
Good suggestion, I agree this would be good. I'll try add this in when I can.

Thanks for raising.

[2018-08-30 09:01] CDRussell commented on #320
Internal link: https://app.asana.com/0/414730916066338/800270854347855

[2018-08-30 09:02] edentw commented on #342
#342
These are two of the news sites, but they all use facebook comment boards as a plugin.
However, it will be hidden by the APP, so the whitelist method is needed to strengthen the assistance,
But if you can solve this kind of problem with other parties, it's acceptable.
http://n.yam.com/Article/20180829560607
https://tw.news.appledaily.com/international/realtime/20180830/1420550/
thank you!

[2018-08-30 09:42] CDRussell commented on #342
If you whitelist a site like appledaily.com inside the app, then you will see the Facebook comment boards.

[2018-08-30 09:46] CDRussell commented on #342
![device-2018-08-30-104518](https://user-images.githubusercontent.com/1336281/44844118-ecc53900-ac41-11e8-9773-d51025836e16.png)
![device-2018-08-30-104546](https://user-images.githubusercontent.com/1336281/44844127-f353b080-ac41-11e8-9073-5453fe5d7559.png)

[2018-09-06 08:22] GuiltyDolphin opened #347 "Using "site" query parameter results in "Unable to open this type of link""
### App version

5.9.1 (50901) (via F-Droid)

### Device make and model

OnePlus 5

### Android version

8.1.0

### Steps to reproduce the bug

1. Into the address bar type `foo site:duckduckgo.com` (or any query + any site)

2. Press enter (try to load page)

### Expected behavior

A DuckDuckGo search opens with the query

### Actual behavior

A toast pops up briefly with the phrase "Unable to op

[2018-09-08 09:26] dineshkv commented on #347
I believe this is a feature request.

[2018-09-08 09:40] GuiltyDolphin commented on #347
@dineshkv I think this is a bug (i.e., something broke) - I noticed it because I used to do it and it worked (it definitely works in version 5.7.5), but now no longer works

[2018-09-08 09:42] dineshkv commented on #347
Oh okay. If I want to work on this are PRs going to be accepted?

[2018-09-16 15:03] nutpantz opened #348 "Ddg web browser used 250mb in background"
Yesterday ddg web browser used 250mb in the background. I was not using it at the time (but had in the last hour) I was using Firefox klar when this happened. I checked everywhere and could not find a file downloaded or any other reason it should use 250 mb (it has only used 130mb since Jan)

[2018-09-18 07:10] pravi opened #349 "Show bookmarks as home Tab's content"
When starting browser, it should show bookmarks instead of empty page. This makes it easier to visit favorite sites. Currently home tab is just empty. It should show bookmarks as content and keep the address bar visible (unlike going to bookmarks).

[2018-09-18 10:32] CDRussell commented on #348
😞 That's unexpected; sorry about that. We do download data in the background so we can upgrade sites from http to https for better protection and lists for knowing which resources are trackers so we can block them. But the lists aren't that size!

Would you mind sharing a few details to help us work out the problem?

- Device details: model, OS version
- App version: you can find this in the Setti

[2018-09-18 10:35] CDRussell commented on #349
Thanks for the idea!

We know the new tab page is a bit empty at the moment, and we have some plans on how we're going to make that more useful. We probably don't want to show bookmarks straight away, as currently that would make it harder for people who are looking to search or type a URL, but easier access to bookmarks definitely makes sense.

I'll pass on your suggestion to the team, and close

[2018-09-18 10:35] #349 closed

[2018-09-19 11:34] herotux opened #350 "Investigate Tor integration with Orbot on Android"
Please provide an option to use app with orbot or other proxies.
we live in iran government block duckduckgo and need proxy to use your app

[2018-09-19 11:35] herotux commented on #195
Please do that we need it too

[2018-09-19 14:32] nutpantz commented on #348
Android TouchWiz 6.01 on a note 4 rooted and debloated with no Google play.

Version is unknown because I uninstalled it, but it was not the latest update from fdroid maybe one or two versions back

I've been using the app on and off since January, data usage for duckduckgo browser had been 130mb since  January.so It's not my default browser and spends most nights blocked by afwall+.

On September

[2018-09-20 08:42] CDRussell commented on #348
Thanks for that extra info!

I'm part-wondering if the app's networking being blocked by `afwall+` could have messed with the scheduling of the background jobs. Maybe it causes some of the missed ones to fire simultaneously instead of backing off and queuing up a re-try as they're supposed to do. I haven't used `afwall+` so I'm just guessing, though.

We can look to see if there's something more t

[2018-09-20 08:43] CDRussell commented on #350
Internal issue: https://app.asana.com/0/search/828743867277629/564380980348685

[2018-09-20 08:49] CDRussell commented on #347
Thanks for reporting the `site:` problem; that was an unintended regression of another recent change.

Happy to accept a PR for this if someone wants to pick it up. And thanks in advance, if so!

[2018-09-20 08:51] CDRussell commented on #347
The problem is likely to be found in `SpecialUrlDetector`. We recently switched things around to better handle custom app schemes, and in the process broke queries like this that look like a URL scheme but should just be treated as a normal search query.

https://github.com/duckduckgo/Android/blob/develop/app/src/main/java/com/duckduckgo/app/browser/SpecialUrlDetector.kt#L42

[2018-09-20 09:05] herotux commented on #350
Thanks alot

[2018-09-21 19:11] In2deep73 commented on #347
I have some fixes to propose if @dineshkv decides not to work on this.

[2018-09-22 16:11] dineshkv commented on #347
@In2deep73 please go ahead as I have not started working on it yet.

[2018-09-26 23:26] christopherbasinger opened #362 "OnBackPressed closes tab when app entered through intent"
When I select a story in the app that I wrote it opens duckduckgo browser at the correct page but when I press the back button it closes the tab instead of going back to my app.

I tested this on chrome and firefox and both exit app on back button pressed when entered through intent.

I found this Bug already in issue #245 my apologies

It's quicker to uninstall your app then modify the default ap

[2018-09-26 23:32] christopherbasinger commented on #362
I found this Bug already in issue #245 my apologies

[2018-09-26 23:33] nhatzHK opened #363 "Add homescreen widget back"
In the last release, the homescreen widget disappeared. Please add it back, it's very useful.

[2018-09-27 00:27] christopherbasinger commented on #362
And i left version device model etcetera out as requested because it's irrelevant.

[2018-09-27 00:30] christopherbasinger commented on #362
Fix it :(

[2018-09-27 00:30] christopherbasinger commented on #362
Its annoying

[2018-09-27 00:31] christopherbasinger commented on #362
I was going to have a card in my app that sent an intent with a search param for ddg browser to support it but now I can't send any users that way with this bug

[2018-09-27 00:32] christopherbasinger commented on #362
I no longer support duckduckgo browser until this is fixed.

[2018-09-27 12:03] CDRussell commented on #362
Hi @christopherbasinger, thanks for your feedback.

I get why this is annoying. I don't particularly like the number of times required to hit the back button either. And while we may sometimes want the existing behaviour, I agree that it's not the best behaviour when the user has dropped in from another app.

I'll raise this with the team as I understand the frustration. I'll close this task, sinc

[2018-09-27 12:03] #362 closed

[2018-09-27 13:14] CDRussell commented on #363
The widget is still available; there shouldn't have been any changes recently which affected this.

Can you try re-adding the widget... does it show up in the list of widgets?

If you're still not seeing it, let me know which Launcher you are using and which OS version and I'll see if something is up.

[2018-09-27 13:33] sergiomt commented on #224
Add to Home does not work for me on Android 7.0 patch 5/2/2018 running on a Blackview 6000 with DuckDuckGo 5.10.4. It just does nothing when clicked on a site.

[2018-09-27 13:40] CDRussell commented on #224
@arunsathiya thanks for reporting that. It could well be right - I haven't had a chance to investigate why it doesn't work with some launchers, but if it's working with `Nova` and `Action`, you're probably right that the launcher is the cause. I don't know if there's something extra we could do to support `Fastkey` or not, currently.

@sergiomt can you let me know me which launcher you are using?

[2018-09-27 14:51] sergiomt commented on #224
Thanks @CDRussell My Home App reports Launcher3. No other launchers installed. It´s quite an out-of-the-box phone.

[2018-09-27 15:21] CDRussell opened #365 "Add To Home shortcut not working for some Launchers"
We added the "add to home" shortcut functionality, originally captured in #224

Since then, some users have reported that it's not working for them. Let's capture some data about which Launchers are not working to see if it's specifically a Launcher problem or something else.

### Reported Launchers

- Fastkey launcher
- Launcher3 (Android 7.0 / Blackview 6000)
- Apolo

[2018-09-29 02:54] In2deep73 commented on #365
I can confirm that the two launchers mentioned here as well as Apolo launcher are not working for me on a Samsung Galaxy S8 (8.1) and a Google Pixel XL (9.0).

[2018-10-02 14:11] CDRussell commented on #320
Fixed by #368

[2018-10-02 14:12] CDRussell commented on #336
Fixed by #368

[2018-10-02 14:40] CDRussell commented on #365
**Tested on a Samsung S6 (Android 7.0)**
✅ Fastkey
✅ Apolo

**Tested on a Pixel 2 (Android 9.0)**
👎FastKey
👎Apolo

It seems that the shortcut is created, but not on the Launcher you'd expect - it adds it to the default `Pixel Launcher` every time you create one.

I don't know what the solution is yet, though.

[2018-10-07 12:57] florian19982 opened #373 "Include German translation"
Is there any attempt to include translations of the string.xml into other languages?
If so, I would be willing to work on a German translation.

[2018-10-08 04:43] divyanshub024 opened #374 "Change Repository name"
## Description

I think the repo name should be more specific like "Duckduckgo.Android" or "Duckduckgo-Android". It makes easy to find the repo in the local directory.

[2018-10-08 14:19] brindy commented on #374
Hi, that's unlikely to ever change, I'm afraid.

But when you do do a git clone you can specify any name you like, e.g.

`git clone --recursive git@github.com:duckduckgo/Android.git duckduckgo-android`

Hope that helps.

[2018-10-09 15:14] divyanshub024 commented on #374
@brindy Thanks for the help.

[2018-10-09 15:14] #374 closed

[2018-10-14 07:12] arunsathiya commented on #365
I tested this further and when using Fastkey launcher, the shortcut is not crested - both on DuckDuckGo and Google Chrome for Android. It's interesting that it works for @cdrussell on Samsung S6 though.

I've also shared this GitHub issue link with the developers of Fastkey on email, to share any ideas they might have.

[2018-10-14 10:13] CDRussell commented on #365
@arunsathiya what OS version are you using? I suspect the problem only exists on newer versions of Android, maybe Oreo and newer.

[2018-10-14 10:17] arunsathiya commented on #365
@CDRussell I am on Android 8.1.0 at the moment. Also noting that it's a OnePlus 5, which might be offering a flavoured version of Android, not stock.

[2018-10-16 15:51] In2deep73 commented on #365
I looked into this some more and it appears that `ShortcutManagerCompat.isRequestPinShortcutSupported(context)` returns `false` when using launchers that do not support the add to home feature (which includes the launchers we confirmed as not working on Android 8+; it seems to return `true` on older Android versions using said launchers, however).

Since other competing browsers seem to also have

[2018-10-17 10:59] CDRussell commented on #365
Thanks for the info, @In2deep73. You are very much right that we should be checking `ShortcutManagerCompat.isRequestPinShortcutSupported(context)` which we aren't currently doing.

This will return false when the current Launcher doesn't support the shortcut. If your favourite Launcher doesn't currently support them, that's an issue for the Launcher to resolve (if it wants to), and there's nothing

[2018-10-17 11:03] CDRussell commented on #365
@arunsathiya if you want to follow-up on your email to `Fastkey`, tell them they likely need to add this permission `com.android.launcher.action.INSTALL_SHORTCUT`.

The permission is only used on newer OS versions (Oreo and newer, I think) so that's why `Fastkey` shortcuts work on older OS versions but not on newer ones.

[2018-10-17 11:18] CDRussell commented on #373
Thank you for your kind offer.

At the moment, we're not looking for contributions for translations. While we do want to better localize the app in future, we're not yet ready for full support of it, and don't want to introduce any additional languages we can't commit to keeping fully updated.

[2018-10-17 11:18] #373 closed

[2018-10-17 11:18] CDRussell commented on #363
I'll re-open this if there's any more relevant info added.

[2018-10-17 11:18] #363 closed

[2018-10-17 11:19] #342 closed

[2018-10-18 08:09] dmaes opened #383 "No Basic Auth"
### App Version
5.11.1 (via PlayStore)
### Device make and model
Motorola Moto G3
### Android version
7.1.2 (LineageOS 14.1-20171109-NIGHTLY-osprey)
### Steps to reproduce the bug
Visit a site with Basic Auth (try [httpbin.org](http://httpbin.org/#/Auth/get_basic_auth__user___passwd_))
### Expected behavior
A prompt opens to ask for your username and password
### Actual behavior
No prompt is opene

[2018-10-18 09:39] CDRussell commented on #383
Internal issue: https://app.asana.com/0/414730916066338/555891326561611

[2018-10-18 09:41] CDRussell commented on #383
Hi, thanks for raising this. We have this on our internal backlog but it's never bubbled up to the top priority wise so we haven't got to implementing it yet. If users vote on this issue with 👍 we'll maybe get it prioritised sooner.

[2018-10-18 13:37] CDRussell commented on #365
Fixed by #382

Thanks again all for your help in raising, diagnosing and solving the problem! 🎉

[2018-10-18 13:37] #365 closed

[2018-10-18 15:38] arunsathiya commented on #365
@CDRussell I shall do that, thanks for getting to the bottom of this and fixing it! 🏆

[2018-10-18 15:44] imesg opened #384 "port forwarding urls no workie"
In URL bar tyype <ip address:port>/something

result "unable to open this type of link"

Have tried other browsers some do and some don't.

Also laptop w/vivaldi works.

Version 5.10. sb (5100)

[2018-10-18 18:16] In2deep73 commented on #384
Hello @imesg,

I just tested some port forwarding URL's and noticed that they work for me if I add "http://" in front of them.  It might be helpful to the devs if you have time to try this as well and report back if this fixes it for you or not.

Devs: Perhaps a change to the UriExtension class is in order?  Something like this? (additions wrapped in ***)
[code]

[2018-10-19 19:45] dmaes commented on #383
Nice to hear it's already in the backlog, looking forward to see it implemented.

[2018-10-27 05:55] JeffAment opened #385 "Inconsistent behavior from DDG image search"
**App version:** 5.12.0 release apk.  Not sure if 5.12.0 introduced this bug, however; I might do one of those log time git search things and report back when I have time.
**Device:** Google Pixel XL 9.0.  This also happens on a friend's phone, who had brought this issue to my attention earlier today.
**Steps to reproduce:** Perform an image search on DDG search engine, select an image and then cl

[2018-10-27 07:01] ashucg opened #386 "Issue with tabs and bookmarks"
**App version**
5.12.0
**Device make and model**
Micromax/Yuphoria - YU5010A
**Android version**
5.1.1
**Steps to reproduce the bug**
See the screencast (GIF)
![ddg](https://user-images.githubusercontent.com/11291284/47600769-eeae3d00-d9e3-11e8-992a-9a3c8194dc5c.gif)
**Expected behavior**
Should be able to use tabs and add bookmarks
**Actual behavior**
I am unable to add bookmarks or use tabs. You

[2018-10-27 07:07] CDRussell commented on #386
Thank you so much for raising this issue. We've had a few people mention similar type problems with the latest release, but it wasn't clear exactly what they were describing or when it was happening from their reports.

This, however, is fantastic. This will definitely help identify the problem. In fact, I have a pretty good suspicion on where to look already.

My problem so far was that I was una

[2018-10-27 07:09] ashucg commented on #386
Sure, I don't mind testing :)

[2018-10-27 07:11] CDRussell commented on #386
Excellent; much appreciated.

Can you tell me which version of Chrome you have installed, and if it is
enabled?

On Sat, 27 Oct 2018, 08:09 Ashutosh Sharma, <notifications@github.com>
wrote:

[2018-10-27 07:28] ashucg commented on #386
WebView (Beta) version: 71.0.3578.20

[2018-10-27 07:32] CDRussell commented on #386
Thanks so much for all this info. Hopefully I'll be able to replicate this now.

I'll post back when I have more info, or if I need help testing a fix (hopefully won't be needed).

Current line of thinking is that the problem might like around the way in which we moved the timing of when the current URL property was set to a different `WebView` callback.

Will update later when I have an update. T

[2018-10-27 08:41] JeffAment commented on #385
**Update:** I did a git bisect and the problem presented itself in commit 54d682ca5ab7db1bb145b7c261be5ec22f5250d2  Everything works perfectly before these changes.

[2018-10-27 08:45] CDRussell commented on #385
Thanks so much for all this info, and for narrowing down on the likely problematic commit; that really helps!

[2018-10-27 10:01] CDRussell commented on #386
Internal issue: https://app.asana.com/0/488551667048375/885011869511894

[2018-10-27 10:07] CDRussell commented on #386
Brief summary:

[2018-10-27 10:11] ashucg commented on #386
Thanks for the update, I will try to downgrade WebView and update you

[2018-10-27 10:53] ashucg commented on #386
Did some tests:

DDG browser: 5.12.0
WebView: 69.0.3497.100 - not working
WebView beta: 71.0.3578.20 - not working

DDG browser: 5.11.1
WebView: 69.0.3497.100 - working fine
WebView beta: 71.0.3578.20 - working fine

[2018-10-27 11:49] CDRussell commented on #386
It turns out the `WebView` version isn't the problem; rather, `onPageCommitVisible` is only called from API 23 onwards.

[2018-10-29 13:58] CDRussell commented on #386
Fixed by https://github.com/duckduckgo/Android/pull/387

A hotfix will be going out for this today. Thanks for the help!

[2018-10-29 13:58] #386 closed

[2018-10-29 15:00] ashucg commented on #386
@CDRussell I've tested `5.12.1` version and it is working fine now :1st_place_medal: Thanks for fixing it!

[2018-11-01 10:04] CDRussell commented on #386
Much appreciated!

[2018-11-03 20:03] MrHallows opened #391 "Searching "std::[...]" gives "Unable to open this type of link" message"
While researching C++ related topics, I searched for "std::fabs" (with and without the quotation marks), but no search results were loaded; only a toast with the message "Unable to open this type of link." I assume that this has something to do with the "site:[...]" search feature, but if so, shouldn't it know the difference between "site:[...]" and "std::[...]"? I thought that surrounding the sea

[2018-11-05 09:29] CDRussell commented on #391
Thanks for reporting this. Yeah, this is a bug, likely the same one captured in #347. Once a fix for 347 is made, that should fix this one, too. Will close this issue for now and you can watch that issue for progress.

Thanks

[2018-11-05 09:29] #391 closed

[2018-11-05 09:30] CDRussell commented on #347
Additional test case to cover under this fix: searches like `std::fabs`

[2018-11-05 12:14] arunsathiya commented on #33
Voting for this as well! This would be a nice feature to have.

[2018-11-07 07:29] ghost opened #393 "Hope to add a new feature"
Mainly can be used to save traffic.

Thank you!

![opera browser beta](https://user-images.githubusercontent.com/44830017/48116658-ab16c700-e25e-11e8-9049-d220b32ffb23.png)

[2018-11-12 03:08] debpedrano opened #397 "LOGO Design Proposal"
Good day PO,

This repo is getting bigger and I am offering you logo design for the repo, everything is for free. I just want to contribute and gain more knowledge about graphics.

Is there any chance I can open up this issue and have your permission to create a logo?

[2018-11-12 13:11] CDRussell commented on #397
Hi, thanks but we have in-house designers for looking after that. Thanks for the offer, though! 🙏

[2018-11-12 13:11] #397 closed

[2018-11-13 11:37] CDRussell commented on #363
That sounds right; Google specifically advise against allowing apps to be installed on the SD card when they contain a widget.

See section `Applications that should NOT install on external storage` from https://developer.android.com/guide/topics/data/install-location

While we don't officially support moving the app to the SD card, some phones will still offer it up as an option, and will likely

[2018-11-14 05:09] edentw opened #398 "Please add this feature"
@CDRussell @subsymbolic

Please add the No images mode option in the browser, thank you!

[2018-11-17 01:52] christophergeiger3 opened #400 "Feature Request: Prompt confirmation for downloads"
It would be nice if before every download a notification prompt would pop up, asking to confirm or deny the download, and would notify as to whether a file with the same name already exists within the downloads folder.

It may be helpful to look at the Opera browser's implementation for this, which I find convenient.

[2018-11-23 11:29] NirmalPrajapat opened #401 "ninja: error: loading 'build.ninja': The system cannot find the file specified."
I just cloned the project and imported in Android Studio, but on build I'm getting this error :

`Build command failed.
Error while executing process C:\Users\Nirmal\AppData\Local\Android\Sdk\cmake\3.6.4111459\bin\cmake.exe with arguments {--build D:\StudioWork\DuckDuckGo\Android-develop\app\.externalNativeBuild\cmake\debug\armeabi-v7a --target clean}
ninja: error: loading 'build.ninja': The syste

[2018-11-23 11:41] CDRussell commented on #401
That's because the project uses git submodules and they won't be checked out if you've just done a `git clone` by default.

You can fix your project now by running this in the checked out project directory:

    git submodule update --init

You'll need to close, and re-open the project in Android Studio and then it should build fine for you.

Alternatively, if you were wanting to do a completely f

[2018-11-23 11:58] CDRussell commented on #401
I've updated this docs (https://github.com/duckduckgo/Android/pull/402) so that should make it clearer for other people going forward.

For now, I'll close this issue assuming that's enough to resolve the problem. If not, just comment again and I'll help.

[2018-11-23 11:58] #401 closed

[2018-11-23 15:07] NirmalPrajapat commented on #401
Now, it's working. Thanks ! 👍

[2018-12-15 07:36] samiuelson commented on #33
Yeah, not having swipe to refresh is so frustrating while browsing.

[2019-01-02 23:17] tankmohit opened #412 "Adressbar disappear by swiping up on a mainactivity, unable to make it appear again."
I have also mentioned this issue long ago, on play store. When you swipe up the address bar, it goes away, and swiping down or doing anything can't help to make it appear again. You have to close the browser, and open it again to enter a new address.

[2019-01-13 09:02] Mikaela opened #415 "Opening a link in another app opens homepage requiring opening the link again before opening"
I am on Android 8.0 on OnePlus 3. When I attempt opening a link from e.g. Telegram or initiate a search from KISS Launcher, DDG opens homepage and I have to switch app to open the link again before it opens as expected.

This doesn't happen on other web browsers on this device and I am unable to reproduce it with DDG on Nokia 1 with Android 8.1.

_Sent from my OnePlus3 using [FastHub-Libre](https:

[2019-01-13 22:17] CDRussell commented on #415
Thanks for reporting this.

Can I clarify something: when you share to the app, and you see the new tab page, does the shared link open in a background tab or not at all?

Also, can you share with me details of
• which app version you're using?
• if you've enabled automatic data clearing or not?
• does it do it sometimes, or every time?

This is sounding very related to a bug I've just fixed (merg

[2019-01-14 19:37] acc85 opened #417 "Sliding up slightly viewing images hides toolbar"
Steps to replicate:
1. Search for something that will result in many image shown when selecting the images tab in browser
2. select the "Images" tab in browser
3. Select an image
4. Slide up slightly without dismissing the image.

Result:
Toolbar is slightly pushed up without going back down without backgrounding then foregrounded the app, or slightly sliding back down.

Possible solution:
Have th

[2019-01-14 23:31] yoshi1125hisa opened #418 "Can I make Japanese documentation ?"
I am Japanese developer.
I want to make a documentation for Japanese.

[2019-01-15 16:02] Mikaela commented on #415
You're welcome.

I had just opened links, not shared them, but when I share links, I see the same thing. DDG opens to the start page with the logo and "DuckDuckGo" text and in URL bar tehre is "Search or type URL". It's the only tab, so it doesn't open into background app unless I close the browser from recent apps and open it again.

5.15.1 sa (51501)

In settings/PRIVACY I see "Automatically cle

[2019-01-15 16:16] CDRussell commented on #415
Thanks for the update.

I'm hoping this will be fixed in the next release; likely be available this week. I'll ping back here when it's released and find out if you're still having the problem with that version.

[2019-01-17 11:00] Mikaela commented on #415
This seems to work on 5.16.0 based on quick text, I changed my primary phone as the replacement doesn't have circuit/battery problem and has VoLTE/VoWiFi.

[2019-01-17 11:00] #415 closed

[2019-01-17 12:58] CDRussell commented on #415
You beat me to it... I was just coming here to post that the new release was out.

Thanks for testing it out. And thanks again for the feedback! 🙏

[2019-01-23 15:30] waleedsamy commented on #245
+1

[2019-01-23 21:47] badener95 commented on #245
Any news on this? It has been here for 10 month now :(

[2019-01-29 02:46] JeffAment opened #422 "Possible fragment lifecycle issue?"
During normal usage of the app I noticed a strange behavior that felt sort of like a lifecycle issue, but I was unable to reproduce.  Upon further investigation I went into developer options and turned on "Don't keep activities" and consistently noticed similar behavior to what I had initially experienced, but only much, much worse.  The bug is relatively self-documenting but I will mention some e

[2019-02-01 22:06] subsymbolic commented on #422
Thanks for reporting this @JeffAment. I think I know the incredible "ubiquitous duck mode" feature you refer to. I have logged this internally so we can get it fixed. Thanks again for letting us know.

[2019-02-01 22:10] subsymbolic commented on #418
Thanks for the offer @yoshi1125hisa. We aren't accepting translations yet however watch this space as that may change in the near future. We plan to have the app professionally translated first and will then look at opening up the app to community translations too.

[2019-02-01 22:10] #418 closed

[2019-02-02 12:46] pwittchen commented on #315
What do you think about clearing this header? I mean sending an empty string as a header value. Do you think this is a good idea to partially solve this issue?

[2019-02-03 00:05] theel0ja commented on #315
@pwittchen Even if you clear it, it's still sent to JavaScript etc. files

[2019-02-03 01:15] theel0ja commented on #315
Example:
https://github.com/theel0ja/x-requested-with
https://lab.theel0ja.info/x-requested-with/

![](https://user-images.githubusercontent.com/5832930/52171223-17677080-2751-11e9-97a7-90ddc8d45616.png)

Screenshot is taken from https://f-droid.org/packages/com.stoutner.privacybrowser.standard

[2019-02-03 18:48] jd666 commented on #383
Please implement.

[2019-02-04 08:47] pwittchen commented on #412
In my case, it behaves as follows:
- swiping down hides the address bar
- swiping up shows the address bar

I'm using Android 9 (Pie) and Pixel 2 phone.

I think, this is correct behavior. Maybe your case appears on a specific Android version, customized OS or specific model of a phone?

[2019-02-06 07:13] ismaelpuerto opened #427 "Enable accessibility service to use a password manager"
The possibility to enable accessibility seevice by demand (maybe), to use a password manager like password androis store

[2019-02-06 14:10] kravietz opened #429 "WebRTC IP leak"
DDG Android app apparently uses Chrome  as underlying rendering engine and as result it's susceptible to WebRTC internal IP leaking even if behind a proxy or VPN. This can be easily tested by browsing from DDG app to [ipleak.net](https://ipleak.net/).

[2019-02-06 22:44] pwittchen opened #431 "Suggestions for autocomplete do not always appear"
This problem is related to autocomplete feature.

Steps to reproduce shows an example with bangs, but it happens for all kind of characters.

**Steps to reproduce the problem**
1. Open the app
2. Type `!` in the address bar
3. Suggestions appear
4. Clear the address bar
5. Type `!` in the address bar again
6. "No suggestions" message appear

**Expected behavior**
- In the step 6 user should see su

[2019-02-06 23:25] Dmitry-Borodin commented on #431
I can't reproduce the issue. What device are you using?
I always see the last page in address bar, when I clear it and put "!" there are suggestions appearing always. Clear and put "!" again doesn't help.

[2019-02-06 23:29] CDRussell commented on #431
That's strange! I can replicate this; thanks for the detailed steps.

I wonder if it's due to RxJava filtering out results due to `!` having been entered twice... The second time (after deleting and entering again) might be filtered out as not distinct.

We'll look into this, thanks.

[2019-02-06 23:35] CDRussell commented on #431
There is no client-side code for the bangs; instead those are being returned from the autocomplete API.

The RxJava chain that is likely responsible is in here, in `configureAutoComplete` function

ttps://github.com/duckduckgo/Android/blob/develop/app/src/main/java/com/duckduckgo/app/browser/BrowserTabViewModel.kt

[2019-02-06 23:45] Dmitry-Borodin commented on #431
Just wrote the same, but wasn't sure. You can see URL changing in the address bar during bangs request.
[Usual search doesn't show DDG URL in the address bar. Probably this "redirect" shouldn't be shown as well]

p,s. Interesting, why I cannot reproduce it. Tested on emulator and android 8 device, latest dev and store versions.

[2019-02-06 23:57] CDRussell commented on #431
It's not even unique to bangs; any search term will do in between deleting the characters and retyping.

Seems to many only happen on the blank tab page though.

[2019-02-07 07:31] pwittchen commented on #431
@CDRussell thanks for the reply and pointing the place in the source code. Maybe I'll try to fix it in my free time when I find the root cause of this issue.

[2019-02-07 08:22] CDRussell commented on #412
There is a partial fix for this in https://github.com/duckduckgo/Android/pull/432. It will prevent it from happening if there is no web view available (so you can't now scroll the omnibar away on the blank tab view)

@tankmohit, can you clarify if this scenario is the only place you have saw this problem? or does it affect you when you have a site loaded in the web view?

[2019-02-07 08:53] CDRussell commented on #431
I had a look at this to make sure the `Rx` thinking held up; it seems like the problem is related but is before it even gets to the `Rx` chain.

There are redundant checks that the query has changed performed, and one of these checks is erroneously preventing the empty query from getting through, which causes the oddity described.

I should have a small fix available for this soon; just checking i

[2019-02-07 10:16] CDRussell commented on #431
PR created for this https://github.com/duckduckgo/Android/pull/433

[2019-02-07 14:20] #431 closed

[2019-02-07 14:21] CDRussell commented on #431
Thanks again for reporting this, and all the info provided. This should be fixed in the next release.

Let me know if it's still causing problems.

[2019-02-07 14:27] CDRussell commented on #412
Will close for now on the assumption that #432 fixes it, at least in the most egregious of cases. I'll re-open if I hear back it's still a problem.

Thanks for raising it providing the info! 👍

[2019-02-07 14:27] #412 closed

[2019-02-11 10:49] jfitie opened #438 "Replace 'Data cleared' Toast with Snackbar"
Internal Issue: https://app.asana.com/0/inbox/608920331025313/1109324284462152/1109385503500087

Please get rid of the toast showing 'Data cleared' after clicking on 'Clear All Tabs and Data'.
Seeing the browser in an empty state is enough of a confirmation. Also, I usually click the Clear Data button before I exit the browser, so it's annoying to have the toast visible for a few seconds after mov

[2019-02-12 06:12] jatinkumarg commented on #438
Hey, can I work on this feature?

I can either reduce the duration of toast or completely remove it.

[2019-02-12 09:12] CDRussell commented on #438
Hi, thanks for the request. I'm not sure we'd want to remove it to be honest. I know it might feel redundant to see it every time, but I figure for some people they will appreciate the confirmation that the data is gone. 🤔

I'll raise it with the team and see what the thinking is, though.

[2019-02-12 09:50] jfitie commented on #438
How about the way Focus does this?

![screenshot_20190212-104612_firefox focus](https://user-images.githubusercontent.com/23396293/52626611-d7705e00-2eb3-11e9-99e6-1dd7e42a25c1.jpg)

[2019-02-12 10:18] CDRussell commented on #438
Ah, I see. So it isn't the fact that it's displaying the message that's the real issue, but more the fact specifically that it uses a `Toast` to do so? If it was a using a `Snackbar`-like approach (like FF does) you'd find that more appealing?

[2019-02-12 11:32] jfitie commented on #438
Yes, that would be much better as the message would then remain in-app and not follow the user outside of it.

[2019-02-12 17:53] jatinkumarg commented on #438
```Snackbar``` seems to be more suitable instead of ```Toast```.

@CDRussell, can I still work on this feature?

[2019-02-12 19:16] JeffAment commented on #422
I was kind of hoping that ubiquitous duck mode was an intended feature, but that's okay!  Thank you very much for your reply, @subsymbolic; I sincerely appreciate you taking the time to investigate, respond to, and formally log this report!

[2019-02-12 21:57] subsymbolic commented on #438
Thanks for the report @jfitie, those Toast messages are pretty outdated and could do with a UI refresh. We have asked our design team to have a look at making them nicer.

@jatinkumarg, thanks for the offer to work on this. Keep an eye on this issue, if we open it up to community development in the future we'll add the "Help wanted" label to it.

[2019-02-12 22:08] subsymbolic commented on #427
Thanks for the suggestion. We have had a number of requests for password manager integration and hope we can add this in the future.

[2019-02-12 22:09] #285 closed

[2019-02-13 08:50] pwittchen opened #439 "[Bug] It's possible to hide address bar on empty browser screen without possibility to undo it"
**Steps to reproduce the issue**:

1. Open browser
2. Hide keyboard with back button
3. Slightly swipe up the address bar
4. Address bar is gone
5. There's no possibility to show it back again without closing and re-opening a browser

See gif below for details.

![duck-duck-go-bug](https://user-images.githubusercontent.com/695319/52698866-b91e6700-2f74-11e9-91b5-c1152d3072c9.gif)

[2019-02-13 09:16] CDRussell commented on #439
This should be fixed in the latest release `5.18.0`. It is rolling out in the Play Store this very second, and should be widely available within the next 2 hours.

It is also available from the GitHub release page https://github.com/duckduckgo/Android/releases/tag/5.18.0

I will close this issue for now assuming the latest release solves this issue. But comment if it doesn't and i'll re-open.

Tha

[2019-02-13 09:16] #439 closed

[2019-02-19 20:42] johannbg opened #441 "Enjoying DuckDuckgo..."
Yes I shall share what I think, directly with you since users are asking me about this "feature" for some weird reason....

Any particular reason you have suddenly decide to no longer provide the duckduckgo android browser userbase the freedom of choice to share what they think about the browser with you and the ability to use it ( first time users ) before demanding end user feedback, that is tha

[2019-02-20 09:45] CDRussell commented on #441
Hi @johannbg.

It's designed not to ask until you have been using the app for a bit; there's both a minimum numbers of searches criteria and a minimum number of days usage criteria. No one should be asked for feedback before they've had a chance to _use_ the app. If that's happening, let me know, as that is not as intended.

You'll probably be pleased to hear that we've already had the discussion

[2019-02-26 00:48] ntoper opened #444 "Proguard File"
Hi,

I think deploying proguard efficiently would reduce the size of the app by 30%. I'd love to do that for you. The contribution guide mentions I should log an issue first before starting to work on it. Let me know

[2019-02-26 13:06] CDRussell commented on #441
_Closing this issue but happy to carry on the conversation._

[2019-02-26 13:06] #441 closed

[2019-03-02 18:06] issueseverywhere opened #449 "Long tapping on an article link shows images options"
Hi!

First, thank you for maintaining duckduckgo privacy browser, which is my default android browser.

On a number of news websites, long tapping on an article link/item on the website homepage shows the options menu for the image of the article, and not the article page.

For example, if i am on the homepage of french news websites such as lemonde.fr / liberation.fr / francetvinfo.fr, longtappin

[2019-03-02 22:14] subsymbolic commented on #444
This is an exciting suggestion. We’ve really interested in the potential performance improvements, less so apk shrinkage.  If you can achieve a measurable performance gain, particularly a reduction in page load times, we would add it. If not, we would avoid it for now as it comes with a long term maintenance and testing overhead.

One question, would you consider R8 over ProGuard?

[2019-03-06 00:12] subsymbolic commented on #429
Thanks for logging this @kravietz, we'll investigate ways to fix this.

[2019-03-06 04:46] ntoper commented on #444
I profiled the app for performance. Issues I have seen so far are coming from:

 com.duckduckgo.app.entities.entityForUrl(url: String): EntityListEntity (>3s to run in my profiler) This looks easy to test and would speed up the codebase tremendously. Should I do it? If yes, I'll create another issue

R8 is better than Proguard btw yes

[2019-03-06 10:52] subsymbolic commented on #444
@ntoper 3s is huge, great catch. Yes, feel free to create an issue to fix this.

[2019-03-07 17:36] subsymbolic commented on #444
@ntoper we're most keen on the ProGuard / R8 optimizations so if you want to spend time on that please do. Regarding the performance issue you found, we were going to fix that pretty soon, but if you wanted to look into it you may be able to sneak in a PR before we get to it. Either way, thanks again for letting us know about it.

[2019-03-07 17:56] ntoper commented on #444
- Proguard/R8 optimization won't help imho but I will give it a try to confirm. I already have a working file with a 30% size reduction
- do you need an issue on the bottleneck or you're good to go? I can fix it, but if you will address it already it's better you do as you know this part better (and it's used everywhere)

[2019-03-09 07:10] ntoper opened #453 "com.duckduckgo.app.entities.entityForUrl is slow"
I investigated the issues. It's simpler than I thought.

**Methodology**
I added a "real time tracker" instead of using Android Profiler (it's not very reliable).

**Further Question**
Also as it's a critical piece of the code maybe I should send a PR with the "slow query log". Do you want it?

**Data**
Here is an extract of some of my logs (time is in ms):

[d.txt](https://github.com/duckduckgo/A

[2019-03-16 06:05] JeffAment opened #455 "Navigation bar clipping into action bar"
**App Version:** 5.19.0
**Device:** Pixel XL, Android 9.0
**The problem:** When scrolling up and down such that the navigation bar is hidden and then revealed, part of the navigation bar bleeds into the action bar.  See gifs below (it’s a little hard to see, so Gabe will show you the first one and the second one is a two-frame animation showing the part that is bleeding into the action bar flashin

[2019-03-18 09:04] subsymbolic commented on #455
Thanks for the bug report and for entertaining us @JeffAment  😆😆😆
Regarding your question about submitting a PR, that would be great! I should have time to review it later this week.

[2019-03-18 09:08] subsymbolic commented on #453
Thanks for reporting this @ntoper. As for a PR yes please! As this is quite serious we have it scheduled internally too, although I don't imagine we'll look at it for another week or two. If we do we'll let you know to avoid duplicate effort.

[2019-03-18 09:10] subsymbolic commented on #444
I noticed you logged the bottleneck for us in https://github.com/duckduckgo/Android/issues/453. That's perfect, thanks for doing that.

[2019-03-19 05:34] JeffAment commented on #455
Sounds good @subsymbolic.  I'll submit a PR as soon as I have a spare moment, most likely sometime tomorrow (Tuesday).  Also, thanks for not getting mad about the [very unprofessional] gif!  :smile:

[2019-03-19 09:54] CDRussell commented on #455
For the record, I love the gif! 😍

[2019-03-20 03:48] JeffAment commented on #455
Thanks for saying something, @CDRussell!  The running joke this year has been that the only movie I watch in 2019 is “How to Lose a Guy in 10 Days” and that it has been on repeat for three months.  This alludes to my many short-lived interpersonal relationships in 2019 that met an untimely demise because of memes that I made.  So, yeah, I genuinely appreciate the both of you taking it in stride an

[2019-03-20 11:00] subsymbolic commented on #449
Thanks for reporting this @issueseverywhere, I have opened it up to community contributions.

[2019-03-22 11:00] subsymbolic commented on #455
Thanks for submitting this @JeffAment. I never managed to reproduce the original bleed issue you reported but would have accepted this change, however it introduces a new issue. When switching from landscape to portrait the omnibar can no longer be scrolled away.

To reproduce:
- Launch the app in landscape
- Enter a search
- Rotate to portrait
- Scroll to make the omnibar disappear, it is now glu

[2019-03-22 11:24] #449 closed

[2019-03-22 11:27] subsymbolic commented on #449
Thanks for submitting this @issueseverywhere and for fixing it @dapacheco. We'll include the fix in our next release.

[2019-03-22 11:44] subsymbolic commented on #393
Thanks for submitting this @ghost. This isn't something we are currently planning, however, we will reconsider if we receive more requests.

[2019-03-22 11:44] #393 closed

[2019-03-22 11:47] subsymbolic commented on #348
The logic in this area has changed and we haven't seen any recent reports so we are now closing this issue but are happy to reopen if it appears again. Thanks for reporting it @nutpantz, if you see it again, do let us know.

[2019-03-22 11:47] #348 closed

[2019-03-22 11:48] #336 closed

[2019-03-22 11:53] #320 closed

[2019-03-22 14:14] dapacheco commented on #383
@CDRussell is there any desire to have a community PR to resolve this issue?

[2019-03-22 14:18] CDRussell commented on #383
Good suggestion; this probably should be flagged for community help to get it done. @subsymbolic you agree?

[2019-03-22 15:11] subsymbolic commented on #383
Great shout. It'll be a while before we can look at this, help from the community would be awesome. I've added the "help wanted" label.

[2019-03-22 23:59] ntoper commented on #453
documenting as it goes (mostly in case someone takes over). I made sure the issue is with the DAO.

I logged access time of the only called method (UriString.sameOrSubdomain). Reported times are very very low and couldn't explain it.

[2019-03-25 10:19] subsymbolic commented on #385
We have a backend image encoding header issue that may be causing this. I'll report back when the backend is fixed and we can then retest to see if this is still happening.

[2019-03-26 11:32] subsymbolic commented on #453
@ntoper thanks again for reporting this, we are now picking it up internally.

[2019-03-30 09:08] issueseverywhere opened #464 "Allow to toggle on/off images"
Hello,

First, thanks a lot to all the maintainers of duckduckgo android, which is my default browser.
Then, thanks again for solving the last issue i added here: problem with opening a link in background tab when there was an image linked to it, on many news websites.

I would like to be able to toggle on/off images in the parameters, has it is possible on opera mini for example (by loading a uni

[2019-03-31 23:18] allmfrd commented on #464
My ex hacked my account and is tracking me deleting accounts driving me nuts what do I do

[2019-03-31 23:19] allmfrd commented on #464
I cant figure out why duckduck go wont allow me to install it so I can set my privacy settings

[2019-04-03 01:07] casibus opened #466 "Close the current tab"
A "close current Tab" button/optiom seems to be missing. One always has to navigate through the list of open tabs first to close it.

[2019-04-03 01:12] casibus opened #467 "Store all open tabs as bookmarks"
That feature would be important when dealing with high numbers of tabs.

[2019-04-05 10:33] CDRussell commented on #383
Implemented in https://github.com/duckduckgo/Android/pull/460

[2019-04-05 10:33] #383 closed

[2019-04-05 16:44] dapacheco commented on #453
@subsymbolic I know that is now being fixed internally now, but my interest was piqued so I took a look at the problem.
I suspect you may have already found the same or better improvements, but on the off chance that this is still in the backlog here is what I found / tried.

I have identified two factors which cause the `entityForUrl` call to be slow:
- having to search at most 2374 items to find

[2019-04-08 10:26] CDRussell commented on #453
Hi @dapacheco, thanks for profiling that and for the suggested change.

As you've observed, the list iteration is the worst offender here and it is something that is being changed. The map implementation is one thing we're considering, but we're also evaluating another idea which is to avoid pre-loading the entities altogether and doing a direct DB lookup when needed; this latter approach looks pr

[2019-04-09 13:20] Mikaela opened #470 "DNS over HTTPS support and encrypted SNI?"
Firefox supports them also on Android and currently using DNS over HTTPS or DNS over TLS requires installing Intra or similar app acting to be a VPN (unless using Android 9 where enabling a VPN disables DoT).

I think DoH should be opt-in and the server configurable even if you ran your own resolver.

[2019-04-13 22:33] usabilitest opened #473 "HTML5 audio controls"
There seems to be an issue with PLAY control of HTML5 audio element in DuckDuckGo on Android.

[2019-04-16 08:12] subsymbolic commented on #467
Great suggestion, I've shared it with our product team.

[2019-04-16 08:20] subsymbolic commented on #473
Thanks for reporting this, we will investigate.

[2019-04-16 08:49] subsymbolic commented on #473
I can confirm that tapping the play button does nothing on https://tekeye.uk/html/html5-video-test-page however hitting the sound button and THEN pressing play does work. I have opened this up to the community to fix.

Internal task reference: https://app.asana.com/0/414730916066338/1118831380832661.

[2019-04-16 09:01] subsymbolic commented on #455
Thanks again for logging this @JeffAment. We have struggled to reproduce it so are now closing it however we are happy to open it again should we receive more requests to fix it.

[2019-04-16 09:01] #455 closed

[2019-04-16 09:04] subsymbolic commented on #296
Thanks for logging this @reno-a, we are currently working on performance internally. Watch out for it in future merges/updates.

[2019-04-16 09:04] #296 closed

[2019-04-16 10:55] subsymbolic commented on #466
Thanks, this is a great idea, I've shared it with our product team.

[2019-04-16 10:55] #466 closed

[2019-04-16 10:55] subsymbolic commented on #466
Internal link: https://app.asana.com/0/search/1118831380832670/1118831380832671.

[2019-04-16 10:56] subsymbolic commented on #467
Internal task: https://app.asana.com/0/1114312848812008/1114312848812012

[2019-04-16 11:11] subsymbolic commented on #335
Thanks for reporting this. We have logged this internally and will fix it there. Thanks again!

[2019-04-16 11:11] #335 closed

[2019-04-16 11:12] subsymbolic commented on #335
Internal link: https://app.asana.com/0/715106103902962/1115742071228982

[2019-04-16 13:00] subsymbolic commented on #245
We are now actively working on this.

[2019-04-17 13:27] subsymbolic commented on #473
It looks like this issue can be solved by turning on `hardwareAcceleration` in the manifest. I'll test and include that in the next release. Thanks again for reporting @usabilitest.

[2019-04-18 11:05] subsymbolic commented on #473
This issue seems to be os specific (see comment in https://github.com/duckduckgo/Android/pull/474). The html5 video play button works fine on
- Lollipop devices
- Q devices
- all emulators

And does not seem to work on:
- Pie devices

We have not yet checked Marshmallow, Nougat or Oreo so these may be affected too.

It may be possible to overcome the issue with some javascript touch magic. I'll co

[2019-04-20 09:24] GuiltyDolphin opened #476 "Allow encoded spaces in url path"
App version: 5.21.2 (via F-Droid)

When opening a link (in a new tab, or typing the URL in manually) which has `search/X%20Y` at the end, the page will open as a DDG search (with the URL Decode IA showing) rather than on the expected webpage.

For example, the search `http://foo.com/search/bar%20baz` displays as a DDG search, but `http://foo.com/search/bar` loads the expected webpage.

[2019-04-22 15:03] bopoh13 opened #478 "Setting off automatic redirection"
In the third world countries, mobile operators create viral advertising networks, where they make paid subscriptions through redirects and push notifications.

Can you add a setting to disable automatic redirects from the browser? Legally, it is impossible to fight them, because they are monopolists.

Thanks for attention.

[2019-04-22 19:18] CristianMG commented on #473
Hi

I´m trying to reproduce the error, I have discovered that in my Xiaomi MI8 if I install after deleting all data(uninstall the application) reproduced video is a success, it seems that reproduction video is broken after deleting tabs and data inside the app.

I don't see any log error suspect moreover I will attach logs in this comment and video

XIAOMI MI8
Android version: 9
MIUI Version: GLOB

[2019-04-29 09:55] badener95 commented on #245
Seems like this got finally fixed. I will close the issue then.

[2019-04-29 09:56] #245 closed

[2019-05-01 21:08] runboy93 opened #482 "Privacy concern"
Privacy should be #1 thing for duckduckgo browser, but currently I have mixed feelings about certain possibly missing features, that should be there! I can list some.

#1 Do Not Track (DNT header)

I'm not really sure do you have already this included, really hard to say as there is no way to say if it's there or not.

duckduckgo is already blocking some trackers, which is a good start, but DNT he

[2019-05-02 06:35] arunsathiya opened #483 "Amazon app store version out of date"
I just downloaded DuckDuckGo Android on Amazon app store and noticed that the app version is 3.1.0. Is this something you might be able to update on Amazon app store?

[2019-05-06 23:07] nicolashleon commented on #473
Hi!

I'm just trying to provide some additional information on the issue as well as the previous investigation on #474

After trying the release and develop versions of the app both seem to be working as expected for the following environment:

- **DDG Android App Version** 5.23.0(release) and 5.24.0(develop)
- **Device** Pixel 2
- **OS Version** Android 9
- **Chrome Version** 74.0.3729.136

In my

[2019-05-07 19:46] runboy93 commented on #429
Or more simple, with this website:
https://ip.voidsec.com/

[2019-05-08 10:39] CDRussell commented on #315
As a follow up to this, I searched again for an issue on Chromium about being able to disable this header but I couldn't see one - really surprised there isn't an issue for this as it's been a known problem for years.

Created this: https://bugs.chromium.org/p/chromium/issues/detail?id=960720

[2019-05-15 20:29] subsymbolic commented on #483
Thanks for reporting this. We aren't currently publishing to the Amazon app store but will investigate if we can start again soon.

[2019-05-15 21:38] subsymbolic commented on #482
Thanks for all the feedback @runboy93. My thoughts below:
1. DNT is almost never honoured by websites. That said, this will hopefully change in the future and ensuring we have the DNT header would be a nice addition to our product. Do you mind creating a specific issue for this suggestion?
2. Duplicate of https://github.com/duckduckgo/Android/issues/429
3. We block third party cookies by default.

[2019-05-15 21:38] #482 closed

[2019-05-16 09:24] haaavk opened #490 "Remember 'Desktop site' setting in bookmarks and home shortcuts"
It will be nice if bookmarks and home shortcuts remember 'Desktop site' setting.

[2019-05-17 12:33] lorenzo-a opened #492 "Changing default settings"
I looked at the source & documentation but have not found a way to achieve the following goal:

Is it possible to adapt the source in a way such that default settings are changed?

[2019-05-17 16:31] subsymbolic commented on #492
What do you want to change?

[2019-05-18 06:31] lorenzo-a commented on #492
Changing the default privacy settings to the strictest. I have been looking at the code but couldn't wrap my head around the best way to go about this.

[2019-05-24 01:57] subsymbolic commented on #492
I'm closing this as your issue is unclear. I'm not sure what settings you mean however we aim to be as private as possible. If you notice a specific area where you think we can improve feel free to open a new issue with details.

[2019-05-24 01:57] #492 closed

[2019-05-24 02:09] subsymbolic commented on #473
I can confirm that this is resolved in more recent versions of WebView/Chrome 74.0.3729.157. Thanks for the input all.

[2019-05-24 02:09] #473 closed

[2019-05-28 08:51] GuiltyDolphin opened #494 "Feature Request: Centre on current tab"
I quite often have a large number of tabs open, with relevant tabs close together.

It would be really useful if, when pressing the tabs button, the view centred on the current tab, rather than the first.

This would make it easier to e.g., delete the current tab, as well as find tabs opened from the current one.

Maybe this could be an option in the settings, if there is still call to be able to

[2019-06-02 07:12] arunsathiya opened #499 "Site-specific search doesn't work; attempts to open as a link instead and fails"
When searching for `site:producthunt.com change password` using the search/URL box at the top, the process fails with a `Unable to open this type of link`.

Visiting DuckDuckGo.com and typing the same works though.

It's just that searching on the URL box fails.

[2019-06-03 03:49] rlourette commented on #209
Same here

[2019-06-03 15:43] JulienGenoud commented on #305
@subsymbolic do you have any plan to do it? Can i do a PR ?

[2019-06-04 13:25] subsymbolic commented on #209
Thanks all for showing interest in import/export, we don't currently support it but do have it in our backlog. Keep 👍 it to show you want it. If the demand grows we may be able to bump the priority and get to it sooner.

[2019-06-04 13:27] subsymbolic commented on #305
Hey @JulienGenoud thanks for the offer, that's awesome. I think our designers will cover this, I'll check-in with them and report back.

[2019-06-04 18:07] subsymbolic commented on #305
I've checked with our designers and they are on the case. We will have adaptive icon support out soon.

[2019-06-08 18:27] thecliguy opened #502 "Open Link in New Tab (target="_blank")"
When clicking a link where `target="_blank"` the resultant page loads in the current tab.

EG:
`<a href="https://www.github.com" target="_blank">GitHub</a>`
<a href="https://www.github.com" target="_blank">GitHub</a>

The expected/conventional behaviour is to open such links in a new tab.

Can the app either adhere to the conventional behaviour or provide the ability to enable/disable it via the o

[2019-06-10 20:34] fakeNewsDay opened #506 "Freedom from the Google Recaptcha Abusive"
I come towards you for help.

I find the Recaptcha is always stopping me from access to the websites.

Yesterday I recieve the message from a friend about how the stop the Recaptcha. I say this message to you now:

"Big businesses and multinationals are trying to take away all our freedoms. Driving is one of the few freedoms in life available today. Googles recaptcha is training AI to take that fr

[2019-06-11 08:49] GuiltyDolphin commented on #499
See also #347

[2019-06-11 08:58] arunsathiya commented on #499
Oh, I completely missed that. I see an open PR against this issue. @subsymbolic, could you advise on which issue could be closed at this stage? 🤔

[2019-06-11 09:59] subsymbolic commented on #499
Thanks @arunsathiya and @GuiltyDolphin. I'll close this one as a duplicate as it came after https://github.com/duckduckgo/Android/issues/347.

[2019-06-11 09:59] #499 closed

[2019-06-12 17:09] subsymbolic commented on #347
Thanks to everyone who has submitted their PRs and ideas here, it has been really valuable. Taking all the ideas into consideration I would like to move forward with separating the logic for items that have an authority from those that do not when detecting the type in our `SpecialUrlDetector`. I imagine splitting the logic into two categories as follows:

**Category 1: Items with a Uri.authority

[2019-06-12 19:35] subsymbolic commented on #506
Thank you for getting in touch, blocking reCAPTURE requests is a good idea. I have shared it with our tracker blocking team internally.

[2019-06-12 19:35] #506 closed

[2019-06-12 22:16] subsymbolic commented on #347
Thanks for all the activity here. I have accepted one PR that goes most of the way towards fixing this, however there are still a number of edge cases. While `foo site:duckduckgo.com` now works
`site:duckduckgo.com foo` and `site:duckduckgo.com` do not.

It is quite tricky to fix this without breaking other links so this will require some wider refactoring. We have logged the problem internally an

[2019-06-12 22:33] subsymbolic commented on #506
Internal link: https://app.asana.com/0/261348710882778/1112021188759722

[2019-06-15 19:35] donfuxx opened #510 "Feature request: delete tab by swipe"
In the tab list screen it would be nice to be able to delete a tab by swiping it. Clicking the small x-icon to close a tab is quite inconvenient for users with fat-finger-syndrome.

[2019-06-16 18:05] issueseverywhere opened #512 "Add a login-password manager"
Hi!

A lot of websites need to sign up/sign in to be usable, is it possible to add a login/password manager in ddg privacy browser?

Thanks

[2019-06-17 09:52] subsymbolic commented on #476
This is now fixed and will be available in the next release. Thanks @GuiltyDolphin and @donfuxx.

[2019-06-17 09:54] #476 closed

[2019-06-17 09:56] subsymbolic commented on #453
This was fixed in https://github.com/duckduckgo/Android/pull/481. Thanks for reporting it!

[2019-06-17 09:56] #453 closed

[2019-06-20 19:46] subsymbolic opened #519 "Tabs show home instead of webpage"
**Overview:**
When switching tabs, sometimes the home screen rather than the expected webpage is displayed.

This seems to be a lifecycle management bug that happens when the activity is recreated. It is common for android to kill activities not in use to conserve resources and then recreate them again when needed. We should handle this elegantly.

**To reproduce:**
- Turn on the "Don't keep activ

[2019-06-21 00:52] jdcrutch commented on #209
Just switched from Chrome to DDG on my Adroid tablet, and was disappointed to find that I can't transfer my bookmarks.

[2019-06-23 22:33] dg-demers commented on #209
Please add the bookmark import/export function.
And until you do please tell me where the bookmark file is stored, what format it's in, and whether rooting my Android phone is necesssary to access it.

[2019-06-30 13:54] ghost opened #523 "block"
@subsymbolic

Hello,

Can the website advertisement be blocked?
https://xingwangzz.com/search/

Ad storage location:
https://xingwangzz.com/123/

thank you!

[2019-07-03 01:34] KingCosmic opened #525 "position: fixed; css issue."
while developing some mobile CSS I noticed that position: fixed; seems to not work on the android mobile app on the version (5.28.3 se).

[2019-07-05 14:00] Jaason commented on #209
Actually, I have a similar question. I have opened more than >100 tabs. I want to check them, but it's easier to get through it on the desktop. Where I can find a file with opened tabs? Is there any?

[2019-07-08 11:15] subsymbolic commented on #494
Thanks for the feedback @GuiltyDolphin, this is something we are working on internally right now

[2019-07-08 12:04] subsymbolic commented on #523
Hi @ghost we don't currently block advertisements, only trackers.

[2019-07-08 12:04] #523 closed

[2019-07-09 13:02] Tritonio opened #527 "Domains visited get leaked to DDG servers"
https://github.com/duckduckgo/Android/blob/ed91c9e551d2a9e1559199f110bd94c076784c71/app/src/main/java/com/duckduckgo/app/global/UriExtension.kt#L60

This seems to be leaking all(?) the domains that users visit to your servers.

[2019-07-11 14:53] tagawa commented on #527
Hi @Tritonio and thanks for your feedback. The purpose of the request you observed is to retrieve a website's favicon so that it can be displayed in certain places within the app or on the results page. We use an internal favicon service because it can be complicated to locate a favicon for a website. They can be stored in a variety of locations and in a variety of formats. The service understands

[2019-07-12 13:07] stefan01 commented on #527
Hi @tagawa,
i do trust DDG not using the data in a bad manner, but still i don't get your decision.
The best privacy products are made from companies you don't need to trust using your data in a good way, because they collect no data.
So for a privacy product it is really hard for me to understand why you chose a minimal performance increase (?) over a critical privacy issue (in my opinion).
I thi

[2019-07-12 13:28] akshay-kapase opened #528 "Add widget panel on our home screen not working on some devices"
Hi, I'm trying to click on add widget. But, I don't see any widget in the homescreen.

App Version - 5.28.3 se (52803)
Device Model - Redmi 5A (Xiomi)
Android Version - 8.1.0
Steps to reproduce the bug - Click on Add Widget Button
Expected Behaviour - Show widget in home screen
Actual Behaviour - No Widget shown in home screen

[2019-07-12 18:40] donfuxx commented on #527
I understand that there are different favicon standards and that in some cases it can be difficult to locate it.
I believe that those are edge cases though and for a vast majority of websites a simple host/favicon.ico should work.
My suggestion for an increased privacy here is:
1. Attempt to load favicon directly from website by simply appending /favicon.ico to hostname (should be the most easy an

[2019-07-14 11:42] stefan01 commented on #527
Just to understand: Why can't the same algorithm, which is being used in the DDG endpoint, be utilized in the app?
If I understand correctly the only reasons are slightly increase performance, reduced network traffic and easier implementation.
Is that correct?

[2019-07-15 10:35] chaptergy opened #529 "Improved "add to home""
Hey,

Currently, when you add something to the homescreen, it uses the URL as the icon name and sometimes has issues fetching the favicon. It would be better if it used the page title, or even better, let me define the name manually before adding it to the homescreen. Maybe even let me edit the url, in case they automatically append data to the url, which I don't want. And it would be great, if th

[2019-07-21 09:51] thecliguy commented on #502
@subsymbolic I don't mean to chase, just curious to know if PR #511 hasn't been reviewed because no one has had time to do so or whether you have no intention of reviewing it?

[2019-07-21 13:18] subsymbolic commented on #502
@thecliguy it's a good suggestion and we are tempted to make the change but still discussing the pros and cons internally as it can be abused by sites and many users find the new tab launch unexpected. I'll update this issue again once we have made a decision.

[2019-07-21 18:27] donfuxx commented on #502
It could be a setting to allow opening of new tabs, so the user can decide what he actually wants.

[2019-07-22 10:46] subsymbolic commented on #502
@donfuxx definitely - that's one of the options we are considering.

[2019-07-22 11:20] subsymbolic commented on #519
Thanks @donfuxx for submitting a PR, the fix for this will be included in the next release. 🎉

[2019-07-22 11:20] #519 closed

[2019-07-23 06:38] teemue commented on #512
I'd prefer better support for autofill when using external password manager such as KeePass; Currently DDG won't pass on the address of website, only com.duckduckgo.mobile.android and you have to pick the right entry manually.

[2019-07-23 16:21] C0mm4ndo opened #537 "DuckDuckGO-android throwing error when compiling or building"
I am using Android Studio 3.4.2
[code]

[2019-07-23 16:26] CDRussell commented on #537
That looks like you didn't do a recursive clone for the project. Can you give that a try, as detailed here https://github.com/duckduckgo/Android#building-the-project, and let me know if that fixes it for you?

[2019-07-23 16:53] reno-a opened #538 "Move address bar to bottom of screen"
The current smartphones are bigger and the URL bar is is not easy to access with one hand.
Maybe placing the address bar at the bottom of the screen would be a good solution?

[2019-07-23 17:03] C0mm4ndo commented on #537
thanks alot that's worked. <3

[2019-07-23 17:04] #537 closed

[2019-07-24 16:19] subsymbolic commented on #538
Thanks for sharing this! It's one of many options that our designers are considering for the search bar. I'll pass this on to them.

[2019-07-24 16:19] #538 closed

[2019-07-24 16:31] subsymbolic commented on #528
Thanks for sharing this @akshay-kapase. We check to see if widget pinning is supported with `AppWidgetManager.isRequestPinAppWidgetSupported` and have a fallback option if it is not. This seems to work on most devices.

I wonder if your device is responding to this incorrectly or if there is a bug in our logic? I have added the [help wanted](https://github.com/duckduckgo/Android/labels/help%20want

[2019-07-24 16:35] subsymbolic commented on #525
Thanks for reporting this @KingCosmic. We use Android's WebView to render pages, so the bug may lie there, outside our control. I recommend checking your device for OS updates, as well as updating Chrome.

[2019-07-24 16:35] #525 closed

[2019-07-31 21:16] whichbuffer commented on #512
I think password managers are just a security holes but maybe it's possible to use with 2FA verification

[2019-08-05 21:13] huxaiphaer opened #544 "Adding continuos integration to the project"
I wanted to take an initiative to add a **Travis** as continuous integration, in order to track the builds of the master and other developers branches. And also it could help in other areas such as adding the test coverage etc. This will boost the quality of this amazing product.

[2019-08-07 13:40] GeoffMaciolek opened #547 "Play Store Description: link to this project is broken (5.30.0)"
## Description
This is an easy one! In the Google Play store, at the end of the description for this app, the text reads

The link is including the period at the end of that sentence - it should be removed. (I suspect the hyperlink is generated automatically, so there should either be a space before the period, or it should just be taken out entirely).

## Expected Behavior
Link in Google Play Sto

[2019-08-07 13:48] GeoffMaciolek commented on #547
After a quick search, I don't think the Google Play Store dsscription exists as part of this repository, unlike the changelog etc. This will need to be changed via the Google developer / play store web interface. I think that's accessible here: https://play.google.com/apps/publish/

See: https://stackoverflow.com/questions/26436865/app-description-update-on-play-store

[2019-08-07 13:53] CDRussell commented on #547
Good spot! Fixed it now; Google Play should show the change within the next few hours.

Thank you!

[2019-08-07 13:53] #547 closed

[2019-08-07 14:32] CDRussell commented on #544
Hi, that's a kind offer but we already use Bitrise for our CI.

Thanks for the suggestion.

[2019-08-07 14:32] #544 closed

[2019-08-08 16:01] subsymbolic commented on #385
I have just retested this on develop and it seems to be fixed. @JeffAment thanks for reporting it, please let us know if you can still reproduce it

[2019-08-08 16:01] #385 closed

[2019-08-08 16:05] subsymbolic commented on #510
Thanks for requesting this. We now have this in PR in https://github.com/duckduckgo/Android/pull/540. It should be in test soon and then available to everyone in the coming weeks.

[2019-08-08 16:05] #510 closed

[2019-08-08 16:05] subsymbolic commented on #494
Thanks for requesting this. We now have this in PR in #540. It should be in test soon and then available to everyone in the coming weeks.

[2019-08-08 16:05] #494 closed

[2019-08-08 16:47] JeffAment commented on #385
@subsymbolic
I just pulled down from develop, and it appears to be working fine on my end also.  Very nice! :+1::tada:

[2019-08-08 16:50] subsymbolic commented on #502
A lot of users are asking for this so we have decided to add it. We'll start by honoring the default behavior without a toggle but may introduce one if we need to later.

[2019-08-08 17:06] subsymbolic commented on #385
Great news, thanks for checking it for us.

[2019-08-09 13:45] CDRussell commented on #252
Fixed by #553

[2019-08-09 13:45] #252 closed

[2019-08-14 20:19] t-arn opened #557 "Feature request - Manage bookmarks"
Please add the possibility to sort (manual / automatic) the bookmarks and to organize them in groups or categories. A search within the bookmarks would also be handy.

[2019-08-15 16:39] CDRussell opened #559 "Help us translate the app"
## New languages
We will be adding additional languages to the app and we're needing help in improving our translations.

For now, we're only looking for improvements to the list of languages identified and are not looking to add completely new languages yet. We may request help on doing this in future, though.

Do you know any of the following languages, and want to help us improve? If so, please

[2019-08-15 16:41] CDRussell commented on #86
Hi @coffeeplanter, if you're still interested in helping us improve the app for Russian speakers, we have just opened this up for community contributions. Please see #559 for details.

[2019-08-15 16:43] CDRussell commented on #373
Hi @florian19982, if you're still interested in helping us improve the app for German speakers, we have just opened this up for community contributions. Please see #559 for details.

[2019-08-15 16:45] CDRussell commented on #252
Hi @AntiGuide, if you're still interested in helping us improve the app for German speakers, we have just opened this up for community contributions. I appreciate the efforts you went to before in creating a whole set of translations for the app, and apologise again for not being in a position to accept them. Right now, we have translations available for German, but need help improving them before

[2019-08-15 18:49] florian19982 commented on #373
Sure! I'll have a look at it as soon as possible.

[2019-08-16 14:40] coffeeplanter commented on #559
Hi, I've seen the current Russian translation. It's pretty accurate and tidy, in my opinion. But I'll make a pull-request.
And... why to translate string resources marked as non translatable? )

[2019-08-16 14:54] CDRussell commented on #559
non translatable should indicate things like the company name, where DuckDuckGo doesn't need to be translated. however, it's possible some things have been incorrectly marked as non-translatable that should be translated, or things are currently translated that shouldn't be.

A tidy-up PR would be awesome! 🙏

[2019-08-19 05:02] torerobo opened #562 "application in the GP, the link is incorrect"
In the description of the DDG application in the GP, the link is incorrect:
https://github.com/duckduckgo/android

True link:
https://github.com/duckduckgo/Android

GP:
https://play.google.com/store/apps/details?id=com.duckduckgo.mobile.android

[2019-08-19 12:01] pwittchen commented on #562
I see link with uppercase "A" in the GP. Moreover, both links redirects to the correct repo anyway.

[2019-08-19 14:38] torerobo commented on #562
Location RU GP
screen
![IMG_20190819_173433_378](https://user-images.githubusercontent.com/35532898/63274144-f529e000-c2a7-11e9-9d25-9bbb584a6dc3.jpg)

link open
![IMG_20190819_173436_774](https://user-images.githubusercontent.com/35532898/63274172-01ae3880-c2a8-11e9-9451-c56e9332e67c.jpg)

[2019-08-19 14:40] pwittchen commented on #562
It looks like an issue with the dot in the end of url - not the address
itself.

--
Piotr Wittchen,
http://wittchen.io

pon., 19 sie 2019, 16:38 użytkownik torerobo <notifications@github.com>
napisał:

[2019-08-19 14:47] torerobo commented on #562
Yes, that's right, the dot is substituted and does not open (I didn’t notice it, so others may not notice it).

[2019-08-19 23:18] subsymbolic commented on #562
Thanks for reporting this, I have updated the link to remove the full-stop so it should work now. Let us know if you continue to see the issue.

[2019-08-19 23:18] #562 closed

[2019-08-20 16:37] subsymbolic commented on #528
Thanks for submitting this. We have investigated and found that a small number of devices have non-standard widget behavior. Unfortunately we don't see a way to fix this at this stage.

[2019-08-20 16:37] #528 closed

[2019-08-20 17:54] akshay-kapase commented on #528
Thanks for taking your time to look into this issue

On Tue, Aug 20, 2019 at 10:07 PM Mia Alexiou <notifications@github.com>
wrote:

[2019-08-21 14:27] marcosholgado commented on #330
This has now been released in **[5.30.0](https://github.com/duckduckgo/Android/releases/tag/5.30.0)**

[2019-08-21 14:27] #330 closed

[2019-08-21 21:38] ozmy commented on #141
Good day.
I join the request

[2019-08-22 09:05] Crashillo opened #568 "URL parsing"
The address bar is not able to parse the `IP:PORT` as an URL, but just a string, so it does an regular search. You need to prepend `http://` to make it work.

It would be nice if the regex could understand the format `IP:PORT` by itself.

[2019-08-22 16:28] rafaelmr2 opened #569 "Internationalized domain name"
DDG does not convert characters properly Internationalized domain name (IDN) in URL bar.

![photo_2019-08-22_11-51-46](https://user-images.githubusercontent.com/4471805/63524967-436ef700-c4d3-11e9-80e3-97424d765c39.jpg)

[2019-08-23 09:56] dadmoscow commented on #141
+1

[2019-08-26 20:12] subsymbolic commented on #569
Thanks for submitting this @rafaelmr2. Unfortunately as these URLs can be used in phishing attacks, we display them in punycode for security reasons. Most other browsers do the same. I hope we find a way to overcome this one day.

[2019-08-26 20:12] #569 closed

[2019-08-26 20:16] subsymbolic commented on #444
Closing as we have no current plans to reduce the apk file size.

[2019-08-26 20:16] #444 closed

[2019-08-26 20:17] #230 closed

[2019-08-26 20:24] #175 closed

[2019-08-26 20:28] subsymbolic commented on #191
Yes, we do block third party cookies. We have also made a note of your enhancement requests internally. Thanks for submitting them!

[2019-08-26 20:28] #191 closed

[2019-08-26 20:31] subsymbolic commented on #422
@JeffAment we have changed a lot of logic in this area and I believe this is now fixed. Please let us know if you see it again and we can reopen this task.

[2019-08-27 21:47] ahwelp opened #576 "URL sanitization"
Is there a way of make a URL sanitization on the APP.

Services like Facebook allow user tracking for other sites by a GET parameter on the URL &fbclid=.

The Facebook tracking could be removed with a regex

`[&?]{1}fbclid\=(.{61})`

[2019-08-28 18:21] subsymbolic commented on #422
Thanks so much for testing this for us @JeffAment, I have reopened the issue.

[2019-08-29 00:24] JeffAment opened #578 "Download notifications not displayed"
**App version:** 5.32.1
**Device model:** OnePlus 5 (hardware device)
**Android version:** Oxygen OS 9.x.x (I didn't think the minor versions were relevant here, but I can find out the exact version if you think otherwise)
**Steps to reproduce:** Initiate a download on a OnePlus 5 running Oxygen OS
**Expected behavior:** Notification appears with download progress and confirms that the download ha

[2019-08-29 22:03] FlorianSb opened #580 "Unable to Install a downloaded APK from DuckDuckGo browser"
It is not Possible to install an APK after download with DuckDuckBrowser. I use build 5.32.1.53201 on linage OS 16. I have downloaded from F-Droid

[2019-08-29 22:11] FlorianSb opened #581 "Popup for saving files"
I think a useful extension for the browser would be to ask if you want to save a file. How Firefox does it

![Screenshot_20190830-000523_Firefox_Klar](https://user-images.githubusercontent.com/54689374/63979742-e4544800-cab9-11e9-8565-1c26243d5f29.png)

[2019-09-05 12:56] malnvenshorn opened #584 "Add gestures to open bookmarks and tabs view"
I'd like to suggest the implementation of gestures to easily open the bookmarks and tabs view. E.g. swiping from the left edge to the right opens the tabs view and swiping from the right edge to the left opens the bookmarks view.

[2019-09-05 20:41] subsymbolic commented on #580
Hi @FlorianSb, I'm excited to hear that you're using linage OS. Unfortunately we don't yet support it, but hopefully will in the future.

[2019-09-05 20:41] #580 closed

[2019-09-06 07:08] FlorianSb commented on #580
Thanks for your reply. But unfortunately same Issue on Stock Android.

[2019-09-06 07:28] CDRussell commented on #580
@florianSb, do you mean you can install our app fine, but when you download an APK using it, you can't install it? Is that right?

If so, it's likely because of the app installation permission added in Oreo or Pie. There's an additional permission we need to add so that we can do what you're asking IIRC. We can look into it and see if it's something we want to add.

Or, if that's not what you're d

[2019-09-10 07:59] malnvenshorn opened #588 "Close tabs when pressing the back button and there is no history left"
I'd like that tabs are closed when pressing the back button and there is no history left for this tab. After that the browser could jump to the previous used tab.

[2019-09-10 18:34] nikit19 opened #589 "Broken site reporting activity does not validate the url"
The url that the user is submitting should be checked if it is a valid url.

I would like to work on this issue.

[2019-09-10 20:12] subsymbolic commented on #589
Thanks for submitting this, however this isn't something that our users are asking for or that we need to change internally. We get a lot of single word submissions e.g "facebook" and don't currently see a need to restrict them.

[2019-09-10 20:12] #589 closed

[2019-09-11 07:13] nikit19 opened #591 "User is able to submit blank text in positive feedback"
User is able to submit blank text in positive feedback. In my opinion this shouldn't be blank because this could be done by mistake.
I understand in case of negative feedback it makes sense to leave it optional as some kind of feedback has already been shared by selecting the options before but in case of positive feedback nothing is conveyed.

Please let me know if it is a valid issue, I would lo

[2019-09-11 11:05] subsymbolic commented on #591
@nikit19, we are interested in positive feedback numbers, even when the comment box is left blank, so don't plan to change this.

[2019-09-11 11:05] #591 closed

[2019-09-14 18:04] thecliguy opened #594 "Favicon Retrieval - Proprietary Dependency"
A website I maintain did not have a favicon, so today I decided to add one. I'll refer to this icon as `ICON 1`.

Once I'd added `ICON 1` to the site I expected it to be displayed in DuckDuckGo Android's tab menu but it did not, instead all I got was the default globe icon:

![DefaultIcon](https://user-images.githubusercontent.com/23440389/64911889-5ca84380-d71f-11e9-8cb8-b3d54dec77a7.png)

I then

[2019-09-15 10:27] thecliguy commented on #594
Having made no changes to the site for at least 17 hours, the favicon retrieval service now loads the correct icon consistently when I call it from multiple different internet connections and DuckDuckGo Android now shows the icon in the tab menu.

I noticed in my Apache web logs that yesterday (2019-09-14) a `DuckDuckGo-Favicons-Bot` had visited several times, the last time being 16:34 BST. The bo

[2019-09-20 09:33] gostaDrivekitt commented on #288
This feature is needed for apps using Webviews and deep links/custom scheme links to go back to the app.
Would be awesome to have so that the DuckDuckGo browser work seamlessly as Chrome on Android.

[2019-09-27 13:03] subsymbolic commented on #588
Thanks for posting this @malnvenshorn, this could work well if pressing back on a tab that was opened from another tab, however might break expectations if it jumps to an unrelated tab. We'll explore and consider it internally. Thanks again for sharing.

[2019-09-27 13:03] #588 closed

[2019-09-27 13:04] subsymbolic commented on #584
Thanks for sharing @malnvenshorn, I'll pass this on to our UX team.

[2019-09-27 13:04] #584 closed

[2019-09-27 19:37] subsymbolic commented on #594
Thank you for posting this @clickguy. While this project is open source we do make some API calls to our backend, which is not open source, to avoid reinventing the wheel for each product.

Regarding your suggestion around doing on-device favicon retrieval, we are considering that, however it hasn't bubbled up to the top of our backlog yet. Keep an eye on the project for future developments.

[2019-09-27 19:37] #594 closed

[2019-10-01 13:56] KaiRoesner opened #599 "Download via php script does not work"
- App version: 5.34.0.mx (53400)
- Device model: Motorola Moto G6
- Android version: 9 (PPSS29.55-37-4-3)
- Steps to reproduce the bug
Go to
https://spo.handball4all.de/Spielbetrieb/index.php?orgGrpID=35&score=47146
In the top table on this page under the column heading "Bem." tap the "PI" link.
- Expected behavior
A pdf file should be downloaded and displayed in Acrobat Reader.
- Actual behavior

[2019-10-01 16:22] kolmercm commented on #209
We need import/export features for DuckDuckGo! I have so many bookmarks I can't spend the time to transfer them one by one!

[2019-10-10 12:28] subsymbolic opened #605 "Feedback text boxes have unreadable text labels"
**Issue:** Text field labels on Feedback screens are unreadable when activated

**Steps to reproduce:**

1. Open the app, tap on the overflow menu and select **Settings**
1. Select **Leave Feedback**
1. Tap the smile button
1. Note the text field looks readable
1. Tap inside the text field and the label will move to the top
*Expected behavior:* Text label should be the same cornflower blue color a

[2019-10-11 01:25] AriqAhmad commented on #605
Hi,
I was able to reproduce this. I'm trying to clone the repo and see if I can find a fix for it. If it does then I'll do a pull request.

[2019-10-12 16:24] renanferrari commented on #559
Would it be ok to add language variants, since it may not be considered a "completely new language"?

I'm asking this because I believe **Brazilian Portuguese** would be a great addition in the list, based on the fact that it is – by far – the most widely spoken Portuguese variant in the world, while **European Portuguese** is only the fourth:

Rank | Country | Number of Portuguese Speakers (Est.)

[2019-10-13 13:36] geekanamika commented on #559
@CDRussell If you are planning to translate the app to Hindi (Hi) in near future, I would be happy to help. Thanks.

[2019-10-14 11:17] subsymbolic commented on #581
Closing as this is a duplicate of https://github.com/duckduckgo/Android/issues/400. Thanks for submitting it though, it's a good suggestion.

[2019-10-14 11:17] #581 closed

[2019-10-14 11:42] subsymbolic commented on #605
The PR fixing this has now been merged, ready for the next release. Thanks for the contribution @JeffAment.

[2019-10-14 11:42] #605 closed

[2019-10-15 13:42] subsymbolic opened #607 "Long press tabs button to open a new tab"
Allow a user to launch a new tab by long pressing the tab switcher button.

[2019-10-18 10:03] subsymbolic commented on #607
This will be available in the next release. Thanks for the contribution @JeffAment.

[2019-10-18 10:03] #607 closed

[2019-10-18 14:07] subsymbolic commented on #305
The adaptive icon is now PR https://github.com/duckduckgo/Android/pull/612 and will released in the next 1-2 weeks. Thanks for logging this issue and suggesting the change @dstaley.

[2019-10-18 14:07] #305 closed

[2019-10-18 21:40] subsymbolic commented on #306
Hi @Moxville, thanks for your questions. We block pop-ups, 3rd party cookies and perform https upgrades. In terms of content blocking, we block trackers and so indirectly block many ads that are trackers however have no plans to do full-scale ad blocking nor do we plan to support Chrome Extensions.

[2019-10-18 21:40] #306 closed

[2019-10-19 16:50] cooncreek40 commented on #209
Yes, please implement a bookmark import feature. Also, set up a folder option for bookmark organization. These two issues are seriously the only items stopping my from setting DDG to my default browser.

Thank you.

[2019-10-31 04:43] denizevrenci opened #618 "Search queries of the form `.*:.*` results in bad response"
For example, the query "std::string" gets interpreted as a link and returns the response "Unable to open this type of link".

Possibly related to https://github.com/duckduckgo/Android/issues/347.

[2019-11-04 00:22] kso9 commented on #209
That would work for me too short term. Is the bookmark file readable or encrypted on Android?

[2019-11-05 21:54] alanStocco commented on #209
Same situation. And I would be happy to help implement this important future.

[2019-11-09 17:12] FlorianSb opened #626 "Fingerprint when leave the app"
What do you think of a function that allows you to spear the app with a fingerprint after leaving it?

[2019-11-12 22:48] RoestVrijStaal commented on #350
Any updates on this issue?

Also #141 seems to be related....

[2019-11-14 23:58] Gitoffthelawn commented on #209
I'm also very interested in having bookmarks import/export functionality.

A couple people have asked where and how they are currently stored, but there has been no response.  Could you answer those questions, please?

[2019-11-16 15:14] JeffAment opened #631 "Broken site"
**App version:** 53602

**Description**:
I tried to go to https://www.cvs.com this morning, and it appears to be broken with no change when requesting the desktop version.  Please see the pics below of what the page currently looks like, and what it's supposed to look like.

**"Mistaken identity" theory**:
This appears to be a user agent issue, and I noticed that any suffix starting with `"DuckDuc

[2019-11-17 13:56] icarus56 commented on #209
Until you provide us with the basic non-brainer functionality of import/export bookmarks, surely the least you can do is tell us where they're stored.

[2019-11-18 20:37] subsymbolic commented on #626
@FlorianSb are you communicating a vulnerability or suggesting a new functionality? If the former please submit it via https://hackerone.com/duckduckgo so we can fix it. If the latter, we put privacy first so wouldn't consider fingerprinting.

[2019-11-18 20:37] #626 closed

[2019-11-18 23:25] cd1063 commented on #626
I do not understand what I need to do more.  My 2 phones a two laptop's are down and to top it off I received 413 emails in the last 3 4 hours asking me and suggesting to me what to do about the situation.  I just a new learner that was eager to get involved then all this.  It was not my fault someone back doored the duckduckgo.  EXTention in Firefox and took all my CV information and screwed up a

[2019-11-20 17:57] Laicure opened #636 "Inquiry and Feature Request"
Version: 5.36.3

Why run at start-up permission?
I don't like apps doing that.
May you please explain why?

Also, I am using a custom DDG url bookmark settings (you know, for theming and ddg settings).
Will users have the option to customize the default search duckduckgo engine by using the said url thing above?

[2019-11-20 18:09] CDRussell commented on #636
We need to periodically download data in order to keep users safe. This data includes updates to tracker lists and https upgrades.

In order to ensure that our download jobs continue to happen even after the user restarts their device, we need to include this permission.
Without this permission, our scheduled job to update the lists would stop after the device was powered off.

More info:
https://

[2019-11-20 18:10] CDRussell commented on #636
As for the other part of your question, I'm not sure what you mean. Can you elaborate? Thanks

[2019-11-20 18:28] JeffAment commented on #636
@Laicure If you are referring to the bookmarklets for DDG with the URL params, this was patched by PR #633 and is available in the latest release, so you should not need to use the custom bookmarklet any longer as the cookies with the settings are now persistent.

[2019-11-21 03:16] Laicure commented on #636
@CDRussell and @JeffAment, thanks for the clarifications!

Oh sorry, it was the ddg bookmarklets (I forgot the term).

I think, on my end, that would suffice without a specific setting. As long as it is persistent, I'm good.
Thanks for linking the reference.

Issue cleared ;)

[2019-11-21 03:16] #636 closed

[2019-11-28 19:25] nhatzHK opened #637 "Do not sleep on full-screen"
When watching a video on the Android app in full-screen, the screen dims and subsequently goes to sleep. It's kind of annoying to keep tapping the screen to keep it awake, or worse, to remove the display settings directly.

[2019-12-01 10:08] qrkz opened #638 "Webview positioned partially offscreen"
The fixed bottom navigation bar on webpages stay hidden until the user scrolls down the page and the address-bar of the browser hides.

The issue is that the browser doesn't take into account the height of addressbar while calculating the height of viewport(vh). Almost all other mobile browsers subtract the addressbar height from the viewport height.

[2019-12-03 07:38] lemanno opened #641 "Search engine"
How can I change the search engine?

[2019-12-04 12:14] shahsurajk commented on #641
Duckduckgo is a search engine, having to change the search engine would probably make this just a privacy centric browser, for which there are already existing solutions like [Firefox focus](https://github.com/mozilla-mobile/focus-android) and [Firefox fenix](https://github.com/mozilla-mobile/fenix).

The whole idea of this app is to use duckduckgo as the default search engine, with it's privacy e

[2019-12-04 12:19] shahsurajk commented on #638
Any particular website to test this scenario?

[2019-12-04 13:21] subsymbolic commented on #641
@lemanno thanks for posting. Search selection isn't a feature that we currently plan to support, we want to provide full privacy protection for users.

[2019-12-04 13:21] #641 closed

[2019-12-06 01:21] cd1063 commented on #638
I have tried on several websites and not getting the same results. I'll try a few more more social and encrypted sites tonight and see if I get any different results.

[2019-12-16 08:22] sinus-x opened #648 "Feature request: Do not track"
Would it be possible to add "Do not track" option to the settings? It's the single feature I'm missing in comparison with Firefox Focus.
Thanks a lot, for both the app and the project in general

[2019-12-19 13:49] subsymbolic commented on #638
Thanks for yous input and for seeking examples. A solid breaking example will help us triage and prioritize this. If an important site that many of our users need is breaking, we would bump the priority.

[2019-12-26 14:55] francescosoave opened #660 "Dark mode improvements"
Hello,
There are a couple things that bug me about the app dark theme:

- The menu (dropdown) is still white (shouldn't it be dark too?)
- The search results page is not in dark mode (and I wish it was)

Please see screenshot attached.
![Screenshot_20191226-140122](https://user-images.githubusercontent.com/26126452/71480160-18d1d980-27f8-11ea-8098-d0d8e7309c3b.jpg)
![Screenshot_20191226-140130](ht

[2019-12-26 16:55] francescosoave opened #661 "bottom search bar"
Hello, I'd like to suggest a feature, an option in the settings that allows to move the search bar + menu (basically the whole top bar) to the bottom for easier usability.

[2019-12-26 16:59] francescosoave opened #662 "widget: transparent background"
Hello, I'd like to suggest a feature to allow useras to have a transparent widget. As you can see the screenshot below, to have the grey part fully transparent with only the icons showing.

![Screenshot_20191226-140113_1](https://user-images.githubusercontent.com/26126452/71483726-79b5dd80-2809-11ea-84ba-7606b3294846.jpg)

[2019-12-27 11:22] qrkz commented on #638
You can try [qrkz.github.io](https://qrkz.github.io/vj/pages/botnav.html).
What to look for:
When the page initially loads, you can only see a part of the fixed bottom navbar.
When the user scrolls the page only then is the navbar visible...

you can even try out any website which has a fixed bottom navigation bar.

[2020-01-01 13:01] qrkz commented on #638
We can see the bug by opening the PWA version of Pinterest or m.youtube.com and see how the bottom navbar isn't easily accessible... Bottom navbar in pinterest is almost inaccessible...

[2020-01-08 18:35] subsymbolic commented on #502
This final fix for this is now merged and will be available in the next release. Thanks for reporting it @thecliguy and for helping us solve it @donfuxx.

[2020-01-08 18:35] #502 closed

[2020-01-09 20:45] CDRussell commented on #638
I had a quick look at this today, and the issue is that the web view can actually off be positioned partially offscreen depending on the scrolling. When you scroll the page down, the toolbar slides up, as does the web view. So only when the toolbar is fully up off screen is the web view fully positioned onscreen.

It seems to be a combo of the scroll behaviour + `CoordinatorLayout` that is causing

[2020-01-12 13:47] 1007tejas commented on #599
Having a similar issue downloading a file, *.vcf, with content-type "text/vcard". The mime type, magic number, is correctly set on the server. Using the Android Files utility shows that the  file type of the downloaded file is described as a html document. In android Contacts/settings/import selecting .vcf masks the file and it is not considered a valid text/vcard. The server is debian9 and it set

[2020-01-13 08:26] KaiRoesner commented on #599
My issue appears to have been fixed - can't reproduce.

[2020-01-13 08:26] #599 closed

[2020-01-14 13:03] 1007tejas opened #670 "Mime type of Vcard extension .vcf not handled correctly"
Duckduckgo version 5.40.3mc (54003)

Downloading a file having extension *.vcf, with mime content-type "text/vcard", is classified as a html document, not as a vcf file. The mime type, magic number, is correctly set on the Debian 9 server. In Android contacts/settings/import selecting .vcf masks the file because it is not considered a valid text/vcard. The mime type is not being handled correctly.

[2020-01-14 13:11] #670 closed

[2020-01-25 09:35] stevenleeS0ht opened #676 "Play video in landscape when the video is shape is landscape."
Currently, when disable auto-rotate option in Android system.  duckduckgo-android will play all video in portrait in fullscreen mode.

However, this is not good for video watching.

I would like to recommend that at the moment of touching fullscreen button in the web page. When the device is placed in landscape, Then if the video's shape is landscape, then it will be played in landscape. Otherwise

[2020-01-25 21:41] stevenleeS0ht commented on #676
@CDRussell , @subsymbolic , What is your opinion?

[2020-01-26 07:52] cmonfortep commented on #676
Thanks for submitting this @stevenleeS0ht. I'm going to mark this issue as `enhancement`.

Friendly reminder, in case anyone is willing to help here submitting a PR, according to our [contributing](CONTRIBUTING.md) guidelines, please mention your intention first. If it fits with our product direction and is a good candidate for community development we will happily accept the contribution.

[2020-01-30 11:09] Poopooracoocoo commented on #676
IIRC DDG Browser for Android is based on Chromium.

I have a link to the appropriate Chromium issue on their Gerrit in one of my issues. Could someone please link that issue? It's the one related to JW Player.

I had no idea Firefox Fenix finally added that! It's a shame that Focus is being neglected by Mozilla and has critical bugs. In fact, that's why I'm here! DDG Browser is like a better versi

[2020-01-30 11:15] Poopooracoocoo commented on #660
*cough* prefers-color-scheme *cough*

[2020-01-30 11:16] Poopooracoocoo commented on #576
There are Firefox and Chrome extensions that do this. It's something to think about.

[2020-01-30 11:19] Poopooracoocoo commented on #557
Add importing and exporting to the list too! Oh and being able to tap and hold on a bookmark search result and view it in its folder (it would scroll down to where the bookmark is to show context).

I don't really know much about DDG Browser yet. It seems that it doesn't use Chromium's UI?

[2020-01-30 11:22] Poopooracoocoo commented on #470
If it's based on Chromium, DDG Browser could use Bromite's patches for DoH! :)

[2020-01-30 11:30] Poopooracoocoo commented on #288
I love how Firefox Focus handles links. Links to external apps don't open automatically and prompt me. I can open a link in the current tab (or for a link using the menu) in another browser or app by going to the menu.

I love browsing the web in Focus and then opening the ones I want in my browser. With Reddit I can open them in the app or not. I usually open Reddit links in the app to save them

[2020-01-30 11:54] Poopooracoocoo opened #681 "Ad blocking settings like Bromite"
To clarify, I'm referring to being able to set an adblock filter. Bromite has its own and Chrome has its own. DuckDuckGo Browser does need one by default but the ability to would be awesome.

[2020-01-30 11:56] Poopooracoocoo commented on #681
Don't mind my stupid mistake.

[2020-01-30 12:12] Poopooracoocoo opened #682 "Tap and hold back button to view tab history"
Bonus: tap and hold back and forward buttons in menu to see history

[2020-01-30 12:13] Poopooracoocoo opened #683 "Open link in app (with custom sheet) in menu"
A la Firefox Focus.

[2020-01-30 12:14] Poopooracoocoo opened #684 "Make "Add bookmark" an icon left of refresh in menu"
![Screenshot_1581139339](https://user-images.githubusercontent.com/51363864/74079711-364cc100-4a8f-11ea-81c5-a58e7c2b84b3.png)

[2020-01-30 12:18] Poopooracoocoo opened #685 "Show information about connection when a user has tapped on "Encrypted Connection" in Privacy Dashboard"
Stuff like what TLS version and certs. You get the gist.

[2020-01-30 12:19] Poopooracoocoo opened #686 "Pressing back after dismissing keyboard in find in page should close find on page toolbar"
I think some users will be surprised to see that it just navigates back in the tab and doesn't close the find in page toolbar

[2020-01-30 12:25] Poopooracoocoo opened #687 "Missing typing indicator in feedback form input fields"

[2020-01-30 12:33] Poopooracoocoo opened #688 "Make scrollbar in webpages less prominent"
![Screenshot_1581139447](https://user-images.githubusercontent.com/51363864/74079736-7d3ab680-4a8f-11ea-8b4b-7da118a6250b.png)
I have the light theme on and am on a white page. The scrollbar appears on a black line. This is probably for contrast. I'm not sure what Chrome does but I never notice it and can see it when I actively want to. The black line obscures the page.

[2020-01-31 02:31] Poopooracoocoo opened #689 "Make toolbar "snap away""
In various other browsers such as Chrome, you can scroll just a little bit (I think when the toolbar is hidden by about 50%) and the toolbar will snap away.  The toolbar also snaps back in. It's a bit hard to describe but I believe you guys will understand if you try scrolling in Chrome (or Bromite/Vivaldi/Edge/any other browsers with Chromium's UI) and compare it to DDG Browser for Android.

[2020-01-31 02:43] Poopooracoocoo commented on #467
@subsymbolic hey uh what happened to this

[2020-01-31 02:48] Poopooracoocoo commented on #638
Related: #689

[2020-01-31 02:49] Poopooracoocoo commented on #648
DNT is itself a fingerprinting issue but choices and defaults are what is important.

[2020-01-31 02:50] Poopooracoocoo opened #690 "Open bookmark in new tab from menu"

[2020-01-31 02:55] Poopooracoocoo opened #691 "Add app shortcuts and/or widgets for clearing data and opening a new tab/searching"

[2020-01-31 02:59] Poopooracoocoo opened #692 "Option to disable searching bookmarks in address bar"
Some people may only want bookmarks to show in the bookmarks page and nowhere else.

[2020-01-31 03:19] Poopooracoocoo opened #693 "Should not be able to show or hide toolbar when typing in a website (when keyboard is open)"
It's pretty annoying.

I have no idea how Chrome for Android works with a keyboard and mouse but it is also worth thinking about those too.

[2020-01-31 03:26] Poopooracoocoo commented on #538
@subsymbolic How come this was closed? I'm sure y'all use an internal issue tracker but closing triaged issues just results in duplicates such as #661

[2020-01-31 03:40] Poopooracoocoo opened #694 "show url instead of search query in address bar"
or maybe make this an option?
what does everyone think?

[2020-01-31 03:46] Poopooracoocoo commented on #636
@CDRussell
You guys should include this in the readme or description! You should also include a link to the [Play Store](https://play.google.com/store/apps/details?id=com.duckduckgo.mobile.android) and [F-Droid](https://f-droid.org/en/packages/com.duckduckgo.mobile.android/) listings! :)

[2020-01-31 04:24] Poopooracoocoo opened #695 "Make the navigation bar light grey in light mode"
This would also look a lot nicer with the Android 10 gestures

[2020-01-31 07:36] sinus-x commented on #648
Well, yes. The W3C discontinued the project calling it "a failed experiment" a year ago, as I just found out.

There isn't much data on support, however, Google isn't using it and Safari dropped the support completly. Maybe there really is no reason for adding it, if it is ignored as a privacy and used as a tracking feature.

[2020-01-31 12:22] damluk opened #696 "Too much interaction to go back to previous tab"
If I am not mistaken, with the last update the app started to honor `target=_blank`. At least it opens links in new tabs without being explicitly told so. This is not bad per se, but now the browser seems to need too much interaction to go back to the site that provided the link. The back button goes back to blank when pressed once, and closes the app when pressed twice. One has to explicitly sele

[2020-01-31 12:53] subsymbolic commented on #696
Great feedback @damluk, thanks for sharing, I'll look into this.

[2020-01-31 13:10] subsymbolic commented on #661
This is a big product change and not something we plan to do so I am closing out the issue however we have shared this with our product team as a future idea. Duplicate of #538.

[2020-01-31 13:10] #661 closed

[2020-01-31 13:15] subsymbolic commented on #538
It's a big product change and not something we plan to do so I've closed it out. I really like the idea though and the product team is aware of it, maybe one day.

On the duplicate side of things - it happens. People should search open and closed issues before raising a new one but sometimes forget

[2020-02-03 13:31] xfarrow opened #700 "Scrolling speed doesn't match finger speed"
When scrolling a page, the URL menu hides, right? But when it's hiding the scrolling speed changes, leading to an unexpected behaviour.

[2020-02-04 12:05] xfarrow commented on #694
I agree

[2020-02-05 08:52] Poopooracoocoo commented on #700
Related: #689

The way DDG implemented the toolbar is like Firefox Focus. We like how Chrome's toolbar works.

If you swipe on the page, it scrolls both the page and the toolbar. In Chrome the toolbar scrolls away first, then the page (instead of both simultaneously) and also snaps away.

[2020-02-05 08:55] Poopooracoocoo commented on #538
@subsymbolic but by default open issues are searched. If an issue is closed, people will assume it was implemented, turned down or is a duplicate/spam.

[2020-02-05 13:55] cmonfortep commented on #700
Thanks for the feedback. I already see @Poopooracoocoo correctly summarized how hiding/showing the toolbar affects the scrolling effect.

Seems like we have some issues related to our toolbar animations: https://github.com/duckduckgo/Android/issues/638 https://github.com/duckduckgo/Android/issues/689

I will create a task in our internal backlog to keep this improvement under our radar.

[2020-02-05 14:22] cmonfortep commented on #695
@Poopooracoocoo it would be really helpful for us if you could include any screenshots (of the part we are talking about) to understand better your proposal. That component usually changes between different devices/brands and it would really nice to have a visual example of your scenario. Thanks!

[2020-02-05 14:34] cmonfortep commented on #692
Thanks for letting us know about this feature request.

Bookmark section is something we will improve/change in a future project. I will keep this as feedback to be shared with our product/design team once we start working on that section. In any case, this should be approved by them and be aligned with our product direction.

[2020-02-05 14:38] cmonfortep commented on #691
Hey @Poopooracoocoo, we already have app shortcuts for the actions you mentioned, also a search widget. Have you had the opportunity to try them? Thanks!

[2020-02-05 14:51] cmonfortep commented on #690
Hey @Poopooracoocoo, could you add a description to his issue? I would like to understand better how is the proposed user flow. Also, what means "from menu" exactly? We have many screens related to bookmarks or the browser, are you talking about the screens where we show all user active tabs?

[2020-02-07 12:48] subsymbolic commented on #692
We A/B tested this a few months ago with an option in settings however it unfortunately received very little engagement suggesting that this isn't a feature users generally want. We removed it and don't currently have plans to add it again.

[2020-02-07 12:48] #692 closed

[2020-02-07 12:55] ParanoidBeing opened #705 "Cancel launched Coroutines onDestroy"
from the docs of CoroutineScope

We can convert

`class BrowserActivity : DuckDuckGoActivity(), CoroutineScope`

to

`class BrowserActivity : DuckDuckGoActivity(), CoroutineScope by MainScope()`

get rid of

`    override val coroutineContext: CoroutineContext
        get() = SupervisorJob() + Dispatchers.Main `

because, from the docs of MainScope :

`public fun MainScope(): CoroutineScope = Cont

[2020-02-08 04:40] Poopooracoocoo commented on #690
@cmonfortep sorry. I thought I made this clear.

I was referring to the bookmark manager and the menu of bookmarks themselves. In Chrome and other browsers you can tap and hold to open it in a new tab. DuckDuckGo has chosen to go with a menu instead and so that's where "Open in new tab" would go.

[2020-02-08 04:46] Poopooracoocoo commented on #695
@cmonfortep I'm talking about the Android system navigation bar at the bottom of the screen.

In apps like Settings, the navigation bar is translucent (I think they call it a scrim?) and in some fully transparent. I've heard some stuff about window insets and how you can make the navigation bar fully transparent (which looks great with apps that have bottom navigation).

In DDG Browser, the naviga

[2020-02-08 05:20] Poopooracoocoo commented on #691
😅

[2020-02-08 05:20] #691 closed

[2020-02-08 05:27] Poopooracoocoo commented on #692
@subsymbolic I imagine that once/if it's possible to bookmark all open tabs, this feature would get a lot more use.

[2020-02-10 15:21] subsymbolic commented on #467
We close out ideas after sharing them with our product team, if they are unlikely to ago ahead in the foreseeable future. We're a small team and it's our way of managing the issues list.

That said, this one might happen as we did something similar on iOS so I'm reopening. Thanks for the ping!

[2020-02-12 14:21] cmonfortep commented on #705
Thanks for the suggestion. I agree with you and we already included `MainScope` in one of our latest features inside our project. But still, we need to experiment a little bit more with this and validate that covers all our scenarios.

[2020-02-13 05:37] ParanoidBeing commented on #705
Cool, what are your thoughts regarding cancelling all coroutines on destroy ?

[2020-02-13 22:08] gothmog123 opened #712 "Feature request:background video playback"
Thanks

[2020-02-15 17:03] cmonfortep commented on #712
Thanks for submitting this. It would be nice if you could elaborate a bit more on your feature request.

[2020-02-15 17:08] gothmog123 commented on #712
Sure, thanks, so in most android browsers if you are playing a video and switch to another app the video playback stops. But in Brave for instance you can continue listening to the video if you switch to another app or another tab in the browser.

[2020-02-15 17:11] cmonfortep commented on #705
We do agree on canceling on those lifecycle methods, and using `MainScope` will take care of that for us. But we still need to go deeper and understand if we can combine `MainScope` with custom `ExceptionHandler`. Happy to see you so proactive on this issue. Thanks for that!

[2020-02-17 00:45] tvalle commented on #693
Can I work on this one?

[2020-02-24 12:21] #695 closed

[2020-02-24 12:28] malmstein commented on #695
@Poopooracoocoo thanks for raising this! It's now fixed and will be out in the next release :shipit:

[2020-02-24 23:39] Dunkl commented on #209
I am using DDG within Safari, but if I could only export my bookmarks from there into your app, then I could use your app.
This is basic functionality, duckies.

[2020-02-29 15:31] fazlerabbi37 opened #728 "[FR] allow sharing all open tabs"
It would be great to have an option to share all open tabs just like the close all tabs option. User may need to save all tab before hitting clear all tab and data and enabling share all tab would allow the user to either copy it in clipboard or save it in a note taking app.

A heartfelt thank you for all that you’ve done.

[2020-02-29 15:47] fazlerabbi37 opened #729 "Allow selecting bookmarks to perform bulk operations"
Going through the issues I saw two requests related to bookmark, import/export(#209) and sort (#557). Also, a request for storing all open tab in bookmarks (#467) which seems may get implemented soon. Allowing the user to select bookmarks would enable user to do the existing tasks like delete and coming tasks like export/import in bulk which is always helpful.

Thanks again for this awesome open s

[2020-03-02 09:41] cmonfortep commented on #728
As you already saw (you commented about that in https://github.com/duckduckgo/Android/issues/729), we have a related feature logged in our internal backlog that will make possible to store all open tabs as bookmarks https://github.com/duckduckgo/Android/issues/467

In any case, thanks for the feedback, this gives us visibility of what users are missing in our browser.

[2020-03-02 09:53] cmonfortep commented on #690
Currently, a bookmark will be opened in a new tab by default. Is there something you are missing?

[2020-03-02 09:57] cmonfortep commented on #728
Closing this task in favor of https://github.com/duckduckgo/Android/issues/467 and https://github.com/duckduckgo/Android/issues/209

[2020-03-02 09:57] #728 closed

[2020-03-02 10:42] Poopooracoocoo commented on #690
@cmonfortep sorry! i meant to say that it would be nice if tapping opened it in the current tab and if you could open it in a new tab from the menu.

[2020-03-10 23:28] subsymbolic commented on #559
We are adding Estonian, Latvian & Turkish support as well as filling in gaps across our already supported languages and would appreciate any help validating these translations too.

See https://github.com/duckduckgo/Android/pull/740 for a list of upcoming changes.

[2020-03-11 16:16] anna-seppala commented on #141
Is anyone looking into adding this feature?

[2020-03-11 17:02] anna-seppala commented on #350
Just to add to this, if you use a manual proxy on your Android WiFi, unencrypted HTTP traffic seems to work fine. I set up a proxy on my laptop and am channeling traffic through it from my Android. However, even after installing a CA certificate on my phone, I can't browse SSL-secured sites on duckduckgo (on Chrome it works). Is there any work being done to add this feature?

[2020-03-15 17:53] epicodertime opened #743 "duckduckgo hackerone ip logging and xss"
![duckduckgo xss](https://user-images.githubusercontent.com/41688975/76707187-8d176d00-66c3-11ea-929f-712742737cb4.jpg)
![xssip logging](https://user-images.githubusercontent.com/41688975/76707188-8e489a00-66c3-11ea-9e3f-b5e01d54da51.jpeg)
![Inkedintresting_LI](https://user-images.githubusercontent.com/41688975/76707189-8ee13080-66c3-11ea-9469-8d01cbcdfe03.jpg)
hi, duckduckgo staff I reported a vu

[2020-03-15 17:54] epicodertime commented on #743
if you need additional information please ask

[2020-03-15 18:07] epicodertime commented on #743
It also disappointing that duckDuckgo is not abiding by its time to triage time  Time to first response (from report submission) - 2 business days
Time to triage (from first response) - 2 business days
It's been 20 days

[2020-03-15 18:18] epicodertime commented on #743
And if needed I will help duckduckgo create a patch and help protect users

[2020-03-16 15:03] cmonfortep commented on #743
Hello @epicodertime, thanks for taking the time to submit this issue on HackerOne and also here. According to our [Contribution guideduilines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#report-an-issue) security issues should be posted directly through https://hackerone.com/duckduckgo.

As far as I see, this doesn't seem related to our Android App, so just to avoid duplicat

[2020-03-16 15:21] epicodertime commented on #743
Hi @cmonfortep I wanted to comment this because hackerone staff is ignoring me and I wanted to get the attention of the DuckDuckGo security team and sorry for putting this on github I just wanted to protect DuckDuckGo users I know it’s off topic but I believe in putting users first as there any way you can talk to DuckDuckGo staff to review my case and I will close this issue

[2020-03-16 15:21] #743 closed

[2020-03-16 17:22] zsweigart opened #744 "Android App Can't Handle Intent Format URIs"
- App version -> 5.46.0
- Device model - > Pixel 3a
- Android version -> Android 10
- Steps to reproduce the bug ->

1. Create an app that has a package of com.example.app and an intent filter for test://redirect
2. Create a webpage that fires an intent format intent https://developer.chrome.com/multidevice/android/intents
intent://redirect/#Intent;scheme=test;package=com.example.app;end"
3. open

[2020-03-16 18:09] cmonfortep commented on #743
No problem. Thanks for your comprehension. I will try to ping the team internally 👍

[2020-03-17 11:22] juniorjainsahab commented on #729
@cmonfortep and @subsymbolic are the import/export feature in bookmarks is completed? if not, I would like to work on it.

[2020-03-17 11:37] cmonfortep commented on #729
Hi @juniorjainsahab. We don't have green light for that feature yet, and pretty sure, once it's ready to be implemented, it will be done internally as it will involve design and product work. Thanks for offering your help here.

[2020-03-26 09:56] AndrewR8 commented on #689
could you describe it a little more? @Poopooracoocoo

[2020-03-27 04:59] Poopooracoocoo commented on #689
@AndrewR8 on other browsers the toolbar I either fully shown or hidden. In DDG Browser the toolbar can be partially shown.
It's a lot easier to understand when you compare scrolling in DDG Browser with another browser yourself

[2020-03-30 07:04] RichyRich7-crypto commented on #638
Try implementing floating keyboard.

[2020-03-30 12:06] cmonfortep opened #753 "Downloading a file link with target=_blank opens a new blank tab"
**Background**
PR https://github.com/duckduckgo/Android/pull/666/ added support for handling target=_blank links, which allows for a link to be opened in a separate tab.

Some of these links can be files that the user wants to download. Downloading any of these files results in the app opening a new blank tab.

**Steps to reproduce**
Navigate to http://www.granditaliaperth.co.uk/menus.html and cli

[2020-03-30 12:13] cmonfortep opened #754 "Navigation buttons hidden on some devices"
**Background**
After clicking on fire button, a bottom dialog appears to request user confirmation to clear all tabs and data.

**To reproduce:**
- Install app
- Go to settings and switch to light theme (if you're not already on it)
- Go to the browser and press the fire button

Seen on:
Pixel 3 XL device, API 29
Pixel XL emulator, API 29

**Actual behavior:** Fire dialog appears and however syste

[2020-03-30 13:52] AndrewR8 opened #755 "Address bar loses focus when scrolling web page."
**Steps to reproduce**:

1) Open any web page.
1) Click on address bar.
2) Start scrolling web page.

**Expected result**:
I'm not sure.
It seems to me one of the following should happen:
1) Address bar loses focus and the keyboard disappears.
2) Address bar keeps focus.

**Actual result**:
Address bar loses focus but the keyboard does not hide.

[2020-03-30 13:55] AndrewR8 commented on #693
It seems that this issue needs to be fixed first #755

[2020-03-31 09:22] cmonfortep commented on #755
Thanks for reporting this @AndrewR8 I think the **expected result proposal 1** could fit pretty well here.

[2020-04-01 14:23] Slion commented on #638
You can also reproduce on http://bbc.co.uk/news the accept cookies dialog is cut if the address bar is showing.

[2020-04-05 14:18] cmonfortep commented on #755
Closing this issue, thanks for the contribution @AndrewR8

[2020-04-05 14:18] #755 closed

[2020-04-05 14:40] rajkumaar23 commented on #753
I would like to work on this issue.

[2020-04-05 22:52] dar5hak commented on #660
In addition to this, when a new page is loading, the blank page that shows up until the target is loaded, is also white. This sudden flash of white blinds me at night time.

[2020-04-07 10:50] AndrewR8 commented on #637
@nhatzHK Any particular website to test this scenario?

[2020-04-07 19:26] Johennes opened #768 "Desktop site feature loads mobile layout"
Experiencing this on 5.49.1 mg (54901).

URL: https://stackoverflow.com/questions/tagged/swift

Layout in DuckDuckGo:

![Screenshot_20200407-212159](https://user-images.githubusercontent.com/1137962/78711012-98eafd80-7916-11ea-9a8b-82723d804cb6.png)

Layout in Firefox:

![Screenshot_20200407-212217](https://user-images.githubusercontent.com/1137962/78711020-9be5ee00-7916-11ea-86e0-8b0a3759b5e6.png

[2020-04-09 12:14] raaju-kolpolok opened #772 "No Password Manager"
Need a option for viewing saved login passwords for sites like chrome.

[2020-04-10 14:54] ghost opened #774 "duckduckgo android not opening properly after changing icon"
hi when I change the icon on the duckduckgo android app it won't open properly

steps to reproduce:
1)open duckduckgo

2) open the settings option

3) change the icon

4) restart the app by reopening and closing the app

5) duckduckgo no longer opens
<img width="908" alt="duckduckgo github issue bug" src="https://user-images.githubusercontent.com/41688975/78999949-afad7200-7b19-11ea-9387-bb1204ead

[2020-04-10 15:27] epicodertime commented on #774
the emulator runs a version of Android 7.1.2

[2020-04-10 15:45] epicodertime commented on #774
workout to bypass the broken duckduckgo: go to google play and click open and then it works but if we open it using the home screen it doesn't work

[2020-04-10 16:10] #400 closed

[2020-04-10 17:36] subsymbolic commented on #400
We have now added a download confirmation dialog with the following PRs and will include these in the next release:
* https://github.com/duckduckgo/Android/pull/663
* https://github.com/duckduckgo/Android/pull/766

Thanks for the suggestion @christophergeiger3 and for your contribution @jainsahab 🎉

[2020-04-11 01:05] nhatzHK commented on #637
Woah I tried to find the websites where I observed that behaviour but I can't find any. I was sure it happened on YouTube, but it doesn't. Could it be that this was fixed incidentally somewhere else?

[2020-04-11 23:27] rkiddy commented on #467
Why is the suggestion only to store the tabs as bookmarks? Why would it not make sense to store all open tabs to the pasteboard. Issue #728 got closed, but would it not have been a more general and also more empowering and less intrusive and controlling solution.

Right next to 'Close All Tabs', there could be a 'Save Tabs To' option. That could bring up options like Bookmarks, Pasteboard, .... or

[2020-04-12 07:52] Poopooracoocoo commented on #467
@rkiddy I think of bookmarking as the more powerful option. I imagine being able to copy and share a whole folder of bookmarks like you said.

@subsymbolic it's a bit strange that y'all closed this before. to us it can look like you declined or implemented this.

[2020-04-13 17:11] cmonfortep commented on #774
We haven't received any similar feedback coming from users using an android device (we tested that Android version too), so the issue may be related to something internal with`BlueStacks` emulator. We will try to take a look, but I can't promise you a quick response here 🙏.

Thanks for reporting the issue in any case.

[2020-04-13 20:39] cmonfortep commented on #637
Could it be, but not that I know :)
I also tested it and I was not able to reproduce that behavior.

I'm going to close the issue, it seems the issue is gone. But please, do not hesitate to open it again if the issue appears again, and share with us how to reproduce it.

Thanks!

[2020-04-13 20:39] #637 closed

[2020-04-15 11:10] AndrewR8 commented on #744
It looks like this issue is no longer relevant.

- webpage that contains intent format URL which  should redirect to Twitter app
https://output.jsbin.com/rupaxu/latest

If there is Twitter app on the device the app opens, otherwise  toast shown "Unable to open this type of link" .

[2020-04-15 12:51] cmonfortep commented on #768
Thanks for reporting the issue, I was able to reproduce this issue on my device. I will take a look to see if I can see where the issue is coming from. 👍

[2020-04-15 13:55] Johennes commented on #768
Interestingly I see it on the DDG iOS app as well. I was wondering if maybe the particular user agent string you use might influence it but I'm not seeing any apparent differences to what Firefox uses on a glance.

[2020-04-16 16:23] Johennes commented on #768
Here is some evidence of what Firefox seems to be doing: https://hg.mozilla.org/mozilla-central/file/tip/mobile/android/geckoview/src/main/java/org/mozilla/geckoview/GeckoSessionSettings.java#l219

[code]

[2020-04-16 20:27] Johennes commented on #768
I've been able to showcase a potential fix using a user script to force a larger viewport in https://github.com/duckduckgo/iOS/issues/624.

[2020-04-17 16:07] cmonfortep commented on #768
Thanks for the write up and the investigation @Johennes . I will align with the iOS team and discuss about a possible fix.

[2020-04-17 16:09] cmonfortep commented on #772
Hi @raaju-kolpolok, could you elaborate a bit more about this?

[2020-04-19 13:13] cmonfortep commented on #694
We have some projects in our backlog that will improve the address bar when using our search. Going to close this issue, as showing the full URL doesn't fit quite well in our solution. Thanks for the feedback.

[2020-04-19 13:13] #694 closed

[2020-04-19 14:53] AndrewR8 commented on #686
I would like to work on this issue.

[2020-04-19 15:08] cmonfortep commented on #686
@AndrewR8 👍 thanks!

[2020-04-19 19:30] sephelps opened #780 "Opening link after inactivity data clear time fails to load page."
1. Open a new tab and visit a website.
2. Leave the browser by hitting the home button.
3. Wait the amount of time data is automatically cleared after.
4. Click a link that will open the browser.
5. The browser shows a "data cleared" message and fails to open the link clicked.

[2020-04-20 04:02] raaju-kolpolok commented on #772
Need AutoFill Password manager like chrome browser. After successful login to a site , users credentials will be saved. I already make it for websites with basic http authentications. But could not get the required info for other sites as no handler found for managing those authentication.

please see this apk:- https://i.diawi.com/LGQcS9

navigate to passwords from the popup menus. login to a tes

[2020-04-20 04:20] cmonfortep commented on #772
Thanks for the feedback. Like you described, we don't have a password manager in place. It will be for sure a nice feature to have in the future, but our small team is currently focused on different features that currently have more priority.

[2020-04-20 04:20] #772 closed

[2020-04-21 19:36] Johennes commented on #768
I am not proficient in Android development but what seemed to work well on iOS in my testing was to add a content script that modifies / inserts the view port meta header to force the size (see the snippet in https://github.com/duckduckgo/iOS/issues/624). I couldn't find another way of forcing the view port on `WKWebView`. I suppose theoretically this should work on Android as well but unsure if A

[2020-04-23 07:18] softvision-sergiulogigan opened #792 "www.iherb.com - Unsupported browser on tablet"
First reported on https://github.com/webcompat/web-bugs/issues/51731

URL: https://www.iherb.com/

Browser / Version: Duckduckgo Web Browser 5.50.1
Operating System: Android (Tablet)
Tested Another Browser: Yes Chrome

Problem type: Something else
Description: Browser upgrade notice
Steps to Reproduce:
A pop up shows up saying that the duckduckgo browser is unsupported

[2020-04-24 18:39] Deepshikha01 opened #795 "BloomFilter.cpp file is missing"
Bloom Filter.cpp file is missing from      src/main/cpp/third-party/bloom_cpp/src/BloomFilter.cpp

[2020-04-24 22:49] bruhmoment-web commented on #774
hey @cmonfortep I found a vulnerability on the duckduckgo Andriod app I reported it via HackerOne, however, the HackerOne staff member doesn't think its a security flaw but can you check to see if its a valid vulnerability my ticket number is #856791

impact
The issue is that the auth popup belongs to the attacker's tab, but it is being shown in the context of the current tab (google.com). The ris

[2020-04-25 06:38] cmonfortep commented on #774
@bruhmoment-web I will follow up and triage if there's any vulnerability in HackerOne. It's the place to report any vulnerability according to our guidelines, and the place where we will able to ask you more about the issue (app version, steps to reproduce, etc.) if we consider it's necessary.

I will remove the previous comment from this issue as it's in the wrong place. I will also remove my com

[2020-04-25 06:43] cmonfortep commented on #792
Thanks for reporting this issue, sometimes this happens for some sites and we have, inside our app, an option to "report broken sites" (check the three buttons menu in our browser). In there you will be able to assign a category, "the browser is incompatible" for example. Those reports are really helpful for us, and they are digested by a different team.

Closing this issue, thanks.

[2020-04-25 06:43] #792 closed

[2020-04-25 19:54] JeffAment commented on #795
@Deepshikha01,

The bloom filter is maintained in a separate repo and is pulled in as a submodule.  Cloning with the `--recursive` flag should fix this.

If you already have the repo checked out, you can also execute the following within the git repo without having to clone it again:
[code]

This is also explained in the repo's README in the "Building the Project" section.

[2020-04-27 06:34] cmonfortep commented on #780
Thanks for reporting that issue @sephelps.
That's related to how the automatic data clearer is implemented, and I agree that we should improve that part. I would expect that same as a user.

[2020-04-27 06:47] cmonfortep commented on #795
thanks @JeffAment for the explanation.

@Deepshikha01 is your problem solved following the described steps? Thanks.

[2020-04-27 06:51] cmonfortep commented on #768
no problem @Johennes, I was just being explicit that we are open to receiving any proposals from contributors. You already did a good effort here and we highly appreciate the feedback you brought us.

[2020-04-27 13:09] CDRussell commented on #780
Which version of the app did you see this happening on @sephelps ?

[2020-04-27 16:50] sephelps commented on #780
@CDRussell

This was happening on 5.51.p (55100).

After updating, the issue is still present on 5.52.4 (55205).

[2020-04-28 10:44] Deepshikha01 commented on #795
Hello Sir/Madam,

Greetings of the day!

Thanks for the explanation ...My problem is solved .

Thanks and regards
Deepshikha shaw

On Mon, 27 Apr 2020 at 12:18, Cristian Monforte <notifications@github.com>
wrote:

[2020-04-28 17:30] hundertzwoelf opened #802 "Enhanced grade 'A' not shown correctly in Privacy Dashboard"
![Screenshot_20200428-191509](https://user-images.githubusercontent.com/64233744/80517518-81d38480-8985-11ea-8aea-8a601ecde965.jpg)

I think this only happens with 'A'.

App version: 5.52.5
Device/OS: OP6, OOS10

[2020-05-01 07:10] cmonfortep commented on #802
Thanks for reporting this. I was able to reproduce it. 👍

Created an internal task https://app.asana.com/0/414730916066338/1173797528771833/f

[2020-05-01 13:33] AndrewR8 commented on #802
@cmonfortep it seems to me that there is no need to reproduce it, because this is a feature of this image resource

[2020-05-01 15:57] #795 closed

[2020-05-04 11:10] AndrewR8 commented on #682
I would like to work on this issue.

[2020-05-04 13:13] Poopooracoocoo commented on #682
@AndrewR8 there's a similar Firefox (Fenix) issue.

In a nutshell, it's a good idea to show back and forward history in one menu when a user taps and holds on the forward button. The back button can keep the back stack but that might be too much to implement. The problem is Android 10's gestures. I'd love to know what you want.

[2020-05-04 14:08] cmonfortep commented on #682
@AndrewR8 thanks for volunteering to tackle this enhancement, but I think this is one of those projects we should implement internally due to the amount of needed collaboration with product and design team.

I keep this issue open here till we discard or accept the idea and to communicate any future updates to users that may be interested.

[2020-05-06 10:11] AndrewR8 opened #812 "Opening new tab from tab opens it in the end of the all tabs."
**Steps to reproduce**

1. Navigate to [jw.org](https://www.jw.org).
2. Click on tabs button in browser.
3. Add one more tab with any query.
4. Return to tab with [jw.org](https://www.jw.org) and click on [Watchtower ONLINE LIBRARY™](https://wol.jw.org/en/wol/h/r1/lp-e) (at the bottom of the page).

**Actual result:**
The tab with [Watchtower ONLINE LIBRARY™](https://wol.jw.org/en/wol/h/r1/lp-e) o

[2020-05-06 15:48] ArttuLai opened #813 "Pressing back on a freshly opened tab doesn't close it"
Having used several different browsers on Android, I got used to that if I open a link which in turn opens my default browser, I can press the system back-button and it closes the tab (while returning me to the origin app where I tapped the link). With DuckDuckGo, it takes me to the origin app when I press back but doesn't close the tab, and I'm often left with a big pile of "read" tabs which woul

[2020-05-06 16:41] AndrewR8 commented on #813
I'll fix it

[2020-05-06 16:53] AndrewR8 commented on #813
This happens even if the new tab is open from the DDG explicitly.