[2021-03-18 09:37] cmonfortep commented on #1122
Thanks, we don't have plans to support extensions or plugins in our current backlog. Thanks for sharing this feedback with us.

Please take a look at our [contribution guidelines for sending feedback](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#share-feedback). If you would like to share any further feedback please reach us via our feedback site or the embedded feedback form

[2021-03-18 09:37] #1122 closed

[2021-03-18 09:38] cmonfortep commented on #1132
@marcosholgado do you have time to take a look at this one and triage it? Thanks!

[2021-03-18 15:12] Ammako commented on #1128
Yeah, that's fair. It's just odd because I'm not building DuckDuckGo myself, I'm using the pre-built apk that is available for download here. So the library should already be available within the apk, and yet for some reason it can't find it when the apk is in /system/app, but it can find it if it's installed onto /data/app. Some weird Android black magic I guess.

I'll probably have to look for a

[2021-03-18 15:12] #1128 closed

[2021-03-18 20:39] Halilb1978 opened #1138 "Dark Mode Issue"
**Describe the bug**
I use phone in dark mode. Also DDG browser light theme option disabled.And i use dark theme.
1- I open DDG=it is in dark mode/theme
2-I search for a word = it is in dark mode/theme
3-searches come=  it is in dark mode/theme
4-I open a page from searches = it is in light mode/theme
DDG stays in dark mode until i open a page from searches.I all time had to use in light theme. I

[2021-03-19 13:45] Halilb1978 commented on #1138
After forcing dark mode in developer options, issue solved. But DDG's dark theme not working without this devoleper option

[2021-03-19 13:45] #1138 closed

[2021-03-20 12:29] Ammako opened #1141 "Does not respect DuckDuckGo settings for GET/POST requests"
**Describe the bug**
If you turn off GET requests in DuckDuckGo Privacy settings, the app will still use GET requests anyway instead of switching to POST. This can be verified by bookmarking a search result page and checking the bookmarked url.

**How to Reproduce**
Steps to reproduce the behavior:
1. Do any search on DuckDuckGo
2. Scroll right through the headers at the top until you reach settin

[2021-03-21 06:44] WillHick opened #1142 "Home Page"
**Home Page**

Not sure if this is a bug or the start of a re-design but the DDG home screen logo is off center and higher up the page.

![Screenshot_20210321-194330_DuckDuckGo.png](https://user-images.githubusercontent.com/48844761/111896307-9331ed80-8a7d-11eb-810d-a0f0f2405d7a.png)

- Latest App Update On Android 10

[2021-03-21 23:40] moshpirit opened #1143 "Read mode"
One thing that I like to do when I use Firefox on my laptop is reading articles using the read mode. I think it's even more useful for phones and I think DDG should implement this feature

[2021-03-22 00:45] Ammako commented on #1143
Note, feature requests are not currently accepted in the issue tracker. They should be directed [here](https://github.com/duckduckgo/Android/discussions) instead.

[2021-03-22 08:31] cmonfortep commented on #1143
Thanks.

We will migrate the existing Feature requests as Discussions very soon. Closing this one as duplicated https://github.com/duckduckgo/Android/issues/861

[2021-03-22 08:31] #1143 closed

[2021-03-22 08:32] cmonfortep commented on #1142
Thanks @WillHick This is an intended change, not a bug.

[2021-03-22 08:32] #1142 closed

[2021-03-22 08:33] WillHick commented on #1142
Sweet as, new home page?

[2021-03-22 09:01] cmonfortep commented on #1142
We are working on some improvements and new changes will come soon 👍

[2021-03-22 10:48] cmonfortep commented on #1132
I've created an internal task to investigate the issue. https://app.asana.com/0/414730916066338/1200092328111314/f

[2021-03-22 17:11] Ammako commented on #1128
Following up on this...

[code]

`libhttps-bloom-lib.so` must be extracted from the apk, it will be included at `/system/app/DuckDuckGo/lib/[arm/arm64]/libhttps-bloom-lib.so` and the app will work without crashing.

👍

[2021-03-23 00:58] kgbandido commented on #209
Would love to fully commit to the switch from google but looks like there is too many basic features that DuckDuckGo doesn't have.

[2021-03-23 01:10] Gitoffthelawn commented on #209
If you want to get rid of Google, but are tired of waiting years for DDG, just use Privacy Browser:
https://f-droid.org/packages/com.stoutner.privacybrowser.standard/

It's completely open-source and works very well.  Plus it has many more features than the DDG browser.

After trying it, I don't miss the DDG browser at all.  Sorry DDG, but as they say: *"you snooze, you lose".*

[2021-03-23 02:17] alan933 commented on #209
There's no way to get bookmarks across phones????? W            T          H!!

[2021-03-24 07:07] Xashyar opened #1144 "Search Box issues with RTL text"
Hello, I know this is not the right place for the issue but it's the closest place I could find to raise two really chronic issues wrt DDG Search Box (on duckduckgo.com) with RTL texts.

1. When you switch your input keyboard in the middle of typing a search phrase, the search box loses focus, and you need to bring back the focus on it manually every time.

2. The search box does not support auto

[2021-03-25 13:55] LinuxJoeUser commented on #209
I understand wanting to have both at once, but in the short - to - medium term I'd urge you to consider just having at least one or the other.  At least don't lose your current, loyal users.  Give them a way to transfer their bookmarks from DDG on _one_ device into DDG on _another_ device or --- like me --- they'll be forced to choose another browser when they get a new phone.

Once you've secured

[2021-03-25 14:33] alan933 commented on #209
I copied all my bookmarks on one android phone to OneNote. That took a while. I am now in the process of copying all of those links in OneNote to my new Android phone with DuckDuckGo. It's taking a while.

[2021-03-27 08:12] h908714124 commented on #209
@cmonfortep I don't think this has to wait for the "folder structure" feature. Export could dump everything into a single folder, and import could ignore (flatten) the folder structure. That way, import/export to interoperable format is possible right now, just by adding two buttons "Import bookmarks" and "Export bookmarks". What's stopping you?

[2021-03-27 19:45] oldphones68 opened #1148 ""Open in Background Tab" does not REALLY open in background"
App version: 5.78.1

Steps to reproduce the bug: Long press on any link > Select 'Open in Background Tab'

Expected behavior: Tabs opened in BG should 'open' or 'load' in the BG.

Actual behavior: When selecting Open in Background Tab, tabs not really 'Open' in BG. It remains as a blank page in the background UNTIL user switch to that tab.
I think, it contradicts the concept of efficient tabbed br

[2021-03-27 19:53] oldphones68 commented on #209
@alan933 Don't know how much bookmarks you had. But, imagine, if I have 2000+ bookmarks in a browser and I need to switch in thus way, it may become a nightmare.
Hope devs will give thus issue a triage.

[2021-03-28 03:42] Gitoffthelawn commented on #209
LOL.  Issue was reported over 2 years ago.

[2021-03-28 22:31] Apfelwurm commented on #350
would also be interested in this one. Is there any help needed?

[2021-03-29 12:10] Ammako commented on #1132
I've come across a dailymail article this morning, and it turns out that site exhibits similar behavior. In case that might be helpful.

It can also sometimes trigger swipe down to refresh while the address bar is still hidden (#900)

[2021-03-29 12:12] Ammako commented on #438
On my end, there is no notification when I clear data (5.79.0)

[2021-03-29 13:58] marcosholgado commented on #1132
Thanks, any sites where we can reproduce this are definitely helpful for us :)

[2021-03-31 06:49] TianyiMu commented on #1070
Hi, I created a PR with a new fix #1154. Please take a look, thanks!

[2021-04-02 18:09] stevenleeS0ht opened #1159 "complete black after clear all tab am data"
**Describe the bug**
The app directly turn to black and not responsive after clear all tab and data.

**How to Reproduce**
Steps to reproduce the behavior:
1. Touch button clear all tab and data.
2. See error

If applicable, please include information about any settings that may be relevant to this issue (e.g. selected theme, auto clear option, etc).

**Expected behavior**
A clear and concise desc

[2021-04-03 05:49] arunsathiya commented on #1159
I see the same issue, has been happening for a few months but never had a chance to submit the bug report. My workaround at the moment is to close the app from "recent apps" list of Android and re-open it.

[2021-04-03 07:10] stevenleeS0ht commented on #1159
@CDRussell  and @subsymbolic , do you have any ideas on this issue?

[2021-04-03 12:02] stevenleeS0ht commented on #1159
@CDRussell , yes, when black the only thing I can do is quit app. The screen is completely dark.

[2021-04-03 14:12] arunsathiya commented on #1159
https://user-images.githubusercontent.com/18581859/113480953-a056cf80-94b4-11eb-8c29-ad3508056ecd.mp4

@CDRussell Here we go. We can see that I am making some searches on DuckDuckGo and then clear all data, but the app blacks out and I can scroll down to see the actual page in some sort of a layered background. I open the recent apps list to clear DuckDuckGo from it, and then re-launch the app.

[2021-04-03 15:24] oldphones68 commented on #840
Is there any update from WebView side? @cmonfortep

[2021-04-06 05:22] WillHick opened #1162 "Swipe To Refresh On NTP"
On The New Tab Page (NTP) The Swipe To Refresh Shows Up At Random When Opening A New Tab After Browsing.

Attempting To Reproduce Issue Is At Random Tends To Happen The Most While Browsing.

Images:
![Screenshot_20210406-171908_DuckDuckGo.png](https://user-images.githubusercontent.com/48844761/113662630-97f0d580-96fc-11eb-9140-06197b3776b3.png)

![Screenshot_20210406-171859_DuckDuckGo.png](https:/

[2021-04-07 15:13] cmonfortep commented on #313
Hello, we are reviewing old issues and we are going to close this one as we have plans to improve certificate handling.

https://github.com/duckduckgo/Android/issues/963
https://github.com/duckduckgo/Android/issues/1063

[2021-04-07 15:13] #313 closed

[2021-04-07 15:36] cmonfortep commented on #422
We have been trying to reproduce this issue without any luck (using Don't keep activities). Probably this was solved by previous changes in our browser (I hope so).

Closing this until someone manages to reproduce it again. Thanks.

[2021-04-07 15:36] #422 closed

[2021-04-07 15:42] cmonfortep commented on #427
@ismaelpuerto we have been checking this request, and I can use my password manager to fill in login forms.

![image](https://user-images.githubusercontent.com/4747865/113894644-81b04b80-97c8-11eb-8cc1-8a6612517e79.png)

We are closing this feature request. Create a new discussion if your request was about something different. thanks.

[2021-04-07 15:42] #427 closed

[2021-04-07 15:45] cmonfortep commented on #429
We looked into this and we hoped we could implement a permissions callback to stop this leak, but the permissions callback isn't triggered for obtaining the IP address (just for audio / video access)

Sadly, there's still no obvious way of preventing this while we continue to rely on WebView. We have no plans to migrate from webview, so we are closing this issue.

[2021-04-07 15:45] #429 closed

[2021-04-07 15:46] cmonfortep commented on #438
As @Ammako pointed out, we have improved our data clear process. We decided to remove the "data cleared" message when the user manually clears data via the Fire button. Closing this issue.

[2021-04-07 15:46] #438 closed

[2021-04-07 15:54] cmonfortep commented on #483
@arunsathiya we are not publishing our app to the Amazon App. However we publish it into the F-droid app store -> https://f-droid.org/en/packages/com.duckduckgo.mobile.android/

Thanks.

[2021-04-07 15:54] #483 closed

[2021-04-07 15:56] cmonfortep commented on #512
Hi! We currently support password managers like LastPass.

I like the idea of having a DDG password manager but we don't have plans to do so yet. Closing this issue.

[2021-04-07 15:56] #512 closed

[2021-04-07 16:00] cmonfortep commented on #529
We have improved our favicon handling, hope that part of your issue is gone.

However, for the other part of adding extra support to "add to home" we don't have short-term plans to do so. Currently we are using the native webview component for that and we would need to build our own dialogs. In any case, I will share it with the team in case we revisit that part. Thanks.

[2021-04-07 16:00] #529 closed

[2021-04-08 09:03] cmonfortep commented on #557
We have done an exploration for introducing Bookmark folders (internal task: https://app.asana.com/0/72649045549333/1199721190800677/f). It will be soon implemented in iOS and Android will follow too.

Search was implemented some time ago by an external contribution.

Closing this issue. Thanks.

[2021-04-08 09:03] #557 closed

[2021-04-08 09:06] cmonfortep commented on #559
Friendly reminder for folks following this issue and future readers.

We have updated our Translations contribution guidelines. See them here: https://github.com/duckduckgo/Android/blob/develop/TRANSLATIONS.md

Important part is that now we are using an external service that should increase the quality of our translations. So now we only accept contributions to fix actual issues (typos, grammatica

[2021-04-08 09:15] cmonfortep commented on #578
We did some tweaks around the downloads (to better support blobs and data uri) and the download notification. I did some tests and I can't reproduce it anymore so the bug should be fixed.

Going to close this issue. If this happens again, it will be nice to have an example URL, just to investigate if that's happening with a concrete file type. Thanks!

[2021-04-08 09:15] #578 closed

[2021-04-08 09:16] cmonfortep commented on #648
Our browser supports GPC as commented above (enabled by default in settings). We don't have plans to introduce DNT support. Thanks.

[2021-04-08 09:16] #648 closed

[2021-04-08 09:22] cmonfortep commented on #662
We have a project in our backlog (internal task https://app.asana.com/0/715106103902962/1200110974677898/f).

That project will introduce many improvements I don't want to spoil. But one of them it's to be able to resize the widget and something related to colors.

Closing this issue as it's already in our backlog. :)

[2021-04-08 09:22] #662 closed

[2021-04-08 09:59] cmonfortep commented on #676
Hello there. We have received similar feedback and we are collecting everything related to videos internally.

Everyone can continue sending feedback via our embedded form within the app (inside settings) or just using the web form.  We process that feedback internally and scope projects when we see enough activity.

Closing this issue as it's already tracked internally. Thanks.

Check "share feed

[2021-04-08 09:59] #676 closed

[2021-04-08 10:13] cmonfortep commented on #684
👋  Good news also here. We have a project to revamp our menu and settings. Many things will be changed there as currently, it's a bit overloaded. It's currently in progress for iOS and we will follow on Android soon.

Closing this one. Soon we will be moving pending feature requests as discussions, but it's already tracked and scoped internally, so no need to migrate it. Thanks.

[2021-04-08 10:13] #684 closed

[2021-04-08 10:37] cmonfortep commented on #693
@Poopooracoocoo I think I understand what you mean hear, but just to be sure, could you post a gif or a video as sample? Also it would be nice to understand why it's annoying for you that behavior. Thanks.

[2021-04-08 10:41] cmonfortep commented on #700
Now that we understand more this issues, it's very related to this one https://github.com/duckduckgo/Android/issues/914.

The problem is again how webview is positioned when the toolbar is visible, and how it reacts to the scroll. Once we fix that issue, this will be solved by the same fix. We can't fix this one without fixing the other one.

Closing this issue as it will be covered by https://git

[2021-04-08 10:41] #700 closed

[2021-04-08 11:22] cmonfortep commented on #861
Hello there. We have been received similar feedback from users using our embedded feedback form within the app. I've also shared this with others whe I created a task som time ago. However, no plans yet to support this.

Everyone can continue sending feedback using the feedback option inside settings (from our browser) or just using the web form. We process that feedback internally every day and s

[2021-04-08 11:22] #861 closed

[2021-04-08 11:22] #774 closed

[2021-04-08 11:25] cmonfortep commented on #744
Closing this issue as it has been inactive. Feel free to reopen it once we can get more insights to proper investigate the issue. Thanks.

[2021-04-08 11:25] #744 closed

[2021-04-08 11:27] cmonfortep commented on #729
Hello there. We have been received similar feedback to improve our bookmark management from users (using our embedded feedback form within the app + the feedback received here). We have a project to improve bookmarks management, not sure if that will include bulk operations. We will revisit all the collected feedback at that point.

Everyone can continue sending feedback using the feedback option

[2021-04-08 11:27] #729 closed

[2021-04-08 11:35] cmonfortep commented on #945
Closing this. This was done in https://github.com/duckduckgo/Android/pull/1056

[2021-04-08 11:35] #945 closed

[2021-04-08 13:17] dukearena opened #1165 "While moving on a map, moving the finger down will refresh the page"
**Describe the bug**
While navigating on a map inside a website, I was trying to go north moving my finger down but the refresh icon appeared and refreshed the page, making me start from the beginning.
This behavior occurs every time I do the same steps (see below).

**How to Reproduce**
1 - Go to any website that has a map (e.g. maps.google.com)
2 - Pan inside the map, moving the finger down
3 -

[2021-04-08 13:22] cmonfortep commented on #946
This one is coming soon. We are currently working on a project to add favorites in the same way as the iOS works.

Closing this one as it's currently in progress.

[2021-04-08 13:22] #946 closed

[2021-04-08 13:23] cmonfortep commented on #953
Closing this one fixed by #1101. Thanks for the contribution. We will merge soon #1163 that completes the loop.

[2021-04-08 13:23] #953 closed

[2021-04-09 05:28] Poopooracoocoo commented on #693
@cmonfortep Jesus, it's been a year and a half. I haven't used DDG Browser since then.

It's worth just looking at Chrome's behaviour. Same applies for the other issues I created here.

[2021-04-09 09:49] cmonfortep commented on #14
Hello @ildar  , thanks for taking the time to submit this feature request. Sorry for the late response.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 09:49] #14 closed

[2021-04-09 09:50] cmonfortep commented on #207
Hello @IOI-655321  , thanks for taking the time to submit this feature request. Sorry for the very late response, we are currently going through old feature requests.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 09:50] #207 closed

[2021-04-09 09:51] cmonfortep commented on #237
Hello @mightyjai  , thanks for taking the time to submit this feature request. Sorry for the very late response, we are currently going through old feature requests.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 09:51] #237 closed

[2021-04-09 09:53] cmonfortep commented on #272
Hello @CryptKid  , thanks for taking the time to submit this feature request. Sorry for the very late response, we are currently going through old feature requests.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 09:53] #272 closed

[2021-04-09 09:54] cmonfortep commented on #337
Hello @jfitie , thanks for taking the time to submit this feature request. Sorry for the very late response, we are currently going through old feature requests.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 09:54] #337 closed

[2021-04-09 09:57] cmonfortep commented on #347
Hello @GuiltyDolphin and the rest of followers here. After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to do changes in how our address bar handles concrete keyboards or patterns as we do on our SERP page. Should this change in the future, we'll update this conversation appropriately.

For now, closing this issue as the main complaint was fixed so

[2021-04-09 09:57] #347 closed

[2021-04-09 10:03] cmonfortep commented on #467
Hello @IOI-655321  , thanks for taking the time to submit this feature request. Sorry for the very late response, we are currently going through old feature requests.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. This feature was also removed from the iOS app, so no plans to do similar on Android. That being said, we

[2021-04-09 10:03] #467 closed

[2021-04-09 10:04] cmonfortep commented on #618
Hello @denizevrenci, thanks for taking the time to submit this feature request.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 10:04] #618 closed

[2021-04-09 10:05] cmonfortep commented on #690
Hello @Poopooracoocoo, sorry for the late response here.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. We think our current implementations meets what most of the users will expect, we haven't received more feedback similar to this one. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 10:05] #690 closed

[2021-04-09 10:07] cmonfortep commented on #860
Hello @christophergeiger3.

I did a small demo project of this will look like in our app, but we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 10:07] #860 closed

[2021-04-09 10:07] cmonfortep commented on #886
Hello @8ware  , thanks for taking the time to submit this feature request.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request knowing that adding the schema will fix the issue reported.

Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 10:07] #886 closed

[2021-04-09 10:09] cmonfortep commented on #912
Hello @femto-code, thanks for taking the time to submit this feature request.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 10:09] #912 closed

[2021-04-09 10:12] cmonfortep commented on #981
Hello @Jomme5, sorry for the late response.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 10:12] #981 closed

[2021-04-09 10:14] cmonfortep commented on #1016
Hello @nom3ad  , thanks for taking the time to submit this feature request.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 10:14] #1016 closed

[2021-04-09 10:15] cmonfortep commented on #1047
Hello @woheller69, thanks for taking the time to submit this feature request.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

We have a project in our backlog to improve our menu options and settings, and it's possible that changes in the U

[2021-04-09 10:15] #1047 closed

[2021-04-09 10:15] cmonfortep commented on #1050
Hello @Vepnar, thanks for taking the time to submit this feature request.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 10:15] #1050 closed

[2021-04-09 10:19] cmonfortep commented on #1144
Hey @Xashyar , thanks for taking the time to write this.

Unfortunately, seems like your issue does not belong in this repository as you mentioned. To share feedback please visit this site (https://help.duckduckgo.com/duckduckgo-help-pages/company/contact-us/)

In your case I guess the one that fits your request will be:
"For feedback regarding DuckDuckGo Search, use the “Send feedback” link in th

[2021-04-09 10:19] #1144 closed

[2021-04-09 10:21] cmonfortep commented on #1148
Hello @oldphones68 , thanks for taking the time to submit this feature request.

After internal discussion with the team, we've agreed that there's no plan in the foreseeable future to support this request. For us, the current behavior is the expected one.

Should this change in the future, we'll update this conversation appropriately.

[2021-04-09 10:21] #1148 closed

[2021-04-09 11:58] Ammako commented on #1165
https://github.com/duckduckgo/Android/issues/1132

[2021-04-09 13:02] oldphones68 commented on #1148
Ok brother!
Hoping for the best! @cmonfortep

[2021-04-09 15:21] cmonfortep commented on #882
Hello @yawnoc. We have received similar feedback about being able to zoom and some more accessibility options from users (using our embedded feedback form within the app + the feedback received here).

Everyone can continue sending feedback using the feedback option inside settings (from our browser) or just using the web form. We process that feedback internally every day and scope projects when

[2021-04-09 15:21] #882 closed

[2021-04-09 15:26] #1054 closed

[2021-04-09 15:27] #865 closed

[2021-04-09 15:27] #712 closed

[2021-04-09 15:28] #209 closed

[2021-04-09 15:28] #288 closed

[2021-04-09 15:28] #315 closed

[2021-04-09 15:28] #350 closed

[2021-04-09 15:28] #464 closed

[2021-04-09 15:28] #470 closed

[2021-04-09 15:28] #490 closed

[2021-04-09 15:28] #576 closed

[2021-04-09 15:28] #682 closed

[2021-04-09 15:28] #685 closed

[2021-04-09 15:33] #660 closed

[2021-04-09 15:35] cmonfortep commented on #1165
Thanks @dukearena we are aware of this issue with sites that contain an embedded map.

Closing as dup in favor of https://github.com/duckduckgo/Android/issues/1132

[2021-04-09 15:35] #1165 closed

[2021-04-09 15:39] cmonfortep commented on #1162
Taking a look at this issue.

Very easy to reproduce, for possible contributors:
1. open a new tab
2. visit any site
3. press back (this will go back to the home tab)
4. user is able to pull to refresh

[2021-04-09 15:48] cmonfortep commented on #1159
Thanks for all the info here.

We still don't understand why it fails. At that point where the screen turns black there should be an animation, so I guess the root cause should be related to that part. We will try to look into this issue and try to find a way to mitigate the issue for those cases where the animation fails to appear.

@stevenleeS0ht do you have animations disabled on your device by

[2021-04-09 15:55] cmonfortep commented on #693
It's ok, and sorry for the late response, just wanted to understand if there was something else I was missing.

We haven't received any further feedback related to the issue (neither from users using our embedded feedback option in settings). Closing this as there's no plan in the foreseeable future to support this request.

[2021-04-09 15:55] #693 closed

[2021-04-09 16:31] arunsathiya commented on #1159
@cmonfortep Good hint! I have `Window animation scale`, `Transition animation scale` and `Animator duration scale` turned off under `Developer options` on my Android settings. By just updating `Animator duration scale` to 1x, the fire animation appears okay on DuckDuckGo app. It would be great if this bug is resolved. Thanks!

[2021-04-10 03:01] Poopooracoocoo commented on #693
ok but know that most users are just going to stop using the browser altogether and won't be bothered submitting feedback.

[2021-04-11 00:03] WillHick opened #1181 "Animation Menu"
Can We Make The "Animation" Have A Capital "A", Would Be Great Thanks

![Screenshot_20210411-115810_DuckDuckGo.png](https://user-images.githubusercontent.com/48844761/114287775-d0f2c680-9abd-11eb-8b4d-f8ba30be805a.png)

[2021-04-11 00:08] mabuckman opened #1182 "Feature Request: Privacy Redirects"
It would nice if users had the ability to redirect certain websites to privacy friendly alternatives. There is an extension called [Privacy Redirect](https://addons.mozilla.org/en-US/firefox/addon/privacy-redirect/) that  provides this functionality.

You can redirect sites like this:
Twitter &rarr; Nitter Instance
YouTube &rarr; Invidious Instance
Instagram &rarr; Bibliogram Instance
Reddit &rarr

[2021-04-11 00:11] stevenleeS0ht commented on #1159
@cmonfortep , Yes, developer mode enable, all animation turn off. Is it possible not to show the animation when the animation in setting are disabled?

[2021-04-11 07:30] aayush287 commented on #1162
@cmonfortep Can I work on this issue?

[2021-04-11 11:57] prosperian commented on #1181
Hi, can i work on this?

[2021-04-11 12:03] prosperian commented on #1181
Hi, can i work on this?

[2021-04-12 18:07] mabuckman commented on #1132
Another example: https://www.walmart.com/grocery/

[2021-04-13 13:15] oldphones68 commented on #559
@CDRussell Bro!
Is there any option to contribute if I can't or don't want to use the xml format?
Say for example, I had seen some devs to use something like Google Sheets to translate.
There are the main terms/words/sentences in the left column and people translate on the left columns detivated for each language.

Proobably, for you it may become harder to build from that, but from non-programmer

[2021-04-14 10:46] cmonfortep commented on #1159
Yes, I guess we can try that strategy.

- check if animation settings are disabled
- if so, skip the animation (do the same as when user selected "none" animation in settings)

There's already some code inside `FireDialog.kt` to handle the scenario where the user didn't select any animation inside our settings, so it will just a matter of doing the same for that one.

It will be nice also to block

[2021-04-14 10:49] cmonfortep commented on #1182
Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. thanks.

[2021-04-14 10:49] #1182 closed

[2021-04-14 10:52] cmonfortep commented on #1181
Thanks for sharing, after taking a look at the bug report we are closing this because that behavior is intended.

Friendly reminder: please use bug templates or issues could be closed. Thanks.

[2021-04-14 10:52] #1181 closed

[2021-04-14 13:22] oldphones68 commented on #975
Still facing the issue...

[2021-04-14 13:33] oldphones68 opened #1188 "Favicons get swapped!"
**Describe the bug**
Favicons get swapped.
This seems close to the issue #975.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to 'Bookmarks'
2. See error

Although in #975 seeming @aitorvs has provided a patch, but I'm seeing this bug is still existing.

**Expected behavior**
Favicons should show correctly.

**Smartphone**
 - DDG App Version: 5.80.0
 - OS: Android 6

[2021-04-15 16:36] Ammako commented on #1188
Yup. Mine shows github with a reddit favicon.

[2021-04-15 16:43] cmonfortep commented on #1188
Could you provide more info like: how many bookmarks you have? does it happen right after opening the screen or when scrolling? Do you see the same error on the tabs screen or only in the bookmarks screen?

[2021-04-15 16:45] Ammako commented on #1188
4 bookmarks

Right when opening the screen

Only bookmarks screen

[2021-04-15 16:57] cmonfortep commented on #1188
Thanks. That's weird, we use the same class to retrieve bookmark icon in the bookmarks screen and the tab screen (the one where you see all your tabs).

We will investigate what's happening there

[2021-04-15 22:19] oldphones68 commented on #1188
18 bookmarks so far.

It happens after opening the browser.

Happens on the bookmarks menu. Didn't noticed (yet) in the tab screen.

@cmonfortep

[2021-04-16 13:50] cmonfortep commented on #1188
@oldphones68 @Ammako another question from my side.

The sites that have a wrong favicon, do they show a favicon of a site that is also a bookmark? For example: in the case of @Ammako "github with a reddit favicon", do you have both sites bookmarked?

[2021-04-16 13:56] cmonfortep commented on #1188
We have created an internal task to further investigate this issue: https://app.asana.com/0/414730916066338/1200206978219280/f

[2021-04-16 14:23] Ammako commented on #1188
I don't have reddit bookmarked, no. Only github. But it must have picked up the favicon from when I was browsing reddit, either way.

Fire button to clear data doesn't fix it. Github is fireproofed, reddit is not.

[2021-04-16 15:12] cmonfortep commented on #1188
Thanks so much @Ammako, does GitHub show the wrong favicon in fireproof websites too? I guess the answer is yes, but just to double check with you as we can't reproduce it in our side.

[2021-04-16 15:50] Ammako commented on #1188
Reddit data gets cleared due to not being fireproofed, github data stays because it's fireproofed. Reddit favicon stays.

(I'm not entirely sure what you meant, so don't hesitate to elaborate if this doesn't properly answer your question.)

Also, this would probably be a difficult issue to reproduce, because it only happens rarely, and randomly.

[2021-04-16 16:23] cmonfortep commented on #1188
"Github already had its correct github favicon in bookmarks, at some point in the last few days the favicon was replaced with reddit's favicon." ...huh, interesting...

My question was related to the Fireproof sites list inside settings (settings -> fireproof sites). Inside there, we list all fireproofed sites, I wonder if GitHub shows the wrong favicon on that screen too.

[2021-04-16 16:35] Ammako commented on #1188
It does!

[2021-04-16 19:20] oldphones68 commented on #1188
For me, not yet noticed. I'll keep watching this. @cmonfortep

[2021-04-16 23:15] Ammako commented on #1188
The favicon fixed itself by un-fireproofing github, and after re-fireproofing it remains fixed.

[2021-04-17 07:03] woheller69 opened #1191 "Add option to disable Javascript for site"
**Is your feature request related to a problem? Please describe.**
Many pages are a lot faster if Javascript is disabled. Also annoying cookie banners are blocked on many pages if Javascript is off.

**Describe the solution or the user experience you'd like**
Add a checkbox "Disable Javascript for site" like "Fireproof site" or "Desktop site".

**Additional context**
Add any other context or scree

[2021-04-19 08:26] h908714124 opened #1192 "Urgent: Needs a workaround to export bookmarks, to avoid data loss."
**Describe the bug**
After using the DDG app for about 2 years, I have around 1000 bookmarks stored inside it.
All of these will be lost when I eventually switch phones, or my old phone stops working.
A method to export these bookmarks to _any_ format is urgently needed, in order to avoid a complete data loss.

**How to Reproduce**
Steps to reproduce the behavior:
1. Install DDG app
2. Add some bo

[2021-04-19 13:59] malmstein commented on #1192
Hello @h908714124, thanks for filing this in.

As you very well point out, there's a [discussion](https://github.com/duckduckgo/Android/discussions/1170) about this topic. That is the proper place to make this feature request more visible.

One of the reason why we moved to discussions in the past weeks is to surface old feature requests, and this is exactly what's happening with this feature.

As

[2021-04-19 14:31] #1192 closed

[2021-04-19 18:14] h908714124 commented on #1192
@malmstein
Please consider reopening. This is not resolved.
I specifically asked about the location of the bookmarks data on the file system.
Could you please keep the issue open, at least until that question has been answered.

[2021-04-19 18:30] malmstein commented on #1192
@h908714124 where in this issue are you asking about the location of the bookmarks data on the file system? I struggle to find that information on the issue description.

It seems to be that what you'd like is to have the ability to export bookmarks, and avoid losing them if you change phones. For everything related to that feature request, we have the Discussion as mentioned above.

[2021-04-19 18:32] h908714124 commented on #1192
Understood. To clarify my intention, I will open a new issue where I explicitly ask about the location of the bookmarks data on the file system, and nothing else. Thank you

[2021-04-19 18:39] h908714124 opened #1193 "Please provide the location of the bookmarks data on file system"
**Describe the bug**
After using the DDG app for about 2 years, I have around 1000 bookmarks stored inside it.
All of these will be lost when I eventually switch phones, or my old phone stops working.
A known method to extract these bookmarks from my phone is urgently needed, in order to avoid data loss.

**How to Reproduce**
Steps to reproduce the behavior:
1. Install DDG app
2. Add some bookmark

[2021-04-20 07:28] #1132 closed

[2021-04-20 10:11] cmonfortep commented on #1188
@Ammako thanks for the info.
From what I see, GitHub got the wrong favicon at some point (we need to understand why), and because it was a fireproof website we were just keeping that wrong favicon for the site between sessions.

One question: the problem was fixing but just un-fireproofing the site or did you also clear all data?

Thanks.

[2021-04-20 10:15] Ammako commented on #1188
Just by un-fireproofing.

[2021-04-20 10:24] cmonfortep commented on #559
@oldphones68 the only way to contribute to our source code in Github is by opening a Pull request, and that should follow the XML format so we can merge your contribution.

If you are a non-programmer and you spot any major issue with any of our translations, a good idea will be to just open us a bug report via Github Issues. In the description, you can give us some details and propose a new trans

[2021-04-20 10:34] cmonfortep commented on #1191
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2021-04-20 10:34] #1191 closed

[2021-04-20 10:49] #1162 closed

[2021-04-20 10:49] oldphones68 commented on #559
Thank you so much! @cmonfortep

[2021-04-20 23:11] AnirudhJambunathan opened #1196 "Exiting the app not working properly"
https://twitter.com/anirudhjam/status/1383665151795089411?s=20

[2021-04-21 14:01] oldphones68 commented on #1188
@cmonfortep I tried to look deeper into this issue. I guess, it happens more after clearing cache fron the system (or phone) manager app.

And, from my experience, if I not make mistake, 'It happens in the morning'!!
Sounds funny, huh!? I also think so.

I can assure that, I have NO automatic cache cleaning app which clear the cache overnight.

By the way, I doubt, whether DDG store the favicons p

[2021-04-21 14:18] malmstein commented on #1196
@AnirudhJambunathan  could you please use the Issue template as stated in our [Contribution guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md)?

[2021-04-22 07:48] #1196 closed

[2021-04-22 07:50] cmonfortep commented on #1188
@oldphones68 we don't rely on any server for favicons, that logic was changed some time ago. We currently rely on the webview component and the info that component provides to us. Thanks for the info in any case, we will continue investigating this issue.

[2021-04-22 11:02] oldphones68 commented on #1188
@cmonfortep

Okey! If that's the situation, then this portion below may help, I hope.

And, from my experience, if I not make mistake, 'It happens in the morning'!!
Sounds funny, huh!? I also think so.
I can assure that, I have NO automatic cache cleaning app which clear the cache overnight.

[2021-04-22 12:48] ryg-git commented on #914
If it is ok, I would like to work on this issue

[2021-04-23 05:02] ganesh903 opened #1201 "Please add dark theme feature for webpages too"

[2021-04-23 10:12] malmstein commented on #1201
@ganesh903 as part of the [Contribution guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md ) state this belongs to [Github Discussions](https://github.com/duckduckgo/Android/discussions).

There's also a discussion there about this very topic https://github.com/duckduckgo/Android/discussions/1180, so I'll close this one out.

[2021-04-23 10:12] #1201 closed

[2021-04-23 12:58] #1188 closed

[2021-04-25 03:18] oldphones68 commented on #1188
@malmstein Updated to 5.81.0.

But faced this problem today **_morning_**

I have no fireproof sites, but this issue happened again.

![IMG_20210425_091402](https://user-images.githubusercontent.com/51379704/115979292-ddd7e580-a5a6-11eb-8bd7-559d3e14446d.png)
![IMG_20210425_091445](https://user-images.githubusercontent.com/51379704/115979299-eaf4d480-a5a6-11eb-9fbb-2bca72aa24bf.png)

[2021-04-25 05:01] malmstein commented on #1188
@oldphones68 5.81.0 went out before this PR was merged, this fix will be available in the next release. Thanks for letting us know though!

[2021-04-28 11:01] Ammako commented on #1080
I get this on 5.81.0 now, just with regular AOSP keyboard, except it stays up on the screen until you close it. It didn't happen before on older versions of the app.

[2021-04-29 19:11] malmstein commented on #1193
@h908714124 all your bookmarks are stored in Room database, unfortunately that file can't be accessed. The good news is that we've just opened https://github.com/duckduckgo/Android/pull/1211 that will allow you to Import / Export bookmarks in the very near future.

[2021-04-29 19:11] #1193 closed

[2021-04-30 11:53] moshpirit opened #1212 ""Clear" button to be positioned at the left side of the bar"
The current state of the top bar is:

`URL bar` `clear button` `tabs` `menu`

I think it's fair to think that some people may have an issue with the clear button being located at the right side of the bar, just near the tabs an issue because a misclick can screw all the open tabs without any warning. Including a warning message can be annoying for wanted clear clicks and the URL bar is huge so it'

[2021-05-01 14:21] Ammako commented on #1212
Eh. Pass. It's not possible to accidentally clear all your open tabs without warning, because, there is a confirmation box when you press that button, and that's fine.

If you move it elsewhere and remove that confirmation box, then it becomes easy to genuinely just wipe everything by accident. You can already clear without confirmation by setting it to automatically clear tabs and data on app exi

[2021-05-01 21:29] moshpirit commented on #1212
You are right, sorry idk why I forgot about the confirmation box lol

[2021-05-02 17:32] oldphones68 opened #1213 "Browser Closes Automatically"
**Describe the bug**
Browser closes automatically.

**How to Reproduce**
Steps to reproduce the behavior:
1. Work some 20-30 minutes
2. See error

Theme - Black , Auto clear option - Off.
It happens suddenly. Then after that, when reopened, browser works 30-40 minutes without any problem. Then it happens again and (with less interval), again.

___I've needed to write this issue two times for this

[2021-05-04 07:42] cmonfortep commented on #1212
Thanks for reaching us. We are currently only accepting Github Issues for bug reports. Additionally, as commented above, we already show a confirmation dialog to avoid clearing data if the user presses the fire button by mistake.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduck

[2021-05-04 07:42] #1212 closed

[2021-05-04 07:43] cmonfortep commented on #1213
@oldphones68 when the browser closes automatically, do you see any error in the screen?

[2021-05-04 10:19] oldphones68 commented on #1213
@cmonfortep
No.
Nothing at all. No glitches, no flash, no error message before, during or after closing.

If I reopen, the tabs I was working, those loads again.

[2021-05-05 15:18] oldphones68 commented on #1213
@cmonfortep Today it was happening just few moments ago.
At this time, it was closing just right after opening.
Cleared the cache from system manager, no improvement.
Then restated the phone, then the problem has stopped.

[2021-05-06 18:03] qwerty193 opened #1226 "Touch events"
Absolutely positioned DIV-element has touch events and uses **ev.preventDefault()** in touchstart & touchmove functions. But seems that it bubbles / propagate events all the way to body-element and thefore scrolls the window.

Nothing helps, not _preventDefault_ nor _stopProgation_ nor _stopImmediatePropagation_.

Same code have always been working in every other browsers.

[2021-05-07 13:47] cmonfortep commented on #1226
Please use our GitHub templates so we can understand better your request. Thanks.

[2021-05-07 13:47] #1226 closed

[2021-05-07 13:50] cmonfortep commented on #1213
Thanks @oldphones68 for reaching us again to inform the issue disappeared after restarting the phone. Usually those unexpected and random bug/crashes are related to the webview component and are difficult to reproduce. Let us know if it happens again. Thanks

[2021-05-07 13:50] #1213 closed

[2021-05-07 14:39] mimi89999 opened #1230 "FR: Domain Highlight"
In some specially crafted URLs it might be difficult to identify the domain for non experienced users.

https://wiki.mozilla.org/Firefox/Features/Locationbar_Domain_Highlight
https://wiki.mozilla.org/URL_highlighting

[2021-05-07 16:20] oldphones68 commented on #1213
It has reduced to a significant extent.
But, sometimes it happened again. After automatic closure, I have to re-open.
But, on that day, it was happening repeatedly, so I restarted the phone.
By the way, thanks for responding.
@cmonfortep

[2021-05-08 18:01] Ammako commented on #768
Desktop Site toggle basically never works on most sites, tbh. The same happens with LineageOS's default browser though (Jelly), so it could just be a webview limitation rather than a duckduckgo bug. I don't know of any other webview-based browsers that have desktop view toggle that I can try though.

[2021-05-10 08:31] WillHick opened #1231 "Urgent"
**Describe the bug**
So theres this bug making all DDG Browser users sick of light menus and burning our poor eyes at night.

**How to Reproduce**
1) Open the browser and go to any menu, careful you might burn your eyes or become sick due to the white menus on the dark theme

**Expected behavior**
Dont just close this request please listen to your users :'))))))

**Smartphone (please complete the

[2021-05-10 09:46] cmonfortep commented on #1231
Hi @WillHick This request is already captured under https://github.com/duckduckgo/Android/discussions/1180

I'm closing this issue as a duplicate, but we still listen to your requests :) Feel free to go there and upvote the request.

[2021-05-10 09:46] #1231 closed

[2021-05-10 09:48] cmonfortep commented on #1230
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2021-05-10 09:48] #1230 closed

[2021-05-10 10:50] danielmahal opened #1232 "Bottom fixed content hidden under app UI"
**Describe the bug**

Not sure if I would call it a bug, but, I'm giving it a go nevertheless:

When I visit a webpage with an element fixed to the bottom, it's not visible until I scroll down.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to https://cdpn.io/danielmahal/debug/MWpwxKj/mWAoNzwEJLGr
2. Note that yellow element is not visible
3. Scroll down
4. See fixed element

**Expec

[2021-05-16 03:25] WillHick opened #1237 "Partial Protection"
Doesnt Class As Much Of A Bug/Feature

**How to Reproduce**
EFF Testing (Cover Your Tracks) You Get Partial Protections Instead Of Better/Great Protections.

**Expected behavior**
Better Visible Blocking, That The User Should Be Able To Control

![Screenshot_20210516-151912_DuckDuckGo.png](https://user-images.githubusercontent.com/48844761/118384517-af57a280-b65a-11eb-8480-fe8239bf3dde.png)

**Fix

[2021-05-17 11:01] Ammako opened #1239 "Doesn't download files correctly (file metadata?)"
**Describe the bug**
Sometimes DuckDuckGo can't download certain files properly, either the file name is totally wrong or it just can't get a file name at all, and the file fails to download or it downloads incorrectly.

On F-Droid for example, downloading .apks you just get "repo.apk" instead of the actual file name. It still works and installs fine though. On GitLab, you try to download an .apk

[2021-05-20 09:59] cmonfortep commented on #1080
@Ammako we are trying to reproduce the scenario you mentioned, but the keyboard always goes away when sending the app to the background.

Would you mind giving us some more details (device, OS, current app version, ...)?
also if you could share the steps to reproduce it (or record a video/gif), it will really helpful.

My steps are:
- open the app having an empty tab selected
- keyboard will autom

[2021-05-20 10:18] Ammako commented on #1080
I use a custom build of LineageOS 14.1 (7.1.2) on Nexus 5, it's not available online but I can upload it if needed. It comes with DuckDuckGo as a system app, and Bromite webview, in case that might be altering the behavior of the app (I wouldn't expect it to, though.)

Was on 5.81.0 but I'll let you know if I see it happen again on the current latest version. It only happens somewhat rarely, it do

[2021-05-20 10:22] cmonfortep commented on #1080
Sorry, wrong button when posting the comment :P

[2021-05-20 11:54] Ammako commented on #1080
Just had it happen again. 5.86.2, I started up the app and browsed to openweathermap, searched for my city, got the forecast for the day. Then I opened Recents view to quickly close the browser, and keyboard decided it felt like popping up and staying up on Recents screen, even though it wasn't even up on the page in the first place.

Might be a different issue from the one in this thread, though.

[2021-05-21 17:24] marcosholgado commented on #1104
I think this might be fixed with https://github.com/duckduckgo/Android/pull/1247, I'll try to recreate next week with those changes but "in theory" bookmarks should now always load a url and never do a search.

[2021-05-24 20:22] ansarimohammed422 opened #1252 "Feature Request"
Search bar at the bottom if you devs can

[2021-05-25 08:31] malmstein commented on #1252
Thanks @ansarimohammed422. Could you please follow the [Contributing](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md) guidelines and create a proper [Discussion](https://github.com/duckduckgo/Android/discussions) with more details?

[2021-05-25 08:31] #1252 closed

[2021-05-28 00:01] Ammako opened #1257 "Home page (favourites) shows up during page load sometimes"
**Describe the bug**
Favourites is awesome, but sometimes the home page with the favourites icons on it will temporarily show up during a page load while browsing. I'm assuming it's related to the favourites functionality, because the home page showing up during page loads never happened before 5.87.0

**How to Reproduce**
Steps to reproduce the behavior:
1. Browse around for a while, randomly it

[2021-05-28 00:04] Ammako commented on #1257
Might be related to the way home page with favourites shows up when you tap on the address bar, to facilitate quickly navigating away to a website in favourites. For a long time the app has had a tendency to select the address bar when clicking on links, this might be what's causing the favourites window to show up here.

[2021-05-28 01:27] Lalisfeed commented on #768
when desktop site mode is enabled

- https://github.com/duckduckgo/ page loads in mobile view
- https://github.com/orgs/duckduckgo/people/ page loads in desktop view

[2021-05-28 07:34] cmonfortep commented on #1257
Thanks @Ammako I haven't been able to reproduce the issue on any of my devices, but I will try again with some emulators.

What you mentioned in your second comment about url bar being selected when you click a link could be related. We are not aware of that behavior, so it will be nice to know more about it: how frequently is that happening to you? Do you think that happens on some specific websi

[2021-05-28 11:04] WillHick commented on #1257
I have seen this issue show at random, ill try to reproduce

[2021-05-31 06:22] grzechuzet opened #1259 "Polish translation - small typo in Settings"
**Description**
In main menu phrase "Bezpiecza witryna internetowa" missing letter 'n' in the first word. Correct is 'Bezpieczna ...'

**Steps to reproduce the behavior:**
1. Open App and click Seetings.
2. Menu list is displayed.
3. On the menu options list is **"Bezpiecza witryna internetowa"**

**Expected behavior**
Correct phrase is **"Bezpieczna witryna internetowa"**

**Smartphone:**
 - DDG

[2021-06-01 04:47] ChiIllHOLA opened #1262 "Mega & Github: No Site Support"
![194781567_160411022644725_1877929870516217824_n](https://user-images.githubusercontent.com/84558486/120266322-3b60ff80-c2d4-11eb-99c5-f1e4547e065b.jpg)

![194398965_208391554453430_7524698977220459667_n](https://user-images.githubusercontent.com/84558486/120266321-3b60ff80-c2d4-11eb-9fde-14fe78fe3928.jpg)

**Describe the bug**
I chose Duckduckgo browser because it's very lightweight, it has a lo

[2021-06-01 05:03] WillHick commented on #1262
Ive just checked this and can not replicate the issue (Android 11, Latest DDG Version). There is a high chance that it could be due to your Android version you said youre on (6.0.1) as features in WebView might be outdated.

[2021-06-01 07:09] ChiIllHOLA commented on #1262
I was hoping you wouldn't say that. Just one more question, what version of Chromium is the browser using? Does it have anything to do with other browsers being able to access those sites?

[2021-06-01 07:18] WillHick commented on #1262
Version 90.4 (WebView Latest Build) and Have not had this issue on other browsers (E.g. Firefox, Chrome, Kiwi etc)

[2021-06-01 07:23] WillHick commented on #1262
Remember the DuckDuckGo Browser is built off WebView, a smaller version of Chrome's Webkit, Just like Firefox has GeckoView

[2021-06-01 07:25] ChiIllHOLA commented on #1262
That's weird. Welp, thanks for the help!

[2021-06-01 07:25] #1262 closed

[2021-06-01 07:27] WillHick commented on #1262
Try update WebView via the Playstore (or install the Beta) there is also the Bromite WebView you can install if that helps (via there website) (You can remove this devs if I cant refer the Bromite WebView) 🤟

[2021-06-03 01:48] Lalisfeed opened #1268 "Add widget to home screen button doesn't work"
**Describe the bug**
The pop up at the bottom of screen asks to add search widget to home screen.
On clicking the blue button, it doesn't respond.

**How to Reproduce**
Steps to reproduce the behavior:
1. Freshly install the app or clear all data (user + cache)
2. Do the first ddg search
3. Do first url visit on other tab
4. Click fire button and when new tab is open the pop up appears
5. Click on

[2021-06-03 11:29] woheller69 commented on #1104
works now

[2021-06-03 11:29] #1104 closed

[2021-06-04 09:15] cmonfortep commented on #1268
We can't reproduce this issue. what happens if you add the widget manually? does that work?

[2021-06-04 09:19] cmonfortep commented on #1259
Thanks, I've fixed the wrong copy in our translations system. The copy should be fixed in one of our next releases.

[2021-06-04 09:19] #1259 closed

[2021-06-04 09:19] cmonfortep commented on #1257
any update here? has anyone discovered a way to reproduce this issue?

[2021-06-04 09:23] cmonfortep commented on #1239
Thanks for so thoughtful description, we really appreciate the effort. We are aware of this issue and we have plans to provide a fix in the near future.

We are tracking the bug under this issue here (https://github.com/duckduckgo/Android/issues/1018#issuecomment-745330878).

Closing this as issue as the fix for https://github.com/duckduckgo/Android/issues/1018#issuecomment-745330878 will address

[2021-06-04 09:23] #1239 closed

[2021-06-04 09:24] cmonfortep commented on #1237
could you provide more info about what trackers were not blocking according to that report? Thanks.

[2021-06-04 10:12] Lalisfeed commented on #1268
manual additon works

[2021-06-04 11:30] Lalisfeed commented on #1268
Check this video, I've recorded the process. Uploading video isn't working so I'm uploading zip file of size 13mb. There is a video in it.
[Duck_Video.zip](https://github.com/duckduckgo/Android/files/6598098/Duck_Video.zip)

[2021-06-05 02:22] Ammako commented on #1257
Are you able to emulate specific devices in an android emulator?

Nothing special, it just happens at random while browsing and clicking links. Regardless of website.

[2021-06-06 09:39] eccul opened #1273 "Opening a background tab and going back to tabs makes tabs window to scroll to top"
**Describe the bug**
Opening an uncached/not loaded/background page in tabs window and then going back to tabs seems to scroll it to the top which may get annoying if you have a lot of tabs open

**How to Reproduce**
Steps to reproduce the behavior:
The most reliable way would probably be..
1. Open some page and open a new background tab from there
2. Return to tabs
3. Enjoy the scroll

**Expected

[2021-06-07 08:42] jayesh-srivastava commented on #1268
@Lalisfeed Hi, can I work on this issue, if it's still available?

[2021-06-07 09:50] Lalisfeed commented on #1268
Ask @cmonfortep about this. For now it's still an issue on my phone

[2021-06-07 09:52] cmonfortep commented on #1268
@jayesh-srivastava  can you reproduce it on your device?

[2021-06-07 09:54] jayesh-srivastava commented on #1268
Trying to reproduce it in the emulator.

[2021-06-07 10:22] jayesh-srivastava commented on #1268
Hey @cmonfortep I just reproduced it on my emulator.

[2021-06-07 10:27] cmonfortep commented on #1268
Thanks @jayesh-srivastava. Could you briefly explain what's the issue? I wonder why I'm not able to reproduce it on my device.

[2021-06-07 10:35] jayesh-srivastava commented on #1268
Yes sure. You need to add one directory(src) inside the bloom_cpp directory (Android\app\src\main\cpp\third-party\bloom_cpp)  and inside that directory you need to add two files (BloomFilter.cpp and BloomFilter.hpp). The links of these two files are as follows:-
https://github.com/duckduckgo/bloom_cpp/blob/54e581a490236ebc3498e50db37e050cbc61923c/src/BloomFilter.cpp
https://github.com/duckduckgo/b

[2021-06-07 10:36] jayesh-srivastava commented on #1268
@cmonfortep (forgot to mention you in the previous comment so doing it here.)

[2021-06-07 10:54] cmonfortep commented on #1268
Thanks, @jayesh-srivastava, `bloom_cpp` seems to be unrelated to the Widget issue.

When using your emulator, do you also have the same problem as @Lalisfeed? if so, have you been able to find the root cause of that issue?

[2021-06-07 11:10] jayesh-srivastava commented on #1268
Hey, @cmonfortep I used the application on my emulator and it's working fine. I used the widget feature and it's working totally fine. The widget was added in the search bar.
For reference I'm adding the screenshot of my emulator:-
![device-2021-06-07-162842](https://user-images.githubusercontent.com/49337716/121006832-fabf2580-c7ae-11eb-9382-8dddc291d8e0.png)

[2021-06-07 11:12] Lalisfeed commented on #1268
You added to from the popup?

[2021-06-07 11:16] jayesh-srivastava commented on #1268
@Lalisfeed yes, inside the application.

[2021-06-07 11:22] Lalisfeed commented on #1268
But I see this not working here (did this for many times but same thing happens). Does the app require special permissions to add widget or it's some issue with my phone. Did you try it on your phone?

[2021-06-07 11:25] jayesh-srivastava commented on #1268
@Lalisfeed Adding the screenshot here for your reference:-
<img src="https://user-images.githubusercontent.com/49337716/121008662-db28fc80-c7b0-11eb-95f8-b5de4d985f99.png" width="300" height="600">

No it did not ask for any special permissions. No haven't tried it on my phone, will do.

[2021-06-07 11:26] Lalisfeed commented on #1268
I did this on phone.

[2021-06-07 11:43] jayesh-srivastava commented on #1268
@Lalisfeed I tested it on the phone itself with app version (5.87.0) and it's working. I used the code cloned from the github repo to test the app on my mobile phone. Maybe you'll have to add the DuckDuckGo widget on your home screen.

[2021-06-07 12:05] Lalisfeed commented on #1268
I tried to do it on other phone. The widget button worked. I think its an issue on my phone.

[2021-06-07 12:15] Lalisfeed commented on #1268
Should I close this issue or leave it open?

[2021-06-07 14:53] cmonfortep commented on #1268
If we can't reproduce it, let's close it. Thanks.

[2021-06-07 14:53] #1268 closed

[2021-06-07 16:19] jayesh-srivastava commented on #1268
Yes @cmonfortep there wasn't an issue as such. Because it worked on my system and phone.

[2021-06-10 07:45] Crashillo opened #1276 "Encode spaces in URL path"
**Describe the bug**
Sometimes the query string is not encoded and it comes spaces within, for instance: "https://example.org/find?q=foo bar baz". Therefore a DDG search is made, instead of opening the site directly.

**Expected behavior**
Be able to detect if the string matches some url pattern, and if so, replace those spaces with `%20` string, in order to go to specific url.

**Smartphone (plea

[2021-06-13 11:20] Ammako commented on #1262
To clarify: this browser doesn't use any specific version of Chromium webview; it runs off the one you have on your device.

[2021-06-14 04:05] qflair opened #1279 "GPC setting only respected in websites used to test the setting"
**Describe the bug**
GPC setting only fully supported when visiting a specific list of domains.

DuckDuckGo hardcodes a list of domains for which the GPC header is always included. Those domains are the ones users can use to test the GPC setting: https://github.com/duckduckgo/Android/blob/e5818214a7fe9a8b0f899501f32494577c2f02fe/app/src/main/java/com/duckduckgo/app/globalprivacycontrol/GlobalPriva

[2021-06-14 06:35] BubuAnabelas commented on #1279
I belive it isn't a trick, looking the blame of the file it's easy to see the PR which introduced the GPC changes and the discussion arround those lines of code [1] which are used for intercepting some requests. Besides that, there seems to be some issue arround how navigation is being done and how the GPC headers are added [2].

[1]: https://github.com/duckduckgo/Android/pull/1020/commits/41f9c7e

[2021-06-14 06:44] qflair commented on #1279
That's fair enough. Just seeing a hardcoded list of domains made me think this was done on purpose to make those domains "happy" (and that's the behavior).

Anyway, I reported this bug so that it hopefully gets fixed.

[2021-06-14 08:57] cmonfortep commented on #1279
Hi @qflair, sorry if that code was a bit misleading without knowing how we handle the GPC signal.

We support 2 different ways to send the GPC signal, via DOM or Headers.

We do always send the DOM signal (injected via JS) every time you visit any site.
You can check the code here -> https://github.com/duckduckgo/Android/blob/0b66bf4fc07bc37a8e47c7ce9389cda381cb4dd6/app/src/main/java/com/duckduckg

[2021-06-15 06:12] Github-com-foss opened #1281 "Ads not blocked / extension support"
**Describe the bug**
Ads block does not work in most of websites eg.youtube,imbd. Or please add extension support like ublock origin. Pls block the redirect links goes to some unwanted sites.

[2021-06-15 06:16] Github-com-foss opened #1282 "Geckoview"
Pls adopt geckoview engine and support opensource project. I know webview is opensource but dont depend google. Pls make full featured browser.

[2021-06-15 07:18] WillHick commented on #1282
DuckDuckGo isnt based on Chromium, it uses the WebView component in Android, almost sure they said they are not going to use GeckoView but id like to see something better than WebView 🤣

[2021-06-18 21:46] NSTAdventure opened #1287 "ads not blocked"
here is url of the ads that not blocked by ddg:
https://click.a-ads.com/1648168/100233/

this ads appear while I visit this web:
https://techyneed.com/wp/how-safe-is-your-job-here-are-7-signs-that-are-career-red-flags/

well pls add click.a-ads.com to blacklist so next time this ads are blocked by ddg browser @duckduckgo

thanks 😊

[2021-06-20 00:35] lucifiel opened #1288 "DataUri downloads do not work on Android 10+"
**Describe the bug**
DataUri download fails with file permission denied error.

Permission android.permission.WRITE_EXTERNAL_STORAGE no longer works in new android versions.
See https://developer.android.com/about/versions/10/privacy/changes and https://developer.android.com/about/versions/11/privacy/storage

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/Pseudon

[2021-06-20 01:09] lucifiel commented on #1282
Option to use alternative webview would be nice. There are devices that are stuck with vendor supplied implementation.
For example huawei and honor devices are shipped with com.huawei.webview (based on 2018 code) and reject other non-huawei signed versions.

[2021-06-20 01:31] Ammako commented on #1282
Not necessarily a bad suggestion, but GeckoView is not a WebView replacement, so it would be a lot of work to make the app compatible with it (and would increase the size of the app because it would need to ship with GeckoView.)

Not that they wouldn't do it, but it would be up to them to decide if that's worth the dev time. For everything else, I'm not sure if it's possible to bundle webview insi

[2021-06-21 08:14] cmonfortep commented on #1287
Hey @NSTAdventure, thanks for taking the time to write this.

We block ads that we consider to be tracking our users. For that, we consume the dataset provided by https://github.com/duckduckgo/tracker-radar If you think that domain should be added to the block list, feel free to ping the team in that repo. Thanks.

[2021-06-21 08:14] #1287 closed

[2021-06-21 08:15] cmonfortep commented on #1282
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2021-06-21 08:15] #1282 closed

[2021-06-21 08:18] cmonfortep commented on #1281
Hi @Github-com-foss

Related to your first comment "Ads block does not work in most of websites": we only block third-party ads that we consider to be tracking our users. Internally we use the domain list provided by https://github.com/duckduckgo/tracker-radar

Related to your feature request "add extension support like ublock origin": We are currently only accepting Github Issues for bug reports.

[2021-06-21 08:18] #1281 closed

[2021-06-21 08:29] cmonfortep commented on #1279
Closing this issue as not a bug.

As commented above, we have a project in our backlog to investigate further improvements ([internal link](https://app.asana.com/0/1198504124118156/1199408063425180/f))

Thanks.

[2021-06-21 08:29] #1279 closed

[2021-06-21 08:30] cmonfortep commented on #1257
@Ammako @WillHick do you use a third-party webview?

[2021-06-21 08:43] cmonfortep commented on #1273
@eccul I'm trying to reproduce this issue, but it seems to work for me. So let me double check with you if I understand the steps you posted there.

1. Open some page and open a new background tab from there -> I have multiple tabs open. From any tab, I long click a link and then I select "Open in Background tab"
2. Return to tabs
3. Enjoy the scroll -> In my case, the tab selected is the one wher

[2021-06-21 08:50] cmonfortep commented on #1237
Closing as not a bug (we don't know which domain is the one not blocked by our app).

For any issue related to not blocking trackers please include more info (as the domain not being blocked). Also, FYI we use the [tracker radar](https://github.com/duckduckgo/tracker-radar) dataset. Feel free to open an issue there if you think any tracker domain should be added to the dataset.

[2021-06-21 08:50] #1237 closed

[2021-06-21 09:17] cmonfortep commented on #1288
Hi @lucifiel we are aware of the changes introduced in Android 10 but we haven't seen any issue so far with our implementation. Could you check if you have storage permissions enabled for our app? Is the issue only affecting you when downloading data Uri files?

I've tested this using this site (https://dopiaza.org/tools/datauri/examples/index.php) and downloading the image without any issue.

Tha

[2021-06-21 10:58] Ammako commented on #1257
I use bromite, but as above, you have my rom that you can use for testing if you need.

[2021-06-21 13:40] runboy93 opened #1289 "FLoC on DDG browser?"
DDG extension and search does not allow FLoC, but what about DDG browser?

[2021-06-21 17:01] eccul commented on #1273
Thanks for trying to reproduce this! I think a consistent way to repro this is:
1. Let's assume you have a handful of tabs opened. Focus on a tab from somewhere in the middle (from my testing, there's no issue with tabs at the bottom)
2. Close the app and reopen it
3. Return to tabs

But generally you should be able to reproduce whenever you open a non-loaded page and return to tabs, or open a bac

[2021-06-21 23:49] lucifiel commented on #1288
Hi @cmonfortep
Storage permission is enabled in device settings and downloading image from https://dopiaza.org/tools/datauri/examples/index.php gives same error on my device.

I think `android.permission.WRITE_EXTERNAL_STORAGE` is ignored in android 10.
Android Studio inspection info says ```
Scoped storage is enforced on Android 10+ (or Android 11+ if using requestLegacyExternalStorage). In parti

[2021-06-22 00:19] lucifiel commented on #1288
I was able to reproduce the issue with android virtual device

CPU/ABI: Google APIs Intel Atom (x86)
image.sysdir.1: system-images/android-29/google_apis/x86/
Target: google_apis [Google APIs] (API level 29)

[code]
https://user-images.githubusercontent.com/1196947/122843612-5e893880-d2ef-11eb-8e18-aaa4c508a336.mov

[2021-06-22 06:42] NSTAdventure commented on #1287
wait don't close this yet i will try to report that just wait :)

[2021-06-22 07:45] cmonfortep commented on #1289
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

We posted an article related to FLoC in our website. If you are interested, you can read it [here](https://spreadprivacy.com/block-floc-with-duckduckgo/).

Check out our [contribution guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contributing-to-duckduckgo) to know more details.

[2021-06-22 07:45] #1289 closed

[2021-06-22 11:57] cmonfortep commented on #1273
Does it still happen in the latest release (5.88.0)? I managed to reproduce the issue on 5.87.0 but not in the latest one.

[2021-06-22 12:07] eccul commented on #1273
Yeah, I've been on 5.88.0 all this time, so I can reproduce on latest.

[2021-06-22 12:23] michaldrabik commented on #1273
Hi all - just going to jump in on this one. I'm also able to reproduce it on 5.88.0
Attaching video: https://drive.google.com/file/d/1YJfP-jeKJaCTv4NwBZxvq6AuaJ42nxi9/view?usp=sharing

To be honest I'm not sure that this is related to background/cache loading etc. It seems like Recycler / UI thing. It's not in a video but I am also able to notice a moment the list scroll up even before new tab sli

[2021-06-22 12:45] cmonfortep commented on #1273
Thanks, we have created a task to investigate the bug and try to fix it.

[2021-06-22 13:12] #1273 closed

[2021-06-22 15:13] michaldrabik commented on #1273
Thanks @cmonfortep seems to be working fine now. Not ideal though. Using `.post { }` is an obvious quick fix but the list will still jump around. If you select tab tile that's currently at the top of the list and then "go back" (as the Activity is actually recreated) the Recycler will scroll to it's bottom.

It's just slightly annoying, no big deal. I see current implementation and see how this mi

[2021-06-24 21:38] lucifiel commented on #1288
One possible solution for this issue would be to use `android.provider.MediaStore`.

As it may take some time to implement i propose adding android 10 only workaroud - `android:requestLegacyExternalStorage="true"` line to AndroidManifest.xml.

If that is okay i can make a pull request.

[2021-06-29 13:34] Lalisfeed opened #1295 "Section to view all Downloads is needed"
It becomes hard for a user to view 👀 all the downloads made using the DDG Browser when there is no downloads section.

Since the browser has feature to download files from any site, I think there must be a download section like the bookmark section to view all downloads made at one place.

Would you please add it?

[2021-06-30 10:58] shum16 opened #1296 "Android mobile browser is blocking Plyr JS video player"
**Describe the bug**
It seems like the DuckDuckGo Android mobile browser is blocking the Plyr video player, at least with youtube content. Please look at this link in the browser: https://plyr.io/#youtube - the video is not just playing. The point is that we are using this player for our website (here, for instance: https://changeonelife.ru/videoprofiles/egor-m-respublika-bashkortostan-3/) and our

[2021-06-30 17:38] eccul commented on #1273
Hey, don't know if it matters, but seems fixed in 5.89.1 as I can't repro anymore. (:

[2021-06-30 18:19] cmonfortep commented on #1273
@eccul Thanks for reaching us to confirm the issue was fixed. We included a fix in our latest release. 👍

[2021-07-01 16:42] cmonfortep commented on #1295
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2021-07-01 16:42] #1295 closed

[2021-07-01 17:03] sibeliusg opened #1301 "Dark webview"
It would be nice to have the dark webview feature.

[2021-07-04 23:41] WillHick opened #1307 "News/Info Scrolling, Triggers Loading Bar"
Issue:
 • Progress Bar, starts twitching/showing when navigating web content.

Expected:
 • Holding/Scrolling shouldn't cause progress bar (Loading Bar) too twitch/load on the Toolbar, when navigating.

Reproduce:
 • Go to "google.com" for example search "news" etc and navigate across news title in the horizontal layout.

Proof (MP4 Video):
https://user-images.githubusercontent.com/48844761/124402

[2021-07-09 15:47] Nihal247 commented on #559
No Hindi? I think it's required. Hindi is the fourth most spoken language in the World.

[2021-07-09 16:06] cmonfortep commented on #1301
Thanks, we will better support dark mode on websites as soon as we can, however the webview API is a bit limited. Please follow the discussion here -> https://github.com/duckduckgo/Android/discussions/1180

[2021-07-09 16:06] #1301 closed

[2021-07-11 16:20] Lalisfeed commented on #1018
What if there is a rename option for the file when tried to download?

[2021-07-11 16:24] Lalisfeed commented on #1018
I tried to download python (.py) files and it asked me to save it as `uploads.bin`

[2021-07-11 17:10] ghost opened #1312 "Problem with File Names in Downloads"
**Describe the bug**
- DDG browser doesn't name the files as expected.
- The inner content remains unchanged. The main problem is with the file name and its extension
- The file name doesn't matter to it and always names it as `uploads`.

I tried to download following type of files  from [here](https://ddg-name-test-ubsgiobgibsdgsbklsdjgm.netlify.app/) and resulted as follows:

| original file | p

[2021-07-12 09:09] aitorvs commented on #1312
Thanks for reporting this @Lalisfeed. This should have been fixed in the latest DDG app v5.90.0. Could you tell us if it still happens when you upgrade?

cc @cmonfortep @malmstein

[2021-07-12 09:37] malmstein commented on #1312
@Lalisfeed would you be able to share the links you're using to download those files? Just the name + extension is not enough to solve the issue.

[2021-07-12 10:49] Lalisfeed commented on #1312
@malmstein  I added it in the above comment.

[2021-07-12 11:29] Lalisfeed commented on #1312
@aitorvs I checked this by installing 59000. I see these:
- complete file name disappears sometimes in the popup which says ` Save filename `
- still see the  `uploads` word , ex: abcd.c as uploads.txt

When I inspected the ` href  ` url in the html ` a` tag, I saw that ddg might have named the file based on the url but not based on the file name.

ex:  if the file `text.js` is in `https://www.exa

[2021-07-12 12:17] Lalisfeed commented on #1312
@aitorvs I made this explaination better in the site itself. check [this](https://ddg-name-test-ubsgiobgibsdgsbklsdjgm.netlify.app/)

[2021-07-12 15:19] Ammako commented on #1312
Isn't that #1018? Yeah, not fixed in 5.90.0

Had no idea 5.90.0 was supposed to be fixing this... might be nice to actually describe what updates do instead of just "rearranging the furniture", you know?

[2021-07-12 16:42] Lalisfeed commented on #1312
Its working better than before.
media.bin -> media.png (5.90.0)
file extension naming goes well but file prefix naming is still done based on `media/`.

[2021-07-12 17:16] cmonfortep commented on #1296
Thanks, @shum16 for reporting this. This seems related to the same issue we detected on some other sites related to DRM permissions. (see https://github.com/duckduckgo/Android/pull/1291)

Our privacy team needs to validate if we can add this site to our allow list. Please report the issue directly from the DDG browser app, and they will investigate it.

Steps to report the issue:
1. Go to https://

[2021-07-12 17:16] #1296 closed

[2021-07-15 06:15] Lalisfeed opened #1319 "Info tab goes off while viewing images"
**Describe the bug**
The image info tab goes off/down when image is opened having search bar visible.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to the App
2. Search for something and open images tab.
3. Load an image when the search bar is visible & load the image when search bar is not
4. See error

**Expected behavior**
Info tab can be seen (everything fits into the screen i.e

[2021-07-15 15:37] oldphones68 commented on #1257
I also face this.
And, during this moment the address in the address bar get automatically selected. @cmonfortep

[2021-07-15 15:39] oldphones68 commented on #1257
I also face this.
And, during this moment the address in the address bar get automatically selected. @cmonfortep

[2021-07-18 00:10] kolanse commented on #914
Please is this issue still open to be tackled?

[2021-07-18 08:00] prashantkumar-cmd commented on #559
I would like to add ' Hindi '  to App.

[2021-07-18 08:15] prashantkumar-cmd commented on #1319
i want to work on it . is it available?

[2021-07-19 22:56] Ammako commented on #1319
This is the same issue as #914 #638

[2021-07-20 20:25] afatduck opened #1325 "Links in <domainname>:<port> format won't open"
**Describe the bug**
DuckDuckGo Android app will not open a link that contains only a domain name and a port number. It **will**, however, open the link if the protocol is provided, or if the IP address is used instead of the domain name. (adding "www." at the beginning does not help)

**How to Reproduce**
1. Go to a new tab.
2. Tap on the address bar.
3. Enter a domain name and a port number afte

[2021-07-20 21:43] marcuswu commented on #914
The above commit is unfortunately not a solution.
I'm not convinced this is the right approach for a few reasons listed below, but it could be on the right track.

- I am not 100% sure this isn't possible without subclassing `AppBarLayout.ScrollingViewBehavior`. That behavior does adjust positioning, but I haven't found where it or its parent alters view size. I haven't exhausted the search, but i

[2021-07-23 21:13] Jonta opened #1331 "Tilde (~) shown instead of number of tabs >99"
**Describe the bug**
When >99 tabs are open, the number disappears, and is replaced by the ~-symbol

**How to Reproduce**
1. Open >99 tabs
2. See that you now don't know how many tabs are open anymore

**Expected behavior**
a. Shows number of tabs that are open (going beyond bounding box if necessary. I know it makes screenshots uglier, but it's still more informative than "~". And yes, that's bet

[2021-07-23 21:20] Jonta opened #1332 "Req: Export/dump currently open tabs/URLs"
**Describe the bug**
Got [a lot of tabs](https://github.com/duckduckgo/Android/issues/1331) open, can't sort through them on a proper computer without doing a bunch of manual work

**How to Reproduce**
1. Open a lot of tabs
2. Bookmark none of them
3. Realise you want to keep these
4. Sigh

**Expected behavior**
"Bookmark all open tabs"-feature, and then exporting it. Seems like the most DDG-esque

[2021-07-23 22:26] Akshit6828 commented on #1331
Well, I think we can show the first two digits ending with a ` .` (dot) signifying a short form of  `....` (too many dots).

#### Points to be considered:
- [x] It is more human-understandable.
- [x] It won't look ugly even in screenshots.

Eg:
* 1000 can be shown as `10.`
*  5555 can be shown as `55.`

### If this fits well, can I contribute to it?

[2021-07-24 16:23] Akshit6828 commented on #1331
Please check #1333  and let me know if any changes are required. 😃

[2021-07-24 16:36] aitorvs commented on #1331
Thanks @Jonta for flagging this. This is however more a feature request than a bug. For those you can open a [Discussion](https://github.com/duckduckgo/Android/discussions) (see our [contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md))

Closing this issue for now.

[2021-07-24 16:36] #1331 closed

[2021-07-24 17:58] Kita2345 opened #1335 "Download error"
**Describe the bug**
Failed to download from https://nationsglory.fr/download

[2021-07-24 18:17] Kita2345 opened #1336 "Allow downloads in referer links."
**Describe the bug**
Go to https://dl.twrp.me/guacamole/twrp-3.5.2_9-0-guacamole.img.html and try to download the .img file.

After download the file is 6,71KB instead 34,04MB, because the browser downloads the HTML instead of the .img file.

[2021-07-25 19:19] cmonfortep commented on #1336
Hi, could you use the bug template to report any issue? It will be good to know app version, android version, etc.. and any screenshot/video will be very useful too.
I will close this one as invalid, please reach to us again.

Please use our GitHub templates so we can understand better your request. Thanks.

[2021-07-25 19:19] #1336 closed

[2021-07-25 19:19] cmonfortep commented on #1335
Hi, could you use the bug template to report any issue? It will be good to know app version, android version, etc.. and any screenshot/video will be very useful too.
I will close this one as invalid, please reach to us again.

Please use our GitHub templates so we can understand better your request. Thanks.

[2021-07-25 19:19] #1335 closed

[2021-07-25 19:19] cmonfortep commented on #1332
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2021-07-25 19:19] #1332 closed

[2021-07-25 19:23] cmonfortep commented on #1319
As @Ammako pointed out, this is caused by the problem described in https://github.com/duckduckgo/Android/issues/914 and we are open for contributions to fix that bug.

Closing this as duplicated.

[2021-07-25 19:23] #1319 closed

[2021-07-28 21:15] Endem10n opened #1340 "Weird RTL behaviour."
**Describe the bug**
Strange feel and look if any of RTL locales is switched on.

**How to Reproduce**
Steps to reproduce the behaviour:
1. Go to device settings.
2. Select any RTL language as system language (Arabic, Hebrew, Persian, Urdu, e.t.c.)
3. Launch DuckDuckGo.
4. Go to settings screen, go to some other screens.
5. You will see quite strange UI with some layouts mirrored, some not, with s

[2021-07-30 21:40] marcuswu commented on #914
I've iterated over my earlier code and have what I believe to be a working solution. I'd love some feedback.

[2021-08-02 13:16] cmonfortep commented on #1340
Thanks @Endem10n for reporting this issue. We are aware of this problem, however, the list of languages we support is limited (see [full list here](https://github.com/duckduckgo/Android/blob/develop/TRANSLATIONS.md#list-of-languages)) and we don't currently support any RTL language. We would love to support as many languages as possible, but we are still a small team.

In any case, I encourage you

[2021-08-02 13:16] #1340 closed

[2021-08-03 17:45] oldphones68 opened #1346 "URLs trigger search engine search instead of loading site"
**Describe the bug**
Many times when I try to open a site typing the address - instead of going to the site, the browser goes for a DDG search.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to 'address bar'
2. Type 'bing.com' or 'youtube.com'
3. See error

**Expected behavior**
How about implementing something like this:
IF
the input has a period (I mean full-stop) AND there is NOT

[2021-08-05 10:07] fabianMendez opened #1355 "Swipe to next/previous tab"
It would be cool to be able to switch to the next or previous tab by swiping on the address bar. This is a common feature implemented in other browsers like Chrome or Firefox.

[2021-08-06 17:00] awadheshv opened #1359 "Dark theme enhancements"
**this is more of a feature request, please let me know if this is not the place for this. thank you.**

1. When dark theme enabled: change the blank white space while the page is loading to some shade of grey/black.
![Screenshot_20210806-221000](https://user-images.githubusercontent.com/6523285/128545977-7435cdf7-dbbb-4ff5-a5df-da8e7a856e6a.jpg)

2. Provide an option to (force) override page back

[2021-08-11 05:02] sunriver commented on #1312
![Screen Shot 2021-08-10 at 3 31 25 PM](https://user-images.githubusercontent.com/1295939/128972251-c7f29caa-09ab-4338-b255-13b481d877ad.png)

[2021-08-11 14:12] cmonfortep commented on #1355
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2021-08-11 14:12] #1355 closed

[2021-08-11 14:14] cmonfortep commented on #1359
@awadheshv related to your proposal we will soon release some enhancements to use dark theme if the site provides one. We didn't like the option to force dark theme because some sites look broken (but as commented above, feel free to jump into the discussion, there's already one about dark theme, and share your feedback).

[2021-08-12 11:21] rpet commented on #690
I completely agree with @sbconslt :

1. This issue would be much clearer if its title was changed to "Open bookmarks in current tab by default" or "Allow bookmarks to be openend in the current tab". I was about to open a duplicate issue when I finally found this one.
2.  Make it configurable in Settings, allowing each user to toggle to their preference. The existing behavior would be the default s

[2021-08-12 14:32] RiedleroD opened #1377 "[Bug] Colors get replaced in Dark mode"
### Describe the bug

This has obviously been implemented on purpose, but it's really nasty. I'll explain what I mean.

Basically, when dark mode is on, duckduckgo replaces some of the text colorations and background colorations with an inverted or otherwise modified variant. This breaks… pretty much every moderately complex website. I've done a bit of testing here: https://riedler.wien/music/test

[2021-08-14 03:37] WillHick opened #1379 "Flicking Colours (Theme Change)"
When changing the theme in the settings the colours flicker.

Proof:
https://user-images.githubusercontent.com/48844761/129432954-ed9fd60a-6edb-495b-9a33-beb9f95d4057.mp4

Latest Version Of The App On Android 11

[2021-08-15 16:19] marcellogalhardo commented on #705
Another option is to use the `lifecycleScope` that AndroidX already offers to you in any `ComponentActivity`: those are automatically wired to your lifecycle and will be cancelled when the lifecycle reaches destroy state.

For more details, see [here](https://developer.android.com/topic/libraries/architecture/coroutines#lifecyclescope).

[2021-08-16 07:57] malmstein commented on #1379
Fixed in https://github.com/duckduckgo/Android/pull/1373

[2021-08-16 07:57] #1379 closed

[2021-08-16 08:02] malmstein commented on #1377
@RiedleroD when you choose Dark theme in Settings, we only apply changes to our UI elements. `WebView` and the websites displayed in them are not modified by that selection.

There is however a proposal https://github.com/duckduckgo/Android/pull/1314 to apply dark theme to websites, but it's still under review

[2021-08-16 08:02] #1377 closed

[2021-08-16 08:12] RiedleroD commented on #1377
mate, have you even opened the link I sent you? ddg isn't the only mobile browser that does this, but the list doesn't seem to correlate to which browsers use webview. I could use a bit of help from an expert here, regarding which project I should submit this issue to, if not to ddg.

![screenshot of how this site looks on my end](https://user-images.githubusercontent.com/57227431/129532358-c05c0e

[2021-08-16 08:19] malmstein commented on #1346
Hey @oldphones68, I just tried to reproduce this but I can't. Could you update a video of this behavior?

https://user-images.githubusercontent.com/531613/129531941-4b9437a4-3c03-40a8-a0ee-642d490af98c.mp4

For context, https://github.com/duckduckgo/Android/blob/develop/app/src/main/java/com/duckduckgo/app/browser/DuckDuckGoRequestRewriter.kt already takes care of the logic you mentioned.

[2021-08-16 08:19] #1346 closed

[2021-08-16 18:04] Abdullah4087 opened #1380 "Gcg"

[2021-08-17 09:15] #1380 closed

[2021-08-17 13:51] Jonta commented on #1332
Discussion started at https://github.com/duckduckgo/Android/discussions/1383

[2021-08-18 13:44] the-djmaze opened #1386 "[Bug] Dynamic loading of assets is broken"
### Describe the bug

Dynamic loading of CSS and Fonts is broken.
See style loading: https://github.com/the-djmaze/snappymail/blob/master/dev/boot.js#L102

### How to Reproduce

1. Go to https://snappymail.eu/demo/
2. See error

### Expected behavior

Just like in Firefox, Chrome, Safari etc. see a styled login screen.

Also see:
https://github.com/the-djmaze/snappymail/issues/107
https://github.c

[2021-08-18 14:37] the-djmaze commented on #1386
Nevermind, issue seems to be .js.br and .css.br for correct Content-Type
Mentioned browsers detect this.

[2021-08-18 14:37] #1386 closed

[2021-08-19 03:09] oldphones68 commented on #1346
@malmstein I got the issue.

When we select from the suggestions and when the magnifying glass icon appears left to the suggestion, it goes for DDG search instead of directly going to that site.

How will it be, even if choosen from suggestion, it will go to the site?
Is that a feasible solution?

It may become helpful when in search bar we misspel a web address.

https://user-images.githubusercon

[2021-08-19 03:50] WillHick opened #1388 "Fix The Menu Size"
After the latest update, ive seen the menu has been resized but has gotten really small and looks really odd 🤣 any plan to fix this as ive got a bigger phone and looks terrible

![Screenshot_20210819-154842_DuckDuckGo.png](https://user-images.githubusercontent.com/48844761/130004696-4e0e0fed-1cab-4154-8cd3-f28227b46bea.png)

[2021-08-21 12:33] oldphones68 opened #1390 "Burn menu is not showing 'Cancel'"
### Describe the bug

When pressing the burn menu, only "Clear All Tabs and Data" is showing.
'Cancel' is not appearing!

### How to Reproduce

Click on 'Burn Icon'
See error.

### Expected behavior

'Cancel' should appear.
![IMG_20210821_183100](https://user-images.githubusercontent.com/51379704/130321927-0f49fd26-2a88-4fba-9ba6-1e9bd9c72652.png)

### Environment

[code]

[2021-08-21 18:09] vatonbero opened #1391 "[BUG] Setting DuckDuckGo Browse as an assist app in Android, autocomplete is used by default even when it is disabled in the main app"
### Describe the bug

Hi there,

If you set DuckDuckGo Browse as an assist app, autocomplete is used by default even when it is disabled in the main app.

How to reproduce:

- Open DuckDuckGo browser
- Disable autocomplete in DuckDuckGo browser
- Set DuckDuckGo as default assist app (on Android 10 go to "Apps & Notifications > Default Apps > Assist app")
- Open DuckDuckGo browser as an Assist app

[2021-08-24 19:43] oldphones68 commented on #1390
It happens in the dark mood.

[2021-08-25 01:43] oldphones68 commented on #1390
It happens when the dark theme is applied to the browser.

[2021-08-28 10:43] mr-back-to-python opened #1396 "[Bug] Cyclic open system window "Set as default""
### Describe the bug

While Dark Mode is on switch to Light theme leads to cyclic open system window "Set as default".

### How to Reproduce

1. Go to Settings
2. Click Light theme ("Светлая тема") when turn on Dark Mode

### Expected behavior

Switch to Light theme

### Environment

[code]

[2021-08-28 11:14] hotchemi commented on #914
Just noticed this issue has been addressed seemingly? Now I can use Twitter webapp normally👏

[2021-08-28 17:11] vatonbero opened #1397 "Option to use system default theme and respect Android values"
### Describe the bug

Android 10 allows you to toggle system theme between light and dark and Android 11 added option to schedule theme change eg. you can set light theme during the day and dark theme during the evening.

One would expect DuckDuckGo browser to toggle and change themes after you change something in Android 10+ settings however that is not possible because there is only manual toggl

[2021-08-29 15:04] Shawlaw commented on #1390
@4shutosh I see, but after I did some analyzation on this bug I found it is not a complex bug.
So I created a PR try to fix it.
I think this can somehow help make DuckDuckGo a better app and also can help anyone who wants to know more about the bug.

[2021-08-29 15:38] Shawlaw commented on #1396
This bug has been fixed in https://github.com/duckduckgo/Android/pull/1365
Starting with v5.94.0 the bug should has been fixed, you can update your app to the latest version.
It is because changing theme would cause current Activity recreate and restore previous Switch widgets' status, which triggers the corresponding onCheckChangeListener.
Unfortunately the listener in v5.93.0 doesn't handle this

[2021-08-29 19:46] #1396 closed

[2021-09-01 11:52] nbrr commented on #146
@CDRussell Webviews will soon be deprecated for use with Facebook login SDK, [see](https://developers.facebook.com/docs/facebook-login/android/deprecating-webviews), and only Custom Tabs will be usable. Has any kind of Custom Tabs support been added since this issue was initiated?

[2021-09-03 15:02] malmstein commented on #1397
https://github.com/duckduckgo/Android/pull/1398 is taking care of this

[2021-09-03 15:02] #1397 closed

[2021-09-03 15:03] malmstein commented on #1390
This is solved by https://github.com/duckduckgo/Android/pull/1394

[2021-09-03 15:03] #1390 closed

[2021-09-03 15:05] oldphones68 commented on #1390
Thanks! When the update may go live via G Play Store? @malmstein

[2021-09-03 17:28] malmstein commented on #1390
@oldphones68 I'm guessing next week, there are a couple of big features being added. Check the [Releases page](https://github.com/duckduckgo/Android/releases) to make sure.

[2021-09-06 02:19] WillHick opened #1410 "ToSDR Ratings (From Site To App)"
Issue :
For alot of sites the ToSDR rating isnt the same as the site, example Facebook is rated as a C+ in the browser is but on ToSDR it is rated at a grade E. (Also under privacy practices for Facebook for example there is very few listed in app but on ToSDR there are alot displayed)

**Grades Images**

Photo - (DDG Grade)
![Screenshot_20210906-141157_DuckDuckGo.png](https://user-images.githubus

[2021-09-06 04:28] 4shutosh opened #1411 "[Bug] Dialog Fragments do not follow Dark theme"
### Describe the bug

DialogFragments (example: from settings activity) do not follow the theming options of the app

### How to Reproduce

Open Settings Screen:
- Click on Fire Button Animation (Dark theme being enabled)
- The dialog does not follow the dark theme

### Expected behavior

- The dialog fragments should follow the app theming options

### Environment

[code]

[2021-09-06 04:29] 4shutosh commented on #1411
I would like to work on this issue. @malmstein Can you please assign this to me?

[2021-09-06 09:06] malmstein commented on #1411
Thanks for filing this one @4shutosh!

I appreciate your desire to help, however we'll take this one internally. The main reason being, we need input from the Design team to decide colors and background and an internal review from different stakeholders. It would take too long to go back and forth.

[2021-09-06 09:10] malmstein commented on #1388
@WillHick this is the desired size and won't be making any changes. We are continuously looking for feedback, and if this becomes an issue we will review it, however that's not the case for now.

[2021-09-06 09:10] #1388 closed

[2021-09-06 09:12] malmstein commented on #1410
@WillHick we don't display ToSDR ratings in our app, nor there is plan to do it in the foreseeable future. We calculate our own grades (you can check the code to see how), so it's normal that both grades are different.

[2021-09-06 09:12] #1410 closed

[2021-09-06 09:13] WillHick commented on #1388
Damn, it even got 3 likes 🤣 would be nice to see it just a bit bigger

[2021-09-06 09:18] 4shutosh commented on #1411
Got it @malmstein Thank you for the explanation.

I'll try to look into some issues which won't require an internal process for further continuity :)
Also please feel free to assign me any issue/task of your choice, I'll be more than happy to work on it.

[2021-09-07 03:59] hotchemi opened #1412 "[Bug] ERR_TOO_MANY_REDIRECTS could happen when multiple redirects happen"
### Describe the bug

### Summary

I've seen the following error screen when trying to launch https://note.designing.jp/n/n9a5c60967d23.
The reason is obviously there're some redirects to finally land on the final destination.

<img src="https://user-images.githubusercontent.com/471318/132281770-c6820690-2880-4bf4-81dd-3351b3c323b7.png" width="300" />

### Root Cause

Haven't spent so much time fo

[2021-09-07 04:00] hotchemi commented on #1412
I can spend some time on the weekend(if we can agree this is the issue to address)!

[2021-09-09 23:56] owlicious commented on #467
Is it really that difficult to implement a "select all open tabs" or "share all open tabs" or "bookmark all open tabs" feature? This is commonly available in most browsers! I had no idea that it was not available in DuckDuckGo - a highly rated browser - years ago when I set it as my default browser, and now I am up to my neck in tabs (which automatically open every time I'm doing research) and no

[2021-09-10 00:01] owlicious commented on #728
So no traction on #467? 209 is great, it's phase 1 to make #467 a workable solution for a lot of people, most likely, but #467 or #728 are pretty essential features for a mobile browser. The processing power & screen real estate just isn't there to efficiently manage bookmarks any other way. If you do a ton of reading or research on your phone, you really need some way to quickly refer to the titl

[2021-09-10 10:16] Ammako commented on #1388
It looks a lot nicer with the changes from 5.95 at least

[2021-09-10 10:17] WillHick commented on #1388
Much agreed bro

[2021-09-13 12:08] cmonfortep commented on #1411
This has been already fixed and published in our latest release 5.95.0

[2021-09-13 17:30] 4shutosh commented on #1411
I've installed 5.95.0 from google playstore and this does not work foe me.
![Screenshot_20210913-225815_Settings~2](https://user-images.githubusercontent.com/53831987/133129794-056c99f1-c697-478c-9559-515000c877b8.png)
![Screenshot_20210913-225828_DuckDuckGo](https://user-images.githubusercontent.com/53831987/133129810-314335eb-ade3-453e-ba11-9fbf3aeb9629.png)

[2021-09-13 17:37] 4shutosh commented on #1411
@cmonfortep Can you please corroborate?
( Device: Pixel 5, Android 11 )

[2021-09-13 17:39] cmonfortep commented on #1411
Sorry, you are right! Thanks for the screenshot. We fixed the confirmation dialog to clear all data.

I'm reopening the issue.

[2021-09-13 17:41] 4shutosh commented on #1411
Sure 🙌🏻  Can I please work on this issue 😄 ?

[2021-09-13 20:39] cmonfortep commented on #1411
@4shutosh 👍👍

[2021-09-20 08:02] spiderman973 opened #1434 "[Bug] <phone turns off (not power off) while playing youtube videos>"
### Describe the bug

Phone turns off while playing youtube videos

### How to Reproduce

1. Open DuckDuckGo App
2. Click on the Address bar
3. type m.youtube.com
4. play any video
5. wait for 5-7 seconds
6. and the phone will turn off (not power off)

### Expected behavior

I expected that that It will play youtube videos without turning off

### Environment

[code]

[2021-09-20 18:50] IJohnDoeI opened #1437 "[BUG] Some Text Not Showing as Should"
### Describe the bug

When pressing the fire button, at the bottom "Clear All Tabs..." appears but the "Close" part does not appear.

Also on certain websites bits of text does not appear, for example on dominos the amount in the basket doesn't appear. I don't know whether these are related but this is what happens.

Thank you

### How to Reproduce

This happens whenever the app is opened

### Exp

[2021-09-21 07:34] cmonfortep commented on #1437
Thank you for reporting that issue. We already fixed it, and it's available in our latest release. Please update your app and that bug should be gone. 🦆

[2021-09-21 07:34] #1437 closed

[2021-09-21 07:45] cmonfortep commented on #1434
Thanks. I can't reproduce the issue on my device, but the behavior can be different between manufacturers.

Have you tried playing the video fullscreen?

[2021-09-21 07:59] cmonfortep commented on #1412
@hotchemi I was trying to reproduce the issue with the link you provided, and it seems to be fixed now. Maybe there was an issue also on their side as well.

We haven't fixed this issue in our app, so it may still happen in some scenarios. Please confirm you can visit that site.

We can look again into this issue next time we detect another link failing that other browsers support.

[2021-09-21 07:59] #1412 closed

[2021-09-21 08:47] cmonfortep commented on #1307
I've been investigating the issue and I don't see a clear fix for this one. We rely on WebView events, and that news feed it's triggering a callback that indicates loading progress.

We are going to discard fixing this issue for now, that may change in the future if we get enough user feedback or we see the issue happening in more sites than expected.

Thanks for reporting it.

[2021-09-21 08:47] #1307 closed

[2021-09-21 08:48] WillHick commented on #1307
👍👍

[2021-09-21 15:38] 4shutosh opened #1438 "[Bug] Edit Bookmark does not display the correct bookmark location."
### Describe the bug

Once the user saves a bookmark on a location. Edit Bookmark does not display the correct bookmark location, from the BrowserTabFragment.

### How to Reproduce

1. Open any webpage
2. Save it as a bookmark in any folder other than the "Bookmarks" root folder
3. After saving edit the bookmark, from the same popup menu.
4. The name being defaulted "Bookmarks" is shown.

### Expe

[2021-09-21 17:16] 4shutosh opened #1439 "[Feature] Ability to create bookmark folder from (edit screen) EditSavedSiteDialogFragment -> BookmarkFoldersActivity"
**Feature Description**
Users should be able to create a new folder from the EditSavedSiteDialogFragment/edit screen, which is much more convenient than going back to the bookmarks screen and creating a folder and then going back again to select that folder for the bookmark.

Even if the user goes to the bookmarks list screen and then wishes to check the folder there is no add folder directly from

[2021-09-22 06:08] 4shutosh opened #1440 "[Feature] Show Bookmark Folder name on Bookmark Saved Snackbar"
**Feature Description**
The user should be shown the folder name where the bookmark is saved, enabling it will give the user chooses to change the location at the moment of saving the bookmark.

[2021-09-22 07:36] cmonfortep commented on #1439
Hey @4shutosh it's a nice idea.

However, please open a discussion for this one (you can add also https://github.com/duckduckgo/Android/issues/1440 in the same discussion since they are both related) to suggest any bookmark improvement.

As per our [contributions guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code), we only accept Bug reports as Issues.

[2021-09-22 07:36] #1439 closed

[2021-09-22 07:37] cmonfortep commented on #1440
@4shutosh similar to my comment in https://github.com/duckduckgo/Android/issues/1439. Please open a discussion to suggest any bookmark improvement.

More info in our [contributions guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code).

[2021-09-22 07:37] #1440 closed

[2021-09-22 14:48] migarabhanu opened #1444 "[Typo] Punctuation Mistake"
### Describe the bug

_In the README, there is a Topic called Discuss. Under that topic, the description is written as,_

Contact us at https://duckduckgo.com/feedback if you have feedback, questions or want to chat. You can also use the feedback form embedded within our Mobile App - to do **so** please navigate to Settings and select "Leave Feedback".

_There should be a comma between the words *

[2021-09-24 11:29] hotchemi commented on #1412
Thx for the confirmation. I've also confirmed they reduced the number of redirects probably 🙇

[2021-09-29 12:49] pratik2315 commented on #1444
Hello sir, If this issue is still available can i work on it?

[2021-09-29 14:58] #1411 closed

[2021-09-29 15:01] #1444 closed

[2021-09-30 18:19] rolinger opened #1458 "Deep link urlschemes don't work in DDG"
### Describe the bug

The DDG browser doesn't not understand deeplink urlschemes provided by website redirects.

### How to Reproduce

My app uses QR codes to direct users to a website url, which then in turn uses a deeplink urlscheme to determine A) if the app is installed on the users phone B) if not installed to direct to the app store and C) if installed, then open the users app to go to speci

[2021-09-30 18:39] rolinger commented on #347
@cmonfortep - based on your last comment, if this is in regards to deeplinking urlschemes, then I am going to have to add  specific JS code to my website that determines if the browser is "DuckDuckGo" that the user will then need to rescan the QR Code and choose to open the link with Chrome/Safari/Edge/FF - because your browser won't open deeplinks.

Issue I created regarding this is referenced he

[2021-09-30 19:12] cmonfortep commented on #1458
@rolinger I assume the url on step 1 is not valid. Could you share an example of site where this is not working? Thanks

[2021-09-30 19:13] cmonfortep commented on #347
@rolinger we will investigate your problem in the issue you've just created. This issue is related with queries manually submitted in our Url bar. Your scenario may be different.

[2021-09-30 21:07] rolinger commented on #1458
@cmonfortep - no, step 1 is working.  It's after the user arrives at the link, the JS is working...but its breaking at step 5 because DDG browser does not recognize the deeplink urlscheme even when the app is installed on the users phone.

[2021-10-01 01:04] rolinger commented on #1458
@cmonfortep - The webpage uses PHP to determine both OS type and if the device is mobile or not.  It then populates that info into the JS and then executes the JS.  The JS script immediately tries to open the urlscheme...if the urlscheme is recognized the app will open, if not then a `setTimeout` executes more JS to redirect the user to the app store.  This scripting to support all this works on C

[2021-10-01 12:16] cmonfortep commented on #1458
If I visit https://mydomain.com/e=1135 from any browser, I just get a "404" error "the page you requested no long exists"

[2021-10-01 13:24] rolinger commented on #1458
@cmonfortep - I would have assume you recognized 'mydomain.com' as NOT a real domain.  I removed all references to my actual domain and app name.  I can private message you that if possible.

[2021-10-01 13:55] cmonfortep commented on #1458
@rolinger that was exactly what I was asking you about. We need a working URL so we can test it in our side and see why it's not handled properly.

Sites like Twitter, gmail, gmaps, reddit, amazon, etc. have an button to open the native app and we support those links in our browser.

[2021-10-01 14:31] rolinger commented on #1458
@cmonfortep

I will post it here for now, then delete it after you have it recorded on your side.  I don't like having my userID, domains and such associated in support blogs anywhere.  That's why I asked you for a private message or support email I can send the real links and app names to.

Real web link:  https://attendago.com/events/?r=1008
That tries to open urlscheme:  attendago://

Let me kn

[2021-10-01 15:11] cmonfortep commented on #1458
Thanks. I've already deleted the comment for you.

[2021-10-01 15:22] cmonfortep commented on #1458
@rolinger using our latest app:
- before I installed the app, I got the message you mentioned and then I was correctly redirected to the play store.
- after installing the app, I got the same message (app not detected). However, after closing the dialog the user can open the link on the native app.

Could you please try to reproduce it on your device using our latest version?

[2021-10-01 15:57] rolinger commented on #1458
Could you clarify 'after closing the dialog the user can open the link on the native app' ?  Do you mean typing the "myapp://r?id=1008" into the DDG address bar?  Because after the "app not found" dialog box is closed, there is no link for users to click that would take them into the app.

That aside, you do now see the issue.  Your first bullet point: that is the correct behavior for users that d

[2021-10-01 16:30] rolinger commented on #1458
@cmonfortep - I think I might see what your talking about.  I am seeing different behaviors due to JS execution times.  I have tried it multiple times now and sometimes the urlscheme triggers the DDG dialog "open in a different" app before the JS triggers its own dialog boxes.  It looks like the DDG dialog box is NOT pausing the JS....because then the JS setTimeout dialog pops up overlaying the DD

[2021-10-01 17:03] rolinger commented on #1458
@cmonfortep - I figured out the odd behaviors, see below.

1. QR Code opens with DDG
2. Tries to redirect to urlscheme myapp:// - a DDG dialog opens "use another app - cancel/ok".  But, the website JS dialog opens over that saying "app not found, go to app store - cancel/ok"
3. If user "cancels" JS dialog, user sees the native DDG dialog for a moment but then another JS dialog "app not found, go t

[2021-10-02 17:01] sandeep-gh opened #1463 "[Bug] Select drop down menu not showing color background"
### Describe the bug

Have a simple select element:
[code]

[2021-10-08 06:21] sandeep-gh opened #1471 "[Bug] browser hangs before rendering anything"
### Describe the bug

I uninstalled and reinstalled the DDG browser. Machine as internet connection. Irrespective of the url, the browser get stuck midway somewhere between fetching content and rendering.

### How to Reproduce

Nothing much other than entering url.

### Expected behavior

![Screenshot 2021-10-08 11 41 50](https://user-images.githubusercontent.com/24786309/136507619-2c780fdf-2030-4

[2021-10-11 14:27] cmonfortep opened #1478 "ViewBinding migration (replacing kotlin synthetics)"
### Description
We are currently migrating to ViewBinding since Kotlin synthetics have been deprecated.

This is a great opportunity for contributors to help our Android team.

We are accepting contributions to remove kotlin synthetics usages and replace them by using ViewBinding.

Inside our codebase, we have already migrated a bunch of classes that you can use as a reference:
- Fragments: Initia

[2021-10-11 14:42] cmonfortep commented on #1458
"But your second bullet point, with the app already installed, its supposed to auto-open the app. But on DGG, you have now witnessed it does not. What is causing this or what is the fix DGG needs to implement to fix it?"
- This is intended by design. Inside settings the user can decide if we should open external apps by default. By default, we show a dialog so the user can decide what action they

[2021-10-11 15:41] cmonfortep commented on #1434
Closing issue. We can't reproduce the issue.

[2021-10-11 15:48] cmonfortep commented on #1325
Duplicated https://github.com/duckduckgo/Android/issues/886

[2021-10-11 15:57] cmonfortep commented on #1276
Could you share what's the scenario where this is happening? Are you manually introducing the URL or something similar? Thanks.

[2021-10-11 16:31] cmonfortep opened #1479 "[Bug] Invalid URLs in broken site Android reports"
### Describe the bug

We are receiving broken site reports where the URL is `null://null`.

That means we have an edge case where the user is able to report a broken site but the URL is null.

### How to Reproduce

1. (simulate low speed connection) On an emulator, cellular settings → configure network type as GSM
2. Open a new tab
3. Search or visit any website
4. Press back before site loads
5.

[2021-10-11 16:35] cmonfortep opened #1480 "[Bug] Catch decoding exception in DataUriDownloader"
### Describe the bug

In DataUriDownloader, when we try write the bytes to a file we base64 decode the data. Crashlytics (from ATP) recorded a crash indicating the data couldn't be decoded; we should more gracefully handle this scenario.

### How to Reproduce

Fatal Exception: java.lang.IllegalArgumentException: bad base-64
       at android.util.Base64.decode(Base64.java:163)
       at android.ut

[2021-10-11 16:53] salilbc commented on #1480
let me take a shot at catching the exception

[2021-10-11 18:13] nikit19 opened #1482 "Fix typo in BrokenSiteSender file"
### Description

There is a typo in `UPDGRADED_HTTPS_KEY` in BrokenSiteSender. It should be `UPGRADED_HTTPS_KEY`
I would love to send a pull request for this issue.

[2021-10-12 03:27] droid-it commented on #1478
I would like to help with all the fragment classes. Let me know!

[2021-10-12 08:27] nikit19 opened #1486 "Replace deprecated toLowerCase and toUpperCase"
### Description

`toLowerCase` and `toUpperCase` are deprecated. We can replace them with `.lowercase(Locale.getDefault())` and `uppercase(Locale.getDefault()`

The IDE also shows this warning, let me know if this is useful, I would love to send a pull request for this change

[2021-10-13 01:15] mslalith commented on #1478
@cmonfortep okay

[2021-10-13 20:05] rainbowkitty227 opened #1495 "[Bug] "site:" search parameter interpreted as protocol"
### Describe the bug

When using a search query such as `site:wikipedia.org list of common misconceptions`, I think the app is interpreting the `site:` part as it would `http:` or `https:`.

temporary solutions:
modify search to ` list of common misconceptions site:wikipedia.org` or `!ddg site:wikipedia.org list of common misconceptions`

### How to Reproduce

1. navigate to any website
2. type `s

[2021-10-16 20:34] woheller69 opened #1512 "[Bug] Video not playing in Tele5 Mediathek"
### Describe the bug

Video not playing in Tele5 Mediathek

### How to Reproduce

1. Go to https://www.tele5.de/mediathek/
2. Select a video
3. The space where the video should show up stays empty

### Expected behavior

Video should play

### Environment

[code]

[2021-10-17 15:02] Ammako opened #1513 "[Bug] Dropdown menu items hard to read in dark mode"
### Describe the bug

The text is hard to read on dropdown lists in dark mode, because the background of the popup has been changed to dark, but the text color is still black.

<details>
  <summary>Screenshot</summary>

  ![image](https://user-images.githubusercontent.com/43770697/137633055-0e11ce9b-6944-49d6-9373-a19bd2c4141e.png)

</details>

### How to Reproduce

1. Set DuckDuckGo Browser to da

[2021-10-18 15:59] Crashillo commented on #1276
It could be any application who opens the default browser after tapping a link/photo/whatever.

As an example, my specific scenario was the [Kore (remote for Kodi) app](https://f-droid.org/es/packages/org.xbmc.kore/), who contains IMDB info about the cast. If you tap any actor, it opens your browser, looking for the name in imdb.com directly.

Yeah, in Kore they could encode the url as they should

[2021-10-18 17:24] inomag commented on #1513
Hi @cmonfortep, Can I work on this issue?

[2021-10-20 20:45] davidbtc2009 opened #1514 "Background Audio Streams"
I noticed that trying to play audio in the background does not work properlt. The audio streams smoothly while the screen is on. However, when the power button is pressed to lock the screen the audio begins skipping slightly. This can be found on services such as pandora or here. https://radio.securenetsystems.net/cwa/index.cfm?stationCallSign=KCJJ

[2021-10-21 03:16] sjaramillo10 opened #1515 "App draining battery after weird crash"
Hey, I am a big DuckDuckGo fan 😃

I wanted to call an issue out to your attention, which could potentially be detrimental for your users. The story of the issue is as follows:

I noticed that my phone's battery was getting drained much faster than usual, like 2x times faster. After a few days, I looked into my phone's battery usage and found that the DuckDuckGo app was consuming more than 50% of t

[2021-10-21 03:28] sjaramillo10 opened #1516 "[Bug] App draining battery after weird crash"
### Describe the bug

I noticed that my phone's battery was getting drained much faster than usual, like 2x times faster. After a few days, I looked into my phone's battery usage and found that the DuckDuckGo app was consuming more than 50% of the battery, even though I was using the app for a few minutes (less than 10 minutes). That was crazy, and since I love DuckDuckGo I did not want to just gi

[2021-10-21 03:29] #1515 closed

[2021-10-21 05:41] sandeep-gh commented on #1471
After I did a powerwash of my tablet, DDG browser has been working smoothly. So is the firefox for android beta.

[2021-10-22 14:15] sandeep-gh opened #1518 "[Bug] webpage https://tailwindcss.com/docs/margin not fully rendered"
### Describe the bug

The website https://tailwindcss.com/docs/margin is not getting fully rendered. Since this is website  for web ui components I am assuming the source code is in good shape and probably an important website to function correctly.

### How to Reproduce

Simply visiting the website is sufficient.

### Expected behavior

The rendering of the main boday disappears. It should not di

[2021-10-23 08:34] 12080jj opened #1519 "Doesn't work now. Same issue reappears after some time. To be fair, happens to firefox for android shows the same behaviour. But chrome works nicely."
Doesn't work now. Same issue reappears after some time. To be fair, happens to firefox for android shows the same behaviour. But chrome works nicely.

_Originally posted by @sandeep-gh in https://github.com/duckduckgo/Android/issues/1471#issuecomment-945532753_

[2021-10-25 14:31] ryg-git opened #1520 "[Bug] Light mode not using proper color scheme when system is in dark mode"
### Describe the bug

When  light mode is selected in browser and android system is in dark mode then light mode does not work properly.

| System theme: Light, App theme: Light  | System theme: Dark, App theme: Light | System theme: Dark, App theme: Dark |
| ---------------------------------------------------- | ----------------------------------------------------| -------------------------------

[2021-10-26 09:55] #1519 closed, assigned to nobody

[2021-10-26 09:56] #1518 closed, assigned to nobody

[2021-10-26 10:18] #1512 closed, assigned to nobody

[2021-10-26 14:57] #1479 closed, assigned to nobody

[2021-10-28 10:33] vatonbero opened #1526 "[Bug] HTML select options text is not coloured correctly"
### Describe the bug

Hi,

If you select any drop down menus using HTML `select`, you will be presented with anomalies in the dark theme where text is not visible:

<img src="https://user-images.githubusercontent.com/59034981/139237812-cedd30be-d84c-4567-9a82-d3c3cb4c910f.png" width="350">

This has been introduced recently and the only possible change is here: https://github.com/duckduckgo/Androi

[2021-10-29 11:34] #1486 closed, assigned to nobody

[2021-10-29 22:42] vatonbero commented on #1526
Yeah, closing as duplicate. Thank you @Ammako  !

[2021-10-29 22:42] #1526 closed

[2021-10-30 19:33] #1513 closed

[2021-11-03 01:32] David-dp- commented on #429
Is DDG/Android supposed to support WebRTC at all? When I try https://webrtc.github.io/samples/src/content/getusermedia/gum/ , clicking the "Open camera" button triggers a notification that an attempt by Google to track me was blocked, but I don't get a getUserMedia dialog like I do with other mobile browsers.
When I try with my own page, I find that DDG has navigator.mediaDevices.getUserMedia but

[2021-11-03 01:47] asilvr opened #1531 "[Bug] Download URLs with dots in the path incorrectly assumed to be the file extension"
### Describe the bug

For a URL which contains the `.` character in the path, the filename extractor logic was incorrectly guessing the filename as the earlier dotted segment of the path. According to [RFC1738](https://datatracker.ietf.org/doc/html/rfc1738#section-3.3), the `.` character is not one of the reserved characters, meaning it can be used anywhere in the path.

https://github.com/duckduc

[2021-11-03 17:39] octavo opened #1533 "Unable to download PDFs"
The browser is unable to download invoices (PDFs) from [matas.dk](https://www.matas.dk/) while Chrome can.

![Imagepipe_0.jpg](https://user-images.githubusercontent.com/1730033/140162561-f559f015-1beb-400e-9f38-91311317a741.jpg)
![Imagepipe_3.jpg](https://user-images.githubusercontent.com/1730033/140162612-ada4a7df-58be-433c-b39f-bed87f36bfa7.jpg)
![Imagepipe_4.jpg](https://user-images.githubuserc

[2021-11-04 01:47] asilvr commented on #1533
@octavo can you share the URL for this screenshot? I'm working on a similar (but not exactly the same) issue in https://github.com/duckduckgo/Android/pull/1530 and might be able to improve it / handle this.

[2021-11-04 09:41] octavo commented on #1533
@asilvr It has PII. You could buy something cheap and see for yourself.

https://pastebin.com/A5HE1NeA

Password is password.

[2021-11-04 16:28] cmonfortep commented on #1533
Friendly reminder: please read our contribution guidelines. Only issues labeled as "help wanted" will be accepted as contributions.

https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#what-to-expect

[2021-11-04 16:30] cmonfortep commented on #1533
@octavo I've noticed you didn't use our bug template. Do you mind updating the description or creating a new issue following the template? Thanks.

[2021-11-10 22:27] Crowerade opened #1542 "Can't answer the survey"
When asking for an e-mail to reach me for the follow-up conversation about the duck adress, there isn't any field to fill and i can't go to the next question because no answers has been given.

[2021-11-11 15:04] cmonfortep commented on #1542
Hey @Crowerade, I've asked the team running the survey and they are not aware about any issue there. Actually, we took a look to the responses and everything looks fine.

Sorry that happened to you, maybe it was a temporary survey monkey issue or similar.

Closing this as not a bug in our app, but thanks for sharing the issue with us.

[2021-11-11 15:04] #1542 closed

[2021-11-11 19:24] talmage opened #1545 "[Feature] Integration with Mooltipass Mini BLE"
I want to use the DuckDuckGo browser on my Android phone with the [Mooltipass Mini BLE](https://www.themooltipass.com/) hardware authenticator.  There is already an [open source Firefox extension](https://github.com/mooltipass/extension).  How hard would it be to integrate the DDG browser with the Mooltipass?

[2021-11-19 11:48] kolanse commented on #1478
Is it safe to say that this issue has been resolved ?

[2021-11-19 17:41] Donk2u opened #1559 "[Bug] App crash"
### Describe the bug

Updated Android to 12.0 on galaxy s21 ultra and unable to open app. Keeps closing upon open. Cleared data and cache, updated app, Uninstalled and reinstalled with no change. Uninstalled and installed with apk not through play store with no change.

### How to Reproduce

1 launch app
2 app crashes

### Expected behavior

Expect to work

### Environment

[code]

[2021-11-21 16:04] beher17834 opened #1562 "App Fails to open after Adriod 12 update"
### Describe the bug

My Phone got an update: Andriod 12 and that's it. DDG does not even open after the update. Feels kind of sad because that was the only browser I used. Uninstall/reinstall made no difference. Had to take the app away. I hope this issue gets fixed soon.

### How to Reproduce

1. After Andriod 12 update go to DDG
2. Tap on the icon
3. Tries to open but fails
4. No error on the s

[2021-11-21 18:34] cmonfortep commented on #1562
Sorry about that. It seems a Samsung related issue. I think they are releasing to some devices a beta version of Android 12 which has some bugs. I've found a thread where users are facing the same issue in multiple apps:

https://eu.community.samsung.com/t5/galaxy-s21-series/official-android-12-one-ui-4-0-installed-on-s21-ultra-5g-but/m-p/4340763

[2021-11-21 18:34] #1562 closed

[2021-11-21 18:34] cmonfortep commented on #1559
Sorry about that. It seems a Samsung related issue. I think they are releasing to some devices a beta version of Android 12 which has some bugs. I've found a thread where users are facing the same issue in multiple apps:

https://eu.community.samsung.com/t5/galaxy-s21-series/official-android-12-one-ui-4-0-installed-on-s21-ultra-5g-but/m-p/4340763

[2021-11-21 18:34] #1559 closed

[2021-11-23 01:59] firecat53 opened #1567 "[Bug] Autofill not working from Bitwarden into basic auth prompt"
### Describe the bug

Autotype from bitwarden app into basic authentication prompt does not work.

It looks like the DDG app is sending its own Id to Bitwarden instead of the site name. This works correctly on authentication boxes embedded in a web page.

### How to Reproduce

1. Go to a site requiring basic authentication
2. Click the bitwarden auto fill button

### Expected behavior

Username/pa

[2021-11-24 14:21] SecularSteve opened #1575 "I'd like to suggest an alternative logo/icon..."
Just an option for some people to make the App/Site look more "Sport-y".

Modified it myself in Inkscape, CC BY-SA 4.0 (if it's compatible):

![logo_alternate](https://user-images.githubusercontent.com/33793273/143255574-4cf68237-1fae-448c-ae9e-016cc04aa57f.png)

ZIP contains SVG and PNG...

[logo_alternate.zip](https://github.com/duckduckgo/Android/files/7596364/logo_alternate.zip)

[2021-11-26 08:13] publicclassoverflow opened #1582 "App crashes on One UI 4 beta"
I have been on Samsung's One UI 4 (Android 12) beta for a while and I think the app has stopped working since the beginning of their beta program. There are some discussions on Reddit as well. Do we have any plan to take a look into it?
Thanks!

[2021-11-26 15:16] cmonfortep commented on #1582
Thanks for reporting @publicclassoverflow

We are aware of that issue, but it seems a Samsung related issue:
https://eu.community.samsung.com/t5/galaxy-s21-series/official-android-12-one-ui-4-0-installed-on-s21-ultra-5g-but/m-p/4340763

Could you share here the reddit discussion link? I could go there and post a message as well. Thanks.

[2021-11-26 15:16] #1582 closed

[2021-11-27 01:28] publicclassoverflow commented on #1582
Thanks for the reply @cmonfortep

Good to know that it is a visible issue. Here's the [reddit discussion](https://www.reddit.com/r/duckduckgo/comments/qzrfu7/ddg_browser_not_working_samsung_beta_4/?utm_medium=android_app&utm_source=share)

[2021-11-27 01:44] vitaly-zdanevich opened #1584 "Add full full screen, immersive mode"
Now only in Via browser I have this on Android 11.

[2021-11-29 10:55] Zoo-M0 commented on #1478
Do you still need help here?

[2021-11-29 11:00] Zoo-M0 commented on #559
I'm native Italian speaker, I will look into it for improvements or corrections

[2021-11-29 11:26] Hey-Deepak commented on #559
Namaste!

I m native Hindi Speaker and We train student about app development. (
Kotlin + JetCompose )
Want to contribute & want to make this app popular in India.
Firstly, we want to go with Language.
Although, in India everyone use English language for app but still want to
contribute in this issue.

Expecting your reply.

On Mon, 29 Nov, 2021, 4:30 pm Simone Summo, ***@***.***>
wrote:

[2021-11-30 15:20] veesahni opened #1589 "[Bug] position: fixed, height: 100% should match available visible space"
### Describe the bug

When body contains a div with ```position: fixed, height 100%```, container height should match **available height** irrespective of presence or absence of address bar

Other browsers have had similar challenges in the past.  The behavior Chrome and Safari have standardized on is that ```100vh``` should be "total height ignoring address bar" and ```position:fixed, height:100%

[2021-11-30 15:24] veesahni commented on #1589
Might be related to this one: https://github.com/duckduckgo/Android/issues/914 which describes problems with drawing apps that are trying to fit available screen space

[2021-11-30 17:16] holgerbrandl commented on #946
What's the status here? In DDG v5.102.3 this feature seems still missing.

[2021-12-01 06:51] Krzmbrzl opened #1590 "[Bug] Autocomplete completely disabled"
### Describe the bug

I'm not sure why, but when using the DDG app, I don't get any autocomplete support from my keyboard (AnySoftKeyboard) when typing in the URL bar. The same applies for some other fields such as the title field for this issue, whereas at other places (e.g. while writing this text in the issue body) autocomplete is back working normally.

My best guess is that DDG uses some spec

[2021-12-02 10:13] aswedaw opened #1595 "VPN Stops"
Here in Myanmar, we need to use VPNs to access the internet.
No two VPNs work at the same time on Android. When we enable App Protection,VPNs stop as App Protection function s as a VPN. So,we have to disable this function. How about publishing a Standalone DuckDuckGo VPN app as the browser doesn't work as the full functions of a VPN. It tunnels all apps only.

[2021-12-02 10:22] aswedaw opened #1596 "In-app downloader and in-app Myanmar Unicode font support"
We use China ROM phones.
The downloader is under the control of third party Xunlei Accelerator. We hate it.
Most Chinese telephone manufacturers are INTENTIONALLY producing non-Unicode phones. So, in-app Myanmar Unicode font support is essential for Indigenous Scripts (Unicode).
If not, rendering went wrong.
We need in-app Myanmar Unicode font support like First Myanmar Browser.
[https://play.goog

[2021-12-02 10:44] aitorvs commented on #1595
Hey @aswedaw, thanks for raising this point. We are aware of this and discussing internally the best way forward.

A bit of admin, I will close this issue here because it is more a feature request and those should be in the discussions section, see [contributing](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md) guidelines.

[2021-12-02 10:44] #1595 closed

[2021-12-05 11:28] vatonbero opened #1606 "[Regression] Cold start time increased after using build with "App Tracking Protection"?"
### Describe the bug

Hi there,

I have updated DDG from F-Droid and jumped from version `5.98.1` to `5.102.3` on Android 10. Cold start time increased visibly and the only visible change is "App Tracking Protection" functionality.

### How to Reproduce

1. Close browser
2. Open browser

### Expected behavior

I expected that cold start time would not change.

### Environment

[code]

[2021-12-08 08:53] cmonfortep commented on #1606
Thanks for the feedback, I will share it with the team so we can observe if something may be impacting the app start process.

[2021-12-08 08:53] #1606 closed

[2021-12-08 08:58] #1584 closed

[2021-12-08 09:00] cmonfortep commented on #1575
Thanks for sharing @SecularSteve :)

Going to close this issue since we only accept bug reports as Github Issues.

[2021-12-08 09:00] #1575 closed

[2021-12-08 09:06] cmonfortep commented on #1533
Closing.

I haven't been able to validate if it has been fixed by https://github.com/duckduckgo/Android/pull/1547.
@octavo feel free to resubmit the bug if this is still not working for you.

[2021-12-08 09:06] #1533 closed

[2021-12-08 09:07] cmonfortep commented on #1545
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2021-12-08 09:07] #1545 closed

[2021-12-08 09:12] cmonfortep commented on #1596
Sorry to hear that. However, this seems to be more a feature request than a bug report.

We are currently only accepting Github Issues for bug reports.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2021-12-08 09:12] #1596 closed

[2021-12-08 09:16] cmonfortep commented on #1590
Sorry @Krzmbrzl. This is by design. Your assumption is correct, we use a special flag to indicate keyboards they should use private mode when using our browser.

We are considering allowing users to opt-out from settings, but we are still discussing that.

Closing this issue as not a bug.

[2021-12-08 09:16] #1590 closed

[2021-12-08 09:21] cmonfortep commented on #1589
That's correct @veesahni, it's 100% related to the issue you linked.

Thanks for the detailed description. However, I'm going to close this issue as duplicated, hope you are ok. Just admin work.

[2021-12-08 09:21] #1589 closed

[2021-12-08 09:22] cmonfortep commented on #1567
This is under investigation: https://app.asana.com/0/414730916066338/1201426652769688/f

[2021-12-08 09:22] cmonfortep commented on #1567
Sorry, closed the issue by mistake. 🙏

[2021-12-08 09:23] cmonfortep commented on #1531
This is now available in our latest release. Thanks for the work @asilvr

[2021-12-08 09:23] #1531 closed

[2021-12-08 09:29] cmonfortep commented on #1516
@sjaramillo10 I haven't been able to uncover the root cause of the issue. If it happens to you again, please reach us. We have released a few improvements that may improve battery life, so hope those ones will avoid problems in the future.

[2021-12-08 09:29] #1516 closed

[2021-12-08 09:57] Krzmbrzl commented on #1590
Ah so the keyboards are instructed to use private mode and are not explicitly instructed to not use autocomplete? In that case I might also create a request for my keyboard to support "private autocomplete" (aka without learning any words).

In opt-out inside DDG would ve great though. Where is the discussion about this taking place? Maybe I could get involved there.

[2021-12-08 16:10] cmonfortep commented on #1590
@Krzmbrzl that's correct. Every keyboard will honor private mode in a different way.

Here you have a link to the official docs: https://developer.android.com/reference/android/view/inputmethod/EditorInfo#IME_FLAG_NO_PERSONALIZED_LEARNING

The discussion is taking place internally since we are having discussions about privacy implications, and how to mitigate them.

[2021-12-08 17:20] Krzmbrzl commented on #1590
Roger that - thanks for the info!

[2021-12-09 04:19] octavo commented on #1533
@cmonfortep It hasn't been fixed by #1547.

Browser version 51040000

[2021-12-09 13:54] malmstein commented on #1438
@joshliebe can you take a look? I can reproduce this every time.

[2021-12-09 14:02] 4shutosh commented on #1438
This is going to be fixed in #1441

[2021-12-09 17:30] asilvr commented on #1533
@octavo Do you mind sharing the URL with your PII replaced with dummy, equivalent data? Your suggestion to purchase something cheap is good, but it’s difficult for me to navigate the site.

[2021-12-10 04:14] translatingtheirtruth commented on #1590
Please, could you please resolve the issue about 'autocorrect' and 'suggestions' on the URL bar, and search bar of the browser.  This also happen in Brave browser, and dictionary apps like Farlex The Free Dictionary.
Please,  it's so difficult to use the keyboard without corrections because my fingers are fat and O can't type fast or accurate as in Swiftkey.

[2021-12-10 04:18] translatingtheirtruth commented on #1590
Please fix this, because it's so annoying delate and correct letter by letter when using URL or search bar in DDG

[2021-12-10 04:20] octavo commented on #1533
@asilvr Chrome can translate the page for you.

[2021-12-12 19:43] vatonbero commented on #1312
Still affects `v5.102.3`, if anyone is keeping tabs.

[2021-12-12 22:51] MohitMandalia commented on #688
HI @cmonfortep ,

I would like to work on this, is it available?

Please let me know.

[2021-12-14 21:46] iamhaseebiqbal commented on #1010
Still having this problem.

Trying to download a PDF. Website redirects from a URL to  PDF document. I see the error, failed to download.

[2021-12-14 23:17] cmonfortep commented on #1010
We are currently working on improving downloads and we will try to address all the reported issues. Could you share any link that is failing for you? We will use them to test our fixes.

[2021-12-15 08:51] PseudonymIII opened #1625 "[Bug] Improve Tracking Protection"
### Describe the bug

Hi, i found duckduckgo app need some improvements in base for ads, tracking, malware protection by adding ETP(Enhanced Tracking Protection) like Firefox or at least similar that.
I know duckduckgo still block tracking but its need improvements also in fingerprint tracking duckduckgo need improvements too.
Just look at panopticlick.eff.org

### How to Reproduce

Go to panoptic

[2021-12-15 10:46] iamhaseebiqbal commented on #1010
@cmonfortep  I was trying to download my salary slip. Link cannot be provided unfortunately since it needs 2 factor authentication.
The link looks something like this,
https://subdomain.domain.de/api/files/document/{key}

[2021-12-18 16:42] varaki commented on #1312
Yes, issue still exists, really annoying.

[2021-12-23 13:49] vatonbero commented on #1391
Just wanted to say thank your for fixing this, it works fine!

[2021-12-30 19:31] p91dc40cal commented on #557
Hello @cmonfortep Feature request - Manage Bookmarks was closed after it had been merged with create folders in Bookmarks.  I know Create Folders was done and is now possible.  But as far as I can tell we can not rearrange our bookmarks.  I would like to be able to control what order the bookmarks are in.  Thanks.

[2021-12-31 11:15] Maciejfiedler opened #1644 "[feature request] Enable to change default search engine"
i know this is duckduckgos official browser, but i really would like to search the web with startpage with this browser, because this browser is the only on fdroid that is backed by a corporation and open source.

[2022-01-02 11:35] ghost opened #1646 "[Feature Request] Improve Protection against Browser Fingerprinting"
The concept behind DuckDuckGo Privacy Browser is great. The tracker and ad blocking, I would say it is better than Firefox's by a million miles. One thing that is preventing me from using this app on a more permanent basis, is the lack of fingerprint protection. I know this has been an issue previously raised and it is a legitimate concern. The protection we get is very unique in a way but the fac

[2022-01-02 16:45] ghost opened #1647 "[Feature Request] Google Safe Browsing"
I believe this is currently disabled in DuckDuckGo Privacy Browser and it is understanable. However, without Google Safe Browsing or any other "blocklist service" there is practically no protection against malware or phishing leaving users vulnerable. Most browsers implement Google Safe Browsing except for Microsoft Edge which uses Microsoft Smart Screen. Is it not common sense to add some protect

[2022-01-06 11:18] rtrbt commented on #1010
The issue is still there javascript code that creates an a element to download a blob. See the code below for a more or less minimal example. (Github does not allow to attach .html files). Downloading blob.json works with other browsers I've tested (Firefox, Chrome, Opera, Mi Browser, etc.).

[code]

[2022-01-06 23:29] aswedaw opened #1655 "DuckDuckGo for Android doesn't detect the customized font"
### Describe the bug

DuckDuckGo for Android should detect whether the device use customized font or factory default font. If not, DuckDuckGo for Android
won't render Myanmar Unicode properly on China ROM devices produced with Android 10 Zawdecode font.

### How to Reproduce

By using China ROM devices with Zawdecode font as factory default font, when pay a visit to All Email clients for Android s

[2022-01-09 19:43] davidbtc2009 opened #1658 "[Bug] geolocation not working"
### Describe the bug

Geolocation does not work after allowing location access.

### How to Reproduce

1. Open maps.google.com
2. Tap "Your Location"
3. Tap "Enable"
4. Tap "Allow all rge time" as the other options besides deny are greyed out
5. Tap or swipe back
6. Tap "Always

The location icon just spins and spins.
7. Tap the fire button and tap "Clear All Tabs And Data"
8. Open maps.google.com

[2022-01-10 09:37] bonninf opened #1659 "[Bug] App crash randomly"
### Describe the bug

Sometimes when browsing the app crash.

It seems the issue is due to the favicon files which are saved. Especially the app crash trying to update an existing favicon. When the app tries to delete the existing image file then an exception is throwed by the system but this exception is not catched by the app.

/cache/favicons/b6135a5c90439c371a28ab6f5d6a902696bd1b2524bba175f85b

[2022-01-10 10:52] favdish opened #1660 "Not an issue with the apk but with the download site"
I have just downloaded and installed the (Android version of the) DDG browser from its "official" website. Initially, I was disappointed that the only two OBVIOUS download options were via the Apple and the Google stores. It took me scrolling down screen after screen to the very end of the download page to find that there are indeed two other options (though presented only in "small print", almost

[2022-01-10 13:26] marcosholgado commented on #1647
Thanks for your feature request! We actually looked at this right before Christmas and decided (again) to not enable Google Safe browsing. However we do acknowledge the gaps this creates in terms of phishing, etc so our privacy team is working on a possible new list or a different integration (like MS Smart Screen) that does not use Google Safe Browsing.

[2022-01-12 13:19] cmonfortep commented on #1660
Sorry about that, I can take your feedback and share it internally. However, we only expect to receive bug reports of our app as issues, as per our contribution guidelines. Hope that's ok. Thanks.

[2022-01-12 13:19] #1660 closed

[2022-01-12 13:22] cmonfortep commented on #1659
Does it happen for a specific site or just randomly? I use DDG as my primary browser and I haven't experienced this scenario. We would need something more specific to investigate the issue.

[2022-01-12 13:26] cmonfortep commented on #1658
I've followed the steps describing how to reproduce the issue and I can get the location without issues. We haven't received any feedback or any bug report similar to this one.

Now that I see your environment specs, it can be related with not having play services enabled. Does it work on other browsers in your device?

[2022-01-12 13:26] cmonfortep commented on #1658
Sorry, didn't want to close the issue.

[2022-01-12 13:46] james0071111 commented on #1647
Thanks for your reply @marcosholgado Sorry, issues with account, this is my current one. I'm glad to here that the privacy team are working on an alternative. I understand why DuckDuckGo wouldn't want use Google Safe Browsing and I look forward to seeing what is to come.

[2022-01-12 13:53] cmonfortep commented on #1655
Shouldn't be the OS the one providing the font to all apps instead of apps using a specific font? Closing this as not a bug. Thanks.

[2022-01-12 13:53] #1655 closed

[2022-01-12 13:55] cmonfortep commented on #1647
Thanks everyone. Closing this issue as it's not a bug. Feel free to open a Discussion if you want to discuss further on the feature request.

[2022-01-12 13:55] #1647 closed

[2022-01-12 13:56] cmonfortep commented on #1646
Closing as this was not a bug, and user who reported the issue deleted the account.

[2022-01-12 13:56] #1646 closed

[2022-01-12 13:58] cmonfortep commented on #1644
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2022-01-12 13:58] #1644 closed

[2022-01-12 14:06] cmonfortep commented on #1625
Thanks for filling the template but we don't think this is a bug report. I would classify it as a feature request or feedback.

Please, use discussions to share feature requests. Only bug reports are expected to be accepted as issues. You can share feedback as well from our app.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code)

[2022-01-12 14:06] #1625 closed

[2022-01-12 14:58] davidbtc2009 commented on #1658
Yes, other browsers (Fennec) get location just fine

Sent from ProtonMail mobile

-------- Original Message --------
On Jan 12, 2022, 8:27 AM, Cristian Monforte wrote:

[2022-01-15 17:55] bonninf commented on #1659
Just randomly as it seems to me.
I didn't find a specific scenario but it happens sometimes

[2022-01-15 21:48] swordonfire commented on #1659
There is definitely a bug with Bookmarks in the Android app. But for me, it's not random.
I have a lot of bookmarks stored in it.Whenever I scroll down , the thumbnails of the sites keep refreshing .If I scroll down really slow (such that correct thumbnail is already there while I scroll past it) nothing happens...it doesn't crash. If I scroll even just a little faster that the correct thumbnails

[2022-01-16 10:33] swordonfire opened #1677 "[Bug] App crashes while browsing the saved Bookmarks"
### Describe the bug

There is definitely some issue with Bookmarks in the Android app and for me app crashes are not random.
So....I have a lot of Bookmarks saved in it.
 Whenever I scroll down my saved Bookmarks , the thumbnails of the sites keep refreshing.
If I scroll down really slow (such that the correct thumbnail is already there while I scroll past it) nothing happens..the app doesn't cra

[2022-01-18 18:15] TomCos opened #1686 "Feature request: Mobile Application: Ongoing notification to run fire button in background"
Similarly to Google Chrome's incognito mode, the option for an ongoing notification to close all tabs, or in this case, run the fire button, would be a nice feature to have, as opposed to having to open the app and run manually, or have the clear timer expire. My current usage is on Android. I am not sure if something like this would be possible on iOS.

[2022-01-18 18:45] cmonfortep commented on #1686
Thanks, glad you enjoy the feature and you want to use it more :)

Please use discussions to share feature requests or check how to send us feedback [here](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#share-feedback).

[2022-01-18 18:45] #1686 closed

[2022-01-18 18:46] TomCos commented on #1686
This was a feature request.  Does this feature already exist?  I have not seen it anywhere in the settings.

[2022-01-18 21:18] cmonfortep commented on #1686
No, we don't have a pinned notification to clear data. I was referring to the fire functionality, I'm assuming you like it if you wanted to use it from the notification.

What we have is an auto-clear setting you can use. Or just long-press on the ddg app icon, there's a shortcut to clear data.

I will share your feedback internally.

[2022-01-18 22:41] TomCos commented on #1686
@cmonfortep Yes sounds good thank you!

[2022-01-18 23:28] p-karcz opened #1687 "[Bug] High junky frame percentage when bouncing between websites"
### Describe the bug

I've been testing the application for performance with adb command: dumpsys gfxinfo and noticed high junky frames percentage (over 70%) in certain scenario.

### How to Reproduce

1. Open the app
2. Enter for example 'wikipedia.com' in the search bar and submit
3. Enter another website for example 'google.com' in the seach bar and submit
4. Repeat 2nd and 3rd step for a few t

[2022-01-19 10:32] bonninf commented on #1659
Hi @swordonfire. Thanks for your precisions. What do you mean by "a lot of ..." ?
I tried to reproduce the crash without success. I have about 20 bookmarks knowing that my screen is able to show 6 ones at a time.

[2022-01-19 10:39] swordonfire commented on #1659
Probably more than 100...but try doing after clearing cache.The issue becomes more visible then.

[2022-01-19 14:18] bonninf commented on #1010
Hi @cmonfortep
The issue seems to exist again by using the same url as above: https://media.interieur.gouv.fr/deplacement-covid-19/
The confirmation popup "File downloaded" is no longer displayed and the downloaded file is not present inside the Android's file manager.
Shouldn't this issue be reopened?

[2022-01-19 14:35] bonninf opened #1691 "[Bug] Not possible to connect to a Ameli account"
### Describe the bug

When trying to connect to his Ameli account then the following error is shown:
"Service momentanément indisponible veuillez réessayer plus tard" --> "Service temporarily unavailable please try again later"
https://assure.ameli.fr/PortailAS/framework/skeletons/error/error.jsp

### How to Reproduce

Go to: https://www.ameli.fr/oise/assure
Select the menu: "Compte Ameli" then en

[2022-01-19 14:54] marcosholgado commented on #1010
Thanks for the info @bonninf and @rtrbt. We are currently running a project to hopefully fix once and for all our download issues, we'll re-add this to the list :)

cc/ @anikiki, feel free to close once solved

[2022-01-19 19:51] pfaron opened #1693 "[Bug] Apllication not responding while in middle of importing large number of bookmarks"
### Describe the bug

DuckDuckGo stops responding while in the middle of importing 50000 bookmarks. Choosing to not terminate the process makes DDG close the Bookmarks view after a while. After restarting the app (reentering the Bookmarks view), only fraction of bookmarks are correctly imported (for emulated Pixel 5 usually around 9000 imported sites, for Xiaomi Mi Note 10 Lite 18000 the first try

[2022-01-20 04:31] Compro-Prasad opened #1695 "[Bug] Writing to clipboard from JavaScript doesn't work"
### Describe the bug

Copy to clipboard option on any website that uses JavaScript's `navigator.clipboard.writeText` doesn't work.

### How to Reproduce

Case 1: Your GitHub page
1. Go to https://github.com/duckduckgo/Android#building-the-project on Duckduckgo Android app
2. Use the copy button to copy the code block
3. Doesn't respond as Copied and the text is also not copied

Case 2: My website

[2022-01-22 15:42] oldergod commented on #914
Why not taking into account the height of the navigation bar?

[2022-01-24 05:37] ShivanshGoel221B commented on #1693
It is the duplicate of #1677

[2022-01-25 20:53] Devbymitch commented on #1010
I got this error when trying to download from: https://bit.ly/csos_latest_apk which forwards to google drive here: https://drive.google.com/file/d/18EE975b_4aroE7UCx3z64kwnJ3fIm27V/view
duckduckgo v5.109.0 on samsung flip3, hopefully that helps at all

[2022-01-26 11:28] designzwang commented on #1010
@marcosholgado  -

May I add an observation, that should also be considered when working on download problems:
Since there is no "download this file/download this link" in the context menu when pressing a link to a file, files must be opened in the browser window before downloading.  When doing  this with files that are under http basic protection , the display/playing of a file in the browser wor

[2022-01-26 15:51] marcosholgado commented on #1010
Hey @designzwang, yes we are aware of that headers and session cookies, etc are not being carried over and also working on it as part of this :).

[2022-01-28 21:42] Ammako opened #1716 "[Bug] 5.110.2 crash ("A migration from 42 to 41 was required but not found")"
### Describe the bug

5.110.0 just this morning worked fine, upgrade to 5.110.2 later in the day doesn't run.

7f13598f73eacc1c975006c08d2e02b07e60c73f ? :thinking:

[code]

### How to Reproduce

1- Be on 5.110.2 (upgrade from 5.110.0 to 5.110.2 perhaps?)
2- Attempt to run the app

### Expected behavior

The app should run just like it always has.

### Environment

[code]

[2022-01-28 21:45] Ammako commented on #1716
It works on a clean install, it's only when upgrading from older version to newer version.

[2022-01-30 21:43] cmonfortep commented on #1716
Thanks for reporting. Your assumption is correct. In our latest release, we reverted a feature that bumped the database version and that created a db migration bug for those who installed `5.100.0`.

I've removed the apk from those versions to avoid crashes to other users, and we will try to avoid this again in the future. Thanks.

[2022-01-30 21:43] #1716 closed

[2022-01-31 17:53] marcosholgado commented on #1695
Hi, for this to work we need Chromium to implement the clipboard write text permission which unfortunately is not implemented https://caniuse.com/?search=navigator.permissions

[2022-01-31 17:53] #1695 closed

[2022-02-02 08:43] tenzap opened #1721 "[Bug] can't download files"
### Describe the bug

Files are not downloadable

### How to Reproduce

Go to https://f-droid.org/
Download the f droid app from that website.
It will seem Android States to download it since there is such a notification. But in fact nothing happens and eventually the file can't be found anywhere and the notification disappeared.

### Expected behavior

File should be downloaded and named correctl

[2022-02-02 09:04] tenzap commented on #1721
It looks like duckduckgo forwards the download to the download manager of the phone which in my case is:

com.android.providers.downloads.ui
Version 21.05.14.10

The app looks like a built in app provided by Xiaomi but the app Id doesn't mention Xiaomi.

[2022-02-02 09:34] tenzap commented on #1721
Problem actually seems vpn related. If vpn is disabled in Android settings, the download manager starts downloading.

[2022-02-02 09:43] cmonfortep commented on #1721
Thanks @tenzap. We are aware of some issues around downloads (some of them when the VPN in enabled). We are currently working on a project that will improve downloads 👍

[2022-02-03 11:08] renatolond commented on #1695
Is there somewhere we can keep track of the Chromium implementation of this one? I can't see Chromium in the caniuse table, and I couldn't find the related bug on the chromium tracker

[2022-02-03 11:27] #1438 closed

[2022-02-03 12:45] Compro-Prasad commented on #1695
That is what I thought. But then I thought I am so stupid to find the Chromium. I think it should be re-opened.

[2022-02-03 21:47] 2011 commented on #1721
Adding a comment to this so I see updates. :)

I encountered a problem trying to download a file today (I do have a VPN enabled). While I didn't try a lot of different files, the ones from this folder on google drive kept giving download failed messages:

https://drive.google.com/drive/folders/1BfeK39boriHy-9q76eXLLqbCwfV17-Gv

On the other hand (doing a minimal amount of troubleshooting), downloa

[2022-02-06 20:55] iskandergaba opened #1729 "[Bug] App theme stays Light when system theme is set to automatically switch between Dark and Light themes"
### Describe the bug

When I set the system theme to be dark from sunset to sunrise, and set the DDG theme to system default, the app remains in light theme all the time.

### How to Reproduce

1. Set your phone's dark mode to be automatically enabled from sunset to sunrise.
2. Open DDG app.
3. Go to Settings.
4. Set Theme option to "System Default".
5. Observe that the app always stays in light m

[2022-02-16 10:09] Naudiz opened #1752 "Widgets take up more space than needed"
### Describe the bug

Widgets take up too much space without the possibility to resize them to a smaller ratio. The simple search bar looks like a 5x1 widget, but demands 5x2 space on the home screen. The favorites widget has a preview picture that looks like a 5x2 widget, but takes up 5x3 space with a minimum of 2 favorites rows, opposed to the one row shown in the preview.

![Screenshot_20220216

[2022-02-20 12:52] Ammako commented on #1729
Florisboard had the same issue, if that could help come up with a fix?

https://github.com/florisboard/florisboard/issues/1557

[2022-02-25 09:13] RoestVrijStaal commented on #512
@cmonfortep That's ok, since building a secure and reliable password manager is not trivial.

However, als @teemue pointed out with an example, the support of external password managers could be improved.

[2022-02-25 12:08] ag6ag1 opened #1769 "[Bug] Desktop Mode"
### Describe the bug

when applying the desktop mode for all the website that I tried, nothing changed in the behavior
the page only refreshed without any change

### How to Reproduce

applying desktop mode

### Expected behavior

see the page as seen on a computer

### Environment

[code]

[2022-02-25 14:02] 89z opened #1770 "[Bug] Add the word "browser""
### Describe the bug

This repo is for "DuckDuckGo Privacy Browser", but the word "browser" is not current used in the repo description or topics. That means people searching for "browser" will not find this repo.

### How to Reproduce

no

### Expected behavior

no

### Environment

[code]

[2022-02-25 17:13] cmonfortep commented on #1770
Thanks for the suggestion. We will consider adding the word to the description and topics 👍

[2022-02-25 17:13] #1770 closed

[2022-02-25 17:15] cmonfortep commented on #1769
Related https://github.com/duckduckgo/Android/issues/768

It should work for many sites. However, some of them detect the screen viewport to force mobile site. We are open to receive technical proposals to cover those scenarios. Thanks.

[2022-02-25 17:15] #1769 closed

[2022-02-25 17:19] cmonfortep commented on #1752
Hey @Naudiz this is something mostly handled by the launcher you use. We just indicate the size of our widget and the launcher calculates the required grids. Not sure why it shows 5x2 whereas we can see 5x1 on other launchers.

[2022-02-25 17:19] #1752 closed

[2022-02-25 17:21] cmonfortep commented on #1693
@pfaron can you provide (if possible) us a file where we can test this?

[2022-02-25 17:24] #1687 closed

[2022-02-25 17:28] cmonfortep commented on #1691
Please report those issues via "broken sites" in our app if you find that problem again. We have an specific team just to look into those issues :)

I personally don't have a login/password to test this, but our team will react if we see users report this site.

[2022-02-25 17:28] #1691 closed

[2022-02-25 22:28] tenzap commented on #1721
With release 5.113.1 it is still problematic

[2022-02-26 08:15] indurs commented on #1721
I'm currently using DuckDuckGo as my default browser.

Using version 5.113.1

Device - Pixel 2
Android version - 11

I can download from https://f-droid.org/

![Screenshot_20220226-121627](https://user-images.githubusercontent.com/12825812/155833980-b26969e8-4423-4dda-87d9-fb143444eb3f.png)

![Screenshot_20220226-121655](https://user-images.githubusercontent.com/12825812/155834046-4bc343ba-5007-49

[2022-02-28 10:39] bonninf commented on #1010
Hello. I tested with DuckDuckGo 5.113.1 from the Play store on a device G One Android 7.0 by using the url: https://media.interieur.gouv.fr/deplacement-covid-19/
The PDF document is well downloaded but the name is not correct: "5e7e145d-173d-4813-b2c6-a95437451f72.PDF"
With Chrome I get the name as expected: attestation-2022-02-28_11-30.PDF

[2022-02-28 11:12] bonninf commented on #1691
@cmonfortep Thanks for your response. I just sent comments with both menus "Broken site" and "Share your comments -> Issues loading Web sites"

For information, you can check the issue without to have login/password because the error occurs now before the login/password form page is displayed.

[2022-02-28 11:41] bonninf commented on #1018
Hello. I tested with DuckDuckGo 5.113.1 from the Play store on a device G One Android 7.0 by trying to download an image from a Twitter post.
The image is well downloaded and readable from the Android's Files Explorer.

[2022-03-01 13:35] marcosholgado commented on #1010
Thanks for the comment. We do have some problems with certain files (blobs in your case) where the filename is not surfaced to WebView. We should receive the filename in the content-disposition header but we are not. Chrome probably uses/does something different. In any case, we are aware of this and trying to find a solution for it.

[2022-03-04 18:50] OnizukaX commented on #780
Hi there,

any progress on this?
5.114.2 shows the same behavior.

[2022-03-05 11:02] pfaron commented on #1693
Yes, of course! I create the html files using a very basic java program. The html file structure is similar to DDG auto generated html file when exporting bookmarks. Here I provide files with 10000, 50000 and 100000 bookmarks.

[duckduckgobookmarks10000.html.txt](https://github.com/duckduckgo/Android/files/8190502/duckduckgobookmarks10000.html.txt)
[duckduckgobookmarks50000.html.txt](https://githu

[2022-03-05 20:06] huesie opened #1785 "[Bug] Tabs list scrolls to top"
### Describe the bug

Update in last few weeks seems to have changed behaviour with tabs list.  The active tab still has the black surround but the tab list scrolls to the top - this is much less convenient.  Previously the active tab was centered in the tab list and this was much more usable when background tabs had been opened.

Thanks to the effort of all developers on this great project and I

[2022-03-07 07:06] eccul commented on #1785
Yep, CR this on 5.114.2 (51142000)

[2022-03-07 09:55] cmonfortep commented on #1785
Thanks, we are investigating the issue. We can reproduce it as well.

[2022-03-07 11:21] #1785 closed

[2022-03-07 15:40] malmstein commented on #1721
This has been fixed as per https://github.com/duckduckgo/Android/releases/tag/5.113.1

[2022-03-07 15:47] tenzap commented on #1721
As I said, with release 5.113.1 I'm still unable to download: as soon as I am on a VPN, download doesn't start. This is the case with 5.113.1 and was also the case at the time I submitted the bug report.

BTW, I mentionned fdroid just as an example, the issue is not related to APK or fdroid, it happens with any file type (PDF...)

Shall I open a new issue?

Device: Xiaomi Redmi note 9s
Android 11

[2022-03-08 09:08] voxrie commented on #1644
it's not cool. if someone just wanna use because of layout and fast interface, it can't use because of this reason. so that's why, you should add an option.

[2022-03-08 10:32] huesie commented on #1785
Thank you for your responsiveness and willingness to look at this bug and I confirm it is resolved when I've updated to the latest release.

[2022-03-15 12:02] SosPosos opened #1807 "[Feature] Chrome like dark mode for pages"
Guys, it would be cool if you add night mode / dark view mode like one, that can be found in chrome:flags or in settings of kiwi browser
And a bottom bar.. It feels better to use browser with bottom toolbar if you have a phone with a large screen..
Maybe adblocking would be cool feature too, but for this, i think, i can find magisk module, so it isn't important

![Screenshot_20220315-145959_Kiwi B

[2022-03-17 05:55] SosPosos commented on #1807
Oh. If this pix is real, then nvm
![gj4znw61nkm81](https://user-images.githubusercontent.com/52379151/158744802-27e8dc3e-2685-4259-ab78-c5515ec4f257.jpg)
I liked part where "associated with RUSSIAN desinformation"
Yep, bbc's lies is ok for you, other non-russia media's lies - ok, good, maybe you can make it so when you go to search "Kiev" ddg will respond with photos of bombing Doneck and heroic Z

[2022-03-17 07:30] cmonfortep commented on #1807
Sorry about that. Closing as we only accept bug reports as issues in this repo. Please refer to our contributions guidelines.

[2022-03-17 07:30] #1807 closed

[2022-03-19 14:57] Schmensch opened #1809 "No automatic upgrades to https"
While visiting m.yuntrack.com, I noticed I was on the http version of the site, even though there's a https version available.

I think for a privacy-first browser like DuckDuckGo, automatic upgrades to htrps or forced https should be the standard.

The only way to tell that I was on an insecure http site was that a little B+ changed to a C+, however this can be easily overlooked when compared to

[2022-03-19 16:34] nettlebay opened #1810 "Duckduckgo browser: I can no longer import my bookmarks"
Hello
After reinstall, I can no longer import my bookmarks in DuckDuckGo Privacy Browser. It offers me to open the Bookmarks.html file with another application (Browser or Files Manager). No probleme with my Galaxy Tab A7 lite, only with my phone Galaxy Xcover 4.

[2022-03-19 18:48] cmonfortep commented on #1810
@nettlebay could you reopen the issue using our bug template ? It's important for us to have more information.

In this case, if you can provide each step you follow to import bookmarks, and when exactly fails. That will be useful to help you with the issue.

[2022-03-19 18:52] cmonfortep commented on #1809
@Schmensch could you reopen the issue using our bug template?

[2022-03-19 19:16] nettlebay commented on #1810
Thank you. I will try

[2022-03-19 19:35] Schmensch opened #1811 "[Bug] No automatic upgrades to https"
### Describe the bug

m.yuntrack.com is available in both http and https.

DuckDuckGo defaults to http and doesn't attempt to upgrade to https.

The only way to quickly know if a site is http or https is the site rating going from B+ to C+. This is hard to see, especially when other browsers like Chrome and Firefox make it very clear your connection is insecure with big red warnings everywhere.

#

[2022-03-19 19:39] Schmensch commented on #1809
@cmonfortep done: https://github.com/duckduckgo/Android/issues/1811

[2022-03-19 19:40] #1809 closed

[2022-03-19 19:41] cmonfortep commented on #1809
Thanks @Schmensch 🙏

[2022-03-19 19:49] nettlebay commented on #1810
Tout est OK ! I re-exported my bookmarks from a Chromium based browser (Iridium) to my phone via Protonmail. Then, re-imported in DDG. No problem. It works! I think the previous bookmarks.html was altered. Thank you for your help. We can close the ticket.

[2022-03-19 19:55] #1810 closed

[2022-03-23 00:38] huuhaa opened #1823 "[Bug] DuckDuckGo Privacy Browser prevents user to block tracking at some sites"
### Describe the bug

There are some sites which ddg has make dicision to not only disable tracking protection, but to prevent user even manually enable it. I tested with desktop browser with ddg addon on it, it also disabled tracking protection by default, but at desktop it's possible to enable it. Site will work fine when enabled, exept for videos which can't be played.

Still that shouln't ever

[2022-03-23 20:31] graue70 opened #1824 "The release notes contain no information"
The release notes of the last nine releases say the exact same thing which renders them close to useless in my opinion. I know it's additional work but still I would highly appreciate proper release notes. Even automatic release notes created from the pulled PRs and/or commits would be more helpful than how it is currently done.

[2022-03-24 07:10] eccul commented on #1823
There's a warning that says "We temporarily disabled Privacy Protection as it appears to be breaking this site." so it might as well ve intentional. I wonder how *much* does it break the site though

[2022-03-24 07:25] eccul opened #1826 "[Bug] Searching languages in lang selection modal doesn't work"
### Describe the bug

Language selection modal just closes once you tap on the 'Search languages' field

### How to Reproduce

1. Make a query that will bring the in-built translator
2. Tap on either language
3. On the modal tap 'Search languages'

### Expected behavior

You can just search for a language like usual

### Environment

[code]

[2022-03-24 17:17] huuhaa commented on #1823
@eccul Yes it's intentional, but not temporarely, but permanent currently (ok, one can say ex. 1 year temporarily).

Even if it's intentional, I consider it a bug, or whole "privacy browser" branding should be removed. Like said, it's not possible to enable by user, when risk for breaking site would be on user. At desktop (using ddg addon) user can enable this manually, but on Android there's no w

[2022-03-25 09:38] cmonfortep commented on #1824
Thanks for the feedback. I can share this internally with the team.

I'm going to close this issue because we are currently only accepting Github Issues for bug reports.

Please, for future feedback notice you can use our in-app feedback form, or feel free to open a discussion instead. Thanks.

[Contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-

[2022-03-25 09:38] #1824 closed

[2022-03-25 09:45] cmonfortep commented on #1823
Thanks, @huuhaa for reaching us.

Our current behavior (on the mobile app) is intended but it will change to the one you expect (same as in desktop). Basically, as @eccul mentioned, we temporarily disable privacy protections in some sites based on users' broken site reports + manual triage. As a mitigation, we implemented the current behavior (disabling protections for known problematic sites), bu

[2022-03-25 09:45] #1823 closed

[2022-03-25 10:16] cmonfortep commented on #1826
Thanks for reporting this bug. I've been able to reproduce it using DDG browser, but also using other browsers as well. I've reported this bug to our frontend team, and they will take care of the issue.

For now, I'm closing this bug report, since it doesn't seem related to our Android app,

[2022-03-25 10:16] #1826 closed

[2022-03-28 15:36] huuhaa commented on #1823
@cmonfortep Thanks for information! Is there any place where we, users can follow what changes are at the pipeline etc? This project is difficult to trying to make something change or improve, cause only bugs here and at discussion section feature requests are silenced to death, or that how it feels when comparing to other projects.

So if there's good place to follow what's coming up, at least th

[2022-03-29 11:46] extroonie commented on #768
Is there any insight on this? This now seems to be an issue with plenty of sites. Would appreciate prioritizing it now.

[2022-03-30 10:00] cmonfortep commented on #1823
The most incoming things are in the pull request section, but we don't have a public place where to check our mid/long-term roadmap. That's something we discuss internally with many stakeholders, based on our company strategy, user feedback, people available, etc.

Bugs reports are important for us, that's why we wanted to give them enough space (github issues). User feedback is consumed in a diff

[2022-04-02 19:31] rugk commented on #1282
I guess they kinda aim to be that…

from their website at https://mozilla.github.io/geckoview/:

[2022-04-03 16:07] bmx666 commented on #1752
Hi @cmonfortep why this bug was closed without any further investigation?

I have similar issue on Sony Xperia 1 III with native Sony Xperia Home Launcher and Android 12

[2022-04-03 17:57] cmonfortep commented on #1752
@bmx666 sony devices have their own launcher, not sure how they handle widget sizes. Do you want to share a screenshot of DDG widgets on the sony launcher widgets list? (as the first screenshot @Naudiz attached)

[2022-04-03 18:08] bmx666 commented on #1752
@cmonfortep I recompiled project and located the bug is related to **minHeight** attribute
https://github.com/duckduckgo/Android/blob/61771a867e30ba4aea89238526939c4b37965bcf/app/src/main/res/xml/search_widget_info_light.xml#L24
https://github.com/duckduckgo/Android/blob/61771a867e30ba4aea89238526939c4b37965bcf/app/src/main/res/xml/search_widget_info.xml#L24

If set **minHeight** to **31dp** then

[2022-04-03 18:17] bmx666 commented on #1752
@cmonfortep screenshots after set **minHeight** to **31dp**

# Widget window

![photo_2022-04-03 20 14 16](https://user-images.githubusercontent.com/2761506/161442184-045b8d69-21e6-4796-b3c5-b9a634eabc43.jpeg)

# Launcher desk

![photo_2022-04-03 20 14 13](https://user-images.githubusercontent.com/2761506/161442180-31ebe7ee-9d21-46ae-8a04-c3612306c31d.jpeg)

[2022-04-03 18:22] cmonfortep commented on #1752
I will review the values on the minheight, thanks. If I'm not wrong, our small widget uses more than 31dp.

[2022-04-03 18:41] bmx666 commented on #1752
@cmonfortep I can be wrong, but maybe dp is related to wide-screen 21:9 and 40dp doesn't work correctly? If I set **minHeight** to **32dp** or higher value then SearchBar widget immediately sets as 5x2.

I made few quick checks of SearchBar widget with **minHeight** **40dp** and **31dp** on emulators Pixel 2 skin + API 29-32. I didn't notice any changes, but review and tests can show different res

[2022-04-03 19:13] bmx666 commented on #1752
I made a few extra test on Sony Xperia 1 III, in Settings -> Display -> Display size are presented several options:

`adb shell wm density`

### Small
Physical density: 420
Override density: 356

### Default
Physical density: 420

### Large
Physical density: 420
Override density: 462

### Larger
Physical density: 420
Override density: 504

### Largest
Physical density: 420
Override density: 548

`

[2022-04-03 21:06] bmx666 commented on #1752
I read Android article about widget on Android 12 -> [Determine a size for your widget](https://developer.android.com/guide/topics/appwidgets/layouts#anatomy_determining_size)

I made **res/xml-v31/search_widget_info.xml** for Android 12 and higher it's replace **minHeight** on **targetCellHeight** attribute that is work perfectly. If mix **minHeight** with **targetCellHeight** then Sony Launcher

[2022-04-03 23:38] mtris opened #1837 "Outdated Browser"
Dear DuckDuckGo: I know you provide updates regularly, but at least 1 website visited gives me a message that the browser is outdated/not supported.
![Capture+_2022-04-03-18-59-45_1](https://user-images.githubusercontent.com/24400330/161453861-d9bdbf39-5391-4c2c-946a-d115c8497e68.png)

[2022-04-07 11:23] marcosholgado commented on #1837
This is highly likely because of our user agent rather than because the browser is outdated. Any chance of knowing the website this is coming from for more testing?

[2022-04-07 23:40] mtris commented on #1837
Hello: I see the above mentioned when I visit CapitalOne login screens.
Also when viewing the capitalone offers page, I receive this error message (screenshot attached). Thank you for the reply
![Capture+_2022-04-07-16-40-42_1](https://user-images.githubusercontent.com/24400330/162336289-d0e267f5-626c-4097-ab11-a71ca22d7cad.png)

[2022-04-08 19:25] mtris commented on #1837
Hello: By using the Android WebView, does this allow android to view my browsing or collect data when using DuckDuckGo browser?
I will update my Android WebView and re-try the sites. Thank you for the reply. Sincerely,

[2022-04-08 19:36] cmonfortep commented on #1837
No, it doesn't. Thanks.

[2022-04-09 11:53] mtris commented on #1837
Hello: I updated my WebView. It cleared the grey error 'Please use one of our supported browsers' but the red 'outdated browser message' remained. Thanks again for your input and consideration. Sincerly,

[2022-04-09 15:45] vollh4rD commented on #538
It has been 3 years since the initial request for a bottom search bar. Would be great if we got one :D

[2022-04-11 19:49] 2011 opened #1855 "[Bug] Browser keeps restarting after I close it"
### Describe the bug

I have an older device (Android 6 with just 1 GB of RAM). Applications that continually restart themselves (such as this browser) absolutely cause havoc with this device. If I want to run another app, the device will lock up for several seconds while memory management attempts to close "cached processess" (in Settings / Developer options / Running services). And sometimes, th

[2022-04-13 07:34] vinc3nz opened #1859 "[Bug] Discord.com with 2FA does not save login"
### Describe the bug

Discord with 2FA does not keep me logged in, even after making the page protected. On github for example it works.

### How to Reproduce

Enable 2FA in Discord
Go to https://discord.com/login
Make the page (I don't have the browser in English. In Germany it is called Feuerfest, the thing that protects your site from being deleted after closing browser) fire protected.
Close b

[2022-04-14 13:11] marcuswu commented on #914
I am not convinced my solution was ever really 100% correct. I did [open a PR for it](https://github.com/duckduckgo/Android/pull/1341), but it was closed because it was supposed to be working properly on the latest code. I would look again, but I have some other projects taking my time right now.

[2022-04-17 08:19] sugguy opened #1865 "F-droid version stuck 5.116"
The F-droid version is stuck on 5.116 when the latest is 5.120 on both playstore and github.

[2022-04-17 16:36] sugguy commented on #1865
it updated to 5.118 now

[2022-04-20 11:41] malmstein commented on #1865
Yep @sugguy , took longer than expected but it's all good now.

[2022-04-20 11:41] #1865 closed

[2022-04-26 22:49] wbillan opened #1886 "Remove requirement to grant photo and media permission"
Issue:
Currently Duckduckgo requires users to grant grant photo and media permission when downloading files (e.g. PDF) , which gives it access to all of the user's photos and videos, which has privacy implications. The app doesn't actually need this permission as per Android scoped storage (https://source.android.com/devices/storage/scoped) in Android 11+, as an app does not require permissions to

[2022-04-28 08:09] cmonfortep commented on #1855
Hey @2011, we scheduled background work to update data and keep our privacy features updated. I assume when you say the application starts again you are referring to that.
That's the expected behavior, and the Android system will allow background work to run based on available resources, device state, and priorities (that's external to us).

Closing this as it's not a bug.

[2022-04-28 08:09] #1855 closed

[2022-04-28 08:11] cmonfortep commented on #1837
Thanks, that second warning might be related to our user agent. There's an option in the browser menu that says "Report broken site", feel free to report that site or any site showing a similar banner. We have a team dedicated to triage those issues. Thanks.

[2022-04-28 08:11] #1837 closed

[2022-04-28 08:46] WillHick opened #1891 "Menu Design"
**Info**
For larger displays is it possible to make the menu width smaller

**UI**
 ![Screenshot_20220428-110815_DuckDuckGo.png](https://user-images.githubusercontent.com/48844761/165714109-895a2029-fa41-42ac-9e10-89693aac2052.png)

**Solve**
Make the menu width smaller

Thanks Team, also loving the new design looks amazing 🙌

[2022-04-30 15:41] mimi89999 commented on #1729
This issue occurs only below Android 12

[2022-04-30 15:53] mimi89999 commented on #1729
Also, with `System Default` web content follows device theme. Only DDG UI does not.

[2022-04-30 20:36] cmonfortep commented on #1891
Thanks for the feedback @WillHick, glad you like the new menu, and you spotted really quick the change. About the width, it's a design decision to use that width, I can share feedback but I'm closing the issue as it's not a bug.

[2022-04-30 20:36] #1891 closed

[2022-05-01 12:30] ateek commented on #1729
We faced this problem last week,
our investigations leads us to appcompat library upgrade we did, apparently, this bug was happening due to our upgrade to 1.4.1
This bug is documented and reported here
https://issuetracker.google.com/issues/188681415

[2022-05-02 18:31] 2011 commented on #1855
On older devices with minimal RAM, this leads to a horrific user experience. I would find a setting to disable this behavior ("don't run in background") **very** useful.

[2022-05-02 20:16] smileatom opened #1902 "[Bug] Accessibility - Enforce manual page zoom does not work/survive app restart"
### Describe the bug

Hi,

I cant use mobile browsers that dont allow force zoom override since many websites lock down very small fonts and I cant read them.

Sadly, the implementation of Accessibility/Enforce manual page zoom does not work. If you enable it while a webpage is open it will mostly work if you are lucky. However it will not work after a restart of the DDG app even though the settin

[2022-05-05 04:13] Dandysandy44 opened #1912 "Florisboard had the same issue, if that could help come up with a fix?"
Removed.

[2022-05-05 04:27] Dandysandy44 commented on #1912
He's going to have all  what I sacrificed his hazbeen won't to see if uses well come over to face a fuck and!! Me FUCKING RUD- FORD!! HIS OWN  DEMISED ( DUMBASS) FOR ASSUMEING !! THAT  ASS-USE-MEN !!  GET FUCKED !!!
BECAUSE WHAT'S THE CENT OF HAVING THEM IF I CAN'T MISUSED HIM
DOWN STAIRS !!!!!  WHEN IT'S THE FACE I FUCKED🤥AND THE FUCK'S HE DEFACED

[2022-05-05 05:44] WillHick commented on #1912
Mate this is a GitHub repo not life notes

[2022-05-05 05:47] #1912 closed

[2022-05-05 15:50] cmonfortep commented on #1886
We reviewed the need of using that permission on devices running >= Android 10, and we have removed it. This will be part of our next release. https://github.com/duckduckgo/Android/pull/1910

Thanks.

[2022-05-05 15:50] #1886 closed

[2022-05-06 11:37] Alexander-Lindberg opened #1916 "[Bug] getUserMedia never resolves"
### Describe the bug

I'm developing a WebRTC app for in-house use. It seems as DDG has some bits of WRTC included but not functional. I thought at first that this was a good candidate for writing availability tests but quickly hit a snag.

As this app is for two way audio, one of the first things to test for is microphone availability, something like:

[code]
The result in DDG however is that get

[2022-05-07 18:13] oldphones68 opened #1919 "Address bar issue [Duplicating discussion]"
Please see #1918.
Thought it should also be an issue besides being a discussion.

[2022-05-11 12:08] Kita2345 opened #1928 "[Bug] Image download fails on meteoprades.net"
### Describe the bug

Download fails.

### How to Reproduce

Navigate to https://www.meteoprades.net/webcams/webcam-castell-de-siurana/
Long press an image and select "download image" option.
Observe behavior.

### Expected behavior

The image is downloaded and available on the mobile device.

### Environment

[code]

[2022-05-11 12:21] Kita2345 opened #1929 "[Bug] Download dialog does not decode multibyte file name"
### Describe the bug

File name could not be decoded: %E4%B8%AD%E6%96%87%E6%96%87%E4%BB%B6%E5%90%8D%E6%B5%8B%E8%AF%95.txt

### How to Reproduce

Download the test file here: https://wwa.lanzoui.com/iz4favlcrne

### Expected behavior

Decoded as: 中文文件名测试.txt

### Environment

[code]

[2022-05-14 07:12] raymond-1227 opened #1939 "[Bug] System Default appearance doesn't change to dark mode along the system's current theme"
### Describe the bug

System Default appearance (the theme picker) doesn't change to dark mode if user is currently on dark mode, it still persists on dark mode. Dark mode (still) does work, the auto theme changing one which is "System Default" doesn't.

### How to Reproduce

**Note: All steps should be done in Android system appearance dark mode**
1. Go to DuckDuckGo settings
2. Under General, cl

[2022-05-16 08:19] #1919 closed

[2022-05-16 16:34] nin0-dev commented on #527
Mates... you gotta do something. At least Brave admitted their mistake and pledged to never inject ref codes on crypto websites. And you, you send our history to DDG servers. And you *dare* to close the issue?

[2022-05-19 12:36] vinc3nz commented on #1928
Able to reproduce.
The Image Source (for example https://www.meteoprades.net/webcam/imatges/siurana_ara.jpg), returns 403, causing the image download to fail (I don't know why it is forbidden.)
Seems to be a website error. Have you tried the same on a different browser/on desktop?

[2022-05-19 12:37] vinc3nz commented on #1929
Able to reproduce.
The download file has the current name. It only is displayed wrong in the app dialog.

[2022-05-19 12:40] vinc3nz commented on #1495
Not able to reproduce this on my Android 10 Phone. App version: 5.125.0

[2022-05-19 12:58] joshliebe commented on #1495
This was fixed with https://github.com/duckduckgo/Android/pull/1820

[2022-05-19 12:58] #1495 closed

[2022-05-20 10:50] mohammadreza-torkaman commented on #914
Hey, I'd like to contribute. can I work on this issue? Does this still need help?

[2022-05-22 03:12] Kita2345 commented on #1928
https://www.pixiv.net/en/artworks/83953383

[2022-05-26 12:09] vatonbero commented on #1939
Can confirm this on Android 11 and DuckDuckGo Android App 5.125.1. Application is not honouring system themes and not following them.

It is worth mentioning that websites **are** changing colour scheme depending on DuckDuckGo Android App theme settings settings, if visited website supports dark and light schemes. So, example:
- set "dark" theme manually in DuckDuckGo Android App
- visit github or

[2022-05-26 16:33] cmonfortep commented on #1939
I'm trying to follow the steps described above and I was not able to reproduce the issue. Any further information?

When I change to system theme (from light or dark), the theme app reacts as expected.

@vatonbero which device you have? is this specific of xiaomi devices?

[2022-05-26 16:35] cmonfortep commented on #1939
I see we have same issue reported in https://github.com/duckduckgo/Android/issues/1729

Closing this as duplicate.

[2022-05-26 16:35] #1939 closed

[2022-05-29 09:31] opxf opened #1968 "question."
Is brave browser blocking 1172 trackers?
example:
extension: Privacy Badger.
https://chrome.google.com/webstore/detail/privacy-badger/pkehgijcmpdhfbdbbnkijodmdjhbjlgp
In the Privacy Badger settings, you can see this.
Privacy Badger decided to block 1172 potential tracker domains at the moment.
![168930930-a5c96bdb-3fc8-4afa-90c4-eb790094d2a1](https://user-images.githubusercontent.com/105162317/170

[2022-05-29 13:27] #1968 closed

[2022-05-31 23:09] smileatom commented on #1902
Still broken

[2022-06-02 08:10] AndroidPoet commented on #914
I I'd like to fix this.

[2022-06-03 06:24] AndroidPoet commented on #1478
i have started working on classes if someone is already working on something please let me know

[2022-06-03 07:08] AndroidPoet opened #1978 "[Code Structure] Code Structure Issues"
### Describe the bug

App has code structure issues:
View binding in the app is handled by two different patterns.
(1.)kotlin delegates
(2.)using getter property to destroy object OnDestroy
Using two different patterns to handle the same task creates irregularities in the app architecture.
This might cost a huge refactor or it might also arise bugs in the future.
I observed this while I was workin

[2022-06-03 09:28] aitorvs commented on #1978
Thanks for reporting! see https://github.com/duckduckgo/Android/issues/1478

Closing for now

[2022-06-03 09:28] #1978 closed

[2022-06-03 09:34] AndroidPoet commented on #1978
I am working on that, but I need guidance on what is recommended structure from DuckDuckGo.

[2022-06-03 11:42] cmonfortep commented on #1478
You can work on any of the ones we haven't yet migrated (except browserTabFragment which we will refactor internally since it's too complex)

[2022-06-03 11:46] AndroidPoet commented on #1478
Thanks! i was bit confused about the two approched
Getter property
![171803609-14689af6-f990-4800-9ea8-ba09b6802798](https://user-images.githubusercontent.com/13647384/171847405-4e450fc1-ade7-4314-902a-f3cee33bcaa3.png)
kotlin delegate
![171803416-78ab227c-87c5-480b-baa9-01da4c9acdcc](https://user-images.githubusercontent.com/13647384/171847413-efddb850-9140-4f4f-b901-3b21f83dd29a.png)
which one i

[2022-06-06 09:32] AndroidPoet opened #1982 "[Bug] Kotlin Delegates are not null safe and contain deprecated OnLifecycleEvent."
### Describe the bug

Currant kotlin delegates are not null safe and also accessing methods using getMethod("bind") is not very good practice, even though there will be no problem using these. There is also deprecated claas
"@OnLifecycleEvent"
This annotation required the usage of code generation or reflection, which should be avoided,
alternative  "DefaultLifecycleObserver" can be used. We can al

[2022-06-06 09:32] AndroidPoet opened #1983 "[Code Improvement] Kotlin Delegates are not null safe and contain deprecated OnLifecycleEvent."
### Describe the bug

Currant kotlin delegates are not null safe and also accessing methods using getMethod("bind") is not very good practice, even though there will be no problem using these. There is also deprecated claas
"@OnLifecycleEvent"
This annotation required the usage of code generation or reflection, which should be avoided,
alternative  "DefaultLifecycleObserver" can be used. We can al

[2022-06-06 09:54] #1982 closed

[2022-06-08 15:17] AndroidPoet commented on #1983
Hi, @aitorvs please check these once and Let me know your thoughts on this, as we discussed about memory leaks, those are  bit untraceable but with this delegate, we can make sure that there is no memory leak as for as view binding is concerned.

[2022-06-09 08:28] aitorvs commented on #1983
Hey @AndroidPoet. Thanks for opening this issue and the time spent caring about the code base.

Unless there's something fundamentally wrong with the current code and/or we find and are able to consistently repro a bug eg. memory leak in the viewbinding delegate logic, I'd personally not be very supportive of changing it just because.

[2022-06-09 10:00] AndroidPoet opened #1990 "[Bug] Memory Leak"
### Describe the bug

I saw few memory leaks, I am sharing screenshots and leakcanary log files that might help

(1.) [TabSwitcherActivity](https://github.com/duckduckgo/Android/blob/9ffe9454f4d5120e42b8616171d554bddedd69e3/app/src/main/java/com/duckduckgo/app/tabs/ui/TabSwitcherActivity.kt)

(2.) [BrowserActivity](https://github.com/duckduckgo/Android/blob/f795c6843f8068bcc658bd14a50c4cbc2feba7d8

[2022-06-13 08:12] Jehfen opened #1997 "[Bug] window height with address bar"
### Describe the bug

The window height with address bar is not correct.
You should support css fill-available (or stretch)

### How to Reproduce

go to a website on a mobile device. 100vh (100% height) containers are higher than the screen, because the height of the address bar is not subtracted from the available height.

### Expected behavior

When using css fill-available the correct height sh

[2022-06-19 13:20] GauravGupta17 commented on #1478
I would also also like to work on this issue , please let me know which classes i can work with

[2022-06-19 23:33] mikegriffin opened #2004 "[Bug] favicon.ico privacy leaks"
### Describe the bug

DDG browser leaks the build number of device when browsing a page while using non-DDG user agent, when requesting both favicon.ico and apple-touch-icon.png

Additionally, if you add a page as a favorite and have sufficient favorites to allow scrolling, the server will be flooded by requests as you scroll, eg:

- - - [19/Jun/2022:23:07:35 +0000] "GET /apple-touch-icon.png HTTP

[2022-06-20 08:31] cmonfortep commented on #2004
Thanks for reporting, we will investigate the issue.

As you mentioned, those calls come from sites where the webview didn't provide us a favicon. In those cases, we try to retrieve them by directly calling `<domain>/favicon.ico` ([see code here](https://github.com/duckduckgo/Android/blob/e3d4d3e530a756ed92f40909a474f62ac0239e34/common/src/main/java/com/duckduckgo/app/global/UriExtension.kt#L93)).

[2022-06-20 14:11] cmonfortep commented on #2004
https://github.com/duckduckgo/Android/pull/2005

[2022-06-20 14:37] cmonfortep commented on #2004
This will be out in our next release. Thanks for reporting @mikegriffin

[2022-06-20 14:37] #2004 closed

[2022-07-05 13:02] drk002 opened #2038 "Cuts the screen incorrectly"
The browser displays some pages incorrectly. Cuts items that should be displayed by default. For example, a screenshot of Bromite that does it well.
![IMG_20220705_145357](https://user-images.githubusercontent.com/65331799/177333828-0f57854a-dbfa-49bf-854d-9a18232144f5.jpg)
![IMG_20220705_145426](https://user-images.githubusercontent.com/65331799/177333836-a6d771a7-390c-4378-a76c-85dfd1dec444.jpg)

[2022-07-06 19:51] #2038 closed

[2022-07-06 19:52] cmonfortep commented on #1997
Duplicated: https://github.com/duckduckgo/Android/issues/914

[2022-07-06 19:52] #1997 closed

[2022-07-07 08:58] cmonfortep commented on #1859
Sorry about that. Probably the site is saving credentials information using the web storage (instead of using first-party cookies). Because of Webview limitations, we can't selectively delete local storage based on domains, so we remove everything, including fireproof websites.

[2022-07-07 08:58] #1859 closed

[2022-07-07 09:03] cmonfortep commented on #1902
Sorry about that. Techmeme scenario is a bit weird. It's true it doesn't work first time you load the site, but it works when you navigate within that site, even clicking on a different tab fixes the issue. Most probably it's a timing issue between site loading and our JS code to override viewport metadata.

That being said, the setting works even after restarting the app. If you have more sites w

[2022-07-07 09:06] cmonfortep commented on #1658
We have been monitoring user feedback internally to see if there's any problem around geolocation not working, and we haven't seen any bug reports. Closing this as no action is planned.

[2022-07-07 09:06] #1658 closed

[2022-07-07 09:20] Kita2345 commented on #1929
![Screenshot_20220707161909](https://user-images.githubusercontent.com/87817690/177739255-ccaa795d-b5a4-4365-a50b-023154976872.jpg)

[2022-07-07 09:25] Kita2345 commented on #1929
![Screenshot_20220707162143](https://user-images.githubusercontent.com/87817690/177740311-ef3c984b-31e1-4bc3-9469-81bc06e2b797.jpg)

[2022-07-07 09:25] cmonfortep commented on #688
Closing as we don't have any plans to update that component.

[2022-07-07 09:25] #688 closed

[2022-07-07 09:37] cmonfortep commented on #1693
related: https://github.com/duckduckgo/Android/pull/1987

[2022-07-07 09:38] cmonfortep commented on #1677
related: https://github.com/duckduckgo/Android/pull/1987

we will review once we close that PR

[2022-07-07 09:41] cmonfortep commented on #1567
"It looks like the DDG app is sending its own Id to Bitwarden instead of the site name. This works correctly on authentication boxes embedded in a web page."

what do you mean by "own id"? I've tested this with a different password manager (LastPass) and it worked, so not sure what could be the issue with bitwarden.

[2022-07-07 09:44] cmonfortep commented on #1520
@malmstein assigning this issue to you. Not sure if there's something we want to address here.

[2022-07-07 09:46] cmonfortep commented on #1471
Closing this one as we haven't received any more feedback related to that.

[2022-07-07 09:46] #1471 closed

[2022-07-07 09:47] #1312 closed

[2022-07-07 09:48] #1288 closed

[2022-07-07 09:52] cmonfortep commented on #1080
Closing as we haven't been able to reproduce the issue and we haven't received enough feedback to give it more priority in our backlog.

[2022-07-07 09:52] #1080 closed

[2022-07-07 09:53] cmonfortep commented on #1018
This is now fixed. Closing the issue.

[2022-07-07 09:53] #1018 closed

[2022-07-07 09:56] cmonfortep commented on #1010
We have improved our downloads feature and we have addressed different reported issues. Closing it, feel free to reopen if problem still happens.

[2022-07-07 09:56] #1010 closed

[2022-07-07 09:58] cmonfortep commented on #1070
We are closing this issue as we don't have plans in the short-mid term to address it. Sorry about that.

[2022-07-07 09:58] #1070 closed

[2022-07-07 09:58] cmonfortep commented on #780
We are closing this issue as we don't have plans in the short-mid term to address it. Sorry about that.

[2022-07-07 09:58] #780 closed

[2022-07-08 02:38] firecat53 commented on #1567
Sorry, I didn't explain that very well.

- Open a site using basic authentication
- At the prompt, click the 'Bitwarden My Vault' button appearing at the top of the Gboard keyboard (Pixel 3).
- The Bitwarden vault opens, but no entry is selected. The entry for that website should be searched for and opened
    - On Firefox/Chrome, the vault will open to the correct entry
    - Other open source ch