[2020-05-07 07:15] AndrewR8 opened #815 "Pressing back when new tab is open does not return to the previous tab"
**Steps to reproduce**

1. Navigate to [jw.org](https://www.jw.org).
2. Click on [Watchtower ONLINE LIBRARY™](https://wol.jw.org/en/wol/h/r1/lp-e) (at the bottom of the page).
3. Click on back button on browser.

**Actual result:**
The back button leads to home page.

**Expected result:**
The back button returns user to the [jw.org](https://www.jw.org) tab and closes [Watchtower ONLINE LIBRARY™](h

[2020-05-08 05:52] bigppgang opened #821 "Cannot access FTP sites"
Whenever I try to access an FTP site eg FTP://192.168.1.1, the browser either says "unable to open this kind of link" or searches the address on the duckduckgo search engine
 How do I access the FTP server using it?

[2020-05-08 15:58] cmonfortep commented on #821
Hi @bigppgang, currently we don't support FTP sites, that's why you are getting that message when you try to access the url. Thanks for contacting us.

[2020-05-09 03:15] #821 closed

[2020-05-12 05:38] cmonfortep commented on #802
This is fixed now. It will be included in our next release. Thanks.

[2020-05-12 05:38] #802 closed

[2020-05-12 15:22] cmonfortep commented on #815
Thanks, we are aware of this behavior, and we are going to revisit this in a project. 👍

[2020-05-12 15:25] cmonfortep commented on #812
Thanks, we are aware of this behavior (and some others you also mention), and we are going to revisit this in a project to bring a better user experience when navigating between tabs or through your tab history.

[2020-05-12 15:29] cmonfortep commented on #813
Thanks, I have to say that personally, at the beginning, I also saw that behavior as not expected, but I ended up kind of liking it 😅

In any case, we have received some feedback about this issue and some others, and we will try to improve it in a project. Thanks!

[2020-05-14 06:35] AndrewR8 commented on #686
Looks like this issue has already been fixed.

[2020-05-14 06:37] Poopooracoocoo commented on #686
thanks andrew. imma close this.

[2020-05-14 06:37] #686 closed

[2020-05-16 10:33] unbranched opened #832 "Missing translations file"
Why do you use a file values/string-untranslated.xml ?
There's no reference on the TRANSLATIONS.md and adds a lot of confusion.

If you put untranslated strings in there, then for which language? And how does one know which strings really are, needs to check one by one in his language file...

[2020-05-16 13:53] cmonfortep commented on #832
The usage of `values/string-untranslated.xml `is part of our internal development process for features released without being translated in other languages (only English).
We usually add all the corresponding translations within a few weeks.

Does this solve your question?

[2020-05-16 15:47] unbranched commented on #832
Got it, thank you.

[2020-05-16 15:47] #832 closed

[2020-05-18 13:12] Foxkami opened #834 "Is this browser a fork of Chromium or an Android Web view based browser"
Read title.

 I'm asking because I want to know "if I make a fork would I need to constantly update it like I would a Chromium for for web security or just update for bug fixes because Web view automatically updates in Android using Play Store, so, security of users isn't compromised even if don't update that frequently"

[2020-05-20 07:09] cmonfortep commented on #834
@Foxkami We are an Android WebView browser.

[2020-05-22 06:50] tigerbit85 opened #837 "Why the exit button is not in the program?"
Why the exit button is not in the program?
**Android marshmallow
After close tabs and clear data, still open app I can't close app show keyboard for search , please add exit button.
Thank you

[2020-05-25 08:40] #834 closed

[2020-05-25 08:48] cmonfortep commented on #837
Hi @tigerbit85
We don't have a "close app" button as we think it's not necessary (pretty rare in the android ecosystem). Users can always press home (and let android close the app whenever it's needed) or close the app from app switcher.

After pressing fire button, we remove all tabs and any related data, but many users want to continue using the browser after that. We have auto-clear option insi

[2020-05-25 15:57] rogerxed opened #840 "Please add web page dark mode"
Please add web page dark mode like opera browser, dark mode will reduce eye stress.

![Screenshot_20200525-212242](https://user-images.githubusercontent.com/65120278/82828237-39e54600-9ece-11ea-86cc-fdf91cf97b84.png)

[2020-05-26 14:16] KelvnPere commented on #840
Hi @cmonfortep I would love to work on this enhancement request.

[2020-05-26 14:22] cmonfortep commented on #840
Hi @KelvnPere, thanks for offering yourself to work on this. First, let me ask our product team about introducing this enhancement, and if they agree is something we can introduce I will ping you here.

@rogerxed just to clarify, are we talking about forcing the website to use dark mode when dark mode is enabled in our app, right?

[2020-05-26 14:24] KelvnPere commented on #840
That would be great @cmonfortep. Are they some minor fixes that help is needed. If any kindly drop a link. Thanks

[2020-05-26 15:27] rogerxed commented on #840
Yes, Of course.

[2020-05-26 15:27] rogerxed commented on #840
Yes, Of course.

[2020-05-28 06:31] tigerbit85 opened #843 "freezing User-Agent string"
Please add change default user_agent

[2020-05-28 07:36] KelvnPere commented on #843
Hi @tigerbit85 could you elaborate more on why this strings is needed?

[2020-05-28 08:26] #843 closed

[2020-05-31 08:14] sm600gg commented on #754
Halo me!!!!!

[2020-05-31 11:06] raboof commented on #638
Another simple reproducer is https://arnout.engelen.eu/fullpage.html

[2020-06-02 08:42] vetemi commented on #348
I experienced the same issue today or better say yesterday night.

The browser used 3gb (!) of my data in the background, right in the beginning of new cycle. Never experienced something like this before. It happened during the night, so I didn't actively used the app. Did I had tabs open? Maybe but only the ones I regularly use.

App Version: 5.55.1
Android version: 9
Model: Motorola moto g7 powe

[2020-06-02 21:18] cmonfortep commented on #348
@vetemi we are very sorry to hear that 🙇‍♂️.
For sure, we don't expect that to happen for a user that is not actively browsing (and like you said 3gb is a lot), so I will spend some time this week to investigate if we have any unknown bug or any unexpected behavior that could be the culprit of that data consumption.

As an additional question, have you experienced any situation where the app was c

[2020-06-04 15:23] cmonfortep commented on #840
Hi there @KelvnPere and others. I've been sharing this proposal with other members of the team and we need to explore this a bit more.

Basically, there are some sites where users could choose their own theme from the website settings, and we don't want to override those settings forcing the webview to use dark theme in some scenarios. A real example is DDG, users that visit our website, they can

[2020-06-06 20:37] sanogueralorenzo commented on #840
😱 Completely missed this issue before trying something out I opened a PR with a GIF showcasing it in case anyone wants to play around https://github.com/duckduckgo/Android/pull/848

Regarding your comment @cmonfortep it is a good point (although I haven't' personally faced it due to not using Themes on my end). When I had some issues with DarkMode on Kiwi Browser I just tend to remove it for that

[2020-06-06 20:56] sanogueralorenzo opened #849 "Add SwipeRefreshLayout for more accessible refreshing"
**Steps to reproduce**

Navigate to any webpage.
Overscroll upwards

**Actual result:**
Nothing happens

**Expected result:**
For ease of use, as a user I would expect to be able to refresh the webpage instead of having to navigate to the 3 dots & refresh

![image](https://user-images.githubusercontent.com/5630683/83954356-34a4c700-a7fd-11ea-90d1-0c937dc203ba.png)

Kiwi example
![Swipe-Refresh-Kiw

[2020-06-06 21:06] sanogueralorenzo opened #850 "Add an Accessibility option to allow the SearchBar (Omnibar) to stick at the bottom"
Suggestion / enhancement:

As phones are getting bigger having interaction at the top of the screens can become uncomfortable (especially if it is a widget that has a lot of interaction).

Looking at how Kiwi has it implemented (it is a Chromium development option):

Under Settings -> Accessibility they have the following
![image](https://user-images.githubusercontent.com/5630683/83954505-a2052780

[2020-06-07 12:44] andreaskern opened #851 "NFC tags don't open in duckduckgo"
**1. What I do:**
Scan an NFC tag that holds web url

**2. What happens:**
Google Chrome opens the url

**3. What should happen:**
Duckduckgo opens the url

After some investigation it seems that duckduckgo is missing the intent-filter.
a quick search for 'nfc' in the google chrome app manifest reveals two entries.
I don't know if nfc permissions are needed to.

![image](https://user-images.github

[2020-06-08 15:31] cmonfortep commented on #840
Hey @sanogueralorenzo, I've just tried kiwi browser on Android: I can change the theme but webview is not changing for me, am I missing something? Neither I see any allow/deny list to introduce any rules on where to apply themes per site.

Related to your PR I will comment directly there with more details, but our priority is to keep any preference set by the user on any websites. In any case, I m

[2020-06-08 15:38] cmonfortep commented on #849
I agree, and it has been requested in the past, see issue: https://github.com/duckduckgo/Android/issues/33

We received some contributions but none of them got merged:
https://github.com/duckduckgo/Android/pull/293
https://github.com/duckduckgo/Android/issues/33
https://github.com/duckduckgo/Android/pull/750

I will close this issue as duplicated.

[2020-06-08 15:38] #849 closed

[2020-06-08 15:40] cmonfortep commented on #837
Closing this issue as it has been inactive for some time and question has been addressed.

[2020-06-08 15:40] #837 closed

[2020-06-08 16:39] sanogueralorenzo commented on #840
@cmonfortep in Kiwi it is in the top-level menu as "Turn on  Night mode"

![image](https://user-images.githubusercontent.com/5630683/84056266-d564c500-a96a-11ea-9e3e-f2f402e96fc0.png)

Regarding the website theme I'm not sure how that is possible. When I mentioned the Allow/Deny list it is something I haven't seen implemented for Dark Mode (since you can just turn it off if something doesn't look

[2020-06-09 14:25] cmonfortep commented on #840
Thanks for clarifying how to enable that option in kiwi browser. I played with it and I didn't like how some websites are rendered when forcing them to use dark theme. That means we can't automatically force the webview to be dark based on the app theme.

Most probably we will need to let the user decide in the same way as kiwi does it, with an option in the overflow menu, or like your proposed (i

[2020-06-09 14:46] cmonfortep commented on #282
🎉 Now our browser widget shows installed apps in the same way as Google search widget.

Better late than never 🖖

[2020-06-09 14:47] #282 closed

[2020-06-09 14:53] cmonfortep commented on #284
- Dark/night mode: Currently our browser supports light and dark theme. Users can select the theme inside settings.

- A Cookie manager (with a whitelist buttom?): We don't have a concrete way to allow or block cookies per site, but in our browser, users can use the fire button to remove all the cookies stored locally. Additionally, we introduced the option to fireproof websites. Fireproofing a we

[2020-06-09 14:53] #284 closed

[2020-06-09 15:11] cmonfortep commented on #417
Testing this in our current latest version and I can't reproduce this problem anymore. Most probably this has already been fixed.

I will close this issue in a few days if no one disagrees. 🖖

[2020-06-12 01:49] micwoj92 opened #855 "Please add options to disable all these privacy popups"
I've used it before and it was good, but today I downloaded it again and all the popups about spying and protection are annoying. Please add option in menu to disable them.

[2020-06-12 01:50] micwoj92 opened #856 "Add option to not hide bars when scrolling"
When scrolling the url and function bar do hide, I do not like this behaviour and would like an option for these to remain visible at all times.

[2020-06-12 01:52] micwoj92 opened #857 "New UI is cluttered"
Coming back to this browser after couple months. The old UI with URL bar on top only was good. Now there are too many buttons on screen. Please consider adding "compact mode" which will use only one bat (doesnt matter if above or below screen). The layout used in previous versions was much better than current one.

[2020-06-15 19:01] christophergeiger3 opened #860 "Feature Request: Site blocking/parental control"
It would be nice if users had the option to block sites that they don't want accessible on their phone (e.g. sites that store information, are inappropriate, etc).

Perhaps this could be an option in settings -- a user could add sites they want blocked to a list. Then if the user attempts to access one of these sites, they would be redirected to a page that tells them they are blocked, for example

[2020-06-17 01:53] Usiel commented on #33
After playing with it for a bit I think I'm able to do it based on the previous PR by @malmstein.
Would you like me to create a PR? I'm not quite sure since the 'help wanted' label was removed. Could do it today after work.

[2020-06-17 07:40] rodolphe74 opened #861 "Feature request: Reader mode"
Displaying only the text legibly.
Thanks.

[2020-06-17 14:42] malmstein commented on #33
@Usiel have a go at it if you like! Now that the `BottomNavigation` has been removed it should be easier to execute. Ping me if you need any help!

[2020-06-17 17:24] JonO7694 opened #862 "Adblock dosen't block all type of ads"
I just ran a few tests with the adblock and it seems that it doesn't block popup ads or redirect ads as seen in this url https://canyoublockit.com/extreme-test/
This specific test uses a bunch of different ad servers that is not specific to google ads.

[2020-06-18 15:06] cmonfortep commented on #855
Hi! @micwoj92. Thanks for the feedback. They are just a few, and we think important for users that may not be so familiar with how creepy the internet can be and how we can help them.
Having said that, there's a "hide" button on the top right corner to disable them. I hope that works for you!

[2020-06-18 15:29] cmonfortep commented on #857
@micwoj92 I agree. That was part of an experiment where we introduced a bottom bar. Having that bottom bar made it possible to move some of the options there and have a minimalistic URL bar on the top. But the experiment didn't go as we expected so we removed it. We may revisit that in the future, so I really appreciate your feedback.

[2020-06-18 15:32] cmonfortep commented on #860
Thanks for the feature request, really interesting. I will share it internally with the team.

[2020-06-18 16:07] cmonfortep commented on #861
Thanks for the feature request. It will be a very nice feature to have.

Friendly reminder that we are a small team with a big backlog of features. We try to prioritize all our work based on our users' needs and the impact of each feature. We keep issues open so other users can show interest too, so thanks again for sharing it here.

[2020-06-18 16:08] cmonfortep commented on #860
Friendly reminder that we are a small team with a big backlog of features. We try to prioritize all our work based on our users' needs and the impact of each feature. We keep issues open so other users can show interest too, so thanks again for sharing it here.

[2020-06-18 16:37] cmonfortep commented on #862
Thanks for the feedback. We block trackers and Ads based on a list of common cross-site trackers that we continuously update. So this is part of our app that is continuously improving 🚀

[2020-06-18 18:18] micwoj92 commented on #855
Unfortunately I am not able to locate this button, I am not version  5.55.1 (55501) latest from F-Droid.

[2020-06-18 18:31] micwoj92 commented on #856
Yes, I meant the URL Bar, but also the bar below the screen, so that's why I called it "function bar" I do not know if that's right name.

This is just general feeling. The ability to see and copy/paste url at all times and beinf able to switch tabs without having to scroll, which changes your position on page. Also when typing this comment right now(1) I sometimes scroll up/down and the URL bar s

[2020-06-18 18:32] micwoj92 commented on #857
Was it removed in 5.56.0?

[2020-06-18 18:38] micwoj92 commented on #855
Updated to 5.56 downloaded from github. Still do not see button.

[2020-06-18 18:39] micwoj92 commented on #857
I just downloaded 5.56.0

I do not understand why this wasn't in patchnotes on github...

[2020-06-18 18:39] micwoj92 commented on #856
Also this is a feature request not a question

[2020-06-18 19:57] cmonfortep commented on #857
Yes, we removed the bottom bar in 5.56.0

The UI with the BottomBar was part of an experiment. When we do experiments that means that we release a feature only for some of our users to see how it performs. That's why that wasn't in our release notes. We only post changes that affect all our users.

[2020-06-18 20:06] cmonfortep commented on #855
So just below the URL bar, on the right side, there's an option that says "hide".

<img src="https://user-images.githubusercontent.com/4747865/85066748-d211da80-b1af-11ea-9d0c-451ad90122d2.png" width="360px"/>

[2020-06-18 21:14] cmonfortep commented on #856
Thanks for your quick response.

We have revisited a few times the behavior of our URL bar and we try to follow how other browsers behave. It's pretty common in Android to hide the top bar when the user scrolls. Yet, I took note of your request and your suggestion to introduce the option under settings.

I'm going to close this issue since I don't think we are going to apply any change in a short/

[2020-06-18 21:14] #856 closed

[2020-06-18 21:17] micwoj92 commented on #857
Ah, makes sense. Thanks for explaining.

[2020-06-18 21:17] #857 closed

[2020-06-18 21:20] #855 closed

[2020-06-18 21:29] micwoj92 commented on #856
If someone was to search for this feature and see the request closed it might discourage them to open new or comment on this one. Perhaps it is good idea to add priority labels to issue/request tracker?

[2020-06-19 09:34] #417 closed

[2020-06-19 09:46] cmonfortep commented on #478
Thanks for sharing and sorry for the 1year late response. I'm currently checking old issues in our repo.

I understand the problem you described, but blocking automatic redirection will break many different website functionalities that are not harmful to the user. We could introduce some kind of allow/deny list but that will add complexity to this feature, and it's not something that has been requ

[2020-06-19 09:46] #478 closed

[2020-06-19 09:55] cmonfortep commented on #685
Thanks for sharing, I may revisit our privacy dashboard UI and we will share this feedback with our product team.

[2020-06-19 09:59] cmonfortep commented on #684
Thanks for the feedback, I will share it with the product team. It could be helpful to replace the option for an icon and reduce the list of options we offer inside the overflow menu. Thanks

[2020-06-19 10:52] cmonfortep commented on #684
https://app.asana.com/0/0/1181157652739449/f

[2020-06-19 10:53] cmonfortep commented on #683
Closing this as duplicated. https://github.com/duckduckgo/Android/issues/288

[2020-06-19 10:53] #683 closed

[2020-06-19 14:13] cmonfortep commented on #862
Related issues:
https://github.com/duckduckgo/Android/issues/306
https://github.com/duckduckgo/Android/issues/482

Closing this issue.

[2020-06-19 14:13] #862 closed

[2020-06-19 14:18] cmonfortep commented on #681
Thanks for the feedback. There are a few related issues to this topic:
https://github.com/duckduckgo/Android/issues/306
https://github.com/duckduckgo/Android/issues/482

Yet, this isn't something we are currently planning. Closing this issue.

[2020-06-19 14:18] #681 closed

[2020-06-19 14:45] cmonfortep commented on #687
Thanks, def we should fix this.

This is the layout used in the feedback screen: `content_feedback_open_ended_feedback.xml`

[2020-06-19 18:30] slavgirl commented on #347
This issue is occurring currently.  Is anyone attending this? Can someone direct me to a site with instructions for getting a patch, if there is one?  I'm totally NOT a coder nor familiar with language, just trying to find a remedy.

Thank you!!

[2020-06-20 10:40] jawadalkassim opened #865 "Use External Download Managers"
Use ADM or IDM as an external download manager. So we download a file from the browser should have an option to choose which program i will download with (DDG or Any other external download manager)
This feature is available at Firefox Android

[2020-06-22 05:17] ozmy commented on #350
any news?

[2020-06-25 13:50] cmonfortep commented on #865
Hi @jawadalkassim, we don't have plans for giving support to other download managers.
Since I'm not familiar with other download managers, do you mind sharing with us some clear benefits? For example: benefits related with privacy or other browser-specific use cases that our users could benefit from, etc.

We have a big backlog of new features and it's important for us to understand the impact a f

[2020-06-26 09:08] #754 closed

[2020-06-26 09:16] cmonfortep commented on #754
Fix has been merged. Thanks to everyone involved here.

[2020-06-26 12:27] ecklebrug opened #870 "Website title / description ommited when using "Share" function"
1. What I do:
Share a certain URL, a news article for example - "Charlie Chaplin first man on the moon!" (news.kom/chaplinmoon.html) - with any messenger or Nextcloud Bookmarks.

2. What happens:
Only the URL is passed along: news.kom/chaplinmoon.html

3. What should happen:
Title / Description and URL show up in messenger or bookmarks app:
"Charlie Chaplin first man on the moon!" -news.kom/chapli

[2020-06-27 01:00] subsymbolic commented on #631
Fixed by https://github.com/duckduckgo/Android/pull/853. Thanks again for reporting this @JeffAment!

[2020-06-27 01:00] #631 closed

[2020-06-27 12:45] bat999 opened #871 "How am I supposed to contact DuckDuckGo with a bug report?"
*Hi
I know this is not the correct place.
But I want to report a bug about the DuckDuckGo LITE website.

I've filled in the form at https://duckduckgo.com/feedback
And I've sent emails to bd@duckduckgo.com

But I haven't received any replies, not even confirmation of my messages.

Does DuckDuckGo not respond to bug reports?

Is there some other email address that I should be using?

[2020-06-27 16:38] bat999 commented on #871
Hello again
I've received a reply about the email...
It's not deliverable!
Does anybody here know an email address for DuckDuckGo that works?
**Delivery has failed to these recipients or groups:**

**bd@duckduckgo.com (MALITO:bd@duckduckgo.com)
Your message couldn't be delivered. Despite repeated attempts to deliver your message, querying the Domain Name System (DNS) for the recipient's domain loc

[2020-06-27 18:04] cmonfortep commented on #871
Hi @bat999

https://duckduckgo.com/feedback is the right place for any bug report or feedback related to our search engine. I'm sorry you didn't get any response yet, there could be some delays.

I'm not familiar with the bug report process but I guess you have a hackerone issue number. You can check the current status there, and any follow up will happen inside hackerone.

Sorry I can't help much

[2020-06-27 18:05] #871 closed

[2020-06-27 20:13] bat999 commented on #871
Hi
I tried again with duckduckgo.com/feedback
This time I have had to set up an account with hackerone.
There doesn't seem a way to submit a "bug" report.
I have had to submit it as a "vulnerability" report.
That's weird.
Thanks for your help

[2020-06-27 21:40] seekr commented on #850
My I also emphasize the importance of the option of making the omnibar sticky? It can be distracting and frustrating to have UI appearing and disappearing as I scroll.

In long aspect ratio phones such as S8 I'm not gaining much by having a disappearing strip of UI.

Great work ddg team, as usual!

[2020-06-28 08:12] donfuxx commented on #687
Hi @cmonfortep

I have fixed this here with this one-liner: https://github.com/duckduckgo/Android/pull/872

cheers,

[2020-06-28 08:22] donfuxx commented on #870
It seems like the behaviour of ddg is consistent with Google Chrome though, which would only share the url as well.

[2020-06-28 08:35] donfuxx commented on #860
If you want to block some sites that aren't family-friendly you could just set a child-safe ip in your device dns settings, like for example https://support.opendns.com/hc/en-us/articles/228009007-Android-Configuration-instructions-for-OpenDNS
The nice thing about this is that this would apply also to other browsers / apps that are installed on the same device.
However that obviously only works as

[2020-06-28 19:13] ecklebrug commented on #870
When sharing via Google Chrome, the description is visible:

"Why restaurant menus are getting shorter - CNN - https://www.cnn.com/2020/06/23/business/restaurant-menus-shrinking/index.html"

[2020-06-28 21:30] cmonfortep commented on #870
Hi @ecklebrug, I guess the expected behavior can be different for each user.

In my case, I like that we only share the URL when sharing a link via any messenger app (sometimes that messenger app will show a preview of the link). For a few other cases like you described, it could be helpful to share that extra info, for example sharing a link via email (adding that title/description to the subject

[2020-06-28 21:30] #870 closed

[2020-07-02 00:40] masstransithonchkrow commented on #527
Hi there! If DDG reviews this, please use the header data on my web pages to determine what the favicon is. I do not have a default favicon for my site. My DeskThemePacks use PNGs for favicons based on the currently viewed theme's normal cursor.

By looking for favicon.ico where it doesn't exist, it affects both my site's performance and SEO.

[2020-07-02 00:53] sjclark commented on #527
To be honest it doesn't really seem like this is an issue. Implicitly DDG already knows what you're searching for, as this is in reference to a search results page. So if you're concerned about DDG tracking what domains (via favicon caching) you're connecting to then you've already missed the privacy implications of being served a results page.

Loading all the favicon's locally **would** exert a

[2020-07-02 01:10] timmc commented on #527
If it was just search results, I wouldn't care.

But this appears to be in use for rendering tabs that you're visiting, regardless of how you got there:

https://github.com/duckduckgo/Android/blob/db728523240e377277deb88af71d751eb8bdb5dd/app/src/main/java/com/duckduckgo/app/tabs/ui/TabRendererExtension.kt#L44

[2020-07-02 02:33] tonyxu-io commented on #527
It’s shocking to see how DDG staff responded to this issue. Doesn’t seem to care much about user privacy concerns.

[2020-07-02 03:01] jeevank commented on #527
@CDRussell This needs to be reopened and looked into. This is a serious privacy issue regardless of your "privacy policy"

[2020-07-02 03:26] sheerun commented on #527
This made me really doubt privacy of DuckDuckGo. How it can be private and secure if you hire security experts who allow it to happen since 2019? "it can be displayed in **certain places within the app** or on the results page"

[2020-07-02 03:29] Xunie commented on #527
Can we please stick to objectivity when dealing with this? Having a crowd spam a github issue is not going to make things better.

On-topic: I argue that:

1. This is a user privacy and security concern (who watches the watchers?, security breaches and providing a juicy target for APTs)
2. a financial drag on DDG (Who is financing this favicon infrastructure?)

That's off the top of my head.

[2020-07-02 03:30] afshawnlotfi commented on #527
I've written a browser in the past just for fun. No need to send a request for every favicon. You literally just use the favicon.ico or apple touch icon in the head which I would have thought would be the most logical way to get it.

https://github.com/afshawnlotfi/boldbrowser/blob/0d8285b1c848f49ed2daf963cf7ff59c6a54efd7/bold/Client/Assets/JS/Plugins/favicon/favicon.js#L5

[2020-07-02 04:52] davewood commented on #527
[code]
[https://news.ycombinator.com/item?id=23708166]

[2020-07-02 05:07] javabeanz commented on #527
privacy should be the whole raison d'etre of DDG. time for a fork DuckDucGone ?

[2020-07-02 05:42] scabros commented on #527
I don't know why all the fuss... You all know that if you are using his app, you already "trust" that his search service is respecting your privacy, right? C'mon, they are being transparent, as usual.

[2020-07-02 05:47] tonyxu-io commented on #527
@scabros  - Please checkout the reply above: https://github.com/duckduckgo/Android/issues/527#issuecomment-652721495 This is not about using their search service, we all know search provider know exactly what you are searching for. But this particular issue is about using the browser, it's when user directly visit the website from browser address bar or reference link.

[2020-07-02 06:05] svenssonaxel commented on #527
So essentially, the trade-off is between performance and auditability of privacy. I predict that the user segment DDG appeals to will overwhelmingly prefer the latter.

Yes, we already trust DDG, but only because we have to trust someone and others have proved to be untrustworthy. The issue isn't about whether the user trusts DDG, it's about minimizing the need for trust and maximizing the ability

[2020-07-02 07:31] eighthave commented on #527
I think this would make this app qualify in F-Droid for the _Tracking_ anti-feature, there is no good reason why every website URL should be sent to DDG servers.  Regardless of intent, it does key bits of data, and there are better technical solutions to finding the favicon.

[2020-07-02 07:47] solomoncaygnuyou commented on #527
I believe reopening and rectifying this design choice would go a long way to preserving the trust that DDG has worked hard to earn in the privacy-oriented community. Even if users trust that DDG is not using this data in any undesirable way, it would provide more peace of mind to users that the data not be sent in the first place.

I am strongly in favor of changing this functionality to no longer

[2020-07-02 08:14] holderbaum commented on #527
A long time DDG user and advocate here.

First and foremost, thank you for building the most awesome search engine there is right now! :slightly_smiling_face:

I must say that I am pretty appalled by this implementation. Yes, I trust DDG with my search data since I have to do searches and DDG always seemed like they actually care about privacy. But at the same time, a privacy aware browser should

[2020-07-02 08:20] black-snow commented on #527
How is this still closed?

[2020-07-02 08:34] stefanct commented on #527
This "feature" has been added in March 2018: https://github.com/duckduckgo/Android/commit/03f99c4a381d880ab850f0ddde9f692057a840e0#diff-63ac5c0d645555fe179e72977d9c1728

And as of now it is still unchanged in the develop branch: https://github.com/duckduckgo/Android/blob/e2f2d54a6b4452277467db403a3546512401b493/app/src/main/java/com/duckduckgo/app/global/UriExtension.kt#L83

(I did not look into t

[2020-07-02 08:36] thors commented on #527
1. This is not only about the search service.
2. Trust is only a last resort, after they did everything reasonably possible to avoid acquiring unnecessary data in the first place (which they apparently don't).

There are plenty of good browsers on the market. This browser had once privacy as a main selling point, but as it looks, not any more.

[2020-07-02 08:49] RokerHRO commented on #527
Trust is a very brittle thing. It grows slowly and takes years to built it. And only one line of code can shatter it.  But instead of react professional and contritely you made it worse to stamp on the shards to make sure no useful piece of trust will survive. You had one job! :-(

[2020-07-02 08:53] bluesign commented on #527
Sorry but this is not enough reason. There is a simple question you should ask to yourself.
- Would you be ok to use a third party for this with same privacy policy?

[2020-07-02 08:55] zink-chimaera commented on #527
Meanwhile DDG literally collecting personal information from my device. 😕

`DDG changed security issue: Ignored`

[2020-07-02 08:58] pythoneer commented on #527
For those that don't really understand what is happening:

It is really about that code snippet from [here](https://github.com/duckduckgo/Android/blob/ed91c9e551d2a9e1559199f110bd94c076784c71/app/src/main/java/com/duckduckgo/app/global/UriExtension.kt#L60):

[code]
The function for retrieving the Favicon is asking for the current host the user is on (e.g. apple.com) and sends it to a service hoste

[2020-07-02 09:10] GarbageHamburger commented on #527
99% of the websites I have seen have either

1. a `<link rel="shortcut icon">`, which directly points to the favicon
2. if not, a `/favicon.ico`

I really don't see the point of this URL anyhow. It's useful for search results (because you'd have to download every page to parse its favicon otherwise, and your search results are already served directly from DDG so there'd be no point), but using it

[2020-07-02 09:16] lethargosapatheia commented on #527
What I find most disturbing is that fact that they haven't said a word on this topic for a year now.

[2020-07-02 09:17] GarbageHamburger commented on #527
I would expect them to respond now that the link blew up on HN.

[2020-07-02 09:28] alex-tee commented on #527
first post says otherwise.

[2020-07-02 09:35] jonathanronen commented on #527
We love DDG for privacy, not for favicons. Privacy starts from not collecting data.

[2020-07-02 09:50] NeverUsedID commented on #527
If trust is a balloon, this is a needle found in a haystack...

[2020-07-02 09:51] tgy commented on #527
Adding a comment from Hacker News here that I find relevant when reading this thread.
[code]

[2020-07-02 09:51] gowthamgts opened #876 "Reporting privacy concern"
This is related to #527.

Users like me don't care much about favicons and we're using your browser only for privacy reasons. As a browser advertising that you respect user's privacy, please don't do things like this:

https://github.com/duckduckgo/Android/blob/ed91c9e551d2a9e1559199f110bd94c076784c71/app/src/main/java/com/duckduckgo/app/global/UriExtension.kt#L60

Either move this favicon logic t

[2020-07-02 09:52] gowthamgts commented on #527
since this is an old issue, created a new one #876

[2020-07-02 09:56] gowthamgts commented on #876
Also, I do not understand how this is relevant now. All these URLs return the same image:

1. https://icons.duckduckgo.com/ip3/google.ico
2. https://icons.duckduckgo.com/ip3/facebook.ico
3. https://icons.duckduckgo.com/ip3/asdasdasdasdasdsad.ico

[2020-07-02 10:03] b0z1 commented on #527
I remember when gitlab made a mistake and many commits were lost.
It was a huge deal and they made a livestream and fixed it live.
Thats transparency!

Thats what i would expect from duckduckgo here.
See they made a mistake and fix it.

But closing the issue just like that is a statement. A huge statement.
"We dont care about your privacy"

[2020-07-02 10:03] tagawa commented on #527
Sorry for the frustration this has caused. We're re-opening this to update the app to do this locally ASAP. Please see the follow-up comment but our Founder/CEO here: https://news.ycombinator.com/item?id=23711597

[2020-07-02 10:06] Bonjur commented on #527
Thank you, that is the response people here want to hear.

[2020-07-02 10:10] ganzgustav22 commented on #527
I've just de-installed the Duckduckgo app and also won't be using their search engine anymore. Trust ist lost. Their CEO can put his statement where the sun doesn't shine.

[2020-07-02 10:11] cmonfortep commented on #876
Thanks @gowthamgts for opening this issue and also sharing the Mozilla reference with us.

I'm happy to say that we have re-opened the previous issue. In order to avoid duplicated comments, and to have all user's comments in one single place, I will be closing this one as duplicate.

Please refer to this issue for future updates and feel free to comment in there -> https://github.com/duckduckgo/An

[2020-07-02 10:11] GarbageHamburger commented on #527
I don't think this kind of cut-throat response is the thing to do. @tagawa already said the issue is being worked on. Of course, it sucks that this was ignored for a year, but fixing it is the right response.

[2020-07-02 10:11] #876 closed

[2020-07-02 10:16] JeffAment commented on #631
Thank you for linking to the PR @subsymbolic.  I am happy to see a fix that doesn't omit the DDG component of the UA altogether.  I think that having a dynamic UA to accommodate the small subset of sites that cause problems is an excellent idea, and I am very satisfied with the solution here.  Great work!! :rocket: :+1: :fire:

[2020-07-02 10:18] AdamZaczek commented on #527
Life must be hard with such trust issues. The company made a mistake and they are trying to fix it, it's not too common of a practice.

[2020-07-02 10:20] chris-pauley commented on #527
https://news.ycombinator.com/item?id=23711597

The CEO of DDG just committed to resolving this by doing favicon lookups locally. This is actually a really solid response from the company. If they follow through, that makes DDG a pretty awesome company for owning up to a mistake and fixing it. Not something you'd see from any of the other major search providers.

[2020-07-02 10:23] solomoncaygnuyou commented on #527
@tgy
That comment is a fine example of 'whataboutism'. DuckDuckGo has no control over Google, so it there is no point in rhetorically asking, "Why care about this issue with DuckDuckGo when Google does so much worse?" DuckDuckGo *can* however improve its own services when there is clearly improvement needed.

Nobody is "piling on" DuckDuckGo for this. You are witnessing a community of privacy-orie

[2020-07-02 10:30] azihassan commented on #527
This will exacerbate my anatidaephobia

[2020-07-02 10:36] RokerHRO commented on #527
@tgy :

As a software developer I know for sure the difference between a "mistake", that happens without intention, and a feature that is always built in _with_ intention.

And, sorry, but you cannot argue that a company that cares about privacy seriously adds an online service that tracks (and can collect) user's behavior only "by accident".

[2020-07-02 10:57] lethargosapatheia commented on #527
I would really give them the benefit of the doubt, I wouldn't compare them to google or whatever. Moreover, they would compromise themselves badly, if something really fishy were to be revelead. This is part of the core of their business.
I'll put it down to negligence in this case - not that that's an excuse, as I've already said, it's already been a year, yet it's quite different.

[2020-07-02 11:00] ErikHumphrey commented on #527
While I don't view this as a major privacy concern, it certainly still is one. As there are pros and cons to leaving this enabled, it should be an option in DuckDuckGo settings.

[2020-07-02 11:11] niksmac commented on #527
I still don't see a meaningful reason behind this decision, especially from a company which is claiming to be privacy focused. This could've been handled in a better way for sure. Hope they will fix it soon. Nevertheless it was a simple thing which can be avoided altogether.

[2020-07-02 11:12] seungjulee commented on #527
It took a year, and HN front page to get it resolved.

[2020-07-02 11:14] gophobic commented on #527
I've always put DDG in the same category of fishy """pro-privacy""" software companies like Brave that their whole raison d'etre is to rely on aggressive marketing attacking big companies like Google.

[2020-07-02 11:18] thors commented on #527
Read it, laughed, and ignored it there (because I didn't want to create an account there just to debunk it)

Here I agree

The main problem is not the mistake they made in implementation. The issue, why people start piling up is that they don't acknowledge it as a mistake. That, imo, justifies to continue screaming until they do change the implementation.

That is bullshit. DDG  doesn't receive fl

[2020-07-02 11:18] sentialx commented on #527
doesn't chromium literally have an event for favicon update? WebView even has the favicons database known in Chrome, so it's even possible to get a favicon before a page loads (you can check it by typing `chrome://favicon/https://duckduckgo.com`) https://developer.android.com/reference/android/webkit/WebViewClient#onPageStarted(android.webkit.WebView,%20java.lang.String,%20android.graphics.Bitmap)

[2020-07-02 11:31] thors commented on #527
Good luck finding a better option, privacy-wise...

[2020-07-02 11:32] RUSshy commented on #527
i knew it, duckduckgo is operated by the CIA/NSA

[2020-07-02 11:36] Tritonio commented on #527
Firefox Focus is IMO better privacy-wise.

[2020-07-02 11:39] holderbaum commented on #527
Thank you, DDG Team, for taking this matter seriously. Very good response from Gabriel on HN! :heart: :partying_face:

[2020-07-02 12:18] us31t commented on #527
**[DDG Marketing]** We respect your privacy, we are a privacy company! We fight BigCorp with transparency!
**[DDG Dev]** Ok, lets build a feature! Hmm... what could we do next? Ahhh I got a great idea! Lets send the entire user`s browser history to our servers, so we can  ... hmmm let`s see ... how could we argue this ... a yes! Show a favicon!
**[OS Community]** Files Ticket: Hey guys you are sen

[2020-07-02 12:32] resynth1943 commented on #527
I love how the Reddit squad have hijacked this issue with their egregious accusations and demands. It really does reflect badly on everyone here if this is the standard for communications.

That being said, I would be interested in a technical explanation for this functionality, if the DuckDuckGo developers would be so kind to provide one.

Many thanks,
Synth

[2020-07-02 12:42] catehstn opened #877 "Request favicon directly from site"
Current favicon requests go via the icons service. Replace these by calling directly to the site.

First: /favicon.ico
Fallback: default icon (exists in app).

[Internal tracking](https://app.asana.com/0/72649045549333/1182909349293473/f).

[2020-07-02 12:49] Tritonio commented on #527
In 2019 I mentioned it on reddit, then made the bug report here as someone suggested and got a link to their privacy policy on both places. The same arguments that we are making now were made a year ago as well. The only difference (that I can see) is the number of people that got interested in this. So don't dismiss this chaotic response as unnecessary. I, for one, am quite grateful for it.

[2020-07-02 12:50] tgy commented on #527
@thors I think you misunderstood what the HN commenter meant by "This isn't about DDG". In this particular sentence "this" refers to his own comment. His own comment is not about DDG itself but about the reactions here.

I agree with you that the continuous screaming is necessary for DDG to react. A sad reality.

I also believe that the whole point of open sourcing the code of the app is exactly w

[2020-07-02 12:57] GarbageHamburger commented on #527
You're being equally off-topic about it by complaining here though? You don't need to virtue signal.

[2020-07-02 13:05] resynth1943 commented on #527
I'm not, and I heavily doubt anyone that has to clean it up is happy, either.

Sadly, it seems that comments that divulge on the technical side have been ignored by the Reddit squad, while egregious accusations have been upvoted. This, in my opinion, should raise questions about what the priorities of this squad really are.

I may be in your opinion, but I do not see any accusations or conspiracy

[2020-07-02 13:23] ddevault commented on #527
Thank you for re-opening and prioritizing this, @tagawa.

However, this problem demonstrates gross incompotence for a browser team supposedly concerned with privacy. Will you please do a post-mortem on how this code made it through your code review process in the first place, as well as how it managed to stay in place for a full year after it was pointed out that it represented a privacy problem?

[2020-07-02 13:36] ddevault commented on #527
By the way, step one should be removing this feature and shipping a fixed browser ASAP, even if it breaks favicons, and then working on a more robust solution afterwards. I cannot overstate the gravity of this problem.

[2020-07-02 13:41] b0o commented on #527
To be fair to DDG, favicon extraction is not an easy problem.

I've tried to implement it myself, and there are edge cases-galore. A lot of people are arguing a "99% of sites use standard favicon practices"; in my experience it is closer to 95%. There will be a significant number of missed favicons with a naive approach, otherwise a semi-complex solution and multiple HTTP requests will be necessar

[2020-07-02 13:50] ozgurrgul commented on #527
I do love DDG and this looks more serious than it seems. I am glad they said they will fix this huge privacy/exploit of their users, but I don't know if they will have the same trust as before.

[2020-07-02 13:57] Noir- commented on #527
Behavior like this "feature" is one of the central points of criticism against "the tech giants". Everyone who's more into this topic knows what these companies doing and that they also always promise to take care. And we see how this is working out in reality. That's why privacy aware users want to minimize the potential for abuse by living the need-to-know principle. So I can't deny that this "f

[2020-07-02 14:01] Tritonio commented on #527
Squad? What squad? This is a bunch of random users that are pissed, and rightfully so. There is no squad. I called this "chaotic" on purpose. And I still believe it was needed.

These people obviously don't have the same definition for "simple error" as you (I don't think it's simple btw), or have less tolerance for errors, or care more about their privacy, or have a higher tendency to look for pa

[2020-07-02 14:09] nathgit commented on #527
https://news.ycombinator.com/item?id=23711597 comment from DDG founder 4hrs ago.

[2020-07-02 14:12] catehstn commented on #527
Closing as duplicate of #877, fixed in #878.

[2020-07-02 14:12] #527 closed

[2020-07-02 14:13] resynth1943 commented on #527
What was *not* needed was totally off-topic spam, and paragraphs of complaints and egregious accusations against DuckDuckGo, claiming they are best buddies with the USA, etc. etc.

I suggest you read the entirety of this thread, instead of asking me where it went wrong.

Personally, I think it was an oversight on behalf of the DuckDuckGo developers. Nevertheless, it has been fixed, so the squad do

[2020-07-02 14:17] Tritonio commented on #527
I read it. I see one comment that mentions NSA which qualifies as a conspiracy theory. I see a couple more saying it's fishy which is not a conspiracy theory. How many do you see that mention conspiracy theories? The complaints are absolutely warranted, and it's the reason why DDG took notice in the first place.

[2020-07-02 14:17] ricardoscotia commented on #527
Seems like a design 'mistake' or error in judgement, but good that they're reviewing it.

Shouldn't be a huge problem to fix because as they've alluded to, fetching a favicon isn't simply grabbing example.com/favicon.ico, you need to inspect the head of the page and look for various elements. Since they already have a server side version of this, they just need to port it to their app. No real rea

[2020-07-02 14:27] RokerHRO commented on #527
Interesting workflow: Closing the old ticket as "duplcate" to a freshly created issue. Why that? To improve project's metric in "time between creation and fixing an issue" (where issues marked as "duplacates" won't count).

[2020-07-02 14:29] catehstn commented on #527
Phased rollout on Android is already underway, iOS to follow.

[2020-07-02 14:42] CDRussell commented on #877
Fixed by https://github.com/duckduckgo/Android/pull/878

[2020-07-02 14:42] #877 closed

[2020-07-02 14:53] joshmanders commented on #527
@resynth1943

I'm just here to save kittens.

[2020-07-02 15:23] gabru-md opened #879 "login popups redirect to the first tab after login"
**Describe the bug**
Whenever I lwant to login to a website and the website has one of the other methods like google, GitHub or twitter for login then the browser creates a new tab for me to login. after successful login the tab closes and redirects me to the first tab in my opened tabs list. Even after successful login from the sources the website still asks me to wait for login. everytime I get

[2020-07-02 15:41] gabru-md commented on #879
![ezgif-3-4cd9e0248d39](https://user-images.githubusercontent.com/25414121/86378926-d22dd200-bca7-11ea-82e5-3d0e722dbb6e.gif)

In this gif you can see the bug I'm talking about. In this case the login was successful but the redirect was done to the first tab. sometimes this causes login not to complete.

[2020-07-02 16:01] resynth1943 commented on #527
@joshmanders

LOL, same. I downvoted them, too :D

[2020-07-02 16:39] pluma commented on #527
This seems like a simple misalignment of expectations.

In DDG's minds, people using the DDG browser likely already use the DDG search engine because that's how they built their brand recognition. And if you already use the DDG search engine you're obviously fine with how the DDG search engine gets its favicons (because the alternative would by our browser making requests to each server which woul

[2020-07-02 16:54] LinAGKar commented on #527
It's not just that. Sure, this doesn't matter much if you get to the page via the search engine, but you can go directly to a web page without using a search engine, in which case the search engine should not know about it.

[2020-07-02 17:33] JeremyCrookshank commented on #527
Needs fixing

[2020-07-02 17:57] Tritonio commented on #527
Not leaking **every single domain** a user visits is not a high bar. It's the bar you need to pass not to be considered spyware. FFS why are you people trying to defend an idiotic code decision? They are fixing it, great, I'm really happy for that. That doesn't mean we should trivialize the matter.

Leaking the domains to a server puts you leaps **behind** your competition and even your non compet

[2020-07-02 19:16] lemiesz commented on #527
Seems like even if you could not fix the favicon serving issue, just deleting the favicon and not having any would be a better user experience. Given that putting the favicon up is breaking a core value proposition of your service.

[2020-07-02 20:40] nilnilnil commented on #527
Hi all, CTO of DuckDuckGo here. I thought it might be helpful if I briefly shared some of our internal thinking around this issue so folks can see how we got here and how we plan to move forward.

The logic behind how we’ve been displaying favicons in our apps is a function of how we operate our private search engine. Since we already have an anonymous favicon service through our search engine, us

[2020-07-02 20:53] calimeroteknik commented on #527
That's quite a curious wording to talk about a solution that objectively raises privacy to a much higher standard.
Well, it's good to hear that more privacy "still maintains" your privacy standards.

Please remember, my dear DDG: **don't be Google.**

[2020-07-02 20:55] mlvzk commented on #527
Except in most cases(where it's just /favicon.ico) it will be slower. You have latency from user to your server, and then also from your server to the domain.

Why would that matter? It's just a favicon, how is a favicon gonna violate my privacy if I'm already sending at least one request to the domain?

I think you misunderstood us. The problem is that you're doing it no matter if the user is goi

[2020-07-02 22:58] resynth1943 commented on #527
I'm personally surprised nobody has talked about the fact that DuckDuckGo's search engine has a strange redirection function when you click on a link. I would love to talk about that at some point, because I really don't understand why it's there.

Many thanks,
Synth

[2020-07-02 23:15] alectrocute commented on #527
There's about seven red herrings in this huge thread. A lot of people who suddenly use DDG when it's convenient to complain about it. Right. @Tritonio was the only one whom I saw explain the actual vulnerability here:

This quote points at Microsoft Azure's IP for example's sake, but that doesn't account for the countless ISPs your data travels through, even on a basic DNS level without vendor par

[2020-07-02 23:49] pcr910303 commented on #527
@resynth1943 It's to not expose the referrer so that the site can't know what the user searched.

[2020-07-03 00:55] tonyxu-io commented on #527
This can be prevented by:
<a href="example.com" rel="noreferrer">link</a>

[2020-07-03 00:56] resynth1943 commented on #527
Interesting. Thank you, @pcr910303. Personally, I'd love to see Referer die a death, it's about damn time.

[2020-07-03 00:57] landry314 opened #880 ""Add to Whitelist" in Menu Not Clearly Worded - "Privacy Protection" is Unclear"
In the menu the option "Add to Whitelist" was not clear to me at first because in Settings it is called "Privacy Protection Whitelist". I think these should be renamed to be more similar. "Privacy Whitelist" in the menu is more clear.

I am not even sure what this is. Are the blocked trackers related to this or is it totally separate? "upgraded by Privacy Protection" is not a clear way to describe

[2020-07-03 01:03] resynth1943 commented on #527
That *is* curious. When I click on a link in the search engine (here's one about ghosts), I get something like this:

https://duckduckgo.com/l/?kh=-1&uddg=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FGhost_(Swedish_band)

Couldn't *this* be used to track browsing history, too? Technically, query parameters *are* sent to the server. Wouldn't mind knowing more about this, if they would explain more about

[2020-07-03 01:20] tagawa commented on #527
@resynth1943 You're right, the redirect is for backwards-compatibility reasons (there's more about it on [this help page](https://help.duckduckgo.com/duckduckgo-help-pages/results/rduckduckgocom/)) but it can be disabled [in the search settings](https://duckduckgo.com/settings#privacy), in which case just the `referrer` meta tag is used. That's set to `origin` by the way.

Re. POST and GET, that c

[2020-07-03 03:51] PranavBhattarai commented on #527
DuckDuckGo just went viral but in a very WRONG way.
This is bad + sad.

[2020-07-03 03:57] waltercool commented on #527
Come on guys, stop trolling on this post. DuckDuckGo already made an statement on this.

Don't like it, fork it. Stop crying and demanding work from others.

[2020-07-03 04:39] scabros commented on #527
I am absolutely AMAZED on how people OVERREACTED about this.  First disclaimer: I have NO connection to DDG, I am just a user. I work as sysadmin and web developer full time since 2004.

I do agree this is a "feature" that could be implemented locally to let the users feel more comfortable with his privacy concerns.

But this, **for me**, doesn't represent an anti-privacy practice, as a lot of peo

[2020-07-03 05:01] landry314 commented on #209
Over 2 years and this isn't done? It seems like an easy job, no? export an HTML file with all the URLs to a directory of choice...

[2020-07-03 08:20] resynth1943 commented on #527
Who's trolling?

[2020-07-03 08:24] resynth1943 commented on #527
@scabros that's fair enough, dude, and I agree with that. People were rude, malicious and forming egregious remarks about the company that just made a mistake.

I can see people have already down voted your post. I've got 31 down votes on a rational opinion, so good luck communicating with the children here.

DuckDuckGo really isn't the second Google.

Far from it.

And that's why I use it.

[2020-07-03 10:15] JasonMFry commented on #527
Unfortunately this isn’t the only “mistake” DDG has made: [DuckDuckGo's privacy abuses-- current, historic, and by proxy](https://dev.lemmy.ml/post/31321). People may be overreacting to this post if this post represented a single mistake, but given the context of the post I linked, I suspect most haven’t reacted nearly strongly enough.

[2020-07-03 10:47] us31t commented on #527
First of all - I am a big fan of DDG
- I promote it whenever I can
- I use it anywhere possible
- This comment is meant to help the DDG team to understand this PR issue. Even tough - _we_ _(OS_Community)_ are very concerned that this explanation is necessary in the first place! _We_ normally do not rise up from our cellars - because _we_ code. But now where the realms of management and C0D3 collid

[2020-07-03 12:09] calimeroteknik commented on #527
I overlooked the implications of this. It's much more interesting than it seems.

#### Consequence 1:
It means that DDG has started a game of

…with the general public.
The dynamics of this game can be summed up to "we keep hiding things around, and you keep looking for them".

That's immoral, but I believe it's legal and therefore legally allowed to do this. (after all, DDG users are not paying c

[2020-07-03 12:13] The-Compiler commented on #527
FWIW Google has a service used in their Chromium browser (and also used by Firefox and others) for clients to find out whether a given host is malicious (e.g. a known phishing page). [Their API](https://developers.google.com/safe-browsing/v4) can be used in a way in which hostnames are not sent to Google, and even Google Chrome does things that way. (Then again, there might be other features in Ch

[2020-07-03 15:02] cmonfortep commented on #880
Hi @landry314, thanks for sharing this feedback with us. Also for the Fireproof websites reference as "cute and clear", which makes me happy as I've been involved on the project :D

That being said, I'm happy to share with you that we already merged a change to improve what you described (https://github.com/duckduckgo/Android/pull/867 -> it will be out in our next release). We will be using someth

[2020-07-03 15:44] landry314 commented on #880
That's good to hear!

Does "Site Privacy Protection" on the Privacy Dashboard have anything to do with the trackers blocked on that same page? There is switch on the page to turn Privacy Protection on and off but it is not clear if that is related to the trackers or not. This could be clearer too. Maybe the place it says the numbers of trackers blocked will change in a different way as you hit the

[2020-07-03 16:17] cmonfortep commented on #880
Yes, that switch enables or disables our privacy protection in the site you are visiting, and that includes our tracker blocking.

You are right, we could update somehow the UI to make more clear what's happening. Currently, we only change icon background color (the above "Enhanced from X to Y") from green to grey, but I can see why that's not clear enough. About changing the number of trackers bl

[2020-07-03 16:20] cmonfortep commented on #879
Thanks, we have some issues open related to our navigation between tabs and I think this is related to that odd behavior we still need to fix. Like this one https://github.com/duckduckgo/Android/issues/815 (not the same but the root cause could be the culprit).

Thanks for that gif, really love it when people share some visuals here, really helpful. Hope we can fix it soon!

[2020-07-03 16:38] gabru-md commented on #879
yes, indeed it is one of the navigation issues. Only if I worked on android I'd have tried looking into it but I guess I'd just leave it to you guys to fix it. Also, thanks for the amazing browser, I try to urge people to start using it instead of others. Keep up the good work. 🙌

[2020-07-03 17:33] waltercool commented on #527
Everyone who keeps posting here, DDG already received a PR and merged at the codebase https://github.com/duckduckgo/Android/pull/878

Is non-sense to keep posting "furious" and "frustrated" comments here. Again, if people dislike DDG Android app in any sense, don't use it, or just fork it.

The whole idea of OpenSource isn't treating developers as slaves who fulfill all demands of everyone, or to

[2020-07-03 17:35] GavJenks commented on #877
Why would you not just write all of this in ticket #527 ?

[2020-07-03 17:41] waltercool commented on #877
Ideally please comment: "Pull request merged at upstream", and close the comments section. Too much c**cer already there.

[2020-07-03 18:12] calimeroteknik commented on #527
@waltercool the discussion here is not about the software.
It is about how DuckDuckGo, the company, responds when privacy problems are pointed out.

Admitting it was a mistake would be a start as far as this discussion goes, and that hasn't happened as far as I can tell.

[2020-07-03 18:23] waltercool commented on #527
I do understand your concern, but please look the "issue" and "official response". Everything else happened after the ticket was closed, basically someone said: "Hey look this code you are leaking all url from users!", and they said "ehhm, no".

A good way to report "a software issue" (because the original claim IS a "code" claim), would be creating a PR proposing a replacement of the DDG favicon

[2020-07-03 23:45] resynth1943 commented on #527
Did you respond to the wrong post, @The-Compiler?

[2020-07-04 05:49] javabeanz commented on #527
favicons can even be weaponized : https://github.com/devanshbatham/FavFreak

[2020-07-04 08:10] ichelash commented on #527
DDG is no difference to google...no privacy at all  #my opinion though

[2020-07-04 11:56] yawnoc opened #882 "Add force enable zoom for accessibility"
Could we please add an option to force enable zoom, even on sites which (annoyingly) have a meta viewport element with `maximum-scale=1`?

In Firefox this option is called "Always enable zoom" under Accessibility:

![Firefox accessibility options: always enable zoom (Force override so you can zoom any page)](https://user-images.githubusercontent.com/48375680/86517695-8d4b9c00-be5d-11ea-8e22-d79616

[2020-07-05 13:03] resynth1943 commented on #527
I love how GitHub seems to be removing any and all functions that users can use to report abuse. Especially when it's a whole page of spam.

[2020-07-05 13:29] runboy93 opened #884 "DDG 5.59.0 crash report error on Samsung device health service"
Samsung device health service show DDG 5.59.0 version causes crashes (doesn't show in use anyway, only when see error history on Samsung device health service)

Open DDG 5.59.0, fire information and close app.

Samsung device health service > 3 dots > apps error reports history

With DDG version 5.59.0, each time you start / stop app, it does show error report (only time when it happens, and that

[2020-07-06 07:02] cmonfortep commented on #884
Thanks for reporting this. We got some crash reports after publishing 5.59.0 and merged a PR fixing the problem: https://github.com/duckduckgo/Android/pull/881

It was not clear to us how to reproduce that crash, but the information you provided has been really helpful to understand better the problem.

The fix is available in 5.59.1 release.

Closing the issue.

[2020-07-06 07:02] #884 closed

[2020-07-07 15:10] JeffAment commented on #631
Sorry for the double ping @subsymbolic.

Just a quick heads up, it seems that after the latest update (5.58.1), tirerack.com no longer automatically loads its mobile version :no_mobile_phones:.  I have an inkling that the changes to the UA string in PR 853 could have something to do with it, but I have not verified this.  It still loads correctly on other browsers, so I doubt that the problem eman

[2020-07-07 15:42] subsymbolic commented on #631
Thanks for reporting this @JeffAment. I've opened an internal issue to investigate and fix this. I'll comment once I have an update.

Internal issue: https://app.asana.com/0/72649045549333/1183556013880866

[2020-07-09 12:20] #33 closed

[2020-07-10 21:56] 8ware opened #886 "Fix handling of URLs with local domain and port"
**Description**
When entering URLs without scheme but local domain and port, e. g. `foo.fritz.box:3000`, the error *Unable to open this type of link* is shown. Prepending `http://` works, though.

**How to Reproduce**
1. Run a service locally, e. g. `python -m SimpleHTTPServer` (serves at port 8000)
2. Go to `<host-running-service>.<your-local-domain>:8000` (without specifying the scheme)
3. See t

[2020-07-10 22:29] 8ware opened #887 "Connection refused when using WireGuard"
**Description**
When a WireGuard connection is active opening (an arbitrary) URLs always result in `net::ERR_CONNECTION_REFUSED`; works in Firefox, though.

**How to Reproduce**
1. Setup a WireGuard server, e. g. using docker-compose
[code]
    (see https://github.com/linuxserver/docker-wireguard for more information)
2. Install the WireGuard app (e. g. from F-Droid), scan the QR code (see `docker

[2020-07-10 22:31] 8ware commented on #886
Maybe related to #384

[2020-07-11 06:07] JeffAment commented on #887
FWIW I've been using WireGuard with the DDG app for a while now with no problems on Android 10. For good measure, I followed the instructions above and created my own WireGuard server via docker-compose; everything worked as intended on Android 9 and 10 for me. Both devices are Google Pixel XL's running DDG Version 55901. I also tested against Version 55501 on the Android 9 device. You may want to

[2020-07-18 15:30] X4l1b1 commented on #209
Not sure why no one has posted an answer about the bookmarks location, here's mine fwiw.

I tried to do that earlier today, ended up doing the following to extract the bookmarks using a terminal app (maybe the same can be done with adb):

sqlite> .headers on
sqlite> .mode html
sqlite> .output data.html
sqlite> select * from bookmarks;
sqlite> .quit

I guess it requires the phone to be rooted thoug

[2020-07-20 01:10] Manavpreeet commented on #688
I would like to work on it, is it available ?

[2020-07-20 07:25] Poopooracoocoo commented on #688
@Manavpreeet thanks!

[2020-07-21 05:03] Manavpreeet commented on #688
There is error in BrowserTabFragment.kt at (532, 17)

[2020-07-28 13:11] jawadalkassim commented on #865
Hi @cmonfortep, Sorry for Responding late, actually the main advantage of this, downloading large files with slow internet can be a little messy with android or any browser download manager. So forwarding this download to ADM is more helpful.

[2020-07-30 12:31] Phoenix616 opened #894 "Support Web Bluetooth API"
**Is your feature request related to a problem? Please describe.**
Websites which use the [Web Bluetooth API](https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API) do not work due to that API not being provided.

**Describe the solution or the user experience you'd like**
For websites using that API to work.

**Additional context**
Web Bluetooth API spec: https://webbluetoothcg.githu

[2020-08-02 09:52] 8of commented on #660
Found several other menus / pickers where black theme isn't applied.

- Settings -> Privacy -> Automatically clear
- Tabs screen -> three dots button
- Tabs screen -> Clear data (fire icon) button

Screenshots below:

![Screenshot_20200802-124325](https://user-images.githubusercontent.com/6408861/89120347-47b2db00-d4be-11ea-9c3f-88e239c00c96.png)

![Screenshot_20200802-124745](https://user-images.

[2020-08-05 09:45] cmonfortep commented on #887
Thanks @JeffAment for your input here, really helpful.

@8ware is this problem still happening on your device?

[2020-08-05 09:54] cmonfortep commented on #882
Thanks for the feature request. I created an internal task to keep track of it in our backlog.
https://app.asana.com/0/0/1187616573788674/f

[2020-08-06 14:10] #753 closed

[2020-08-07 12:59] cmonfortep commented on #894
Thanks, I see that is not supported by Android Webview according to the [Docs](https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API#Browser_compatibility).

Our browser is based on the Android Webview, so I'm not sure we can support it by ourselves. I still need to explore more on this (I've created an task in our backlog https://app.asana.com/0/0/1188018485640065/f ).

If anyone has

[2020-08-07 22:38] JeffAment opened #900 "Swipe to refresh triggers when address bar is hidden"
Device: Google Pixel XL
OS: Android 10
DDG Version: 56000

On http://raosrestaurants.com/, the swipe to refresh triggers when it isn't supposed to (see gif below; very easy to reproduce on my device). Possibly related to #638. I've had similar issues on a handful of other sites also. I don't have a way to reproduce the bug on the other sites, but what I can say is that in every instance, the addre

[2020-08-08 07:12] Usiel commented on #900
Thanks for finding this. Adding a PR suggestion, which fixes the issue and makes the mentioned websites usable. However it's not quite as smooth as Chrome is unfortunately (more on that in the PR).

[2020-08-10 10:09] #900 closed

[2020-08-10 13:15] cmonfortep commented on #812
This issue should be fixed by https://github.com/duckduckgo/Android/pull/897

PR merged in develop, closing this Issue.

[2020-08-10 13:15] #812 closed

[2020-08-11 18:57] redeveloper3 opened #906 "Some sites hang when loading on Kindle Fire"
**Describe the bug**
Intermittently some sites do not load, the progress bar stops halfway and the browser hangs.

**How to Reproduce**
Steps to reproduce the behavior:
1.  Open browser and enter 'bbc.co.uk/news'.   For me this site has crashed multiple times, not every time though.
2.  Bug also happens intermittently when trying to access sites via Twitter's URL shortener (t.co).

**Expected beha

[2020-08-12 18:58] 8ware commented on #887
Sorry, for the late answer. Yes, the problem persists. I tried it on another device and there it works. Seems to be an issue with my particular Lineage OS build. Thanks for your time and hints, though.

[2020-08-12 18:58] #887 closed

[2020-08-16 10:52] ejortegau commented on #840
https://chrome.google.com/webstore/detail/dark-reader/eimadpbcbfnmbkopoojfekhnkhdbieeh is IMHO the best implementation of darkening of web content. It has multiple modes that can be set per site, and also allows for skipping darkening altogether for some sites. I'd advise considering this as a main source of inspiration as opposed to the opera or kiwi alternatives.

[2020-08-17 18:24] femto-code opened #912 "Open local HTML file from storage"
When trying to call a local HTML file from the sdcard the app says

Stock browser (based on System WebView) is able to open local files. Is it possible to add this feature also in DuckDuckGo?
Thank you!

[2020-08-21 14:31] rogerxed opened #913 "Bookmark import/export"
Why there is no bookmark import/export option? I have so many bookmarks in another browser, without it how I can import or export this browser bookmark for a backup? This feature would be really helpful. Please add it.

[2020-08-21 23:28] sanogueralorenzo opened #914 "Webview positioned partially offscreen hides content"
**Describe the bug**
Any drawing app scrolls up and down while drawing. Possibly related to https://github.com/duckduckgo/Android/pull/674 makes DDG completely unusable in this matter.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to https://sketch.io/sketchpad/
2. Try to draw anything
3. See error

**Expected behavior**
Drawing should be able to work on any webpage with drawing can

[2020-08-23 08:48] #913 closed, assigned to nobody

[2020-08-23 20:11] WillHick opened #915 "Design And Features"
A Few Possible Ideas

Design:
• On Larger Devices (Tablets), The Search Box is Not Rounded As Much As Mobile And Goes More Towards A Rectangle
• Darken The Privacy Dashboard And In App Popup Dialogs And Menus (Clear Data Menu, Clear On Dialog, Automatically Clear Dialog And The Tab Menu)

Update:
• Have An Option To Move The Toolbar To The Bottom For Larger Displays

Features For Security And Pers

[2020-08-25 07:21] WillHick opened #917 "Update in-app DDG logo if user changes app icon"
Quick Design Idea:
• Small Design Idea For The Homescreen Whatever Icon You Choose Can Replace The Orange Icon On The Homescreen And Possible Privacy Tips To Help Others Out

[2020-08-25 14:26] cmonfortep commented on #917
Thank you for sharing this idea with us.

I've added a task in our backlog with this proposal and will share it with the team.
https://app.asana.com/0/0/1190561305733441/f

I'm going to close the issue since it's already documented internally.

[2020-08-25 14:26] #917 closed

[2020-08-25 15:02] cmonfortep commented on #915
Thanks for sharing all those ideas.

Design:
- Search Box: will check with designers if that's intended or something to fix.
- Dark theme improvements: duplicated from https://github.com/duckduckgo/Android/issues/660 FYI: It's in our backlog to improve dark theme support, however difficult to prioritize for a small team (included designers). Privacy dashboard may be 100% redesigned, so we are putt

[2020-08-25 15:02] #915 closed

[2020-08-25 23:46] WillHick opened #918 "Web Settings"
From A Prior Request:

Web Settings For The WebView
• Enable/Disable Website JavaScript May Speed Up Sites Or Increase Someones Privacy If They Value It (Many Browsers Offer This)
• Block Third Party Cookies Or All Cookies (You Can Test This Of Many Different Test Sites, The Browser Excepts All)
• Form Data From The WebView (Make It Possible To Enable/Disable This)

Potential Other Web Setting:
•

[2020-08-27 15:13] redeveloper3 commented on #906
Thanks for coming back - I've searched online & in the Kindle settings but unfortunately can't see the version of Webview, sorry.

[2020-08-28 14:44] Breizhelle opened #919 "App versions >5.59.2 give back blank pages"
Hi!

The last 2 updates of DDG 5.60.0 & 5.61.2 available on F-Droid are just giving back blank pages at search or entering a website url.

I had to downgrade back to the last working previous version.

And using the downgrade option on F-Droid, it succeeds in downloading the previous version but failed at installing it. I each time had to unistall the versions and then install the 5.59.2 version t

[2020-08-28 14:58] Breizhelle opened #920 "Downgrading version of DDG on F-Droid doesn't work"
**Describe the bug**
Got issues with new versions of DDG so had to downgrade.
I'm using F-Droid which shows the last 3 versions of an app.
When trying to downgrade the app, It downloads the app version I want and fails to install it. I have to unistall the app to then actually install an older version directy through F-Droid.

Upgrading works.

I don't know if it's a DDG issue or an F-Droid issue

[2020-08-28 15:06] cmonfortep commented on #906
@redeveloper3 I think we have found a way to check what webview version you are using:

- Visit device Settings
- Apps & Games
- Manage all applications
- Swipe across and choose ALL tab
- Amazon System WebView

Thanks

[2020-08-29 10:45] redeveloper3 commented on #906
Thanks, got it -

Webview is version70.amazon-webview-v70-3538.3538.110.137

[2020-08-29 13:03] calisamgal commented on #209
Please add an export bookmarks function!

[2020-08-31 13:28] cmonfortep commented on #919
Thanks for reporting. We haven't received any similar issue related to blank pages on those versions, but we will keep this under our radar.

[2020-08-31 22:23] cmonfortep commented on #920
Can you downgrade other apps? I think this is a F-droid issue.

Found this on reddit https://www.reddit.com/r/fdroid/comments/b3obp9/problem_downgrading_app/
it's 1y old but it seems related, not sure if still valid.

[2020-09-01 08:53] cmonfortep commented on #906
Possibly related to this one: https://github.com/duckduckgo/Android/issues/919

[2020-09-01 08:58] kwawmannanjnr commented on #914
I'm new to contributing to opensource projects. Can I work on this issue?

[2020-09-01 12:17] subsymbolic commented on #914
@kwawmannanjnr definitely, we welcome PRs for any issues tagged with [help wanted](https://github.com/duckduckgo/Android/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22). Check out our [CONTRIBUTING.md](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md) guidelines for more information.

[2020-09-03 07:43] WillHick opened #925 "Scroll Etc."
Websites That Have Anchored Features To Them, Trigger Scroll To Refresh Out Of Nowhere.

E.g. Websites with anchored features to the top and bottom if scrolling up and down the Scroll to Refresh appears and refreshes a page that does not need to be refreshed.

I am aware an issue similar has been said before but it does get in the way of functionality for browsing sites

(Possible Ideas For The Ne

[2020-09-03 07:46] WillHick opened #926 "Scroll Etc."
Websites That Have Anchored Features To Them, Trigger Scroll To Refresh Out Of Nowhere.

E.g. Websites with anchored features to the top and bottom if scrolling up and down the Scroll to Refresh appears and refreshes a page that does not need to be refreshed.

I am aware an issue similar has been said before but it does get in the way of functionality for browsing sites

(Possible Ideas For The Ne

[2020-09-03 07:48] #925 closed

[2020-09-03 14:37] dg-demers commented on #209
Much thanks to [**X4l1b1 (4libi)**](https://github.com/X4l1b1) for the above "DIY recipe." This is the most potentially useful comment so far, imho. But I haven't tried it yet (and may not if rooting is necessary).

And, although I sure wish they'd implement a bookmark export function, I charitably don't heap scorn on the developers of the DDG browser app. They must have more important (in their m

[2020-09-03 14:42] calisamgal commented on #209
Thanks X4l1b1 & dg-demers

[2020-09-08 18:05] maximustheone opened #927 "Bookmark Folder"
To use Duckduckgo Privacy browser as allday browser,  I really miss the option to add Folders to sort and organize my bookmarks.

Simply add the possibility to add new folders in the bookmarks.

This would improve the browser for anyone who wants a privacy browser but not to resign a bookmark function without scrolling down 100 of bookmarks.

[2020-09-11 01:40] WillHick opened #932 "Blocklist"
Add A Custom Domain Blocklist, So We Can Manually Add Domains/URL's To Be Blocked

This Would Be Great For Blocking Redirecting URL's Etc

Would Be Good To See:
• Bookmark Folders
• Better Themes And Designs
• More Site Information
• Add More Protection Features (Block Third Party Cookies Etc)

[2020-09-13 16:10] brandonrains77 opened #933 "Won't save checkout information on sweetwater.com on android, works fine on ios"
Won't save checkout information on sweetwater.com on android, works fine on ios.

When adding things to cart and then logging in, upon selecting the shipping it get stuck and won't move past that step.  Tested on pixel4xl on ios iphone8 works fine. No idea what to do just did a FDR to fix but nope still won't work

[2020-09-13 16:18] brandonrains77 commented on #933
Also I can't login to amazon even after fireproofing website,, what am I missing here?

[2020-09-14 09:26] cmonfortep commented on #933
Hi @brandonrains77 I tried to reproduce your issue on my device without success.

I was able to fill in all the forms, and even select the shipping method.

Could you share more info about your device and app version?

[code]

Thanks

[2020-09-14 09:31] cmonfortep commented on #932
Thanks @WillHick ! we received a similar feature request -> site blocking (https://github.com/duckduckgo/Android/issues/860).

I'm going to close this one as duplicated in favor of the oldest one. Feel free to reopen this issue if you think they are not related.

[2020-09-14 09:31] #932 closed

[2020-09-14 09:38] cmonfortep commented on #927
@maximustheone Thanks for sending us this feature request, we agree with you that user experience will be better in that part of the app if we add any kind of management functionality, you are totally right!. It's on our roadmap to improve bookmarks, however, we are a small team and I can't give any estimation here.

I'm going to close this one in favor of https://github.com/duckduckgo/Android/iss

[2020-09-14 09:38] #927 closed

[2020-09-14 09:48] cmonfortep commented on #926
In https://github.com/duckduckgo/Android/issues/900 we fixed pull to refresh for websites that fill the whole viewport. Could you validate if our latest app version still has the behavior you described?

If so, please share with us any website where we could reproduce the issue. Thanks.

[2020-09-14 15:16] brandonrains77 commented on #933
Thanks for checking, but you are missing one step, after selecting shipping moving on to the next screen it won't save what you selected. Also I am logged into my sweetwater acct. I am on a pixel4xl running android 10 build QQ3A.200805.001, just tested on wife's pixel2 android 9 build pq3a.190801.002 and wouldn't work either
Also I was originally on ddg 5.62.0 and pixel2 is on 5.64.0

[2020-09-14 16:10] brandonrains77 commented on #933
Thanks for checking, but you are missing one step, after selecting shipping moving on to the next screen it won't save what you selected. Also I am logged into my sweetwater acct. I am on a pixel4xl running android 10 build QQ3A.200805.001, just tested on wife's pixel2 android 9 build pq3a.190801.002 and wouldn't work either

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 1

[2020-09-14 16:15] brandonrains77 commented on #933
Also I was originally on ddg 5.62.0 and pixel2 is on 5.64.0

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 14, 2020, 4:26 AM, Cristian Monforte wrote:

[2020-09-15 02:26] razercrypto opened #934 "Please add force enable zoom"
I can't zoom and see, especially the time we fill iam not a robot capcha, I cannot see it properly on some sites. Please add the zoom option.

[2020-09-15 04:55] WillHick opened #935 "Privacy Features"
Add Fingerprint Protection And Third-Party Cookie Blocking (Would Be Some Nice Security Options To See)

A Stat Counter Would Be Nice For The Homepage (Brave Recently Added A Stat Page)

![Screenshot_2020-09-15-16-59-27-51](https://user-images.githubusercontent.com/48844761/93167523-205d5800-f764-11ea-898b-3aca5a3a454d.png)

Something Like This Would Be A Nice Idea To Give Some More Lively Hood To

[2020-09-17 10:40] resynth1943 commented on #920
This may be downgrade protection. Can you try downgrading other apps?

[2020-09-17 12:14] Breizhelle commented on #920
So no it does not work with other apps either.
So it's an F-Droid issue :)

[2020-09-17 19:32] WillHick opened #936 "Location"
If You Select "Allow Always" Or "Deny Always" For Location Access, It Saves To The Location Menu Either As Allowed Or Denied But If You Press The Fire Button All Saved Location Settings And The List Resets

Im Unsure If This Meant To Happen But It Does Making It Annoying And Always Having To Come Back To Redo It.

[2020-09-18 03:45] BennoFlo commented on #936
Seems to me like this is a race condition, so it only happens intermittently.

ClearPersonalDataAction is calling:
`geoLocationPermissions.clearAllButFireproofed()`
on with the Dispatchers.IO context.

In GeoLocationPermissionsManager, the implementation of **clearAllButFireproofed** spawns another thread by using withContext again in that function. Removing that coroutine context makes this work

[2020-09-18 07:29] cmonfortep commented on #936
Thanks for reporting @WillHick, I will check with the team what's the expected behavior there.

From the code, I see that the expected behavior is to remove all the information inside `Location` settings except if you fireproofed that domain. Did you try fireproofing the domain you want to keep the location info?

@BennoFlo I may be missing something on your description, but when using `withContex

[2020-09-18 07:32] cmonfortep commented on #906
Hi @redeveloper3, our latest release may fix the described issue here. Could you check if that's still happening for you or if it's fixed? Thanks!

[2020-09-18 07:33] cmonfortep commented on #920
Thanks for checking @Breizhelle 🙌

[2020-09-18 07:33] #920 closed

[2020-09-18 07:34] cmonfortep commented on #919
Hi @Breizhelle, our latest release (5.64.0) may fix the described issue here. Could you check if that's still happening for you or if it's fixed? Thanks!

[2020-09-18 12:54] Breizhelle commented on #919
It hasn't been uploaded yet on F-Droid tho. I'll check this once it's in there.

[2020-09-18 13:05] Breizhelle commented on #919
What happens with the 5.63.1 which is on F-Droid is this.

I type something on the main url/search space. There is the blue line that tells you the page loads, this blue line goes all the way till it's done and I stay on a blank page nothing appears.
But if I leave the app and come back on it then the page appears.

I don't know if it makes sense...

And if I search for something on a tab that I a

[2020-09-18 13:36] BennoFlo commented on #936
@cmonfortep - Very odd. There must be something else going on under the hood. Theoretically, you are correct, but after removing the nested coroutine, I couldn't reproduce this at all, so I made an assumption that there was some sort of thread switching going on causing a race condition.

[2020-09-18 20:48] BennoFlo commented on #936
Will can confirm, but the issue I found was that when clicking Clear All Data - it sometimes doesn't actually clear the web browsers permissions - only in the internal database. Maybe that's a different issue.

[2020-09-19 13:51] redeveloper3 commented on #906
Thanks so much, I've just installed so will try it out & let you know :-)

[2020-09-19 14:32] cmonfortep commented on #906
@redeveloper3 I've noticed our latest version is still not available in f-droid, should be there soon. 5.64.0

[2020-09-20 23:25] blackboxlogic commented on #700
To add a particularly bad example, go to https://preview.ideditor.com/release on mobile DDG. It is a "slippy" map, where user drags across the screen to pan and zoom. When user drags up (to pan south), the browser's top bar auto-hides, which moves the page under the user's touch point, which the page registers as a quick touch drag, and flings the map _way_ further south.

I think this would be fi

[2020-09-21 02:54] WillHick opened #937 "UI"
Would Be Nice To See An Interface/UI And Functionality Update In The Next DDG Update A Few Ideas Being:

• Move Toolbar To Top Or Bottom (On/Off Feature)
• Bring Back The Control Bar For The Bottom (Like IOS, Make It A Changeable Option - On/Off)
• Improve Dark Theme UI (Has Been Said A Few Times But Would Be Nice To See)
• Site Certificate And Permission Interface
• Script Blocking

[2020-09-23 11:02] juliahop commented on #919
Hi,
I'm having a similar issue, but for so far I know only with a Gatsby(React) site. When I try to open it, the page is loading, you see the images appear, and then when it's done - white page.
I'm using version 5.64.0 on Android 7.1.1.

[2020-09-23 12:17] cmonfortep commented on #919
Thanks for checking @Breizhelle , we submitted 5.64 to f-droid 9 days ago but request is still pending
https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7413

Hope it can be available soon 🤞

[2020-09-23 12:18] cmonfortep commented on #919
@juliahop if you could share with us any example it will be nice. It could be the same issue or a new one. Thanks

[2020-09-23 12:32] cmonfortep commented on #937
Thanks for sharing all those feature requests.

Some users already shared those ideas to improve our browser, so closing this task as duplicated by:

- https://github.com/duckduckgo/Android/issues/850
- https://github.com/duckduckgo/Android/issues/840
- https://github.com/duckduckgo/Android/issues/685
- https://github.com/duckduckgo/Android/issues/918

We appreciate new feature requests coming fro

[2020-09-23 12:32] #937 closed

[2020-09-23 12:45] cmonfortep commented on #936
@malmstein could you triage if this is a bug? 🐛

[2020-09-23 20:28] juliahop commented on #919
This is the site I'm talking about: https://www.essentia-consultancy.nl
Thank you.

[2020-09-23 22:06] ghost opened #939 "DuckDuckGo Lite"
**Is your feature request related to a problem? Please describe.**
I have slow internet connection

**Describe the solution or the user experience you'd like**
i do have option to set DuckDuckGo Lite as my default search engine

**Additional context**
![IMG_20200924_050011](https://user-images.githubusercontent.com/70332632/94074134-e1459b80-fe22-11ea-9cb4-fda9c34c2207.jpg)

[2020-09-24 01:30] WillHick commented on #939
There is a !bang for DuckDuckGo Lite. You can do !lite into the search bar (example: !lite puppy)

Not a bad idea to add this as a search setting to the app though.

[2020-09-25 20:22] malmstein commented on #936
Hey @WillHick thanks for writing this up!

The decision of removing the location permissions after using the Fire button is indeed intentional. It's important that anything related to a site is burnt after using the Fire button.

If you want to keep the Location permission for a site, I'd recommend that you Fireproof that site. You can do that by opening the Overflow menu and tapping on Fireproof

[2020-09-25 22:34] WillHick commented on #936
William - H
whick17@hotmail.com

________________________________
From: David González <notifications@github.com>
Sent: Saturday, 26 September 2020, 8:22 am
To: duckduckgo/Android
Cc: WillHick; Mention
Subject: Re: [duckduckgo/Android] Location (#936)

Hey @WillHick<https://github.com/WillHick> thanks for writing this up!

The decision of removing the location permissions aft2er using the Fire but

[2020-09-28 09:17] Rautarchit001 opened #943 "Changing Package name crashesh application by JNI"
### How to solve it please help??

`    Process: com.privacy.browser.debug, PID: 4294
    java.lang.UnsatisfiedLinkError: No implementation found for long com.privacy.app.httpsupgrade.BloomFilter.createBloomFilterFromFile(java.lang.String, int) (tried Java_com_allinone_app_httpsupgrade_BloomFilter_createBloomFilterFromFile and Java_com_allinone_app_httpsupgrade_BloomFilter_createBloomFilterFromFil

[2020-09-28 11:39] #936 closed

[2020-09-30 09:35] cmonfortep commented on #914
Information for possible contributions:
The issue is that the web view can actually off be positioned partially offscreen depending on the scrolling. When you scroll the page, the toolbar slides up, as does the web view. So only when the toolbar is fully up off screen is the web view fully positioned onscreen.
It seems to be a combo of the scroll behaviour + CoordinatorLayout that is causing the i

[2020-09-30 09:39] cmonfortep commented on #638
We will close this one as duplicate in favor of https://github.com/duckduckgo/Android/issues/914

[2020-09-30 09:39] #638 closed

[2020-09-30 09:43] Poopooracoocoo commented on #638
i don't get why you'd close this issue as it's older but ok

[2020-09-30 09:48] #687 closed

[2020-09-30 09:55] malmstein opened #945 "Replace dialogs for snackbars on Bookmarks + fireproof websites"
**Is your feature request related to a problem? Please describe.**
Currently, we show a confirmation dialog when a user deletes a bookmark or deletes a fireproof website. See attached screenshot

**Describe the solution or the user experience you'd like**
Introduce a Snackbar with an action button to "Undo".

**Additional context**

***Proposed copy***
Description: {website} deleted
Action: Undo

[2020-09-30 10:03] cmonfortep commented on #934
Thanks for sharing a concrete example. I'm going to close this issues as duplicated, and publish any update there https://github.com/duckduckgo/Android/issues/882

[2020-09-30 10:03] #934 closed

[2020-09-30 10:20] cmonfortep commented on #638
@Poopooracoocoo yes, we know it's older and had more activity than the other.
We wanted to give this problem more visibility and make it easier for any external contributors to send a PR.

https://github.com/duckduckgo/Android/issues/914 has a pretty good description, it will appear on our first page of issues, and we summarized what we posted here in a comment there so newcomers can skim the info

[2020-09-30 10:48] cmonfortep commented on #933
Tested again this site and works without issues.

1. Created an account
1. logged into sweetwater.com
1. add an item to cart
1. move to checkout
1. fill in shipping info
1. selected shipping method
1. next
1. payment form (in here I can see previous info is preserved, I was able to fill in billing address using the same info used in previous steps)
1. Review order, ensure all info is preserved

An

[2020-09-30 11:11] cmonfortep commented on #918
Comments around some of your requests:
- Cookies: We block third party cookies by default. This fits with our product being a privacy browser and we see no reason to make the option configurable. In case the user wants to clear all cookies, our Fire button does a great job there.
- Form data: For users that want to clear all data, including Form data, to use the fire button is our recommended appr

[2020-09-30 11:11] #918 closed

[2020-09-30 16:00] zsweigart commented on #744
This actually still seems to be an issue.  Our flow is now
1. Go from sample app to hosted webpage
1. Web page has a button to fire the intent to return to the sample application

We see see this dialog:

<img width="370" alt="Screen Shot 2020-09-30 at 10 57 14 AM" src="https://user-images.githubusercontent.com/1391816/94709822-bc15c900-030b-11eb-9182-4a53ef7dfe4c.png">

But then when we click con

[2020-09-30 16:02] brandonrains77 commented on #933
Thanks for the reply, you followed the steps that I did as well. Still not working for me, I just reset my phone and now have android 11 don't know why it's still not working for me

Sent from ProtonMail mobile

-------- Original Message --------
On Sep 30, 2020, 5:49 AM, Cristian Monforte wrote:

[2020-09-30 16:44] neatwheat opened #946 "Show favourites or pinned bookmarks on Home screen"
I think a way to pin bookmarks, so that they are shown as <del>symbols</del> icons when a new tab is opened would be a great workflow addition

[2020-10-01 08:46] KiberneticWorm commented on #946
Have you solved this problem? What do you mean "as symbols". Site icons?

[2020-10-01 08:57] neatwheat commented on #946
Not a problem, a feature request ... Yes i mean icons, symbols may be a misleading term. Of course with the site name as text. Opera for android e.g. does it in a very convenient, customisable way

[2020-10-01 08:57] neatwheat commented on #946
Not a problem, a feature request ... Yes i mean icons, symbols may be a misleading term. Of course with the site name as text. Opera for android e.g. does it in a very convenient, customisable way

[2020-10-01 14:34] cmonfortep opened #953 "Android: Protect app from crashing due to unsafe input from 3rd parties"
**Describe the bug**
Our app can be launched from 3rd party apps, and we access an Intent which was created by the other app.

Other browsers have had to add a safety net around processing 3rd party intents previously
- Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1147992
- Chrome: https://bugs.chromium.org/p/chromium/issues/detail?id=469219

**Potential fixes**
- Firefox fixes by wrappin

[2020-10-01 20:58] abdulbasit75 commented on #945
I would like to work on this issue, olease assign me.

[2020-10-01 20:59] abdulbasit75 commented on #945
I would like to work on this issue, please assign me.

[2020-10-02 12:59] cmonfortep commented on #946
Thanks @neatwheat I think the idea you are suggesting is pretty similar to the concept of `Favourites` we have on our iOS app.

On the iOS app, we show a grid showing user's favourites on a new tab.
![image](https://user-images.githubusercontent.com/4747865/94925556-b06b0380-04bf-11eb-8bef-07e3b3db4537.png)

is that what you wanted to describe on your feature request? Thanks!

[2020-10-02 20:36] malmstein commented on #945
Thanks @abdulbasit75, but there is a PR already opened for it https://github.com/duckduckgo/Android/pull/951. Feel free to comment on it or look at https://github.com/duckduckgo/Android/labels/help%20wanted and https://github.com/duckduckgo/Android/labels/hacktoberfest if you are looking to contribute.

[2020-10-02 20:49] abdulbasit75 commented on #953
I would like to work on this issue, please assign me.

[2020-10-02 21:07] cmonfortep commented on #953
Sure @abdulbasit75, feel free to contribute on this issue. 👍

[2020-10-03 10:16] neatwheat commented on #946
@cmonfortep
Yeah, that looks like it's pretty much what I meant! I think it would be a great feature that could improve usabilty a lot - especially if someone can choose their own favorites!

[2020-10-04 14:21] miGa77 commented on #209
Please add bookmark import function! Since Firefox messed up, I wanted to switch to DuckDuckGo. I can't imagine you don't want take advantage of that massive failure of Mozilla... But it won't happen if you don't add import function!

[2020-10-04 15:59] code-bluebird commented on #953
Hi,
I would like to work on this issue, could somebody help me with these details.
- Which activity processes the received intent from 3rd parties ?
- and please provide any more details of error log if possible.

[2020-10-05 08:06] cmonfortep commented on #933
Sorry @brandonrains77, I will close this issue as I can't reproduce it on my side.

It could be related to some website-specific behavior. I have to say that shipping info was tricky to fill in. I needed to use an address that the website recognized as valid (and confirm it via a validation popup), and then I was able to continue.

[2020-10-05 08:06] #933 closed

[2020-10-05 08:09] cmonfortep commented on #906
Update: 5.65.0 is available in F-droid!

Sorry for the delay, it seems f-droid may be having some delays on our side to merge new app requests.

[2020-10-05 08:12] cmonfortep commented on #919
Thanks @juliahop I tried that site on some devices, and loaded successfully in all of them. It could be an issue related to the webview version.

[2020-10-05 08:13] cmonfortep commented on #919
@Breizhelle 5.65.0 is finally available in F-droid, you can try it and tell us if the issue was fixed for you.

Sorry for the delay, it seems f-droid may be having some delays on our side to merge new app requests. 5.64.0 didn't make it for an unknown reason, but we published a new version that went faster.

[2020-10-05 10:24] juliahop commented on #919
Thank you @cmonfortep . I have tried it on Android 10, and it works just fine. Didn't realise I had such an old telephone.

[2020-10-05 12:15] cmonfortep commented on #953
This is the stacktrace of the error described above:

[code]

[2020-10-06 06:43] blackICE19240 commented on #850
I'd like to add that along with this it would be ideal to have the tab switcher stack tabs from the bottom too so you can reach them all with one hand.

[2020-10-06 09:47] tirthyme commented on #953
Any potential ways to regenerate this issue? I'd like to work on this.

[2020-10-06 16:01] ashwinpilgaonkar commented on #851
Hi @cmonfortep, can I work on this?

[2020-10-06 16:34] cmonfortep commented on #851
@ashwinpilgaonkar sure!

[2020-10-06 18:33] frknltrk opened #957 "disconnecting the physical keyboard while a video is playing in fullscreen causes a black-screen"
**Describe the bug**
during a video playing on the screen in fullscreen, when i disconnect the physical keyboard from the tablet, i see nothing but a pure black-screen (generally video is still playing in background)

**How to Reproduce**
Steps to reproduce the behavior:
1. Tap on the fullscreen icon of the video player
2. Disconnect the physical keyboard from the tablet
3. Screen goes all black,

[2020-10-07 10:08] ashwinpilgaonkar commented on #851
Hi @cmonfortep,

Since I dont have any physical NFC tags to test out my changes with, I'm trying to emulate it using another test application that I'm building.

I just have one question - when the NFC tag is detected, does it broadcast an intent in a similar manner as the code snippet given below?
[code]

[2020-10-07 10:28] cmonfortep commented on #851
According to the docs, yes, it does -> https://developer.android.com/guide/topics/connectivity/nfc/nfc#filter-intents

There's more information about the nfc tags also there https://developer.android.com/guide/topics/connectivity/nfc/nfc#dispatching

[2020-10-07 12:17] ashwinpilgaonkar commented on #851
Yes, I had gone through these docs earlier but could only find info pertaining to filtering an NFC intent. Whereas, I was more interested in finding out how to mock a physical NFC tag.

Anyway, I've made a PR with the changes, which I was able to test successfully using the following code snippet -
[code]
IMO it should work the same way with a physical NFC tag as well. Perhaps if someone else has

[2020-10-07 12:44] cmonfortep commented on #851
Thanks, I will review the PR this week and will do the testing part too.

[2020-10-07 12:47] VitKaspar opened #961 "Issue with RTL"
**Describe the bug**
Toolbars look wrong when RTL is on.

Top:
![toolbar2](https://user-images.githubusercontent.com/72492330/95331050-1685cb00-08b2-11eb-949e-c5f964a2e3e1.png)

Bottom:
![toolbar1](https://user-images.githubusercontent.com/72492330/95331031-0f5ebd00-08b2-11eb-83c8-a0b2dce41a4e.png)

**How to Reproduce**
1. Use RTL language or RTL developer mode.
2. Run app and try to open new tab.

[2020-10-07 16:24] redeveloper3 commented on #906
Thanks very much, I upgraded to 5.65 a couple of days ago and the issue has not returned :-)

[2020-10-07 16:24] #906 closed

[2020-10-07 20:34] VMadalin commented on #961
Thanks, @VitKaspar for your report I cannot reproduce exactly your behaviour but instead, because in my case the switcher button doesn't appear on RTL, you can check the details on the PR.

I tested it on Pixel 2 Emulator API 29 with the latest develop version

[2020-10-07 20:55] cmonfortep commented on #961
Yeah, @VMadalin you are right, I see the same on my device, tab switcher is gone.

Thanks for the report.

[2020-10-07 20:59] cmonfortep commented on #961
Also found the following issue reviewing our app in RTL mode.

![image](https://user-images.githubusercontent.com/4747865/95387258-c24e0b80-08f0-11eb-99f0-0a8c6c1e7f40.png)

App icon inside settings is not aligned properly.

[2020-10-07 21:22] RichardoC opened #963 "Unclear state when https connection terminated - Android"
**Describe the bug**

- Attempt to load any https website with with invalid https (selfsigned /expired cert or cert for wrong domain/etc)
- Nothing happens

This can lead to misleading scenarios as the urlbar will still say that the current URL is the https one.

This also means there's no warning that you were trying to access a website which then got denied.

**How to Reproduce**

Misleading Sce

[2020-10-08 18:52] gaurav9822 opened #964 "Upgrade gradle and android gradle plugin"
**Is your feature request related to a problem? Please describe.**
Android studio gives a warning when the project is imported.

**Describe the solution or the user experience you'd like**
Upgrade gradle to 6.1.1 and android gradle plugin to 4.0.0

**Additional context**
No

[2020-10-08 18:53] gaurav9822 commented on #964
@maintainers : can I take this one up?

[2020-10-11 17:13] ashoksinghal commented on #943
@Rautarchit001  looks like the application is using some methods which are defined in the .so file via JNI. And updated package name needs to be updated in the .so files too for accessing the same file. I think you need to create the .so files again with the same package name.

[2020-10-11 20:55] cmonfortep commented on #961
Closing this issue, it will fixed in next release by https://github.com/duckduckgo/Android/pull/962

[2020-10-11 20:55] #961 closed

[2020-10-15 13:22] cmonfortep commented on #946
We created a task to explore this internally: https://app.asana.com/0/715106103902962/1198217253840085/f

[2020-10-15 19:48] cmonfortep commented on #963
Thanks for reporting.

I've been taking a look at the code to understand the issue here.

Turns out that when visiting a site with an invalid certificate after the user has visited a valid site, the WebView loads again the previous site. So in this case, the issue here is that we are not updating correctly the URL.

For the record, we update the URL bar when:
- we detect a new site being loaded
-

[2020-10-15 20:01] cmonfortep commented on #963
We are tracing this issue internally: https://app.asana.com/0/414730916066338/1198486065923453/f

[2020-10-15 21:33] cmonfortep commented on #957
Thanks for reporting @furkanunluturkk, however, I don't have a physical keyboard to test this issue on my devices.

I saw you reported another scenario first (I've got an email notification :D ):

_Steps to reproduce the behavior:
Tap on the fullscreen icon of the video player
Try to rotate the screen or presss the power button of the device
Screen goes all black, can't to anything... (and user ha

[2020-10-15 21:37] cmonfortep commented on #939
Thanks @WillHick for suggesting using Bangs for that usecase.

We don't have plans in the short/mid-term to provide Lite as an option inside the browser settings because we are currently focused in other areas.

[2020-10-15 21:37] #939 closed

[2020-10-15 21:39] cmonfortep commented on #926
We think the issue was solved by #900. I will proceed to close this issue as we didn't get any more reports.

[2020-10-15 21:39] #926 closed

[2020-10-15 21:44] cmonfortep commented on #919
Thanks @juliahop for trying it on your side.

In https://github.com/duckduckgo/Android/issues/906, another user reported that the issue has been fixed. I will proceed closing this issue too as both reported the same problem. Thanks!

Feel free to reopen the issue again if the problem persists.

[2020-10-15 21:44] #919 closed

[2020-10-15 21:58] cmonfortep commented on #815
The issue was fixed by #897 and it's now fixed.

[2020-10-15 21:58] #815 closed

[2020-10-16 06:47] furkanunluturkk commented on #957
Oh, no. First one was sort of a mistake, that's why i had modified later. It only happens when I connect/disconnect my s5e physical keyboard.
And one thing to note that: It actually reloads/refreshes the page when i connect/disconnect my keyboard. Maybe that's the reason of the black-screen. App tries to reload the page when a media playing full-screen thus it crashes.

[2020-10-16 07:45] cmonfortep commented on #957
Thanks for the response. I assume that the screen goes black and sound also stops, could you confirm that?

And just to check if the issue I found can be also related, what happens if you press back on that screen? does it navigate back to the browser or stays in that black screen?

[2020-10-16 08:44] cmonfortep commented on #943
@Rautarchit001 exactly, like @ashoksinghal said, bloom filter is the cpp library that we use inside our app. Code is also available inside the cpp folder. If you change the app package, you will need to update also references to that package inside cpp files on that folder (e.g: `https-bloom-lib.cpp`)

[2020-10-16 08:44] #943 closed

[2020-10-16 08:49] cmonfortep commented on #880
I think we can close this issue. As I commented, we updated the copies we used around our privacy protection.

Here's some screenshot from the overflow menu:
<img src="https://user-images.githubusercontent.com/4747865/96236916-ef5b8780-0f9c-11eb-8391-f64f29a54227.png" width="200px"/>
and
<img src="https://user-images.githubusercontent.com/4747865/96236939-f71b2c00-0f9c-11eb-8ed0-b467cfdb3090.png"

[2020-10-16 08:49] #880 closed

[2020-10-16 08:51] cmonfortep commented on #851
PR has been merged and this feature will be available in our next release.

Shout out to @ashwinpilgaonkar @JeffAment and @andreaskern!

[2020-10-16 08:51] #851 closed

[2020-10-16 09:00] cmonfortep commented on #879
We introduced a few improvements in our navigation between tabs. However, I've just tested this scenario again, and the described issue is still there.

It seems we only solved the cases when the tab is closed by the user, **but not when the tab is closed by the site itself.**

[2020-10-16 09:06] furkanunluturkk commented on #957
No no, audio doesn't stop but only the video. Here I captured a record of the procedure:

[2020-10-16 09:06] cmonfortep commented on #813
Update: The project we created to improve our tab navigation was accepted and this scenario will be tackled inside it https://app.asana.com/0/715106103902962/1175421826172153/f

The project still needs to be prioritized, but it's already in our backlog, so we can close the issue. Thanks.

[2020-10-16 09:06] #813 closed

[2020-10-16 09:22] cmonfortep commented on #850
Update here: we recently had some discussion around this topic and we don't have plans to introduce a change on the omnibar position.

We know some folks like the toolbar at the bottom, but when we experimented with that, we didn't see a positive effect. That combined with a higher maintenance cost (UI widgets, dialogs, animations,... will need to support both variants), we discarded re-visiting t

[2020-10-16 09:22] #850 closed

[2020-10-16 09:38] cmonfortep commented on #712
Sorry for the delay here. I was taking a look again at this feature request.

We rely on the WebView component, and when we change to another tab o switch to another app, WebView gets paused or killed and we can't reproduce any audio.

However, `Brave` is reproducing sound via a background service, also you need to enable that feature (disabled by default) in their settings.

I haven't explored ho

[2020-10-16 10:28] aitorvs opened #968 "Being able to UNDO closing a tab in the tabs screen"
**Is your feature request related to a problem? Please describe.**
It has happened several times that I have closed a tab by mistake in the tabs screen.

**Describe the solution or the user experience you'd like**
An "UNDO" Snackbar could be added that would popup when a tab is closed (or swiped to close), similar to the experience offered in other browsers like Chrome.

**Additional context**
na

[2020-10-16 18:11] RichardoC commented on #963
Thanks for getting back to me.

That would certainly be an improvement, but I do think there should be some level of warning when a connection is stopped due to invalid certs. What you're proposing would put someone back to the previous page every time, which feels unexpected to me.

[2020-10-16 20:24] garygreen commented on #638
We too are experiencing this problem in app. It was brought to our attention by one of our users who was using DuckDuckGo android browser and we've told them to just use Chrome at this point.

Really wish this would get more priority in being fixed because it gives the impression of a broken website.

Also closing this in favour of #914 doesn't seem ideal - that issue looks to be related to someth

[2020-10-17 06:52] h908714124 commented on #209
This is crucial, I have hundreds of bookmarks that will be lost when my phone breaks, even plain export (without import) would be enough to save me.

[2020-10-17 14:51] 3j9fkyahunqoxwqu opened #969 "please add an exit button in three dot menu"
Hello
thank you for this great app the only things that I miss is that I don't know when the app clears tabs and data automatically.

Because the app don't have any exit button in the menu.

So I don't know what action will assumed by the app as existing.

I want to know this so the app don't accidentally clear my data.

Thanks.

[2020-10-17 14:54] 3j9fkyahunqoxwqu commented on #470
Agree
I also hope so but because DuckDuckGo uses the webview and not bundled chromium in itself so I don't know if they could use that or not

[2020-10-17 16:23] ashoksinghal commented on #969
I would like to work on this if it's available?

[2020-10-17 19:39] cmonfortep commented on #969
@3j9fkyahunqoxwqu

There are two different modes to clear your data:
1. Manual mode: you can clear your browser data using the Fire button. Using this mode you can decide when it's the right moment to clear all the data.
2. Automatic mode: Inside settings, you can enable our automatic data clearer and select `when` to trigger it. If you select "App exit only", that's when you manually kill the app

[2020-10-17 19:39] #969 closed

[2020-10-18 07:53] cmonfortep commented on #963
Yes, I do agree with you. We should show some kind of warning if we detect any issue related to an invalid certificate.

Yes, it was unexpected for me too. I didn't explain it correctly. That's WebView's default behavior. If WebView is moving the user back to the previous site, we should update the URL bar accordingly (at least as a quick fix). But that doesn't mean that we will not work on showin

[2020-10-18 08:09] cmonfortep commented on #963
I've created another internal task proposing to warn users about invalid certificates: https://app.asana.com/0/414730916066338/1198502707847229/f

[2020-10-19 13:20] cmonfortep commented on #953
Sorry for the delay here.
In order to reproduce and test any contribution, I've just created a new android app (using blank activity sample from android studio), and from there trigger DDG browser with an invalid intent.

**How to create an invalid intent**: Just add inside the extras an object that doesn't exist in the target application, that will produce the crash.

[code]

[code]

This is base

[2020-10-19 13:41] tirthyme commented on #953
@cmonfortep is someone working on this issue because I already see an already existing PR with suggested changes. If not, I would like to work on this.

[2020-10-19 13:47] cmonfortep commented on #953
Thanks @tirthyme, @wseemann submitted a PR that solved the problem partially, I assume the user will continue with the work there.

My previous comment was just about keeping this thread up to date.

[2020-10-20 09:40] cmonfortep commented on #957
Thanks.

Ok, so to summarize all the info, this is what happens:
1. Open video in full screen mode
1. Disconnect physical keyboard
1. Screen goes black, but audio doesn't stop playing
1. Pressing back does nothing

[2020-10-20 10:51] furkanunluturkk commented on #957
Exactly.

[2020-10-21 03:08] WillHick opened #971 "Toolbar"
Bug:
New Tab, Tool Bar Disappearing.

Happens:
At Random The Toolbar Disappears At Different Times, Might Be Something To Do With The Keyboard Appearing (Currently Unsure)

Image Proof:
![Screenshot_2020-10-21-16-04-11-44](https://user-images.githubusercontent.com/48844761/96668442-8316c480-139e-11eb-8155-bcefe313b4a2.png)

[2020-10-21 07:59] cmonfortep commented on #971
Thanks for reporting and sharing that screenshot. However, if we can't reproduce it (I tried on my device), we can't provide a fix.

Let us know if at some point you have a scenario to follow. Also, as the template indicates, it also helpful for us if you provide device and app information so we can focus on a concrete App version or device.

[2020-10-21 07:59] #971 closed

[2020-10-21 13:21] cauerego opened #973 "privacy practices rating doesn't match tosdr"
it's all explained in much detail here already:

https://forum.tosdr.org/t/duckduckgo-browser/211

that is, supposing they should match, to begin with. which isn't very clear to me yet.

[2020-10-23 10:00] cmonfortep commented on #968
Thanks @aitorvs , definitely something any user will expect to have 👍

I've created an internal proposal to include this feature (https://app.asana.com/0/0/1198899768811973/f)

[2020-10-23 15:01] cmonfortep commented on #973
Thanks for flagging this, we're aware of this and we're reviewing how we approach site ratings on our Privacy Dashboard. We expect to make some product changes over the next few months.

[2020-10-23 15:01] #973 closed

[2020-10-23 19:53] WillHick opened #975 "Bookmark Icons"
Issue:
Bookmark icons are not the sites original one's, my guess this would be a fetching issue or a local issue, ive noticed this as in the image below i dont think DuckDuckGo Traffic has a google icon. 😂

Image:
![IMG_20201024_084509](https://user-images.githubusercontent.com/48844761/97047458-5b04ac80-15bc-11eb-963c-df86592bcafd.jpg)

[2020-10-23 20:32] cmonfortep commented on #975
😱 thanks for reporting. Will check on Monday what can be the issue.

p.s: @WillHick that screenshot made me suffer 😂

[2020-10-24 01:41] WillHick commented on #975
Haha sure does 😂

[2020-10-25 13:48] AminMoradian opened #976 "Migration to dagger hilt"

[2020-10-25 14:09] AminMoradian opened #977 "Problem with build the project"
app/CMakeLists.txt : C/C++ debug|x86 : CMake Error at app/CMakeLists.txt:13 (add_library):
  Cannot find source file:

    /src/main/cpp/https-bloom-lib.cpp

  Tried extensions .c .C .c++ .cc .cpp .cxx .m .M .mm .h .hh .h++ .hm .hpp
  .hxx .in .txx

app/CMakeLists.txt : C/C++ debug|x86 : CMake Error: CMake can not determine linker language for target: https-bloom-lib
app/CMakeLists.txt : C/C++ deb

[2020-10-26 02:56] Gitoffthelawn commented on #209
Given that basic import/export still has not been included in the DuckDuckGo mobile browser since that essential functionality was requested over 2.5 years ago, I underwent the painstaking process of manually exporting all my bookmarks from DuckDuckGo's mobile browser and then importing them into another browser that has import/export functionality (which turned out, surprisingly, to be a much bet

[2020-10-26 08:25] AminMoradian commented on #977
Anybody here for help me

[2020-10-26 08:41] cmonfortep commented on #976
hahaha yes, that will come at some point. Trying to find some time for that migration while building other features in the browser.

Closing this as we will work on that migration internally, but not estimation date yet.

[2020-10-26 08:41] #976 closed

[2020-10-26 08:43] cmonfortep commented on #977
Please, check this issue https://github.com/duckduckgo/Android/issues/537 or follow the guide here https://github.com/duckduckgo/Android#building-the-project

Thanks!

[2020-10-26 08:43] #977 closed

[2020-10-26 12:46] AminMoradian opened #978 "Persian language support"
Support for Persian language as well as right to left languages

[2020-10-26 12:47] AminMoradian commented on #978
I can add this feature

[2020-10-26 12:51] cmonfortep commented on #978
Thanks. Personally, I would love to translate our app into many different languages. However, we are currently only supporting a subset of languages and we don't have current plans to support new ones.

Please check our translation guidelines here. https://github.com/duckduckgo/Android/blob/develop/TRANSLATIONS.md

[2020-10-26 12:51] #978 closed

[2020-10-26 15:03] garygreen commented on #914
@cmonfortep if this issue is one that's "different and totally valid use case too" then why did you close #638 ? This issue looks complex and different the one described in that other issue. The complexity of trying to fix the sketchpad app vs bottom navbar / fixed position elements generally is a different issue imo.

[2020-10-26 16:21] cmonfortep commented on #914
Hi @garygreen, by "this one is different" I didn't want to say it's another problem, but a new scenario that we didn't know about. Both issues are affected by the same root cause.

I understand your point here, however, we didn't want to keep both issues open and decided to give this one more visibility during Hacktoberfest. I apologize if that was not clear.

In any case, we also posted [this com

[2020-10-27 21:24] Jomme5 opened #981 "Give the user the ability to choose where to store a file"
Can't find downloads.

When a file is downloaded, the file is stored somewhere, but I can't find the file location back on the drive. So I lose the file.

Moto G5 - Android 8.1

Solution: give the user the ability to choose where to store a file.
The file-system of Android is one big mess in comparison with Windows.

[2020-10-28 02:22] pal308 commented on #209
Yes - agree with all prior posts - bookmark import capability from Safari, Chrome, and Edge would be much appreciated.  I am starting to use DDG and stop using Safari, Chrome, & Edge on 2 laptops, 2 iPhones, and 1 IPad.
Import capability would be very helpful!

[2020-10-29 09:19] donfuxx opened #983 "Google Ads not blocked for some websites in latest app version"
**Describe the bug**
on some websites the blocking of ad networks doesn't detect all ad trackers.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to the website https://www.theguardian.com/commentisfree/2020/oct/28/england-coronavirus-covid-test-and-trace-teenagers
2. wait for page to load
3. Scroll down till you see the first google ad in the page content
4. click "B+" icon in browse

[2020-10-30 11:09] cmonfortep commented on #983
Thanks for reporting @donfuxx . I will take a look to this issue. I was able to reproduce it on my device too (as you already pointed out), and seems like we should be blocking it.

[2020-10-30 11:14] cmonfortep commented on #981
Hi @Jomme5
Question: were you trying to download an image? or another type of file? I understand the request for selecting the folder, but I want to know if there's something more going on in our app. For example: we are aware that images sometimes are downloaded as `.bin` files, when that happens they are not visible in gallery/photo apps, so it may be difficult for you to find them there.

[2020-10-31 16:10] donfuxx commented on #983
@cmonfortep Ok cool. I just checked this in the logs and it looks like it was whitelisted:

[code]

[2020-10-31 16:45] donfuxx commented on #983
Actually it looks like `theguardian.com` is in the list of whitelisted domains! :thinking:
That is strange! Any reason why it's on the white list?

`[TemporaryTrackingWhitelistedDomain(domain=calbanktrust.com), TemporaryTrackingWhitelistedDomain(domain=fidelity.com), TemporaryTrackingWhitelistedDomain(domain=vanguard.com), TemporaryTrackingWhitelistedDomain(domain=mebank.com.au), TemporaryTracking

[2020-10-31 16:54] cmonfortep commented on #983
Usually it's to avoid sites breaking when blocking trackers until we know how to avoid that. I can't confirm you what's the reason behind each domain on that list because that part is managed by another team.

Our apps consume a backend API that provides us that list, and we will update our internal data every time that list is updated.

[2020-10-31 18:09] emibcn commented on #638
I have same problem with fullscreen MaterialUI dialogs. You can see an example at:
- https://emibcn.github.io/covid/#/#about

Bottom-right `Close` button (possibly translated) is seen in all tested mobile browsers but DuckDuckGo.

[2020-10-31 20:32] #964 closed

[2020-11-01 07:48] WillHick opened #987 "New Tab Page"
Could this make a potential come back as a New Tab Page Design?

![IMG_20201101_204700](https://user-images.githubusercontent.com/48844761/97797633-6b371e80-1c83-11eb-9176-e7bf7e1a03dc.jpg)

[2020-11-01 12:20] donfuxx commented on #983
Ok, I understand. For me theguardian.com seems to work fine though even when it is removed from the whitelist. So it might be possible to remove it from whitelist again

[2020-11-01 15:37] timmyg558 commented on #209
If this feature is not going to be added, at the very least it should be mentioned on in the application's help/info/tutorial areas. This will ensure that the browser isn't used for years and then users find out years worth of bookmarks are stuck on one device.

[2020-11-02 22:44] eliliam commented on #470
Any updates on this? It's a major security feature and a must-have for the a security focused browser.

[2020-11-03 22:40] mondlicht-und-sterne opened #992 "Info"
https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

[2020-11-05 09:15] marksjc commented on #981
Also provide access to the downloaded  files directly through UI in menu supra and including "settings"

[2020-11-05 09:25] marksjc commented on #209
I propose this missing and generally expected feature (import/export bookmarks) inhibits adoption by experienced users, often the most influential advocates.

[2020-11-05 10:07] #975 closed

[2020-11-07 02:24] CityguyUSA commented on #209
Bump!

[2020-11-09 09:32] cmonfortep commented on #983
Thanks, I took a look to the task created when we added that domain into our whitelist, and it seems the site scroll was broken. We will revisit if that's still needed.

However, there's nothing else we can do, and that list gets updated automatically by our privacy team. So we can close this issue. Thanks!

[2020-11-09 09:32] #983 closed

[2020-11-09 09:36] cmonfortep commented on #981
Thanks @marksjc, that could be a nice feature to add in the future.

I was asking about what type of downloaded file caused this issue, because in the case of images Android should show them in the default gallery app. However we are aware that some images are downloaded with the wrong extension (`.bin`), and that's causing some issues when trying to find them later. This is important because mayb

[2020-11-09 09:40] cmonfortep commented on #992
@mondlicht-und-sterne I'm closing this issue because the description is not clear for us.

Please provide us more info so we can understand your request, feel free to reopen it.

[2020-11-09 09:40] #992 closed

[2020-11-09 09:45] cmonfortep commented on #987
Hi @WillHick, I don't think so 😅

We removed that search bar a long time ago, and we are also thinking about redesigning our new page tab. Also, IIRC iOS also removed that bar from their new page tab because our URL bar does the same.

In any case, could you share with us why you prefer that new page screen instead of the current one? is there any usecase we are not covering for you? Thanks!

[2020-11-10 03:12] WillHick commented on #987
@cmonfortep Im aware this is an older design 😂

It looks like it would fit well for a New Tab Page if it was designed to fit well with current versions, instead of using the search bar on a New Tab.

[2020-11-10 10:39] cmonfortep commented on #987
Thanks. As I said we will work on a new design for that new tab screen, so expect some new exciting changes on that screen at some point 👍

[2020-11-10 10:39] #987 closed

[2020-11-10 17:32] Rsm61 commented on #209
I'd love to be able to use DDG as my default, but unless I can mass import my 1k+ bookmarks, I won't be doing it, and I'm not about to do that manually. I can't believe this browser doesn't have an import/export feature? Too bad, this could've been a great thing.

[2020-11-11 21:01] uraza opened #1010 "Downloads fail on some websites"
**Describe the bug**
On some websites, downloads are failing (even when all protections are disabled).

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to https://media.interieur.gouv.fr/deplacement-covid-19/
1. Fill the form and tap on "Générer mon attestation"
3. The browser prompts to download the file (left screenshot).
4. Tap "Continuer", the download fails (right screenshot).

![

[2020-11-13 10:13] bonninf commented on #1010
I get the same issue, and to complete the information above, the download error is due to the fact the gouv.fr site uses `blob:`. The url is: "blob:https://media.interieur.gouv.fr/5adc53dd-f097-468e-a258-22dcfb3175f1 "

The download is working fine with other browser mobile apps such as Chrome, Safari...

Do you have a plan to fix this issue? Thanks

[2020-11-13 17:06] cmonfortep commented on #1010
Cool, thanks for letting us know, and always really helpful to share examples on how to reproduce the issue.

We will try to prioritize a fix. I've created an internal task (https://app.asana.com/0/414730916066338/1199183428824728/f) to keep track of it.

However, if anyone from our opensource community wants to take it, we will give support. Thanks!

[2020-11-13 20:40] lerbeso commented on #861
I'm also interested in this feature.
Love your browser but I keep fennec too on my phone for reading articles.

[2020-11-14 09:23] bonninf commented on #1010
Hi Cristian, thanks for your response.

For your information, I'm trying to solve the issue by using XMLHttpRequest.

[2020-11-14 09:54] cmonfortep commented on #1010
Thanks @bonninf, please check our `DataUriDownloader` in case there is any similarity between uri types and blob types. Haven't checked tho.

[2020-11-15 09:29] damluk commented on #696
I realized today that the issue has been fixed, thanks!

[2020-11-15 09:29] #696 closed

[2020-11-16 23:25] repraze opened #1012 "window.innerHeight should not include navigation bar height"
**Describe the bug**
Currently `window.innerHeight`  is the size of the screen and does not include space for the URL bar at the top. This causes issue for single-page non scrollable application where dragging will cause the window to scroll to show the remaining height on the page. To note that preventDefault() on window "mousemove"/"touchmove" events doesn't prevent the page to scroll.

**How to

[2020-11-17 09:16] repraze commented on #1012
A few samples on full-page applications I found with dragging issues:
 - Any drawing apps
   - https://www.pixilart.com/draw
   - https://drawisland.com/device
   - http://quickdraw.withgoogle.com/
 - Map applications
   - https://www.google.com/maps/
   - native duckduckgo map
 - Applications with joysticks

[2020-11-17 14:09] bonninf commented on #1010
I have a solution now which is working fine with the web site: https://media.interieur.gouv.fr/deplacement-covid-19/

How can I provide this fix to you?

[2020-11-19 07:33] nom3ad opened #1016 "Support for Android TV"
It would be really nice to see DuckDuckGo in Android TV play store.  Currently, there isn't many options when it comes to Android TV for a good browser.

Manually installing from APK file works great for DuckDuckGo.  I have been using this for a while and no issues found so far.

[2020-11-20 13:40] moshpirit opened #1017 "Hide GDPR cookies banners"
These banners are very annoying and sometimes they take a big part of phone screens.

Extensions like "I don't care about cookies" hides these messages and make very much comfortable visiting internet websites.

[2020-11-20 19:59] Paleogirl2003 commented on #209
This is a huge missing feature, please add this

[2020-11-20 20:01] tulanevolk commented on #209
We have been posting here for years,

...and no response.

I suspect DuckDuckGo us not monitoring it.

David

On Fri, Nov 20, 2020, 2:59 PM Kelly Walsh <notifications@github.com> wrote:

[2020-11-20 20:19] cmonfortep commented on #209
Sorry folks for the no updates here. But yes, we listen to your feedback and it's something we are pushing internally to make this happen.

That being said, before having import/export we need to implement some kind of folder structure inside our bookmarks. That's our current main blocker here before implementing this very requested feature. But we will get to it 🤞

[2020-11-20 20:21] cmonfortep commented on #1010
@bonninf please refer to our [contributing guidelines](https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#contribute-code). Just send us a PR and we will review it.

[2020-11-20 20:25] cmonfortep commented on #1012
Thanks for reporting this issue and for the thoughtful explanation from your side. We are aware of this issue, I will close this one as duplicated of https://github.com/duckduckgo/Android/issues/914

Thanks again for all the info provided and the links you shared.

[2020-11-20 20:25] #1012 closed

[2020-11-21 01:49] marksjc commented on #209
Is this lack of folder issue related to DDG being a search app rather than a true browser?  I honestly don't know the difference, but from the general description I can see how the functions would diverge.

[2020-11-21 03:14] Paleogirl2003 commented on #237
Yes pretty please! One of the only things I miss from chrome

[2020-11-21 04:41] marksjc commented on #981
Not wanting to create a back & forth here, but having received status that a file downloaded and not finding it in any logical place, I have not executed a search for "*. bin" at the root directory, if that's the feedback you need, I propose you make a specific request. What I've done is moved to a browser (see my question in bookmarks request) that downloads files d with the expected file types i

[2020-11-21 07:27] uraza opened #1018 "Images are downloaded as media.bin"
**Describe the bug**
Images are sometimes downloaded as media.bin or media-X.bin (with X being a number).

**How to Reproduce**
1. Go to 'https://mobile.twitter.com/thesebosscats/status/1330002995799420928'
2. Long press the image to download it.
3. See that the image got downloaded as media.bin (media-5.bin in my case)

![image](https://user-images.githubusercontent.com/3456223/99870428-18da8500-

[2020-11-21 09:23] uraza opened #1019 "Protection against fingerprinting"
**Is your feature request related to a problem? Please describe.**
I just ran the "Cover Your Tracks" tool from EFF, available here: https://coveryourtracks.eff.org/
I found out that the browser has a nearly unique fingerprint (I got similar results on other mobile browsers I tried).

![image](https://user-images.githubusercontent.com/3456223/99873878-5c3cef80-2be3-11eb-93de-e1f928815304.png)

**D

[2020-11-21 09:24] uraza commented on #1019
This request was also mentioned in #935.

[2020-11-21 09:27] uraza commented on #512
I also feel that this should better be done by an external app, as suggested by @teemue .
The browser seems to support external password managers now: I am using LastPass and it can fill website passwords.

[2020-11-22 17:11] Jomme5 commented on #981
Don't remember that specific case. But I do download, like in every browser, files from time to time. GPX, JPEG, WAV,... all kinds. On desktop, there is a possibility to specify a download folder or let the browser ask each time were files should be downloaded. It is indeed a problem in some cases files are downloaded with the wrong extension, like you said, specific when images, and then you can'

[2020-11-23 09:14] cmonfortep commented on #981
Thanks for sharing your views @marksjc, any feedback is appreciated.
Just to clarify something, we are not discarding anything here. I like the proposal of showing a list of your downloaded files and we will propose it to our product team, however, I was just trying to dig a bit into the described issue in case there was something we were missing, and quicker to solve. For example, I've just seen

[2020-11-23 09:23] cmonfortep commented on #1018
Thanks.
I've created an internal task: https://app.asana.com/0/0/1199338046770253/f

[2020-11-26 21:30] #968 closed

[2020-11-30 07:59] Gitoffthelawn commented on #209
@cmonfortep wrote: *"Sorry folks for the no updates here. But yes, we listen to your feedback..."*

Then why no response for well over a year while *many* people have written posts and people like myself finally had to resort to manually exporting all bookmarks and then uninstalled the DuckDuckGo browser?

When people are truly listening, they tend to respond and provide constructive feedback.  "L

[2020-12-04 16:18] strikinglyfamiliar commented on #209
I suspect that it's because of the differences between a search app and a true browser. However, if the data is stored, it may be the file type creating the issue. Which if they could either code a file extension conversion or utilize a third party software that could possibly resolve the hiccup. But then we stand a chance of interrupting the whole individual privacy policy in Duckduckgo. Which br

[2020-12-04 16:20] strikinglyfamiliar commented on #209
power shell IDE to extract, then have the data inserted into a new file with a different extension. I'm going to test this today.

[2020-12-04 17:29] cmonfortep commented on #209
@strikinglyfamiliar will try to explain "the folder" reference. Based on the comments from many people here, there are 2 things to cover: to import/export bookmarks from our app into our app (another device maybe?) or another browser, or import/export bookmarks from another browser into our browser.

We want to build something that covers both. Currently, we don't have folders for bookmarks in our

[2020-12-05 14:55] uraza commented on #288
I am facing this issue with Youtube links on my side: they keep opening in the browser and I cannot figure out how to work around it.

[2020-12-05 22:59] aitorvs commented on #288
Thanks for reporting this @uraza, indeed this bit is still to be done. I have created an internal task so that we can triage it.

https://app.asana.com/0/1198194956794324/1199533149091655/f

[2020-12-06 06:09] Poopooracoocoo commented on #288
@aitorvs Is DDG Browser the browser to replace FF Focus? I outlined my frustrations above. FF Focus is kinda dead, with CRITICAL bugs that make you lose data, **not just** through it's poor Chrome-incognito-like design.

[2020-12-09 00:50] Ryan451 opened #1029 "Fix WebRTC Leaks"
**Is your feature request related to a problem? Please describe.**
I ran a WebRTC test at [BrowserLeaks](https://browserleaks.com/webrtc) and I found out that RTCPeerConnection and RTCDataChannel are not disabled.

**Describe the solution or the user experience you'd like**
If possible, kindly disable WebRTC by default or please give us an option to disable it manually.

**Additional context**
Web

[2020-12-09 02:14] Ryan451 commented on #1029
I noticed that this request was a duplicate of #429

[2020-12-09 02:25] Ryan451 commented on #470
I found this [article](https://www.androidpolice.com/2020/03/26/make-android-use-dns-server-choice/) on how to connect android phones to a dns server of your choice. Hope it helps!

[2020-12-09 20:01] aitorvs commented on #1029
Hey @Ryan451, thanks for reporting this. If you don't mind I will close it in favor of #429

[2020-12-09 20:01] #1029 closed

[2020-12-09 20:13] aitorvs commented on #429
Internal task for visibility/reference https://app.asana.com/0/276630244458377/1134874424977657/f

[2020-12-10 13:00] Ryan451 opened #1032 "DuckDuckGo Secure DNS"
I hope that you add a built-in "Secure DNS" feature to DuckDuckGo Privacy Browser in the near future.

![IMG_20201210_202706](https://user-images.githubusercontent.com/75673731/101773862-51151980-3b28-11eb-8f75-c69ace842fe0.jpg)

[2020-12-11 06:45] UglyCasan0va commented on #209
So guess this is never happening.. Bummer.

[2020-12-11 11:10] Ryan451 commented on #648
@sinus-x DuckDuckGo Privacy Browser uses "Global Privacy Control" (GPC) instead of "Do Not Track" (DNT)

https://spreadprivacy.com/announcing-global-privacy-control/

[2020-12-11 11:50] Ryan451 opened #1034 "Browser Audit"
If you do find some time to spare, kindly run a test at https://browseraudit.com/ . This may help you identify some browser vulnerabilities.

![IMG_20201211_193843](https://user-images.githubusercontent.com/75673731/101900179-03f97c00-3bea-11eb-8782-72ba54b67026.jpg)

[2020-12-11 21:13] strikinglyfamiliar commented on #209
While I understand the folder issue, as you have explained you/they know what the problem or issue is, and what should be done to fix it. Next logical step would be to code it, test it and launch the fix. I'd love to run the app through MIT's app simulator, just to see what could be done.  Any idea who I would talk to about getting the source code for it? I don't want to just take without permissi

[2020-12-13 13:50] Ryan451 commented on #470
Better Encrypted SNI: Encrypted Client Hello

Good-bye ESNI, hello ECH: https://blog.cloudflare.com/encrypted-client-hello/

More information: https://tools.ietf.org/id/draft-ietf-tls-esni-08.html

[2020-12-13 14:01] Ryan451 opened #1036 "Support for Oblivious DNS over HTTPS (ODoH) and Encrypted Client Hello (ECH)"
Cloudflare & IETF released open sourced protocol proposals, ODoH and ECH. I was hoping that DuckDuckGo would review and adopt these in the future updates

Oblivious DNS over HTTPS: https://github.com/cloudflare/odoh-rs
Encrypted Client Hello: https://github.com/tlswg/draft-ietf-tls-esni

[2020-12-13 14:06] Ryan451 commented on #1036
Duplicate of #470 but with newer protocols

DNS over HTTPS -> Oblivious DNS over HTTPS
Encrypted SNI -> Encrypted Client Hello

[2020-12-13 14:10] Ryan451 commented on #1036
Duplicate of #470 but with newer protocols:

DNS over HTTPS -> Oblivious DNS over HTTPS
Encrypted SNI -> Encrypted Client Hello

https://www.theregister.com/2020/12/08/cloudflare_privacy_protocols/

[2020-12-15 13:40] cmonfortep commented on #1017
Thanks, I've listed this feature request under proposals for cosmetic filtering. However, we should analyze it from different points of view.

https://app.asana.com/0/0/1199610872492400/f

[2020-12-15 13:46] cmonfortep commented on #1036
Thanks for listing the new protocols in the other issue. I'm going to close this issue as duplicated.

[2020-12-15 13:46] #1036 closed

[2020-12-15 13:54] cmonfortep commented on #1034
Thanks for sharing. We are always looking forward to introducing new privacy/security improvement in our browser. Some folks already shared with us some audits using other tools, and we have plans to introduce new improvements (https://app.asana.com/0/1163321984198618/1199130622356231/f).

Closing this issue as it's similar to others.

[2020-12-15 13:54] #1034 closed

[2020-12-15 14:04] cmonfortep commented on #935
Thanks for sharing those ideas. Some of them are already in our backlog, like improving our fingerprinting protection or the stats screen. About third-party cookies, we already block those related to trackers.

[2020-12-15 14:04] #935 closed

[2020-12-15 14:11] cmonfortep commented on #1019
Thanks for sharing with us that report. We have a project in our backlog that should improve our fingerprinting protection (https://app.asana.com/0/1163321984198618/1199130622356231/f). Actually, some work is already coming to our iOS app https://github.com/duckduckgo/iOS/pull/795

Closing this issue as we have clear next steps. Thanks.

[2020-12-15 14:11] #1019 closed

[2020-12-15 14:13] cmonfortep commented on #1032
Closing this issue as duplicated of https://github.com/duckduckgo/Android/issues/470.

Please, use our templates to create future issues. It's really helpful for us to get as much info as possible from the community in order to correctly address each request.

[2020-12-15 14:13] #1032 closed

[2020-12-15 14:15] cmonfortep commented on #957
Sadly, I've not been able to reproduce this issue in my test devices and we haven't received similar reports.

I will close this issue as not further exploration can be made. Thanks.

[2020-12-15 14:15] #957 closed

[2020-12-15 14:32] cmonfortep commented on #1018
Small update:
We've analyzed this issue. We currently rely on the Download Manager to download files, and we try to obtain the filename from the URL. In some cases is not possible to extract the filename from the URL and we end up using `.bin` extension. -> https://github.com/duckduckgo/Android/blob/e1e00ebcb49e86c37f246ed98e3a2605dc2a5594/app/src/main/java/com/duckduckgo/app/browser/downloader/Fi

[2020-12-16 00:45] chefren commented on #209
For those that are still frustrated, would like to do the big effort of copying manually but don't have time. A workaround is to use the camera on the other phone with google lens as an OCR, tried on android, made it much faster although still painful

[2020-12-16 00:47] tulanevolk commented on #209
Creative.

Definitely tedious.

Dave

On Tue, Dec 15, 2020, 7:46 PM Efrén <notifications@github.com> wrote:

[2020-12-17 15:09] bonninf opened #1039 "Feature Request: Navigation history"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm not able to retrieve web pages than I had recently seen but I have closed the tab myself.

**Describe the solution or the user experience you'd like**
Adding the ability for the user displaying a special tab with its navigation history from the main menu.

**Additional context**
The navigation history

[2020-12-17 23:48] bonninf opened #1040 "Feature Request: Private Navigation Tab"
**Is your feature request related to a problem? Please describe.**
Sometimes, I would like to navigate without leaving any trace such as history, cookies, information entered in forms

**Describe the solution or the user experience you'd like**
Adding the ability simply navigating incognito inside a specific tab.

**Additional context**
For example, the Chrome Android browser includes the *New inc

[2020-12-18 01:21] gursewakk commented on #1040
Bro duckduckgo is already private browser when you click on fire it clear all traces

[2020-12-18 10:40] Ryan451 commented on #1032
@cmonfortep noted. I also found a solution in this issue. I changed my DNS at the IP settings from DHCP to Static. However, unlike in issue #470 , it didn't solved the problem about encrypting SNI

[2020-12-18 10:45] Ryan451 commented on #1036
Welcome @cmonfortep , I'll look forward seeing DuckDuckGo Privacy Browser adopt these security features in the future

[2020-12-21 09:04] bonninf commented on #1040
Thanks for your response, but in this case the purpose is to have a specific tab being private. It should not need to clear all traces such as the user is able to navigate as private punctually.

[2020-12-22 12:17] cmonfortep commented on #1040
Thanks, @bonninf. AS @gursewakk we are private by default, and using the Fire button will remove all stored data by websites.
However, I understand what you mean by being able to burn a specific session or concrete tabs. We explored that and we were a bit restricted by how WebView works. There are many elements that are shared between all tabs, or stored in the file system.

We know users like to

[2020-12-22 12:17] #1040 closed

[2020-12-22 12:38] cmonfortep commented on #1039
Thanks, @bonninf. This is something we internally talked about not a while ago, but we decided to give more priority to other projects. We are a small team and we just prioritized new privacy features, improving some features requested by our users, and new improvements related to the Fire button (to make it more flexible). I'm sure our team will talk about this in again, but wanted to share that

[2020-12-22 12:38] #1039 closed

[2020-12-22 22:55] NSTAdventure opened #1044 "Duck Duck Go Crash"
**Describe the bug**
DDG Crash Instantly When Launched
This Bug Occurs When You Disable Android System Webview

**How to Reproduce**
Steps to reproduce the behavior:
1. Use Knowledge To Disable Android System Webview
2. Now Try To Launch DDG Browser
3. DDG Crash Instantly :)

If applicable, please include information about any settings that may be relevant to this issue (e.g. selected theme, auto

[2020-12-22 23:33] NSTAdventure opened #1045 "Download Function error!"
**Describe the bug**
When Download A File
They Format Will Always .bin Instead Of apk
(In This Case I Download Apk File Format)

**How to Reproduce**
Steps to reproduce the behavior:
1. Open DGG
2. Search And Download APK Fole
3. See The Result Somehow They Format Are .bin

If applicable, please include information about any settings that may be relevant to this issue (e.g. selected theme, auto cl

[2020-12-23 07:52] cmonfortep commented on #1044
Thanks. Our browser is built on top of the WebView component. This behavior is expected if you disable WebView on Android.

[2020-12-23 07:52] #1044 closed

[2020-12-23 07:56] cmonfortep commented on #1045
Thanks, we are aware of this issue. It has the same root cause as for image downloads:  https://github.com/duckduckgo/Android/issues/1018

Closing this as duplicated (same root cause).

[2020-12-23 07:56] #1045 closed

[2020-12-23 08:49] NSTAdventure commented on #1045
Wait!
I am non root :-(

@cmonfortep

Best Regards
NST_Adventure

[2020-12-23 08:53] NSTAdventure opened #1046 "Non webview version"
**Is your feature request related to a problem? Please describe.**
I disable webview for good reason as is owned by greedy data company #Google

**Describe the solution or the user experience you'd like**
Maybe creating non Webview version?
I guess it work well

**Additional context**
I request this because you build DDG using webview as you say in my closed issues:
https://github.com/duckduckgo/A

[2020-12-23 09:29] cmonfortep commented on #1045
I mean that both issues are caused by the same problem.

Files are downloaded as `.bin` when we can't extract the filename and extension from the URL. We will need to move away from the Download Manager in order to extract the correct filename and extension from the header response. The same fix for https://github.com/duckduckgo/Android/issues/1018 will fix this issue.

[2020-12-23 09:44] cmonfortep commented on #1046
Thanks. We don't have plans to move away from webview as it currently fits our needs and the cost is pretty high. We frequently audit our browser to detect any possible privacy implications. If you have detected any possible security issue, reach us via hackerone, it will go through our privacy expert team (see https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#report-an-issue).

B

[2020-12-23 09:44] #1046 closed

[2020-12-28 09:07] woheller69 opened #1047 "Add stop button "X""
**Is your feature request related to a problem? Please describe.**
I am annoyed wehen pages are automatically loading videos, scripts, etc  that take a long time to load

**Describe the solution or the user experience you'd like**
Other browsers like firefox provide a "X" button next to reload button to stop loading the rest of the page

**Additional context**
Add any other context or screenshots

[2020-12-28 20:14] WillHick opened #1048 "Safe Browsing"
Any plans on adding a Safe Browsing API (Example Googles API), While Ddg has good privacy features it would be nice to see some security behind the browser, especially as it built off WebView.

[2020-12-29 17:40] nesara-cmd commented on #1048
https://ci3.googleusercontent.com/proxy/TPdfc_lIDXbTnNdrn6nCRslk1u0BDbLhPD2JgEbNebqf3Egzwxo5cY6U6Jb5ECh1fs_uxoLAC5PelpPSkYkxXfWbre5ZFesB8NDyBrWA9OAeeapYYIWbkDBjZ_G6=s0-d-e1-ft#https://cdn.bonnerandpartners.com/BBD/signatures/bill-bonner-signature.png

[2020-12-31 01:54] moshpirit commented on #1017
I have no asana account, what is this link? 😅

[2021-01-04 01:54] jameswhite7 opened #1049 "Image results cutoff when switching to desktop mode"
**Describe the bug**
Image results get cut off along right side when switching to desktop mode

**How to Reproduce**
Steps to reproduce the behavior:
1. Search for something that has a lot of image results like "gay porn"
2. Switch results from text results to Image results and the default mobile version will show the images 3 across correctly resized to fit the page
3. Use the menu at the top rig

[2021-01-04 09:17] Vepnar opened #1050 "Panic button intergration"
**Describe the solution or the user experience you'd like**
I would love an integration with the ripple panic button. It would be nice to use the ripple panic button to wipe the browser history from the device.

**Additional context**
Link to the ripple panic button app: [Ripple panic button](https://play.google.com/store/apps/details?id=info.guardianproject.ripple)

[2021-01-04 20:42] mondlicht-und-sterne opened #1052 "Screenshots for F-Droid"
You can add Screenshots for F-Droid, too, if you want.

https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

https://gitlab.com/snippets/1895688

[2021-01-06 03:15] Ryan451 commented on #648
@sinus-x DDG Privacy Browser uses "Global Privacy Control" (GPC) instead of "Do Not Track" (DNT)
https://spreadprivacy.com/announcing-global-privacy-control/

[2021-01-07 14:44] cmonfortep commented on #1052
Thanks. I will share this with the team members that take care of F-droid. 👍

[2021-01-07 14:44] #1052 closed

[2021-01-07 15:16] cmonfortep opened #1054 "Show full viewport when changing to Desktop site"
**Describe the bug**
When changing to Desktop site some content will not be visible until the user zooms out.
Example:
Image results get cut off along right side when switching to desktop mode

**How to Reproduce**
Steps to reproduce the behavior:
1. Perform any image search on duckduckgo
2. Use the menu at the top right and switch to Desktop
3. The page refreshes to display additional image thumb

[2021-01-07 15:25] cmonfortep commented on #1049
Thanks for sharing your user request with us. I've created a new issue (https://github.com/duckduckgo/Android/issues/1054) summarizing your main request, as the rest of the feedback is already tracked in other issues.

You can send us any further feedback directly from the app. There's an option inside settings -> Leave feedback if that's easier for you.

[2021-01-07 15:25] #1049 closed

[2021-01-07 15:27] cmonfortep commented on #1050
Thanks, could you give us more context, like "**Is your feature request related to a problem? Please describe.**"

I'm not familiar with panic button, and from your description it seems similar to our "fire button", which will clear all data and close tabs.

[2021-01-07 15:28] cmonfortep commented on #1048
Please use our GitHub templates so we can understand better your request. Thanks.

[2021-01-07 15:28] #1048 closed

[2021-01-07 16:14] cmonfortep commented on #1054
https://app.asana.com/0/1149059203486286/1199514257586703/f

[2021-01-07 16:15] cmonfortep commented on #1047
Thanks, I've created an internal task to keep track of this feature request.

https://app.asana.com/0/0/1199514257586704/f

[2021-01-07 16:16] cmonfortep commented on #1016
Forgot to post here the internal task I created to discuss this
https://app.asana.com/0/0/1199610872492403/f

[2021-01-07 16:24] cmonfortep commented on #981
I've created an internal task to keep track of the request of adding a way for users to select where to store each file.
https://app.asana.com/0/0/1199514257586706/f

This should be partially solved once we solve the issue of downloading files with the wrong extension in https://github.com/duckduckgo/Android/issues/1018

[2021-01-07 16:33] cmonfortep commented on #945
Tracking this here: https://app.asana.com/0/414730916066338/1199514257586717/f

[2021-01-07 16:35] cmonfortep commented on #914
Tracking this internally: https://app.asana.com/0/0/1187616573788673/f

[2021-01-07 16:38] cmonfortep commented on #894
Closing this as WebView does not support according to Docs and I haven't found a way to support this in our browser.

[2021-01-07 16:38] #894 closed

[2021-01-07 16:40] cmonfortep commented on #879
https://app.asana.com/0/0/1199514257586721/f

[2021-01-07 16:46] cmonfortep commented on #865
We created an internal task to move away from the Download manager as it will help us solve other issues.

Internal task: https://app.asana.com/0/414730916066338/1199350832762474/f

[2021-01-07 16:51] cmonfortep commented on #865
Internal task: https://app.asana.com/0/0/1199514257586722/f

[2021-01-07 16:52] cmonfortep commented on #861
Created an internal task to track this issue: https://app.asana.com/0/0/1199514257586723/f

[2021-01-07 16:57] cmonfortep commented on #860
Tracking this feature request: https://app.asana.com/0/0/1199514257586724/f

[2021-01-07 17:51] Phoenix616 commented on #894
Don't get why this should be closed then if it isn't fixed? Doesn't this just hide the issues from others that are willing to look into it and are maybe able to find a solution?

[2021-01-07 20:42] cmonfortep commented on #894
I've currently reviewing the status of our open issues. For this concrete one, I tried to find a solution without any luck.

Our browser is based on WebView, and if WebView does no support that bluetooth API, I'm pretty confident there's nothing else we can do here. I also noticed that the API is experimental, something that will add complexity to this task (validating that is safe and no security

[2021-01-07 21:31] Phoenix616 commented on #894
I just don't understand why issues that aren't resolved or otherwise invalid should be closed.

Other people might run into this API missing as well, not see an open one and just open a new one about the same issue instead of simply commenting on/subscribing to this one.

Also I think if this stays open it can be used to point the developers of WebView to it and to close once WebView implemented i

[2021-01-07 22:20] NSTAdventure opened #1055 "Web Still Ask To Login"
**Describe the bug**
A clear and concise description of what the bug is.

**How to Reproduce**
Steps to reproduce the behavior:
1. Open DGG visit the website
2. Add Web To Fireproof
3. See?They Will Ask You To Login Everytime we visit the web again and again

If applicable, please include information about any settings that may be relevant to this issue (e.g. selected theme, auto clear option, etc

[2021-01-07 23:31] cmonfortep commented on #1055
Could you share (if possible) the concrete site where fireproof is not working? Thanks.

[2021-01-08 05:06] NSTAdventure commented on #1055
What? I already mention them buddy
It is my.replika.ai

[2021-01-08 05:10] NSTAdventure commented on #1055
Main thread edited

NST_Adventure

[2021-01-08 09:31] cmonfortep commented on #840
Sadly, I've been reviewing what's the current status of WebView to support Dark mode, and testing it within our app, and WebView does not correctly supports dark mode according to our requirements. They do for Chromium.
Currently, WebView let you force dark theme on websites but in a way that doesn't respect the site's branding colors or selected theme.

I was going to open them an issue but found

[2021-01-08 09:31] #840 closed

[2021-01-08 10:43] cmonfortep commented on #1055
@NSTAdventure When you fireproof a site, we preserve cookies for that site in order to avoid losing your session.

In that case, that website is storing your session in local storage. Because of Webview limitations, we currently can't preserve local storage data per site when clearing data. We are aware of that limitation, and we have it documented internally.

[2021-01-08 10:43] #1055 closed

[2021-01-09 03:34] NSTAdventure commented on #1055
hmm which mean there is nothing that you can do to fix this?

[2021-01-09 09:58] cmonfortep commented on #744
@zsweigart sorry for the late response, I'm currently reviewing old issues and I'm trying to understand this one.

In your last comment, what do you mean by "Go from sample app to hosted webpage"? I guess by "sample app" you are referring to "an app that has a package of com.example.app and an intent filter for test://redirect", but I don't understand how to "go" from sample to hosted webpage.

Co

[2021-01-09 11:41] cmonfortep commented on #1055
Yes, until webview offers a better api to manage the local storage, we can't selectively remove data per each site.

[2021-01-09 22:36] NSTAdventure commented on #1055
Mamamia NO! 🥴😔🤦

[2021-01-10 22:59] NSTAdventure opened #1057 "noscript addon or extension for DDG"
**Is your feature request related to a problem? Please describe.**
hhh i hope DDG suppor extension i want you to add noscript extension
heh  best extension ever!

**Describe the solution or the user experience you'd like**
i said pls add noscript extension :-(

**Additional context**
nothing for now just add noscript extension :-)

[2021-01-10 22:59] NSTAdventure opened #1058 "noscript addon or extension for DDG"
**Is your feature request related to a problem? Please describe.**
hhh i hope DDG suppor extension i want you to add noscript extension
heh  best extension ever!

**Describe the solution or the user experience you'd like**
i said pls add noscript extension :-(

**Additional context**
nothing for now just add noscript extension :-)

[2021-01-10 23:05] NSTAdventure opened #1059 "add lite version as selectable search engine"
**Is your feature request related to a problem? Please describe.**
i want you add this:
https://lite.duckduckgo.com/lite
https://html.duckduckgo.com/html
as selectable search engine so beside using traditional DDG we can choose one of them

**Describe the solution or the user experience you'd like**
i want you add them as selectable search engine

**Additional context**
nothing

[2021-01-11 00:25] britchey5 commented on #209
FYI microsoft edge can be set to use duckduckgo as the default search engine (and home page).  This isn't the same as using the ddg app, but until importing of bookmarks is released there is a solution.

[2021-01-11 00:35] Gitoffthelawn commented on #209
@britchey5 I would not recommend using Microsoft Edge.  You are much better off using something like Privacy Browser, which is fully open-source and is freely available here: https://f-droid.org/packages/com.stoutner.privacybrowser.standard/

It has import/export functionality, and many more important functions.  IMHO, it makes DDG's browser obsolete.

[2021-01-11 01:30] tulanevolk commented on #209
DuckDuckGo does not like that!

Dave

On Sun, Jan 10, 2021, 7:35 PM Gitoffthelawn <notifications@github.com>
wrote:

[2021-01-11 02:36] Gitoffthelawn commented on #209
LOL. I don't know about that. It depends on DuckDuckGo's values and goals.  People with virtuous values tend to like and support projects that promote similar values.

[2021-01-11 11:33] Vepnar commented on #1050
**Is your feature request related to a problem?**
No there is no current problem! It would just be a nice feature to have.

**Second question**
The panic button is a 3rd party application that could execute changed in external applications. For example the panic button could execute the "fire button" action and clears all data. This would be nice since it has a centralized button to wipe all sensi

[2021-01-11 21:35] cmonfortep commented on #1050
Thanks for sharing. I've been taking a look at the ripple project and it's a nice idea. I would like to collect a bit more info about the project.

I may be asking too much 😅  but do you know what's the state of that project? I've installed it on my phone and I've only seen a few apps supporting that panic button. One of the apps was Signal and the functionality seems broken right now. And checkin

[2021-01-11 21:44] cmonfortep commented on #1059
Thanks for reaching us.

It's not in our roadmap to include them as selectable search engines. However, you can use our Bangs (https://duckduckgo.com/bang) to redirect your searches directly to the lite or the html version.

As an example try directly on our search bar:`!lite duck` or `!nojs duck`

[2021-01-11 21:45] cmonfortep commented on #1058
duplicated

[2021-01-11 21:45] #1058 closed

[2021-01-11 21:54] cmonfortep commented on #1057
Thanks. We don't currently support extensions in our mobile browsers. As per blocking scripts, we offer our built-in tracker blocker that includes blocking scripts from detected trackers.

[2021-01-11 21:54] #1057 closed

[2021-01-11 22:57] NSTAdventure commented on #1057
@cmonfortep
I hope they will support and add noscript extension someday
Why i request this?

Very first
I want to block "ANOTHER" js that i don't want
Such as mini video on magazines website 👍

[2021-01-11 22:59] NSTAdventure commented on #1059
Hey gimme list of !bang command that i can use beside !lite duck or !nojs duck 😔

[2021-01-11 23:02] cmonfortep commented on #1059
You can check the list on the website I posted in my previous message. Thanks!

[2021-01-11 23:02] #1059 closed

[2021-01-11 23:07] NSTAdventure commented on #1059
Ok
And now how do i disable ALL JS on website?
I already done this on DDG now how to do it on website???

[2021-01-11 23:34] tvalle commented on #914
Are you guys fixing this internally or could I try to tackle this?

[2021-01-12 00:05] cmonfortep commented on #914
Go for it! We are tracking this issue internally, but we haven't had time to work on that yet.

[2021-01-12 00:31] NSTAdventure commented on #1058
Sorry some error occurs on my Devices

[2021-01-12 09:12] WillHick commented on #1059
You can not disable JavaScript on the DDG Mobile Browser... Sadly

[2021-01-12 10:28] NSTAdventure commented on #1059
Nah pls add these feature man :-( i'm low on bandwidth :-(

[2021-01-12 21:56] fractalaxy7 opened #1062 "Broken Site Error with DA"
**Description**
DuckDuckGo constantly returns a "This website could not be displayed." error when not scrolling on DeviantArt.  This error does not occur in any other browser.  DA is a very commonly used image platform.

**How to Reproduce**
Steps to reproduce the behavior.
*Update: Clear data with fire button first*
1. Type deviantart.com in search bar.
2. Accept cookies.
3. Wait a few seconds fo

[2021-01-13 10:10] theyoz opened #1063 "Sites requesting Client Certificate not working on Android"
Websites are not working if they require a client certificate. Client certificate are uploaded.

Step to reproduce:
 * Upload pkcs12 Client Certificate (I can provide you a certificate and test site)
 * Go to the site with Google Chrome it works (Android add it for app and/or vpn use)
 * Go to DuckDuckGo and it fails

[2021-01-13 14:15] cmonfortep commented on #1063
@aitorvs I know you worked on something related to certificates in https://github.com/duckduckgo/Android/pull/1031 and maybe you are more familiar than me here. Could you check if this is due to a WebView limitation or it's a bug? Thanks

[2021-01-13 14:18] cmonfortep commented on #1062
Hi, does that happen every time you visit that site? Asking this because I can't reproduce that issue on my device. Thanks.

[2021-01-13 15:10] fractalaxy7 commented on #1062
Yes, I've tried opening the website in different ways, too, but the error always shows up.

[2021-01-13 15:14] fractalaxy7 commented on #1062
I don't know if this is useful but occasionally, it also says the webpage cannot be displayed even when scrolling.

[2021-01-13 15:24] cmonfortep commented on #1062
Could you share with us a screenshot of the error you see? I assume when the error happens, you still see the website? Thanks.

[2021-01-13 18:51] aitorvs commented on #1063
@theyoz thanks a lot for reporting this. Can you provide us with the cert and test site to repro the issue?

[2021-01-13 19:48] fractalaxy7 commented on #1062
![Screenshot_20210113-194456](https://user-images.githubusercontent.com/77362370/104501657-f021ab00-55d7-11eb-8801-5657b264d50a.png)
Also, I recently noticed that fully restarting the application without clearing the data (fire button) fixes the error until clearing the data again.

[2021-01-14 05:36] theyoz commented on #1063
**Issue 1. Install the certficate**
URL: [http://test.yoram.me/download/ddg.p12](http://test.yoram.me/download/ddg.p12)
Password: duckduckgo

Response:
HTTP/1.1 200 OK
Content-Type: application/x-pkcs12

Video explaining the problem: https://user-images.githubusercontent.com/26814402/104548307-32c79f80-5639-11eb-95be-72c882eca39a.mp4

**Issue 2. Accessing sites with Client Certificate**

When I go

[2021-01-14 10:22] aitorvs commented on #1063
@theyoz thanks a lot for this report and your thoroughness describing it. It is very useful.
I can confirm this is indeed bug on our side.

@cmonfortep I have created an internal task for this so that we can triage it https://app.asana.com/0/414730916066338/1199561121099458/f

[2021-01-14 23:44] cmonfortep commented on #879
Fixed by https://github.com/duckduckgo/Android/pull/1053

Thanks @tvalle

[2021-01-14 23:44] #879 closed

[2021-01-15 14:48] daveraji commented on #209
I would also like the import/export bookmarks feature on duckduckgo mobile browser. (y)

[2021-01-15 14:55] Paleogirl2003 commented on #209
I just switched to Brave due to this, but I set DDG as my search engine

On Fri, Jan 15, 2021, 9:48 AM David <notifications@github.com> wrote:

[2021-01-16 10:23] Vepnar commented on #1050
I have not seen any progress from the ripple project, but I would love to revive and make it useable again since the integration with other apps could make using an android phone more secure.

Other Apps I've seen with integration of this is Brair, Session & Signal (which doesn't work).

[2021-01-16 15:50] woheller69 commented on #490
That would be great. Should be stored like the fireproof setting

[2021-01-16 23:23] Windstrings commented on #209
The ability to import bookmarks which took years to build may have a serious impact on duck ducks success for new downloads and real use.
Otherwise I will only use it on special occasions... It's not a real browser yet... At least not a usable one for real life.

[2021-01-18 17:04] ru2saig opened #1067 "Duplicate bookmarks"
**Describe the bug**
By "Add Bookmark"ing a website multiple times, I'm able to get multiple bookmarks of the exact same webpage.
See screenshot below:
![Screenshot_20210118-222631_DuckDuckGo](https://user-images.githubusercontent.com/42857541/104944170-d4097980-59dc-11eb-84b0-47aae4bf42bb.jpg)

**How to Reproduce**
Steps to reproduce the behavior:
  .0. Go to any website
  .1. Tap on Add Bookmark

[2021-01-19 09:33] cmonfortep commented on #1067
Thanks for reporting the issue. I agree it's something we should try to avoid. Thanks.

[2021-01-20 13:17] Crashillo opened #1069 "F-Droid version stuck on v5.68"
Last app update on F-Droid was made on Nov, 1st. More details https://f-droid.org/en/packages/com.duckduckgo.mobile.android/

Usually, there's a gap (GPlay vs FDroid) about one-version, or a few weeks, but now there are 6 versions ahead. Is there any issue deploying there?

[2021-01-20 13:26] cmonfortep commented on #1069
Thanks for reaching us. We are aware of the problem and we are trying to solve it together with the f-droid team. It seems our builds are failing on their side. New versions should be available soon.

More detailed info here: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7676

[2021-01-20 13:26] #1069 closed

[2021-01-21 03:46] subin-chella opened #1070 "Fix back navigation after "Web search" on a new tab, user should go to previous tab"
I always perform web search for words from the the current tab by doing a long press. The websearch usually happens on a new tab. Once im done with the new tab, i would like to return to my initial tab by just pressing the back button. Instead, the app is closing.

**Describe the solution or the user experience you'd like**
Always close the current tab while pressing the back button. If the user i

[2021-01-21 04:59] NSTAdventure opened #1071 "Website detect DDG blocker"
While visit this website:
https://www.thewindowsclub.com/download-old-version-software

Web say please disable your adblock 🤦🤦🤦🤦🤦🤦🤦🤦🤦🤦 currently using latest version of ddg from f-droid.org

[2021-01-21 14:54] mnp commented on #662
I like this design, because while we're talking about the widget I have two points.

1. Why is it a long widget styled to look like a text entry field? I would really like to click directly into it as a search bar, have the keyboard pop up right on the home screen, and slam a query in there, flipping to the app for results. Instead, it's just a long button that takes you to the app where the query

[2021-01-21 16:49] summersab opened #1073 "Provide a sandboxed webapp functionality"
**Is your feature request related to a problem? Please describe.**
I think that Fireproofing websites is brilliant. I previously used it so I could create bookmarks of certain websites on my homescreen, use their mobile web page instead of their app, and periodically clear my browser's data using the Fire button. In this way, I could create "webapps" for certain services.

However, it doesn't prov

[2021-01-22 17:22] cmonfortep commented on #1062
Thanks for the screenshot.

We show that message when the WebView renderer process has crashed internally. We are aware that it's something that can happen (that's why we have some logic in place to capture the event and allow users to reload the site), but the reason is unknown to us.

Sadly, it's not something I can reproduce on my personal or testing devices, and because of that, we can't open

[2021-01-22 17:22] #1062 closed

[2021-01-22 17:24] cmonfortep commented on #1071
Thanks, we are aware that some products are considering our browser as an ad blocker. We already have some work in progress to address that issue. Thanks.

[2021-01-22 17:24] #1071 closed

[2021-01-23 09:43] larkim66 commented on #209
So for the developers of DDG, providing a simple way for potential new users to import  bookmarks accumulated over many years of Internet browsing, is 'NOT' seen as a highest priority???

Me thinks a reality check is in order, they need to get their priorities right!....I can't believe they have not identified that this issue is a REAL deal breaker. You guys need to talk to each other and decide i

[2021-01-23 13:20] fractalaxy7 commented on #1062
OK.  Thanks for checking up on it.  I will find some more details of what went wrong and see if I can send it to the WebView (Google) developers.

[2021-01-23 18:24] Cyberdroid1 commented on #237
One of the most basic browser feature of current times. Please implement this!

[2021-01-23 18:25] Cyberdroid1 commented on #438
Any updates?

[2021-01-23 18:33] Cyberdroid1 commented on #660
I really want this issue to be sorted. Especially the white page blink when loading some website for first time after opening app.

[2021-01-23 18:37] Cyberdroid1 commented on #688
Any updates to this?

[2021-01-23 18:39] Cyberdroid1 commented on #693
Well, since #755 has been fixed, would it be fixed now?

[2021-01-23 19:01] summersab commented on #237
Is this something @malmstein could tackle since they implemented swipe-to-refresh? Many users would love you forever...

[2021-01-23 19:05] summersab commented on #1070
+1 for what it's worth. I've always been slightly annoyed by this but just learned to live with it over the past few years.

[2021-01-24 19:16] yakkomajuri opened #1074 "Text formatting isn't properly cleared on copy-paste"
**Describe the bug**

Pasting larger text (e.g. headers) into the address bar doesn't completely clear the formatting:

<img src="https://user-images.githubusercontent.com/38760734/105640534-85ddf580-5e76-11eb-9002-253f81b00784.jpeg"  height="400"/>

**How to Reproduce**
Steps to reproduce the behavior:
1. Copy some header text (like the title of this issue) into the address bar
2. Watch it stay a

[2021-01-25 03:45] UTalking2Me commented on #209
Amen Larkim66! After using another browser for years now why would anyone want to abandon their bookmarks. Looks like I’ll be looking for another browser that has an import feature. Really DDG?

[2021-01-26 08:31] cmonfortep commented on #1017
@moshpirit asana is where we keep our internal backlog. This is something we may introduce at some point if we find a solution that we can integrate into our apps (e.g: an opensource library that we can use or our own implementation).

I will close this ones since it has been added to our backlog, thanks.

[2021-01-26 08:31] #1017 closed

[2021-01-27 10:41] Cyberdroid1 opened #1077 "Optimise app to be more power efficient"
**Is your feature request related to a problem? Please describe.**

I have noticed several times that this app consumes a bit more battery than other browsers (e.g Samsung Internet). I would like to request if some optimizations can be done here and there to make it less battery hungry.

[2021-01-27 13:53] cmonfortep commented on #1074
Thanks for reporting that one. I will leave this task open in case anyone from our community wants to provide a fix.

[2021-01-27 14:13] cmonfortep commented on #1073
Thanks for sharing that with us. Actually, that's something we thought about and we will explore in the future.  It's a bit complex due to some WebView limitations. Not impossible for sure, but we need to find the right balance between user experience and how to solve the problem knowing those limitations (e.g: WebView works with a single cookie manager create internally by the component, so we ca

[2021-01-27 14:13] #1073 closed

[2021-01-27 14:17] cmonfortep commented on #1070
Thanks for reporting that one.
We improved our tab navigation between tabs when opening a link in a new tab or in a background tab, but the "Web search" use case is something we didn't think about.

[2021-01-27 14:21] #1067 closed

[2021-01-27 14:33] yakkomajuri commented on #1074
On [our repo](github.com/PostHog/posthog) we get a lot of community action from our `good first issue` tag - you could maybe add it?

I would give this a look if I wasn't too busy to setup an Android dev environment

[2021-01-27 21:23] theyoz commented on #1063
Guys,

Not sure If you had time to work on it but this work for me: https://github.com/duckduckgo/Android/pull/1078

[2021-01-28 13:44] subin-chella commented on #1070
Hi,
Created a PR with the fix.
https://github.com/duckduckgo/Android/pull/1079

[2021-01-28 18:27] idavydov commented on #1018
Potentially related, I  encountered an example when an image file with a wrong file extension is downloaded into `/document/XXXX`, where `XXXX` is a number. I'm not an expert, but it's really bizarre that a file is downloaded outside `/storage`.

[2021-01-29 10:03] m1chj opened #1080 "AnySoftKeyboard ghosting when exiting apk to home screen"
**Describe the bug**
AnySoftKeyboard ghosting when leaving DDG with keyboard active at the moment of returning to home screen. This does not happen with Bromite or Iceraven. If I press back button, keyboard hides and then I go back to home screen, there's no ghosting.

**How to Reproduce**
Steps to reproduce the behavior:
1. Open DDG
2. Wait for keyboard to show up
3. Return to home screen
4. See

[2021-01-29 18:48] Ammako commented on #900
This happens on 5.75.1 sometimes, with the refresh being far too sensitive and triggering too easily when you don't want it to. I'll see if I can get a recording at some point, once it happens again. It doesn't happen every time and doesn't seem to be too reliably reproducible.

[2021-01-30 06:43] Ammako opened #1081 "Swipe down to refresh too sensitive"
**Describe the bug**
When scrolling up from a webpage, once you reach the top of the page, the swipe down to refresh begins to activate. Sometimes, this is way too sensitive, and a refresh gets triggered pretty much right away, without giving enough time to avoid it. It's like scrolling up the page also "revs up" the refresh motion, and once you reach the top of the page the arrow has already reac

[2021-01-30 06:54] Ammako commented on #926
One thing that happens sometimes, when there is a scrollable frame within a website, is that when you try to scroll up or down in that frame, instead it gets stuck and scrolls the entire page, which sometimes ends up causing a page refresh if you were trying to scroll that frame back up. This may be related?

[2021-01-30 19:24] Ammako commented on #1081
Okay, so you don't actually need to be scrolling up much for this to happen. I've had it happen earlier where I was near the top of the page (youtube video), scrolled up just a little bit to reach the top of the page, and it just instantly refreshed the page.

[2021-01-30 19:28] Ammako commented on #900
One thing that is probably relevant to this issue, though: the swipe to refresh *can* still trigger when the address bar is not fully shown yet. Happened over here on Youtube, scrolled up to the top of the page, trying to pull down the address bar, but while pulling down the address bar it also starts trying to refresh the page.

The thing is, it doesn't consistently happen every time. Not sure ho

[2021-01-31 01:25] tvalle commented on #914
Unfortunately I couldn't understand what's the cause of this issue so I couldn't provide a fix. I'll try another issue to fix.

But while experimenting and trying to understand what's going I saw this behaviour: if in ``fragment_browser_tab.xml`` one sets ``android:fitsSystemWindows="true"`` on the root CoordinatorLayout and then set ``android:layout_marginBottom="?attr/actionBarSize"`` in the ``C

[2021-01-31 10:36] vickyoo7 commented on #865
Hi @cmonfortep, I'm the developer of 1DM (formerly IDM) with more than 15 million users. Many of my users have requested me to add support for DDG browser. If you're still interested in adding support for external downloaders (1DM) please let me know i can provide you the intent details. Thanks

[2021-02-01 09:07] cmonfortep commented on #1077
Thanks for the feedback. We haven't noticed any problem (or received feedback) related to battery usage but we will take a look to ensure everything works as expected.

To share any further feedback with us please reach us via our web form or via our in-app feedback form inside Settings (https://github.com/duckduckgo/Android/blob/develop/CONTRIBUTING.md#share-feedback)

Thanks!

[2021-02-01 09:07] #1077 closed

[2021-02-01 09:17] cmonfortep commented on #1080
Thanks for the feedback and for the recording too, really helpful.

That was fixed in our 5.70.0 release. If you are using f-droid, please check this issue (https://github.com/duckduckgo/Android/issues/1069)

[2021-02-01 09:36] cmonfortep commented on #1081
Thanks for reporting the bug. I agree, I've noticed that non consistent behavior in our app and sometimes pull to refresh is triggered unexpectedly.

I've created an internal bug to track the issue: https://app.asana.com/0/414730916066338/1199888021167463/f

However, we accept community contributions to fix this bug. Thanks

[2021-02-01 09:38] Cyberdroid1 commented on #1077
Ok thanks!

[2021-02-01 13:08] sellpixels-robot opened #1082 "Bottom position of the URL bar"
**Is your feature request related to a problem? Please describe.**
My finger hurts when I reach up to the URL bar.

**Describe the solution or the user experience you'd like**
Please add simple option to move the URL bar to the bottom of the application.

**Additional context**
![2021-02-01 15 01 51](https://user-images.githubusercontent.com/60397386/106462619-66af1b80-64a7-11eb-8166-fed7239d9cfb.

[2021-02-01 13:27] m1chj commented on #1080
@cmonfortep this still happens with newest version 5.76.0 downloaded from GitHub

https://user-images.githubusercontent.com/45080190/106464869-88090b00-6499-11eb-9572-48e9278f7e63.mp4

[2021-02-01 13:34] cmonfortep commented on #1080
Thanks. I can't reproduce it on my device.

I will try to reproduce it using the system keyboard. Just to double-check, are you using the system keyboard or another keyboard app installed in your phone?

[2021-02-01 15:19] m1chj commented on #1080
I'm using AnySoftKeyboard 1.10-r3 from F-Droid. It's also the only keyboard I have installed since I ADB'd whatever it was as a system default.

[2021-02-04 16:37] Amanraj13 opened #1086 "Delay in search result"
Hi There!
There is delay in the search result. When i search for anything in the duckduckgo android app a blank white page appears for a few seconds before the result appears.
This happens with all my android device and only with duckduckgo.

Please fix this as soon as possibe

[2021-02-04 16:58] cmonfortep commented on #1086
Hi @Amanraj13 could you use the bug template to report any issue? It will be good to know app version, android version, etc.. and any screenshot/video will be very useful too.

I will close this one as invalid, please reach to us again.

[2021-02-04 16:58] #1086 closed

[2021-02-04 17:20] Amanraj13 opened #1087 "Delay in search results"
**Describe the bug**
Delay In search results

**How to Reproduce**
Steps to reproduce the behavior:
1. In the search bar type anything
2. Tap search
3.See the delay in loading results

If applicable, please include information about any settings that may be relevant to this issue (e.g. selected theme, auto clear option, etc).

**Expected behavior**

I am facing delay in search results. For example

[2021-02-04 17:35] cmonfortep commented on #1087
Just to confirm, when you say it doesn't happen with any other browser, you mean using another browser and doing the same search with duckduckgo, right?

Thanks

[2021-02-04 18:15] Amanraj13 commented on #1087
Yup. When i use search in duckduckgo android app i get blank screen for few seconds before the result is displayed. But if search the same thing in another browser i do not face any such issue

[2021-02-04 18:19] bluetoothfx commented on #1087
@Amanraj13 could you please share a gif/small video?

[2021-02-04 18:24] Amanraj13 commented on #1087
Well.. i uninstalled the app. I will need to install it again

[2021-02-04 18:26] bluetoothfx commented on #1087
If it is possible for you please share a video. It will help people to understand your reported issue more clearly.

[2021-02-06 18:04] m1chj commented on #1080
@cmonfortep it's the same with OpenBoard keyboard

[2021-02-06 18:30] cmonfortep commented on #1080
Thanks, I managed to reproduce the issue on my device using that keyboard.

[2021-02-07 11:24] sandoxy opened #1092 "Custom URL-name while adding to desktop"
Hey!

When I add many links from one website to my android-desktop in my duckduckgo-browser, then the name is always the same, the basic webdomain-name. The problem ist, that those links on my desktop all look the same. It woul be great, if the links had names dependent on the special location of the site I am serving.

Thanks.

[2021-02-08 14:09] cmonfortep commented on #1092
Hi @sandoxy, is this a bug report? feature request? or feedback?

It's not clear to me what's the problem you are trying to describe.

"When I add many links from one website to my android-desktop in my duckduckgo-browser" Could you clarify this? what do you mean by "android-desktop"?

Thanks.

[2021-02-08 14:10] cmonfortep commented on #1087
@Amanraj13 If you manage to unistall the app again, please provide us a gif or a video, it wil be very helpful to understand the issue. Thanks.

[2021-02-08 14:13] cmonfortep commented on #1082
Thanks. See comment here related to moving our url bar to bottom position https://github.com/duckduckgo/Android/issues/857#issuecomment-646275392

Thanks.

[2021-02-08 14:13] #1082 closed

[2021-02-08 18:30] sandoxy commented on #1092
Sorry for the confusion. Here are two screenshots, which could help. I added two different github-projects to my android-desktop, but the names on the desktop are the same. It is not a bug, I think. It is more a wish, that the link-names tell something about the destination.

![Screenshot_2021-02-08_19-17-09_1_1](https://user-images.githubusercontent.com/38521726/107264456-46e99b80-6a43-11eb-8e42-

[2021-02-09 06:11] Ammako opened #1095 "Tap on url bar no longer selects the entire url"
**Describe the bug**
On newer versions of the app, tapping the url bar only places the cursor into the url, instead of selecting the entire thing. So if you were wanting to copy the url, or clear the addess bar to make another search or type a different address, you'd have to do a long press to select all before being able to do so.

This might be intended behavior for duckduckgo search pages, bec

[2021-02-12 10:22] cmonfortep commented on #1070
Thanks @subin-chella I've just merged the PR, it will be included in our next release. 🦆

[2021-02-12 13:46] cmonfortep commented on #1095
Thanks, we have a task in our internal backlog to address this issue: https://app.asana.com/0/414730916066338/1199931182139250/f

[2021-02-12 13:57] cmonfortep commented on #1092
Oh thanks. I see what you mean, it's when you add a website to you home screen. Thanks. I will share this feedback internally.

[2021-02-12 13:57] #1092 closed

[2021-02-16 10:47] woheller69 opened #1104 "Saved bookmark triggers app search instead of loading site"
**Describe the bug**
When the browser finds a bookmark it does not use the "https://" part of the bookmark. Some pages will not load.

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to https://f-droid.org/wiki/index.php?title=Special:RecentChanges&days=7&from=&hidebots=0&hideanons=1&hideliu=1&limit=500
2. Set page as bookmark
3. Search for "recent". It will show bookmark in search res

[2021-02-16 14:57] cmonfortep commented on #1104
Thanks for reporting this one.

I've been playing around with my bookmarks and I was not able to reproduce the issue. However, it's true for the link you posted. After taking a look, it seems we are not parsing correctly the bookmark URL for that concrete case. Removing `title=Special:RecentChanges` fixes the issue. It seems we are not parsin the schema correctly because the `:` character in the U

[2021-02-16 22:04] Ammako commented on #1095
8f46aa7

Confirmed fixed in 5.77.0

[2021-02-16 22:04] #1095 closed

[2021-02-17 00:52] hotchemi commented on #1074
Opened https://github.com/duckduckgo/Android/pull/1105🙇

[2021-02-17 09:49] cmonfortep commented on #1070
Hi @subin-chella we needed to rollback your contribution due to some issues found in our release.

See details here: https://github.com/duckduckgo/Android/pull/1106

TLDR;
External links were also created having a parent tab (sourceTab Id). The contribution correctly addressed the scenario of performing a "WebSearch" but it was applying the same logic to external intents. We should try to differen

[2021-02-17 12:21] ehsabd commented on #350
Any updates. I like this feature too.

[2021-02-18 10:31] cmonfortep commented on #1063
We have an internal task to work on this issue in our backlog. I've tagged the Issue as `Will Fix` by our team.

We recently updated our [contribution guidelines](Let's sync on this if you can @Robert, ) to improve how we deal with reported issue.

[2021-02-18 15:13] WST1811 opened #1109 "After Upgrade from 5.68 to 5.77.1 all bookmarks are deleted"
**Describe the bug**
A clear and concise description of what the bug is.

Delete all bookmarks after Upgrade from Version 5.68 to 5.77.1

**How to Reproduce**
Steps to reproduce the behavior:

Install 5.68 add some bookmarks, upgrade to 5.77.1.

If applicable, please include information about any settings that may be relevant to this issue (e.g. selected theme, auto clear option, etc).

**Expected

[2021-02-18 16:24] cmonfortep commented on #1109
Hi @WST1811 I've just followed the "how to reproduce" steps and bookmarks were preserved on my device, so I can't reproduce this bug.

I've just quickly checked recet user feedback and I couldn't found any comments/feedback related to bookmarks neither.

[2021-02-18 16:39] WST1811 commented on #1109
How i get my bookmarks back?

[2021-02-22 16:56] #1081 closed

[2021-02-25 20:43] sbconslt commented on #690
Came to request this same feature. If I may recommend: this issue would be much clearer if its title was changed to "Open bookmarks in current tab by default". I don't even want to think about how much time I've wasted in the tabs view closing previous tabs after opening bookmarks. As OP said the existing behavior to open in a new tab could be retained as a menu option.

[2021-02-26 09:12] jpstotz opened #1114 "For what purpose a privacy aware app like DuckDuckGo web browser lists all my installed apps?"
In the class DeviceAppLookup DuckDuckGo lists all my installed apps and saves the data to an internal data structure.
For an app that claims to be privacy aware listing all my apps is a bit strange:

https://github.com/duckduckgo/Android/blob/7cfabe189e29bfa760520685494546d979fdca56/app/src/main/java/com/duckduckgo/app/systemsearch/DeviceAppLookup.kt#L85-L97

I am aware that this code does no long

[2021-02-26 10:20] cmonfortep commented on #1114
Hi @jpstotz This code is part of the functionality of our home screen widget. We query it to show them as suggestions based on the keyword the user entered. This is the behavior other similar widgets offer and we are just offering this functionality to meet our user expectations when using the widget.

![image](https://user-images.githubusercontent.com/4747865/109287095-6fcfa600-7823-11eb-9b1c-6a1

[2021-02-26 10:23] cmonfortep commented on #1109
Hi @WST1811 we don't provide a way to recover bookmarks because they are only stored locally on your phone. Apologies if they have been removed, I agree this should not happen and we will review what could have caused that problem. The only thing I can think about is some kind of error in the database, but we are not aware of any bug at that level.

Sorry again for the issue.

[2021-02-26 10:23] #1109 closed

[2021-02-26 10:24] cmonfortep commented on #1087
Closing this issue as we haven't received any similar feedback or bug reports similar to the described on this issue. We can't reproduce the error. Thanks.

[2021-02-26 10:24] #1087 closed

[2021-02-26 10:25] cmonfortep commented on #1074
Closing this as it has been resolved. Thanks @hotchemi

[2021-02-26 10:25] #1074 closed

[2021-02-26 10:39] jpstotz commented on #1114
@cmonfortep Thanks for your response. Then the widget is providing functionality to work as an app launcher (I assume this mimics behavior of the default Google search bar widget).

I was able to verify that behavior using Frida.

Are you aware that this feature will not work on Android 11+? For that platform the additional permission `QUERY_ALL_PACKAGES` would be required.

See the details e.g. i

[2021-02-26 20:30] WST1811 commented on #1109
Thanks for Answer. Can i save the Database and/or look in the Database? Which file contain the Database?

[2021-03-02 06:32] chromer030 commented on #350
Any progress ?
This feature is essential for some users.
Thank you.

[2021-03-02 12:15] Rautarchit001 commented on #943
Sorry @cmonfortep and @ashoksinghal I don't understand how to do that as I only know java and kotlin language can you please explain what should I do to change the package name folder name

[2021-03-02 12:18] ashoksinghal commented on #943
@Rautarchit001, you can refer to this link for same
https://yeephycho.github.io/2016/10/20/How-to-Use-NDK-to-Build-A-Shared-Android_Native-Library/

[2021-03-03 13:50] codepoet2017390 opened #1117 "Adding the option to mute/unmute a site"
I use the DuckDuckGo Android app on a daily basis. I'd love to add the feature to mute/unmute a site playing audio to DuckDuckGo Android App. Just as a scenario of how it would work is, imagine you play a video on Youtube, and without altering any sound setting on Youtube I can mute the tab playing Youtube while the video still plays silently. I'd love to contribute code for this feature in any wa

[2021-03-06 17:03] oldphones68 commented on #685
I also think, this would be a great enhancement.
Hope it will be added soon and get a triage.

[2021-03-06 17:53] helbling opened #1121 "Keyboard stays closed when tapping on input field after fullscreen mode"
**Describe the bug**
After being in fullscreen mode, tapping on input fields would not open the keyboard anymore.

**How to Reproduce**
1. Go to 'youtube.com
2. Open a video in fullscreen mode
3. exit fullscreen mode again
4. try to search another video by clicking on the magnifying glass of youtube (top right)
5. Keyboard stays closed

**Expected behavior**
Keyboard opens so I can write my search

[2021-03-06 17:56] oldphones68 commented on #692
@cmonfortep & @subsymbolic
Can there be an option to _separate_ the address suggestion from **bookmarked** and **non bookmarked** sites?

So, users can separately switch on/off each options...

[2021-03-07 18:53] woheller69 commented on #1117
I would even prefer to have videos muted by default.

[2021-03-07 19:03] woheller69 opened #1122 "Add NoScript functionality"
**Is your feature request related to a problem? Please describe.**
Many pages are a lot faster if Javascript is disabled. Also annoying cookie banners are blocked on many pages if Javascript is off.
Therefore I like to use NoScript and only allow scripts that are needed for my needs.

**Describe the solution or the user experience you'd like**
Integrate the functionality of a NoScript Firefox plug

[2021-03-07 20:14] codepoet2017390 commented on #1117
Nice suggestion @woheller69 , waiting for someone from the team to reply

[2021-03-08 13:47] cmonfortep commented on #1121
Thanks for reporting, we are aware of this issue and it will be fixed in our next release.

PR: https://github.com/duckduckgo/Android/pull/1113

[2021-03-08 13:47] #1121 closed

[2021-03-08 13:58] cmonfortep commented on #1117
Thanks for reaching us to submit this feature request. And thanks @codepoet2017390 for being open to contribute here. However, for these changes, we prefer to keep them internally as they need to be reviewed and approved by our product team.

I'm closing this issue as we are currently only accepting bug reports as Issues. Please review our [contribution guidelines ](https://github.com/duckduckgo/A

[2021-03-08 13:58] #1117 closed

[2021-03-10 15:33] manish2525 opened #1127 "Can I use DuckDuckGo android source code to make my own browser?"
Can someone use your code to make a third party app or their own app? Or the source code is just for the review? However the licence says anyone can do anything with the code.

[2021-03-10 22:07] Ammako opened #1128 "DuckDuckGo as a built-in system app"
I'm interested in including DuckDuckGo by default in my rom, replacing Jelly as the default browser. However the app doesn't run when installed as a system app.

[code]

If I install an update to the application, then it works, of course. But it would be nice if I could have the base apk working from /system/app. What do I have to include, and how?

Bromite System WebView does something similar wi

[2021-03-11 04:29] manish2525 commented on #1127
Hi initpwn,

I am still concerned about some APIs this app has like text suggestions and privacy dashboard related.
Are the APIs open to everyone to use?

Thanks!!

[2021-03-11 11:00] cmonfortep commented on #1127
@manish2525 see @initpwn comment. The source code is under Apache License Version 2.0 (see https://github.com/duckduckgo/Android/blob/develop/LICENSE)

About using our APIs, many of them can only be consumed from our app.

Thanks.

[2021-03-11 11:00] #1127 closed

[2021-03-11 11:00] cmonfortep commented on #1114
Yes, we are aware of that and we have a ticket in our backlog to review it. Thanks for pointing out that part.

[2021-03-11 11:01] #1114 closed

[2021-03-14 23:14] WillHick opened #1130 "Security"
While the DuckDuckGo Browser provides a great experience while browsing, Id like to know does the browser have measures in place to prevent attacks via JavaScript, XSS, Third Patry Highjacking and any others linked from below:

https://dzone.com/articles/javascript-attacks-in-webviews
https://www.checkmarx.com/blog/javascript-attacks-webviews/

And by adding certain features such as HTTP blocking

[2021-03-17 12:52] Ammako opened #1132 "OpenStreetMap unusable"
**Describe the bug**
Trying to scroll the map down on OpenStreetMap triggers a page refresh instead of moving the map

**How to Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.openstreetmap.org/
2. Zoom in on map with the + button
3. Scroll around and try to scroll the map down several times
4. At first it works, but very quickly it refuses to scroll anymore and just refreshes th

[2021-03-18 09:20] cmonfortep commented on #1130
Thanks for reaching us. We are currently only accepting Github Issues for bug reports.

We are always focused on protecting user privacy and provide security protections when browsing the web. If you have noticed any security issue related to the list you provided, please reach us via https://hackerone.com/duckduckgo

Check out our [contribution guidelines](https://github.com/duckduckgo/Android/bl

[2021-03-18 09:20] #1130 closed

[2021-03-18 09:33] cmonfortep commented on #1128
Sorry @Ammako I'm not familiar with how to install apks as part of the system.

Posting some more info about our bloom filter (the one that is failing you). That's added into our project as a git submodule. The codebase can be found here https://github.com/duckduckgo/bloom_cpp. It's just a cpp library we use for our https ugrades. Package names are important because jni calls....and I don't know w